[2017-03-16 21:40] chrismedrela commented on #500
I'm closing it since we have `Person.notes` field now.

[2017-03-16 21:40] #500 closed

[2017-03-16 22:03] chrismedrela commented on #1049
I'm postponing it to the next release - I don't think we can make it in v1.10 if we want to release it ever.

[2017-03-16 22:05] chrismedrela commented on #865
This depends on #1049, which I postponed to v1.11. Therefore, I'm postponing this issue too.

[2017-03-16 22:21] chrismedrela commented on #1055
@maneesha do you want this feature in v1.10 or can we move it to the backlog? If you want this feature, what do you think about the simpler approach I proposed?

[2017-03-17 13:14] chrismedrela opened #1160 "Email senders of any external forms"
This is an extension to #1088.

@maneesha could you provide us email subjects and bodies for the following forms:
- [SWC Event request](https://amy.software-carpentry.org/forms/swc/request/)
- [DC Event request](https://amy.software-carpentry.org/forms/dc/request/)
- [DC self organized event](https://amy.software-carpentry.org/forms/dc/request_selforganized/)

[2017-03-17 13:15] chrismedrela commented on #1088
@maneesha let's narrow the scope of this issue only to training request form. I've created an issue (#1160) for other external forms.

[2017-03-17 14:54] chrismedrela commented on #599
@maneesha do we need this in v1.10? If yes, how the form should look like?

[2017-03-22 20:38] ErinBecker opened #1162 "Community Roles: create single instructor badge"
The Trainer community and staff have decided to move to a single checkout procedure that qualifies the new instructor as both a Data and Software Carpentry instructor. We need to implement a new "instructor" badge and automatically give it to any existing person who has either a Data or Software carpentry instructor badge (or both).

[2017-03-22 21:47] chrismedrela commented on #1162
@ErinBecker so what are the requirements to become certified instructor? Is it still passing TTT training, homework, discussion session and demo session, just without any distinction between SWC and DC?

@maneesha there are two approaches:

- keep "SWC Instr." and "DC Instr." badges and add "Instructor" badge;
- reuse "SWC Instructor" and rename it to "Instructor", award it to all people who have

[2017-03-22 22:06] ErinBecker commented on #1162
@chrismedrela Thanks for the speedy response! The second option (reuse SWC instructor and rename to Instructor) is my preference.

The requirements are as you listed "passing TTT training, homework, discussion session and demo session, just without any distinction between SWC and DC?"

[2017-03-23 13:18] anenadic opened #1163 "Track scientific domain(s) of a workshop"
This field should be a list selected from a multiple choice pre-defined set of values and would denote the scientific area(s) the students are coming from (should support multiple choices for workshops where students come from multiple domains).

The rationale behind this is that we (Software Sustainability Institute) often need to show numbers of people we trained or reached per domain (and would

[2017-03-23 13:41] chrismedrela commented on #1163
@anenadic What is the pre-defined set of values? Is it the same as `KnowledgeDomain` records, that is:
- Chemistry
- Civil, mechanical, chemical, or nuclear engineering
- Computer science/electrical engineering
- Don't know yet
- Economics/business
- Education
- Genetics, genomics, bioinformatics
- High performance computing
- Humanities
- Library and information science
- Mathematics/statistics
-

[2017-03-23 14:10] chrismedrela opened #1164 "Hosting alternatives"
Right now, we're using VPS on Rackspace on production. The VPS was configured from scratch by @pbanaszkiewicz. This has a lot of disadvantages:

- Deployment (and release) procedure is pretty complicated. This results in few big milestone instead of frequent small releases. The consequences is that we lose traction and we postpone releasing v1.10 indefinitely.
- As far as infrastructure is concern

[2017-03-23 14:23] chrismedrela commented on #1164
Alternatives:
- Heroku
- Google App Engine
- Gondor
- PythonAnywhere
- OpenShift
- AWS Elastic Beanstalk
- Stackato
- Dotcloud

[2017-03-23 16:12] rgaiacs commented on #1164
@chrismedrela Thanks for all your contribution and for raising this issue. About the alternatives, we need to be careful to check that they are compatible with our data privacy policy.

[2017-03-23 16:39] chrismedrela commented on #1164
About Heroku:
- Supports Python 3.6
- Has [review apps](https://devcenter.heroku.com/articles/github-integration-review-apps) which replaces dev and stagging servers.
- According to some blogs, Heroku is the easiest one to configure.
- [Migration can be part of deployment](https://devcenter.heroku.com/articles/release-phase#defining-a-release-command), so that db and code are always in sync. Howev

[2017-03-23 16:42] chrismedrela commented on #1164
@rgaiacs, where can I find our data privacy policy?

[2017-03-23 16:59] rgaiacs commented on #1164
https://software-carpentry.org/privacy/

[2017-03-23 21:42] chrismedrela opened #1165 "Language.name too short for some languages"
Maximum length for `Language.name` is set to 40. However, we have some languages that have longer names - look at production database, ids 29 and 65 the names are:

- *Church Slavic Church Slavonic Old Bulgarian Old Church Slavonic Old Slavonic* and
- *Interlingua (International Auxiliary Language Association)*

These records are created by `0097_auto_20160519_0739.py` migration. Their names are n

[2017-03-24 11:59] anenadic commented on #1163
That classification would be a great start. Can it have some minimal changes/additions and I assume it would have to go through a consultation process? I could come back with some proposed modifications in the case we have any. Thanks for responding quickly.

It would also be good to have the same field for requests, and then move that over to events. So in the case the request does not go through

[2017-03-24 13:52] chrismedrela commented on #1163
@anenadic both training and workshop requests do have a field for KnowledgeDomain (`TrainingRequest.domains` and `EventRequest.attendee_domains`). Do we need something similar for DC self-organized workshops requests?

Sure, just keep in mind that the same set of options is reused on [training request form](https://amy.software-carpentry.org/forms/request_training/) ("areas of expertise") and [swc

[2017-03-25 09:18] #1047 closed

[2017-03-25 09:32] #1053 closed

[2017-03-25 09:34] #856 closed

[2017-03-25 09:48] pbanaszkiewicz commented on #1116
@chrismedrela apparently this bug got fixed on Google's end. Closing.

[2017-03-25 09:48] #1116 closed

[2017-03-25 09:52] pbanaszkiewicz commented on #1162
@chrismedrela how big this change looks? Pretty-big, medium, small?

[2017-03-25 10:00] pbanaszkiewicz commented on #1164
@chrismedrela backups are made roughly every 30 or 60 minutes by alternating servers (server A every hour, server B every hour but shifted 30 minutes).

Backups are only DB files copies.

@chrismedrela I agree with your points, but this is @jduckles decision to make. There was supposed to be a devop (even part-time) but I don't think there's one.

Personally I think the best would be to have PaaS

[2017-03-25 12:33] narayanaditya95 commented on #1164
FWIW, I am more in favour of staying with a IaaS solution (more flexibility). Most of the issues raised by @chrismedrela can be resolved if we make the deployment pipeline automated using tools like Ansible.

[2017-03-25 14:17] #1005 closed

[2017-03-26 11:57] jduckles commented on #1164
Thank you all for considering alternatives, as @pbanaszkiewicz says, getting hosting for free right now is an important consideration.

Whatever system to choose, @chrismedrela brings up an excellent point, it is probably worth it to document the process for installing a new server, and at the same time we can likely create something like a `Dockerfile` which we'd need if we move to heroku or anyw

[2017-03-27 16:32] chrismedrela commented on #1107
Ref #1139.

[2017-03-27 16:44] chrismedrela opened #1166 "Navbar wraps and covers content on small screens"
If you're window is 1130 pixels wide or narrower, the navbar wraps (see picture below):
![image](https://cloud.githubusercontent.com/assets/1645996/24367349/994463ba-131c-11e7-950c-3f8448656c79.png)

I propose to:

1. move "persons" to "more"
2. rename "requests/forms" to "requests"
3. make search textfield narrower

[2017-03-27 17:02] chrismedrela commented on #1162
@pbanaszkiewicz looks like small changes in a lot of places, so I'd say medium.

[2017-03-27 17:13] chrismedrela commented on #1166
Additionally, on pages with fixed template (like Person detailed view), even 1185 pixels is not enough:
![image](https://cloud.githubusercontent.com/assets/1645996/24368643/7b188cc2-1321-11e7-8121-2ede642b259a.png)

[2017-03-28 14:03] maneesha commented on #1162
@ErinBecker in the interest of data persistency I'd recommend creating a new badge rather than reusing SWC instructor.

[2017-03-28 19:49] pbanaszkiewicz commented on #1164
:+1: for Dockerfile, because this is a pretty lightweight solution for running PostgreSQL.

With the switch to PostgreSQL we have to rethink backups (is it DB only? Or maybe the whole server, including e.g. generated certificates).

[2017-03-28 19:57] pbanaszkiewicz commented on #1166
Okay, but why? The unwritten rule is that we support 1366 x 768 or something like that, and I do seem to remember us talking about this some time ago.

[2017-03-28 19:58] maneesha commented on #1164
Switching to Postgres also means rethinking off-line access. Right now it's easy to scp a sqlite file -- how will we access the Postgres db?

[2017-03-31 18:05] maneesha opened #1169 "Inconsistencies when using "import from URL""
When on new event page (https://amy.software-carpentry.org/workshops/events/add/), clicking "Import from URL" tells you "Use the URL of the event's website, e.g. http://swcarpentry.github.io/workshop-template/ or http://www.datacarpentry.org/workshop/, and not the URL of its GitHub repository."

However when accepting a workshop request (https://amy.software-carpentry.org/workshops/request/XXX/acc

[2017-04-01 10:45] chrismedrela commented on #1169
So there are actually two issues:

1. Inconsistent and misleading help texts below "url" field in "import from URL" modal. Here is PR: #1170.

2. Validation error in event form because of autofilling-in URL field. In that case, we can convert a link to GitHub repo to a link to website. This can be done manually (in that case we probably need to add a hint to error message) or automatically by AMY.

[2017-04-01 10:53] #1141 closed

[2017-04-01 11:45] chrismedrela opened #1171 "What needs to be documented?"
@maneesha you mentioned that we need more documentation. What exactly should be documented? I'm enumerating some ideas below.

1. description of infrastructure (automatic backups, server configuration, Travis CI)
2. procedures for deployment, release; or restoring from a backup (we've never done it yet)
3. how to run AMY on your machine
4. how to contribute (quick start for new contributors)
5. AM

[2017-04-01 12:03] chrismedrela commented on #1164
I've run [AMY with fake data on Heroku](http://amy-on-heroku.herokuapp.com/workshops/). See #1167 PR to see what we would need to change if we wanted to move to Heroku.

@pbanaszkiewicz

unfortunately Rackspace doesn't provide PaaS.

@narayanaditya95

Yes, we could stay with IaaS and develop our own scripts for deployments, backups etc., but it'd take much more time (especially that we're not DevO

[2017-04-01 12:14] chrismedrela commented on #1166
Just for my easy of development. :-P If nobody else has the same issue, I'm willing to just zoom out in my browser.

[2017-04-03 15:44] pbanaszkiewicz opened #1173 "Remove TODOs"
This feature is not used anymore.

For details, see https://github.com/swcarpentry/amy/issues/1135 and https://github.com/swcarpentry/amy/pull/1137

[2017-04-04 15:07] maneesha commented on #1171
All of the above.
(although I don't know anything about how this is used for PyData)

[2017-04-04 17:18] maneesha commented on #1162
Also note that this will require changing the `Instructor training progress` to not have separate DC Demo, SWC Demo and DC homework, SWC homework.

[2017-04-04 20:56] chrismedrela commented on #1171
@maneesha Sorry, I asked wrong question. What needs to be documented _in the first place_? What should we focus on?

[2017-04-05 13:54] maneesha commented on #1171
For all of you, I'd start with item 8 (developer documentation).  There's probably things in items 1-5 that are related to the developer documentation.  I believe that @pbanaszkiewicz  has been blogging release notes so we should have that already, correct?

For item 7 (user manual), 10 (FAQ), and 11 (troubleshooting), I've already put together a lot of notes offline.  I can work on publishing the

[2017-04-08 20:23] #955 closed

[2017-04-10 15:23] maneesha opened #1175 "search page is not working"
Search from nav bar works.
Search from here: https://amy.software-carpentry.org/workshops/search/ does not.

[2017-04-10 15:44] maneesha opened #1176 "update from URL is not working"
...fails silently

[2017-04-10 17:32] chrismedrela commented on #1175
This is because the form uses POST instead of GET method. Easy to fix.

[2017-04-11 14:04] maneesha opened #1177 "Get attendance count from list of learners - not working for TTT?"
Is this not working for TTT events?
See for example
https://amy.software-carpentry.org/workshops/event/2017-02-21-online-instructor-training/
and
https://amy.software-carpentry.org/workshops/event/2017-03-24-ttt-upr/

[2017-04-11 14:40] maneesha opened #1178 "create event from self organized workshop form submission"
We should be able to create an event from self organized workshop form (https://amy.software-carpentry.org/workshops/dc_selforganized_requests/) just like we do from the regular workshop request form (https://amy.software-carpentry.org/workshops/requests/).

[2017-04-11 17:10] maneesha opened #1179 "Add ability to merge workshop request into existing workshop"
Sometimes a host emails info about a workshop and staff enters that in AMY.  Later someone at the host site submits an actual request form.  I'd like to be able to merge that form into the existing event.

[2017-04-13 03:18] apawlik commented on #1176
Same here

[2017-04-13 17:53] maneesha commented on #1176
@pbanaszkiewicz @chrismedrela @narayanaditya95  Can we prioritize this? We need to be able to keep our records up to date.

[2017-04-16 19:54] #1176 closed

[2017-04-16 20:21] chrismedrela commented on #1176
@maneesha I apologize for such delay, I've just deployed v1.10.1 and it should work now.

[2017-04-16 20:58] chrismedrela commented on #1179
@maneesha when you say "actual request form", do you mean:

1. "workshop submission"
2. or both "workshops request" and "DC self-organized workshop request"?

And, by the way, what's the difference between 1. and 2.?

[2017-04-16 21:03] chrismedrela commented on #1177
"Ask for attendance" button is enabled if and only if the attendance is unknown or is equal zero. Should it be _always_ enabled?

[2017-04-16 21:48] chrismedrela commented on #1083
@maneesha does anybody uses revisions? Has it ever been used? If not, we could remove this feature from frontend.

[2017-04-17 18:33] maneesha commented on #1083
I use this feature and would like to fix and keep it.

[2017-04-17 18:35] maneesha commented on #1179
I would like the ability to merge any of these submissions in to an existing event:

https://amy.software-carpentry.org/workshops/requests/
https://amy.software-carpentry.org/workshops/submissions/
https://amy.software-carpentry.org/workshops/dc_selforganized_requests/

[2017-04-18 10:05] #1175 closed

[2017-04-18 12:37] chrismedrela commented on #1169
@maneesha any opinions on the second issue?

[2017-04-18 12:41] chrismedrela commented on #919
@raynamharris @k8hertweck could you confirm whether autocomplete fields still don't work?

[2017-04-18 12:45] chrismedrela commented on #1166
I'm reopening it, because this is an issue on pages with fixed layout, i.e. [all_activity_over_time](https://amy.software-carpentry.org/workshops/reports/all_activity_over_time/):
![image](https://cloud.githubusercontent.com/assets/1645996/25131344/9f696e18-2445-11e7-9d27-4acce4dfed32.png)

[2017-04-18 12:47] narayanaditya95 commented on #919
Works on Safari 10.0.2

[2017-04-18 12:49] #1044 closed

[2017-04-18 12:49] #854 closed

[2017-04-18 12:51] chrismedrela commented on #919
@narayanaditya95 thank you for your feedback.

I'm closing this issue. @raynamharris @k8hertweck if you experience this issue again, please reopen it.

[2017-04-18 12:51] #919 closed

[2017-04-18 12:59] chrismedrela commented on #1166
The PR renames "requests/forms" to "requests".

[2017-04-18 13:09] chrismedrela commented on #982
@maneesha right now we display only people belonging to "administrators" group. Should we display people belonging to "administrators" or "trainers" group? Or also "steering committee" and "invoicing"?

[2017-04-18 21:51] #1166 closed

[2017-04-18 22:42] apawlik opened #1185 "Can't edit person"
I lost the access(?) to edit a person. I.e. for some of the Instructor Training Trainees I wanted to add a note that they will be late with checkout because of whatever reason they emailed me about but when I click "Edit" on the person I get 403 Forbidden. I used to be able to edit (I think I'm an admin).

[2017-04-19 09:03] chrismedrela commented on #1185
@apawlik please check now. As a workaround, I've given you superuser status.

This bug affects all people who don't have superuser status. This is because of [this line](https://github.com/swcarpentry/amy/blob/f5f1301e197ee5a203172fe4beaf9ee9a31269b0/workshops/views.py#L730). The permission name should be `workshops.change_person`, not `workshops.edit_person`.

[2017-04-19 16:08] maneesha commented on #1177
This is not about the "Ask for attendance" button.  Attendance count is supposed to populate from the list of learners.  That does not seem to be working.

[2017-04-19 17:26] chrismedrela commented on #1177
@narayanaditya95 what is the reason to only increase attendance count [here](https://github.com/swcarpentry/amy/blob/f5f1301e197ee5a203172fe4beaf9ee9a31269b0/workshops/models.py#L1137)? Why don't we update the count when it decreases?

Also, why do we store the count in a field instead of computing it on demand? Is it for speed?

[2017-04-19 17:28] chrismedrela commented on #1177
@maneesha it has nothing to do with TTT, it's a cache invalidation problem. As a workaround, you can edit and save an event when you want to update the count.

[2017-04-26 12:38] chrismedrela commented on #1177
@narayanaditya95 ping

[2017-04-26 13:10] narayanaditya95 commented on #1177
@chrismedrela

This snippet of code was previously being called during the POST requests for `event_edit` view. I modified it to be invoked at `save` method of the Event model. This cache invalidation problem probably existed then as well, I never paid enough attention to it.

Same. I never looked into that during the refactor.

You are right, the entire cache invalidation problem wouldn't have ex

[2017-04-26 13:21] chrismedrela commented on #1165
PR #1168

[2017-04-26 13:33] #1185 closed

[2017-04-26 13:57] chrismedrela commented on #1177
@narayanaditya95 thank you for your feedback. It all makes sense to me now.

[2017-04-26 14:31] chrismedrela commented on #1177
Right now, `attendance` can be 1) entered manually or 2) computed from learner tasks and overridden. I propose that we leave `attendance` for storing "manual" values and create `real_attendance` property that returns maximum of attendance and number of learner tasks.

@pbanaszkiewicz @narayanaditya95 any opinions?

[2017-04-26 14:32] chrismedrela commented on #1177
And maybe rename the field to `manual_attendance` and the property to `computed_attendance`.

[2017-04-28 10:55] narayanaditya95 commented on #1177
That sounds right. +1

[2017-04-28 20:11] chrismedrela commented on #1177
@narayanaditya95  thank you for your feedback. :-)

[2017-05-11 05:55] #1154 closed

[2017-05-11 06:32] #1076 closed

[2017-05-12 13:13] anenadic opened #1190 "Search/submit button on the search page does not seem to work"
Submit button on search page does not seem to have any affect (https://amy.software-carpentry.org/workshops/search/) - as in does not fire off the search it seems (Chrome 58, Mac OS X). The little search box in the header seems to work fine.

[2017-05-12 13:23] maneesha commented on #1190
Closing as this duplicates issue https://github.com/swcarpentry/amy/issues/1175
and is being worked on with PR https://github.com/swcarpentry/amy/pull/1182

[2017-05-12 13:23] #1190 closed

[2017-05-15 13:30] chrismedrela commented on #1169
I'm reopening this, because #1170 solves only the first issue.

[2017-05-23 08:59] anenadic opened #1191 "Contact field for workshops is a list now (rather than a single value)"
Contact field for workshops is a list now (rather than a single value) in workshop template so this needs to be supported in AMY too. Values get concatenated without a space, a comma or other separator when updating workshop data from a URL. For example see workshop with slug: 2017-06-21-qmul.

[2017-06-06 20:19] maneesha opened #1192 "User profile should show list of workshops"
When a regular user logs in to view/edit their own profile they should also be able to view a list of workshops they've participated in & the role at each.

They should not be able to edit this list.

[2017-06-09 18:35] jameshiebert opened #1193 "Airports should be sorted"
I just went to update my user profile, and having moved, needed to update my nearest airport. Unfortunately, the drop-down list of airports seems to be listed in database insertion order (rather than alphabetical), so I had to meticulously read each of the dozens of entries to find my regional airport.

It should be pretty easy to update the Django Airport model [here](https://github.com/swcarpent

[2017-06-12 10:04] mikej888 opened #1195 "Refactor Areas of expertise related to computing/software"
Currently "Computer science/electrical engineering" is a single category. This is a strange category to have, especially as "High performance computing" is its own category. I'd suggest introducing three categories to replace this:

* Computer science
* Electrical/electronic engineering
* Software engineering (as this is distinct from Computer science).

[2017-06-12 17:03] maneesha opened #1196 "User should be able to edit occupation and ORCID in profile"
When a user logs in to view/edit their own profile currently they can not edit the ORCID or occupation fields.  This should be fixed so these fields can be edited.

[2017-06-16 16:58] maneesha opened #1197 "Redirect index page"
https://amy.software-carpentry.org/ should redirect to https://amy.software-carpentry.org/workshops rather than returning a 404.

[2017-06-20 16:34] maneesha opened #1198 "Matching people with trainees"
When a trainee application is matched to a person, is all the trainee's information supposed to go into the person's record?

See for example this training request:
https://amy.software-carpentry.org/workshops/training_request/665/

was matched to this person:
https://amy.software-carpentry.org/workshops/person/13594/

However the information in the training request does not populate the person's

[2017-06-23 12:45] rgaiacs opened #1199 "Change your own permission"
Looks like you can change your own permissions, include giving you superuser permission.

[2017-06-23 12:55] maneesha commented on #1199
Emailed @pbanaszkiewicz @chrismedrela @narayanaditya95  as this is an urgent fix.

[2017-06-23 14:24] pbanaszkiewicz commented on #1199
This view is accessible by people who are superusers or belong to any of the groups: administrator, steering committee, invoicing, trainers. All these people are considered admins in AMY and therefore are able to change other people's permissions.

[2017-06-24 16:57] maneesha commented on #1199
OK.  To be clear, regular users (who log in just to view/edit their own profiles) can not do this -- correct?

[2017-06-24 18:27] chrismedrela commented on #1199
Yes, they can't -- they don't have even access to the person edit view.

[2017-06-26 15:33] rgaiacs commented on #1199
But non-administrators trainers can self-assign administrators.

[2017-06-29 15:38] maneesha opened #1200 "Text from notes field display in Training Progress tag"
See this example:
https://amy.software-carpentry.org/workshops/person/10629/

The notes from the Training Progress homework section show up in the tag itself.  This should still just say "SWC Homework" like it does when there are no notes.

[2017-06-29 15:40] maneesha commented on #1200
This does not seem to happen consistently.  See
https://amy.software-carpentry.org/workshops/person/7083/

[2017-07-06 17:18] maneesha opened #1201 "Add ability to merge workshop request into exisiting event"
Sometimes someone submits a workshop request after the event has already been recorded.  In that case I want to merge the request into the event.

[2017-07-10 09:54] #1083 closed

[2017-07-10 09:54] #1142 closed

[2017-07-10 11:04] #1088 closed

[2017-07-10 14:53] chrismedrela commented on #1191
The cause of the problem is in the workshop template, not AMY. When generating `<meta>` tags, the template still assumes that `contact` is a single value rather than a list: [see the template](https://github.com/swcarpentry/workshop-template/blob/gh-pages/_layouts/workshop.html#L19). So the values get concatenated by jekyll, not AMY. Have a look at the source code of [the mentioned workshop](https

[2017-07-10 16:40] #1193 closed

[2017-07-10 16:45] chrismedrela commented on #1198
The trainee's information goes into the person's record only if a new person record is created. If there is already an existing person record in database, it doesn't happen. See [relevant code](https://github.com/swcarpentry/amy/blob/39edaa66203b762d21a4b819e5c58381a821d40d/workshops/views.py#L2846-L2858).

[2017-07-10 16:58] chrismedrela commented on #1199
@rgaiacs I tried to reproduce it, but I cannot. If a person doesn't belong to `administrators` group and is not a superuser, then "change permissions" button is disabled and you cannot change your own or sb's else permissions. Could you provide me specific instructions how to reproduce it?

[2017-07-10 17:05] chrismedrela commented on #1200
@maneesha I don't understand. Could you provide an example expected text for two cases: 1) when notes are present and 2) there are no notes. The current behaviour is:
1.  Notes are present:
[code]

2. No notes:
[code]

[2017-07-10 17:20] chrismedrela commented on #1165
I'm reopening this, because #1168 was reverted.

[2017-07-10 17:20] chrismedrela commented on #1165
Ref #1203

[2017-07-17 03:27] jduckles opened #1209 "Define "Active" instructors"
We define an active instructor as:

"Every qualified instructor who has taught at least twice in the past two calendar years (730 days prior to the announced election date)."

It would be nice to have an active/inactive flag in AMY.

It would also be nice to have a way to see a feed of recently (30/60/90/120 days) inactive members in order to contact them and remind them that they've lost voting e

[2017-07-17 20:28] maneesha commented on #1209
This:

is actually how we define "member."

I don't think we've defined "active" in any way.  I don't want newly trained instructors who haven't taught yet, or have only taught 1x, to be considered inactive.  I'd see "members" as a subset of "active" instructors.

[2017-08-03 23:03] jduckles opened #1210 "Responsive CSS issue"
At intermediate window sizes it seems the login and + widgets flow to a second row and overlap half the person name. Very minor, but mildly annoying if you're at an intermediate window size.

![image](https://user-images.githubusercontent.com/119403/28947484-3a3b5a88-7904-11e7-81f7-7912e788782d.png)

[2017-08-04 20:39] kariljordan opened #1211 "Instructor profile form missing DC/OpenRefine option"
On the instructor profile [form](https://amy.software-carpentry.org/forms/update_profile/) under "Topic and lessons you're comfortable teaching", OpenRefine is missing from the list. Also, @maneesha said, "I think this section needs work overall -- for example I don't think we need to be separating out dc/python and swc/python, etc."

[2017-08-14 14:37] maneesha opened #1212 "Need system to record instructors who were schednedule to teach but couldn't make it..."
....for excused or unexcused reasons.
This should include how much notice they gave and what the reason was.

[2017-09-14 16:39] symulation opened #1213 "Incorrect date and information on training form page"
Hello.

Have a look at https://amy.software-carpentry.org/forms/request_training/ and note the yellow notice just before the form.  It roughly says that "Training is full for 2016" and so some correction (either of the date or of the entire message) is needed.

[2017-09-14 16:46] symulation opened #1214 "Be nice to have link to upcoming training opportunities"
Hello!

When people fill out the form at https://amy.software-carpentry.org/forms/request_training/ it would likely be helpful share with them a link to the list of planned/possible upcoming training events.

[2017-09-25 16:55] maneesha opened #1215 "Bulk upload persons - change link to *not* use existing person"
With bulk upload of persons, if a possible match exists, we can use that person.  This is useful.

Once we have matched the new person to an existing person the display changes to

![image](https://user-images.githubusercontent.com/829690/30820611-6bba228c-a1f0-11e7-8453-c161b5485a20.png)

It's noted that an existing person will be used, but the link to use the existing person still displays.  Thi

[2017-09-25 16:58] maneesha opened #1216 "Bulk upload persons - do not refresh page after "use existing person""
After doing a bulk upload persons,  often times there are many people who are already in the database.  The option to use existing person is useful for this.  However, it's tedious when you have to refresh the page after each update.  It would be better check of each person that has an existing record, and update them all at once.

[2017-10-18 13:53] jduckles opened #1218 "Rackspace Hosting Won't be free in 2018"
I just got word that our $2,000 per month credit for being an Open Source project from Rackspace will be going away in 2018.

We will need to review our hosting strategy and decide how to use these services more efficiently. Our current bill (which is completely credited) is $1,700/month for the services we're utilizing.

[2017-10-18 13:54] jduckles commented on #1218
FYI: @tracykteal @maneesha @swcarpentry/board

[2017-10-18 14:05] k8hertweck commented on #1218
What exactly is hosted on Backspace currently? Anything else besides AMY?

[2017-10-18 14:07] jduckles commented on #1218
Our website, mailing lists and etherpads are hosted (each on their own VM) there as well. Since we have a credit we're running much larger servers than we really need for some of the things. We also have amy-dev and amy production servers.

[2017-10-18 16:01] ChristinaLK commented on #1218
I assume our options are:
- look for free server access elsewhere
- pay to stay on Rackspace
- pay elsewhere

[2017-10-22 19:49] jduckles commented on #1218
Well guess we don't have to worry for now. They just retracted the move:

[2017-10-22 19:49] #1218 closed

[2017-10-27 16:18] tracykteal opened #1219 "Obligatory checkboxes in instructor training sign up form"
In our instructor training sign up form, at the bottom there are boxes that you have to check that you agree to in order to submit the form.

We had someone in an instructor training who isn't sure they can commit to these things, so doesn't want to check the button and formally commit to that obligation.

Those boxes are:

"
*I agree to complete this training within three months of the Training C

[2017-11-01 19:07] twitwi commented on #1196
I cannot try this right now, but it is probably a matter of adding two lines ('occupation, 'orcid') to
https://github.com/swcarpentry/amy/blob/develop/workshops/forms.py#L1201

[2017-11-03 20:52] karinlag commented on #1219
....not sure I agree on this. However, this brings up the discussion (yet again) what the aims of our training is - are we training people to solely be instructors for us (and, if they're training as part of a partnership, the partner they belong to), or are we training people for a wider range of purposes. I could for instance readily see people wanting to join an instructor training, not to actu

[2017-11-03 22:31] tracykteal commented on #1219
Yeah, it does bring up bigger questions. Just wanted to pin it as an issue for future discussion.

[2018-01-11 00:05] jduckles commented on #1211
I just dug into this one looking at the AMY DB in a dev installation of AMY, it looks like we can add/edit the names of these in the table `workshops_lesson`.

That table currently contains:
[code]

To add new ones we need to increment the `id` and insert the new tag:
[code]
If we combine `swc/python` and `dc/python` into just `python` we'll need to run an update query to move people from the old

[2018-01-17 21:27] kariljordan commented on #1211
The list of **topics** I propose is:

Git
Python
R
Shell
Spreadsheets
OpenRefine
SQL

I'm not sure how much we push MATLAB and Make. We should keep them on the list since we have lessons for them, right?

When instructors go through checkout they can technically teach all of our lessons. Do we need to ask them which lessons they're comfortable teaching, or can we just ask what topics?

@maneesha i

[2018-01-23 10:59] lexnederbragt commented on #1219
Noted down as an (important) issue to be discussed by the Carpentries Executive Council. OK to close?

[2018-01-23 15:02] tracykteal commented on #1219
Yes, fine to close. I'll close.

[2018-01-23 15:02] #1219 closed

[2018-01-26 19:57] maneesha opened #1223 "integration of Fieldbook and AMY"
@jduckles has mentioned there are ways to integrate Fieldbook and AMY.  Can we look into this more to plan out what it would take?  Tracking memberships in AMY would be very useful as we generate ongoing reports.

[2018-02-06 17:10] ErinBecker opened #1224 "Update training request form"
We'd like to update our Training Request form to match the wording [here](https://github.com/carpentries/instructor-training/blob/gh-pages/files/rubric.md) (under Apply for Instructor Training). These changes to the form were approved by the community quite a while ago, but we haven't had the ability to implement the changes.

@pbanaszkiewicz

[2018-02-06 17:11] ErinBecker opened #1225 "Export "created-on" field for training requests"
It would be good to be able to export the "created-on" field when exporting training requests. This field shows up in the view [here](https://amy.software-carpentry.org/workshops/training_requests/) but isn't included in the downloaded csv when you click "Download all requests as CSV".

[2018-02-07 17:54] ErinBecker opened #1226 "Trainees eligible for certification are not showing up in list"
When filtering the Trainees list - in the "Is SWC/DC instructor?" box, you can select "No, but eligible to be certified". This should bring up any trainees who have completed all checkout steps but have not yet been awarded a certificate. However, the matching parameters appear to be set up incorrectly, as not all eligible trainees are shown.

As an example, just now I applied this filter and show

[2018-02-08 14:01] maneesha opened #1227 "Download selected trainee applications"
From here (https://amy.software-carpentry.org/workshops/training_requests/) we can download a csv of all training applications.  If a filter or selection has been applied then we should also have the option of downloading only filtered or selected applications.

(meaningless test edit)

[2018-02-08 17:50] ErinBecker opened #1228 "add curriculum identifier"
In a workshop object, it would be good to know what curriculum was taught (e.g. DC Ecology, SWC with R) and be able to pull out that information so that we can track how often each curriculum is taught and link specific curricula to assessment.

[2018-02-09 23:56] jduckles opened #1229 "Creating new badges for mentors/mentees"
I'd like to create new badges to track the mentorship program.

Is there any problem with me making the following insertions into the AMY DB to create new badges? Or is there an interface I might be missing that would be a cleaner way to do this?

[code]

[2018-02-16 16:15] maneesha opened #1231 "Tell applicants not to put in full address for location"
The training application asks for location, with the prompt "please give city, and province or state if applicable."

Add the following to the prompt:  "Do not share a full mailing address."

[2018-02-21 23:25] jduckles opened #1232 "Proposal: Create "Instructor" badge in AMY"
## Background
All badged instructors in AMY have one of two badges: `SWC` and/or `DC`. [We recently agreed](https://carpentries.github.io/instructor-training/20-carpentries/#who-can-teach-what) that badged instructors are allowed to self-select to teach any lesson from any lesson community if they've completed instructor training and checkout. When workshop requests come in, there is typically a p

[2018-02-21 23:47] maneesha commented on #1232
It wouldn't create problems with workflows. For most workshops I don't actually look at which badge they have (or even what skill sets they have as  those are often out of date), just whether they are badged at all.  I trust instructors to self-select for what they can teach.

However I know that many of our badged instructors have allegiances and affinity for their badge so I think it's more of a

[2018-02-22 10:33] ErinBecker commented on #1232
I agree with this proposal, with one change.

Agreed:
- For existing instructors - add `Instructor` badge and retain old badges.

Change:
- For new instructors - add `Instructor` badge and the badge for the
Carpentry that they did their teaching demo for. This is what we do
currently.

This change wouldn't require us to figure out a new process for asking
Instructors their teaching preferences and

[2018-02-22 17:35] sheraaron commented on #1232
I agree with both Maneesha and Erin. I do not look at badges regularly. Only when awarding them. It would be nice to have documentation to know "which" badge they would like to have. Currently, if they made a SWC HW contribution but completed a DC Demo, I am not sure which badge to give them. I just choose. So this will help us in the future in allowing them to select.

[2018-03-27 17:53] #1224 closed

[2018-03-27 17:53] #1231 closed

[2018-03-29 15:37] askingalot opened #1233 "Running make dev_database fails with "TypeError: 'gender' is an invalid keyword argument for this function""
Looks like changes to the `TrainingRequest` model were not reflected in the `fake_database.py` file.

Specifically, `gender`, `gender_other` and `additional_skills` were removed from the model and not removed from the fake_database.py file. Also `underresourced`, `underrepresented`,`nonprofit_teaching_experience`, `training_completion_agreement`, `workshop_completion_agreement` and `notes` were no

[2018-04-02 07:37] #1225 closed

[2018-05-05 11:54] pbanaszkiewicz opened #1237 "Check constraints upon trying to add a new person via update request"
There's an error when admin accepts a profile update which is not matched to any person, and a collision in usernames exists.

[2018-05-06 12:13] pbanaszkiewicz commented on #1229
@jduckles it's not a proper way. It would only be visible in the AMY instance where you made that change.
The proper way would be via [data migration](https://docs.djangoproject.com/en/2.0/topics/migrations/#data-migrations).

[2018-05-06 12:27] #1237 closed

[2018-05-06 12:53] pbanaszkiewicz commented on #1233
Closing via #1234.

[2018-05-06 12:53] #1233 closed

[2018-05-06 13:00] pbanaszkiewicz commented on #698
Closing since we've been switching to CBV for a while now.

[2018-05-06 13:00] #698 closed

[2018-05-06 18:57] pbanaszkiewicz opened #1240 "Upgrade dependencies"
AMY's dependencies include unsupported modules. We need to upgrade them.

[2018-05-06 22:45] jduckles commented on #1229
Closing as #1241 addresses it.

[2018-05-06 22:45] #1229 closed

[2018-05-08 12:47] lexnederbragt opened #1242 "AMY and GDPR"
Should we be concerned with [GDPR](https://www.eugdpr.org)?

[2018-05-08 16:01] maneesha commented on #1242
@jduckles  is reviewing what we need to do & can provide an update.

[2018-05-08 16:30] lexnederbragt commented on #1242
Thanks. No need for details, I just wanted to make sure we don't oversee this...

[2018-05-08 18:08] pbanaszkiewicz commented on #1240
Unfortunately it seems like django-selectable is failing a lot, I'm looking into alternatives…

[2018-05-08 21:27] jduckles commented on #1242
@lexnederbragt we'll be updating our privacy policy in light of GDPR and working to make sure the little bit of PID (Personally IDentifiable) info we do have on people is well protected. Thanks for bringing it up.

[2018-05-08 21:27] #1242 closed

[2018-05-09 21:55] jduckles opened #1244 "Add "Share Profile on Website" checkbox"
Very similar to the "May Contact" checkbox, we'd like to have a checkbox in the user's profile to have their name and social links (Twitter, ORCID, GitHub, URL) included/excluded from the public website. We're going to make a push to get people to update their profiles and consent to new Privacy Policy when doing so. Would this addition be possible on a relatively short timeline?

Looking through

[2018-05-09 21:55] jduckles commented on #1244
@pbanaszkiewicz pinging for your input.

[2018-05-15 19:33] pbanaszkiewicz opened #1246 "Find a way for Select2 to programmatically search"
With switch from django-selectable to django-autocomplete-light, a newer and better autocomplete widget was introduced: [Select2](https://select2.org/).

Unfortunately in about 5 places we used django-selectable to programmatically find something in and select from one of AMY's lookups (e.g. a language by it's subtag ('EN' for English, 'PL' for Polish, etc.).
This feature was dropped in #1245. If

[2018-05-16 16:45] pbanaszkiewicz commented on #1210
@jduckles I'm deferring this issue for now, because I want to make a slight redesign of AMY in near future. However, if this issue is very annoying, please let me know and I'll reopen @askingalot's PR #1235 and merge it.

[2018-05-16 20:42] jduckles commented on #1210
No worries.

[2018-05-19 09:32] pbanaszkiewicz opened #1247 "Add an easy way for a person to download all their data from AMY"
This probably should be done via API endpoint.

[2018-05-19 15:00] pbanaszkiewicz opened #1248 "Google's switching Maps API to pricing model"
Link: https://cloud.google.com/maps-platform/user-guide/

Let's consider updating AMY's maps to Open Street Maps. Apparently these are used by number of providers: https://help.openstreetmap.org/questions/9367/can-i-use-openstreetmaps-openstreetmaps-api-for-commercial-apps-on-android/9371
And some server bandwidth restrictions apply.

Does Carpentries website need to switch too? /cc @jduckles

EDI

[2018-05-19 15:47] pbanaszkiewicz opened #1249 "Question: should we semi-automate "Remove requests"?"
To comply with GDPR we must respect users' right to request removal of their data from the AMY database. No-automated way would be an email endpoint for them to contact, and a person would then verify the request and proceed with manual removal of the data.

Semi-automated way would work just like event requests: an admins with privileges would go through requests, verify them and finally push "Co

[2018-05-20 21:04] jduckles commented on #1249
Yes, we cover this in the updated privacy policy language. Lets start with the non-automated way and then consider scoping out the automated way later.

[2018-05-20 21:12] jduckles commented on #1248
Are there maps anywhere in AMY? Or are you talking about the maps with date fed by amy on `swcarpentry/website`?

[2018-05-21 04:25] jduckles opened #1250 "Migrate to amy-noreply@carpentries.org"
We're still emailing from no-reply@software-carpentry.org. We should migrate to no-reply@carpentries.org as the reply-to.  I can give you a new SMTP credential at mailgun if you need it, the current one may work.

[2018-05-21 13:29] maneesha commented on #1248
@jduckles  in any event view, "validate event" returns a map (assuming location data is entered in)

[2018-05-21 18:18] pbanaszkiewicz commented on #1249
Soooo... defer for now and implement in maybe v1.12 or so?

[2018-05-21 19:17] pbanaszkiewicz commented on #1244
@jduckles:

Two questions:
1. I just want to make sure: Carpentries website uses `/api/v1/export/instructors/` endpoint, right?
2. we can easily add `publish_profile` column to the JSON/YAML output, but it's open for reading so I think I'll filter out all `publish_profile=False` - but then there's no point in adding the `publish_profile` column.

For now I'm assuming 1. true and 2. no additional c

[2018-05-22 06:39] jduckles commented on #1249
Yep, our policy language covers this, we can at least sketch out the drop queries necessary to remove someone's identity. An interesting question is if it will be ok to just randomize/anonymize their personal information and leave the rest of their record intact. It gets really interesting when you've aggregated an individual's information into an annual report say, and they say they want their da

[2018-05-22 17:33] pbanaszkiewicz commented on #1249
@jduckles to my understanding, as long as reports don't use personally identifiable information, we shouldn't need to remove person's data from them.

I am, however, interested to see if we need to remove IP address from server logs when someone invokes their right to be forgotten.

[2018-05-22 17:40] pbanaszkiewicz commented on #1244
@jduckles with #1251 we have two fields:
* `may_contact` - user allows to be contacted
* `publish_profile` - user allows for their profile to appear on The Carpentries website.

If I recall correctly, `may_contact` indicates willingness to being contacted in other manners than purely for organization purposes (or am I wrong? Can't find the source for this claim). In Poland I think services allow t

[2018-05-22 22:00] jduckles commented on #1244
Yes, please add them both as filters. To my mind may contact allows us to reach out to people who's information we have. It is an explicit opt-in to them providing their email address to us with the assumption that we will use it to contact them. We should not ever use an email record in AMY to send an email to someone who has a "may_contact=False".

[2018-05-22 22:01] jduckles commented on #1249
We're teetering on the edge of existential philosophy here 😆

[2018-05-24 14:15] maneesha opened #1252 "SWC tags have disappeared?"
Looking at workshop list (https://amy.software-carpentry.org/workshops/admin-dashboard/?assigned_to=all) of published workshops, this used to display a tag for SWC or DC.  It looks like LC has been added to the display, but now SWC workshop tags are not displaying.  In the options to select  workshop tags, SWC is no longer an option so all the SWC tags seem to have disappeared.

![image](https://u

[2018-05-24 14:27] pbanaszkiewicz commented on #1252
Thanks for bringing this to my attention. It's really bizarre. Can you tell me if "SWC" tag was available yesterday? Did you notice any missing workshops?

[2018-05-24 14:49] pbanaszkiewicz commented on #1252
It seems like a very recent bug (max last two hours). I'm going to shut down AMY for now.

[2018-05-24 16:43] pbanaszkiewicz commented on #1244
Fixed in #1251 .

[2018-05-24 16:43] #1244 closed

[2018-05-24 16:49] pbanaszkiewicz commented on #1250
@jduckles please send the details to me, I'll update env variables when deploying this release.

[2018-05-24 16:49] #1250 closed

[2018-05-25 14:19] sheraaron opened #1255 "Matched Training isn't working"
When I try to match applicant(s) to a particular training the "Matched Training" option doesn't allow me to type in the box, or it doesn't list any of the worskhops for me to select.

[2018-05-25 14:21] sheraaron opened #1256 "Tab Complete inconsistent"
The tab complete isn't working on all of the screens. When entering in a new workshop it forces me to click to the next box rather than use tab complete.

[2018-05-25 15:44] pbanaszkiewicz commented on #1252
Fixed via #1253.

[2018-05-25 15:44] #1252 closed

[2018-05-25 21:03] pbanaszkiewicz opened #1257 "Implement Mailgun API for sending emails"
In #1250 @jduckles suggested to change email address for AMY emails; we can take the opportunity and:
1. switch to Mailgun API instead of SMTP
2. implement sending emails in more places in AMY

[2018-05-25 21:18] pbanaszkiewicz commented on #1256
Hello @sheraaron, thank you for reporting this issue. Can you please elaborate on it?

Do you use [tab] to go through form's fields and enter values, but for fields with dropdown (e.g. "Host" or "Administrator" when creating a new event) you can't get to next field by using [tab]?
If that's the case, then this [bug](https://github.com/select2/select2/issues/5185) was probably recently reintroduced

[2018-05-25 21:39] pbanaszkiewicz commented on #1255
For some reason, Select2 (drop-down) widget is not rendering for `MatchTrainingRequestForm` and `BulkMatchTrainingRequestForm`. Thanks @sheraaron for reporting this issue!

[2018-05-25 23:56] sheraaron commented on #1256
@pbanaszkiewicz  its exactly what you described.

[2018-05-26 16:43] raynamharris opened #1260 "update "Topic and lessons you're comfortable teaching""
In one's AMY profile, the "list of Topic and lessons you're comfortable teaching". Is a little out of date. The two most recent relicense are around social science and SWC in Spanish are not listed. Can some add new lessons?

[2018-05-27 17:06] #1255 closed

[2018-05-27 17:33] pbanaszkiewicz commented on #1196
Fixed in e7644fb9f454b92d250b56269b5dea9f1e358359.

[2018-05-27 17:33] #1196 closed

[2018-05-27 17:34] pbanaszkiewicz opened #1261 "Refresh UI to allow for more uniform look, easier navigation and filtering"
I'm thinking about implementing https://adminlte.io/

[2018-05-27 19:03] pbanaszkiewicz commented on #1257
Tests went okay - Mailgun API works really well. Now I'm going to make a list of actions that require email notification and then go forth and implement Mailgun emails instead of Django SMTP.

[2018-05-29 10:03] jduckles commented on #1257
Great to hear! Let me know if you need anything.

[2018-05-31 07:48] #202 closed

[2018-05-31 07:48] #341 closed

[2018-05-31 07:48] #554 closed

[2018-05-31 07:50] #656 closed

[2018-05-31 15:17] pbanaszkiewicz commented on #1108
I think recent changes for GDPR cover this.

[2018-05-31 15:17] #1108 closed

[2018-05-31 15:21] pbanaszkiewicz commented on #859
Please reopen if this issue is still relevant.

[2018-05-31 15:21] #859 closed

[2018-06-01 15:17] maneesha opened #1263 "Instructor view should show all activity"
Instructors can log in to their own profiles and see the workshops they have taught at.  This view should also show all other roles they have played (helper, host, learner, etc)

[2018-06-01 19:57] pbanaszkiewicz opened #1264 "Find workshop staff: broken Select2 widget widths"
![screenshot from 2018-06-01 21-56-25](https://user-images.githubusercontent.com/72821/40860742-c4b38724-65e6-11e8-99a9-afdda7cdd94e.png)
![screenshot from 2018-06-01 21-57-08](https://user-images.githubusercontent.com/72821/40860743-c4dc58a2-65e6-11e8-9762-fd702953204d.png)

[2018-06-01 20:32] #804 closed

[2018-06-01 20:36] pbanaszkiewicz commented on #992
Dropping PyData bugs/features from AMY for now.

[2018-06-02 09:21] #1165 closed

[2018-06-02 14:56] #1169 closed

[2018-06-02 16:46] #1264 closed

[2018-06-04 19:35] #1263 closed

[2018-06-05 17:17] sheraaron opened #1270 "Matched Training and Request Training Profile Merge"
If a person already has a profile in AMY and I do the Matched Training option, they do not merge. The profile on record trumps the "Request Training" profile. In order for me to not lose any information, I must create a new account and then go back and merge the two accounts.

See this example: He already has a profile, but if you go to Requested Trainings and type his name, he has a more detailed

[2018-06-06 14:35] maneesha opened #1271 "Fix link to CoC in instructor training application"
Instructor training application form (https://amy.software-carpentry.org/forms/request_training/) points to Code of Conduct (CoC) links on SWC and DC websites.

This should point to Code of Conduct in handbook instead: https://docs.carpentries.org/topic_folders/policies/code-of-conduct.html

[2018-06-06 16:08] pbanaszkiewicz opened #1273 "Crop down API"
API endpoints for creating/reading persons, awards, tasks, organizations, and airports are not being used at all. Maybe it's time to remove them.

[2018-06-09 08:12] pbanaszkiewicz opened #1274 "Trainee dashboard: some functionality inaccessible"
Password change, soon all data download.

[2018-06-16 17:57] #1247 closed

[2018-06-17 14:13] #1274 closed

[2018-06-17 17:50] pbanaszkiewicz commented on #1199
Closing because it's not possible to change permissions by non-admin user. Additionally, a user considered admin needs to have `change Person` permission.

[2018-06-17 17:50] #1199 closed

[2018-06-17 18:35] #943 closed

[2018-06-19 15:33] pbanaszkiewicz opened #1278 "Wrong CSV output of TrainingRequests"
After training request form was changed, the CSV output columns are outdated.

This may be a good reason to start generating TrainingRequests list from API instead.

[2018-06-24 07:21] #1278 closed

[2018-06-24 07:30] pbanaszkiewicz opened #1280 "Move parts of AMY into separate applications"
[Applications in Django terms](https://docs.djangoproject.com/en/2.0/ref/applications/):

Some application ideas:
* `api` (the same as it's currently)
* `pydata` (PyData integration)
* `trainings` (training process)
* `workshops` (base datatypes like events, people, maybe renamed to `base` or similar)
* `requests` (everything that pours into AMY from outside forms)
* `templates` (maybe for storing

[2018-06-24 19:00] #1107 closed

[2018-06-24 19:00] #1139 closed

[2018-06-24 19:00] #1140 closed

[2018-06-25 10:54] fmichonneau opened #1282 "Add search by github handle to API persons endpoint"
Would it be possible to add the functionality to search for people using their github handle through the API? i.e. `https://amy.software-carpentry.org/api/v1/persons/?github=fmichonneau`

[2018-07-01 18:45] pbanaszkiewicz commented on #1282
Hello @fmichonneau. It's possible to add another filter to this endpoint, but with #1273 I was going to remove unused parts of API. I thought `/persons/` was unused.

Let's make this issue in current release (v1.12), and let's postpone #1273 to the next release.

[2018-07-01 18:47] pbanaszkiewicz commented on #1273
@fmichonneau can you please describe which parts of API you're using?

[2018-07-02 15:09] fmichonneau commented on #1282
It might not be used within AMY, but I'd like to be able to use it in other external tools/services. Thanks for implementing it!

[2018-07-02 15:14] fmichonneau commented on #1273
At this time, I need the "persons" endpoint (only reading).  I'm working on a way to automate the workshop website creation, and need to validate (through the GitHub username) that the user is in AMY. I don't anticipate needing the other endpoints.

[2018-07-02 23:50] jduckles commented on #1223
Closing as Fieldbook data and features are being migrated to the new https://github.com/carpentries/membershipdb project.

[2018-07-02 23:50] #1223 closed

[2018-07-03 00:29] jduckles commented on #1273
@pbanaszkiewicz are you basing this on logs of access to these endpoints? We've got a plan afoot to use a periodically updated cache of AMY data to drive our instructors page (read-only).  The capabilities I need are mostly contained in the output of `api/v1/persons` right now.

[2018-07-03 00:31] jduckles commented on #1280
FYI: We're building a new membership db over at https://github.com/carpentries/membershipdb Eventually we'd like to have some of its features loosely coupled with AMY.

[2018-07-04 19:08] #1282 closed

[2018-07-04 19:11] #1257 closed

[2018-07-04 19:29] #1271 closed

[2018-07-04 19:35] pbanaszkiewicz commented on #1273
@jduckles:

No, but I know that some endpoints are linked with a feature that will be removed (e.g. user-todos); some other endpoints (like `person-list`, `airport-list`, `event-list`, etc.) were created with JS frontend in mind, but this is not going to happen (soon). If you and @fmichonneau have ideas how you can use these endpoints, then there's no point in removing them.

[2018-07-06 17:17] maneesha opened #1284 "Trainees with training event should be automatically accepted"
If a trainee application is attached to a training event it should automatically be marked as "Accepted"

[2018-07-06 17:32] maneesha opened #1285 "Assigned training should be required in order to have any training progress"
If someone has not been  a learner at a TTT event, we should not be able to assign any training progress steps to them.

See example: https://amy.software-carpentry.org/workshops/person/13211/

[2018-07-06 20:08] maneesha opened #1286 "Would like to merge applications (and find possible duplicates)"
We have many duplicate applications. In some cases it looks like the same request was submitted twice.  In other cases someone applies and re-applies later.  I would like to be able to merge applications in cases like this.

I would also like the feature to find duplicates (just as we can currently do with Person records)

[2018-07-06 20:21] maneesha opened #1287 "Add read-only access level"
We have some users who should have access to view  data but should not have access to edit anything.

[2018-07-06 20:33] pbanaszkiewicz commented on #1227
This was actually partially implemented in #1278: there now exists an API endpoint to filter and download applications. The only issue is that the button "Download all requests as CSV" doesn't apply filters to it; this will be an easy fix.

[2018-07-06 22:28] maneesha commented on #1284
Looks like validation in the opposite direction exists - it doesn't let you mark someone "Pending" if they are attached to an event.

[2018-07-06 22:29] maneesha commented on #1287
@pbanaszkiewicz  I was thinking this would be for all the user groups we currently have - we would have the option to set permissions to be read only or write.

[2018-07-07 00:27] maneesha opened #1288 "Match person to application"
Right now if we have an application like this:
https://amy.software-carpentry.org/workshops/training_request/812/

we can see what person they are matched to. However if we go to that person:

https://amy.software-carpentry.org/workshops/person/14311/

we can not see their application.  We should be able to see a person's associated application.

[2018-07-09 16:17] maneesha opened #1291 "Include Matched Event when downloading Training Applications"
In the Training applications view, clicking on "Download requests as CSV" gives a csv with the following columns.  This should also include a column for Matched Training Event.  Matched event is currently displayed on the Training Requests view.

['Created at',
 'Last updated at',
 'State',
 'Matched Trainee',
 'Group Name',
 'Personal',
 'Middle',
 'Family',
 'Email',
 'GitHub username',
 'Underr

[2018-07-09 18:12] #1288 closed

[2018-07-10 19:38] maneesha opened #1292 "Fix explanatory text for Training Application Group Name"
Right now this text says:

This should be changed to say:

[2018-07-12 19:42] #1227 closed

[2018-07-12 19:42] #1284 closed

[2018-07-12 19:42] #1291 closed

[2018-07-12 19:42] #1292 closed

[2018-07-13 21:01] maneesha opened #1294 "Add Country to Person record"
Right now we have location by airport which makes it difficult to immediately know the country the person is based in.  Airport may also be inaccurate for people who live near national borders.

[2018-07-15 05:49] #1285 closed

[2018-07-15 19:45] #1294 closed

[2018-07-16 12:45] maneesha commented on #1270
Bumping this up @pbanaszkiewicz  can we get this fixed in the next release?

[2018-07-16 14:51] pbanaszkiewicz commented on #1270
@maneesha scheduling for the next release as requested.

[2018-07-17 18:02] pbanaszkiewicz commented on #1270
@maneesha and @sheraaron, this issue is deeper than I originally thought. In general, matching a training request was intended to not change any person. If there's no matching person, a new one is created from request information.

We can update user profile automatically when matching, but deciding which information is more accurate (e.g. profile's occupation vs request's occupation) is hard.

Ri

[2018-07-18 14:36] steltenpower opened #1298 ""Dutch Flemish" should be "Dutch/Flemish""

[2018-07-18 14:44] steltenpower opened #1299 "capabilities too binary?"
Many know a language quite well, but not well enough to list. Maybe add levels?
Similar for subjects to teach or help with?

[2018-07-21 08:04] #1286 closed

[2018-07-21 18:58] pbanaszkiewicz commented on #800
Hello @maneesha, having looked at this issue, I have a few questions for you.

1. When a new workshop request comes in, do you accept it and create a new event from this page: "https://amy.software-carpentry.org/workshops/request/XXX/accept/" (screenshot below)?

2. Would it be enough if a link between existing event request and existing workshop was created? There's not many overlapping fields be

[2018-07-21 19:21] pbanaszkiewicz commented on #1287
Django supports group permissions, and for the most part we used them to control if user for example is able to create, change or remove some model's objects. However, ["view" permissions are only just now coming to Django 2.1](https://docs.djangoproject.com/en/dev/releases/2.1/#model-view-permission) (to be released soon).

I'd propose we wait until Django 2.1 is released, then adapt it.

[2018-07-21 19:22] pbanaszkiewicz opened #1303 "Upgrade Django to 2.1"
We're going to use ["view" permissions feature](https://docs.djangoproject.com/en/dev/releases/2.1/#model-view-permission).

Also see related #1287.

[2018-07-22 04:07] pbanaszkiewicz opened #1304 "Replace Bower"
[Bower is deprecated](https://bower.io/blog/2017/how-to-migrate-away-from-bower/). Bower team suggests using [Yarn](https://yarnpkg.com/lang/en/) or npm & WebPack combo instead.

[2018-07-23 13:51] #1215 closed

[2018-07-23 13:51] #1216 closed

[2018-07-23 13:52] pbanaszkiewicz commented on #1216
According to [this comment](https://github.com/swcarpentry/amy/pull/1301#issuecomment-407059034), if the provided in #1301 fix is insufficient, we'll revisit this issue.

[2018-07-23 15:00] maneesha commented on #1270
Actually @pbanaszkiewicz  is it possible to do something like we do for merge events or merge persons - where we choose what to keep?

[2018-07-24 12:45] maneesha opened #1305 "can't type person's name when assigning event"
When you click on the gear to assign an event to a person, you can't type a name into the box to select someone.  You have to go down the whole list to find a name.

[2018-07-24 12:54] maneesha opened #1306 "Count workshops by membership year, not calendar year."
For any given organization we  can see a list of workshops they have run, and any memberships they have.
For example: https://amy.software-carpentry.org/workshops/organization/stanford.edu/

The memberships section lets us see how many workshops they are allowed and how many are completed.  The completed counts for the calendar year, but this should count for a membership year.  If a a membership

[2018-07-24 12:59] maneesha opened #1307 "Move org. name to top of membership entry screen"
In the screen to enter new memberships, the organization name should go at the top to improve on readability.  Right now it is at the bottom.

![image](https://user-images.githubusercontent.com/829690/43139440-b503cf2a-8f1f-11e8-9c24-418ff31fabc9.png)

[2018-07-24 15:52] pbanaszkiewicz commented on #1270
@maneesha yes, it's possible, but there isn't much overlap between these models:

Person | TrainingRequest
---------- | -----------
*nothing* | person
*nothing* | group name
**personal** | **personal**
**middle** | **middle**
**family** | **family**
**email** | **email**
gender | *nothing*
may contact | *nothing*
publish profile | *nothing*
**country** | **country**
airport | *nothing*
**github**

[2018-07-24 15:53] maneesha opened #1308 "XXX-unset-variable-XXX shows up at bottom of screen after submitting workshop request"
XXX-unset-variable-XXX shows up at bottom of screen after submitting workshop request

![image](https://user-images.githubusercontent.com/829690/43150516-1f1433d8-8f38-11e8-9407-1680731ba5a7.png)

[2018-07-24 16:38] maneesha opened #1309 "Email notifications for workshop requests"
Email notifications for workshop requests are not coming through.  See a couple of test ones I just put in.  I don't know if this is due to us changing email lists.

admin-all@software-carpentry.org should forward to admin-all@carpentries.org
so even if something in AMY was not updated, the forwarding should still work but I haven't seen any email notifications since July 4.

Not sure if this is a

[2018-07-24 16:40] maneesha opened #1310 "Reverse order of workshop requests view"
Workshop requests on [this page](https://amy.software-carpentry.org/workshops/requests/) should be listed in reverse chronological order, with most recent on top.

[2018-07-24 18:12] pbanaszkiewicz commented on #1308
This will be fixed as part of #1261.

[2018-07-24 18:13] pbanaszkiewicz commented on #1307
This will be fixed as part of #1261.

[2018-07-24 18:17] pbanaszkiewicz commented on #1270
@sheraaron @maneesha just to be clear, do also want an interface similar to matching persons or matching events? Or just simply overwrite all possible Person's fields with TrainingRequest's fields?

[2018-07-24 18:21] pbanaszkiewicz commented on #1309
I think I deployed the new version of AMY around July 4, and in the current release there was a change of mailing service provider, as well as some additional dependency in Django to support it.

The strange thing is that I tested sending emails to myself using this new provider and it worked (just confirmed it still works). I need confirmation from any admin (cc @maneesha) that admin-all@carpentr

[2018-07-24 18:58] sheraaron commented on #1270
@pbanaszkiewicz  You can simply overwite all possible Person's fields with TrainingRequest's fields.

Thanks!

[2018-07-24 21:39] jduckles commented on #1309
Might be that you need to add noreply@carpentries.org as an approved sender to admin-all@carpentries.org

[2018-07-24 21:57] jduckles commented on #1309
Yep, I think that was it. Have added noreply@carpentries.org to the list and set it to web-only to not bounce emails back its way:
![image](https://user-images.githubusercontent.com/119403/43168301-f0d778f4-8ff0-11e8-9950-fa71d7b311be.png)

[2018-07-29 09:41] pbanaszkiewicz commented on #1306
@maneesha currently the logic is to count workshops for the year of "membership start", as you noticed. Do you want me to completely change it to only count workshops for the membership duration? Or rather enhance so that we have both methods (calculations) available?

[2018-07-29 19:48] #1210 closed

[2018-07-29 19:48] #1261 closed

[2018-07-29 19:48] #1304 closed

[2018-07-29 19:48] #1307 closed

[2018-07-29 19:48] #1308 closed

[2018-07-29 19:48] #1310 closed

[2018-07-29 19:49] pbanaszkiewicz commented on #1305
Fixed in #1311.

[2018-07-29 19:49] #1305 closed

[2018-07-29 19:59] pbanaszkiewicz commented on #1309
I sent an email entitled "Testing if sending emails from Django now works - sorry for interruption", can any of admins confirm if the email went through to admin-all? /cc @maneesha

[2018-07-30 03:14] jduckles commented on #1309
Confirmed. I saw it come through.

[2018-07-30 13:42] maneesha commented on #1309
Yes, I saw it as well.

[2018-07-30 13:43] pbanaszkiewicz commented on #1309
Thanks @maneesha and @jduckles. This issue is resolved.

[2018-07-30 13:43] #1309 closed

[2018-07-31 08:26] rgaiacs opened #1312 "Migrate repo to github.com/carpentries"
AMY is part of The Carpentries infrastructure and this repository should move to https://github.com/carpentries/amy. This migration should create any problems.

@jduckles or @fmichonneau Could you migrate this repo, please?

[2018-07-31 08:52] jduckles commented on #1312
I don't want to migrate this repo until the current development surge settles down. It is actively being hit by @pbanaszkiewicz these days. AMY will be moving to new servers in a couple of months and we can rip out the carpet from underneath everything all at once then.

[2018-07-31 08:54] rgaiacs commented on #1248
This is now a problem for us!

[2018-07-31 13:54] pbanaszkiewicz commented on #1248
I guess AMY website doesn't attract nearly as much traffic as SWC/DC/TC website. We're still able to access Google Maps, see for example: https://amy.software-carpentry.org/workshops/event/2015-10-03-Krakow-techspace/ (click on "Show preview").

[2018-07-31 18:41] #1270 closed

[2018-08-02 13:59] pbanaszkiewicz commented on #1303
Django v2.1 [was released](https://www.djangoproject.com/weblog/2018/aug/01/django-21-released/). [The changelog](https://docs.djangoproject.com/en/2.1/releases/2.1/).

[2018-08-02 17:35] #1306 closed

[2018-08-02 19:02] maneesha opened #1315 "workshop request view page shows 1 page of requests only"
Regardless of the filter chosen only one page of 25 requests is shown.
There is no ability to go to prev/next page.

[2018-08-02 19:03] maneesha opened #1316 "Fault in how requests are matched to event"
Some requests look like they are associated with an event but clicking on "related event" gives a not found error.  See this [example](https://amy.software-carpentry.org/workshops/request/12/) takes you to [this page](https://amy.software-carpentry.org/workshops/request/12/XXX-unset-variable-XXX)

[2018-08-05 15:54] pbanaszkiewicz commented on #1316
@maneesha this message is (wrongly) displayed when event has been discarded. If it had been accepted, the link would have worked.

In the current (v2.0) release, the message only shows up if the link works, ie. when a new event was created through workshop request acceptance form (the funny one that's two columns).

I can see a field for improvement here:
1. it would be handy for admins to manuall

[2018-08-05 16:00] pbanaszkiewicz commented on #1315
@maneesha there's no pagination widget on that page, but it's easy to add. The real issue here that I can see is that the filter form doesn't work correctly. I'll fix that and add pagination.

[2018-08-05 19:30] pbanaszkiewicz opened #1317 "Remove Bower residues from Makefile"
There's still something in `make upgrade` for example.

[2018-08-06 17:11] sheraaron opened #1318 "Tab Complete"
@pbanaszkiewicz  first let me say that the new interface is AMAZING!!! Looks very nice 😄

Not sure if this can be adjusted but here's what I'd like:

When I am typing and I hit enter for tab complete, the cursor goes back to the top instead of the next box. I'd like to move directly to the next box after tab complete when filling out a form.

I hope I'm explaining this correctly. It's easier when

[2018-08-06 18:27] pbanaszkiewicz commented on #1318
@sheraaron thanks a lot for the complements! I hope the UI refreshment will serve you all well.

When it comes to tab completion, I think you posted the issue here: #1256. If that's the case, we might have to wait for new release of Select2 widget. Please let me know if this is a different issue.

[2018-08-06 18:38] sheraaron commented on #1318
Hey @pbanaszkiewicz ! Yes it's the same. I can wait! Thanks again

[2018-08-08 08:32] BernhardKonrad commented on #1248
Do we have an estimate of how much traffic we get in an average month? If we're over the free budget we could consider applying at https://www.google.com/nonprofits/.

[2018-08-08 20:01] jduckles commented on #1248
@BernhardKonrad Unfortunately, as a fiscally sponsored project, we have to have the parent non-profit apply and then hopefully be able to pass on the credit to our project Google Cloud account. We've tried with Google in the past and are unable to qualify for Non-profit pricing on Google apps without being our own standalone 501(c)3. Our parent non profit runs 100 other projects other than ours. I

[2018-08-09 04:35] jduckles commented on #1248
#1319 closes this.

[2018-08-09 04:35] #1248 closed

[2018-08-09 23:47] karenword opened #1320 "Request: list of Trainers by time period, remove from Instructors report"
The "list of instructors by time period" feature under "Reports" is currently used to generate an email list for reminders about Instructor Discussion sessions. However, a) this list includes Trainers who have taught Instructor Training workshops, which are not discussed at these sessions, and b) the Trainers group needs a comparable list of people who have taught Instructor Training workshops for

[2018-08-11 09:47] pbanaszkiewicz commented on #1320
@karenword this is definitely possible. Just to be clear we're on the same page: you're requesting to change "List instructors by time period" to not return instructors for TTT workshops, and add a new page "List TTT instructors by time period".
Alternatively we'd have a select/radio buttons on the "List instructors by time period" page saying "List only TTT events" and "List only non-TTT events".

[2018-08-11 17:30] #1317 closed

[2018-08-11 18:55] pbanaszkiewicz commented on #1192
Duplicate of #1263, resolved in #1269.

[2018-08-11 18:55] #1192 closed

[2018-08-11 19:00] pbanaszkiewicz commented on #1198
Duplicate of #1270, fixed in #1313.

[2018-08-11 19:00] #1198 closed

[2018-08-11 19:07] pbanaszkiewicz commented on #1201
Duplicate of #1179.

[2018-08-11 19:07] #1201 closed

[2018-08-11 19:16] pbanaszkiewicz commented on #1200
This was fixed in c28de968845f98c6590784df1fe5beff7b3d021e.

[2018-08-11 19:16] #1200 closed

[2018-08-11 19:34] pbanaszkiewicz commented on #1124
@maneesha @tracykteal do you still want to pursue this change?

[2018-08-11 19:57] pbanaszkiewicz commented on #1162
Ref #1232.

The instructor training progress requirements have been changed (#1226 and corresponding PR #1296).

[2018-08-12 07:34] #897 closed

[2018-08-12 07:35] pbanaszkiewicz commented on #918
Closed in #1311.

[2018-08-12 07:35] #918 closed

[2018-08-12 07:49] pbanaszkiewicz commented on #923
@maneesha @sheraaron do you want this feature implemented? It's quite easy to do.

[2018-08-12 07:55] pbanaszkiewicz commented on #947
@maneesha would this be useful for you? Not so hard to implement for forms.

[2018-08-12 07:58] pbanaszkiewicz commented on #1316
Ref #1179

[2018-08-12 09:59] #867 closed

[2018-08-12 09:59] #1042 closed

[2018-08-12 09:59] #1155 closed

[2018-08-12 09:59] #1303 closed

[2018-08-12 15:10] pbanaszkiewicz commented on #917
`amy-dev` server was shut down, but with #1164 and #1167 and #1203 scheduled for this release, I'd like to revisit the idea of continuous deployment of main AMY.

[2018-08-12 15:59] pbanaszkiewicz opened #1324 "Event submissions - a disabled feature"
@maneesha a while ago you requested to disable workshop submissions (the third option of telling admins about a workshop, after workshop requests and DC self-organized workshop requests). Do you want this feature completely removed?

[2018-08-12 19:29] pbanaszkiewicz commented on #1320
@karenword can you please check if the event slug is for sure not added to the CSV output? It looks to me that it's in the first column.

[2018-08-13 14:51] sheraaron commented on #923
@pbanaszkiewicz  this would be amazing! I have to email persons to remind them to complete checkout requirements! So being able to do this and not copy each email would save me AT LEAST 15-30 min!

[2018-08-13 14:57] sheraaron opened #1326 "Header Freeze"
hey @pbanaszkiewicz  is it possible to have the header tabs ( Dashborad, events, organizations, etc)  in AMY to be frozen and move with the scrolling?

Please let me know if this makes sense?

[2018-08-13 15:03] pbanaszkiewicz commented on #1326
@sheraaron yes, it's possible. It actually was implemented like this before v2.0 release, but I changed it due to some small errors (#1210).

[2018-08-13 15:04] sheraaron commented on #1326
@pbanaszkiewicz I thought it was that way before, but couldn't remember if that was something or I just wished it would do 😄

[2018-08-13 15:07] pbanaszkiewicz commented on #923
@sheraaron please provide me with the email contents and I'll implement this feature.

[2018-08-13 15:33] sheraaron commented on #923
@pbanaszkiewicz  [here](https://docs.carpentries.org/topic_folders/instructor_training/email_templates_admin.html#checkout-deadline-approaching) is the verbiage for "Checkout deadline approaching". Thanks!!!

[2018-08-13 20:29] jduckles commented on #923
I don't want to stop progress on this, but please note for the future that @fmichonneau has a proposal to change how the text @sheraaron linked to is represented. This would create an opportunity for AMY to treat the template emails in [carpentries/hadnbook](https://github.com/carpentries/handbook) as THE source of truth to sync from.

@pbanaszkiewicz Your thoughts on  https://github.com/carpentri

[2018-08-17 13:45] maneesha commented on #1124
Including @ErinBecker  and @karenword on this as they work most closely on these applications

[2018-08-24 20:00] ErinBecker commented on #1055
I'm reactivating this discussion based on conversations that the Instructor Training team (@maneesha, @karenword, and myself) and @tracykteal and @sheraaron have been having about changes to how we allow members to divide up their seats in instructor training events.

When an institution signs on as a member, they receive a certain number of seats in instructor training. Currently (at least in the

[2018-08-24 20:34] ErinBecker opened #1327 "track training request applicant scores"
When an individual not affiliated with a member institution wants to become an Instructor, they fill out the [application form](https://amy.software-carpentry.org/forms/request_training/). Every few weeks(?) @karenword downloads the new applications and she and other Trainers score them according to the [rubric](https://github.com/carpentries/instructor-training/blob/gh-pages/files/rubric.md). She

[2018-08-26 15:42] fmichonneau opened #1328 "add ORCID to API persons endpoint"
could you please add the ORCID field to the data coming from the `persons` endpoint in the API? Thanks!

[2018-08-27 18:05] #1320 closed

[2018-08-29 13:12] maneesha commented on #1324
@pbanaszkiewicz  Sorry about the delay in responding.  We are in the middle of replacing all three workshop request forms with one standardized form.  I should have that ready in the next week or two, so let's hold off on changing anything until then.

[2018-08-29 13:15] maneesha commented on #1055
We currently track the number of workshops run under a membership agreement. We also need to track the number of instructors allowed and the number trained under each agreement.  [Here](https://docs.google.com/document/d/1uz8J5vr3aApxQ_mlsgCh-yTEpqI-nU9VqQXu8SfgyH0/edit) is a draft of what I thought this may look like.

[2018-08-29 13:17] maneesha commented on #599
This is an old issue - I don't think we need this now, as instructor trainings are negotiated directly through memberships.  @ErinBecker  @karenword what do you think?

[2018-08-29 16:18] pbanaszkiewicz commented on #1055
@maneesha the draft looks doable. Just one question to make sure I understand it correctly:
this change means that memberships will not be about "regular" (non-TTT) workshops, but about seats in TTT workshops, correct?

[2018-08-29 16:40] pbanaszkiewicz commented on #1327
@ErinBecker:

1. The current [milestone v2.1](https://github.com/swcarpentry/amy/milestone/48) is definitely delayed since I was on vacation this month; I proposed to move v2.1 release to the end of September.
2. The scoring is quite easy to implement, should take a day or two to implement; besides the fields you proposed (`score-auto`, `score-manual`, `score-total`) I'd suggest adding a field for

[2018-08-29 17:15] maneesha commented on #1055
@pbanaszkiewicz  Yes this refers only to TTT workshops.

[2018-08-29 17:16] pbanaszkiewicz commented on #1055
@maneesha so "workshops w/o fee per agreement" and "self-org. workshops per agreement" will not change?

[2018-08-29 18:23] pbanaszkiewicz opened #1330 "JS code loaded in extrajs block breaks jQuery dependency"
Due to Select2 importing jQuery again, many forms that use this widget and have their media included in `extrajs` Django template block break the JS.

[2018-08-29 18:46] ErinBecker commented on #1055
@pbanaszkiewicz  - That's correct. Those fields would continue to be tracked as they are currently. There would be a new field (or fields) to track the information about number of seats in TTT events.

[2018-08-29 18:54] ErinBecker commented on #1327
@pbanaszkiewicz Thanks for the fast response! I'm glad to hear that this change could make it into the v2.1 release at the end of September. I agree with adding a fourth field (`score-comments`?) for storing comments about the manual portion of the score.

I understand the limitations you mention about having AMY send out emails to people at specific times. Since that might not be a workable solut

[2018-08-29 19:03] pbanaszkiewicz commented on #1327
Hello @ErinBecker!

I meant that steps 3-4 of your comment can be done through AMY - for example via a new special page just for the Instructor Training Team. You can imagine that each TTT event has a "Invite trainees" page that displays training requests sorted by `score-total` in descending order; each request has a checkbox next to it, and top 25-`seats_available` are automatically checked. Bef

[2018-08-29 20:06] ErinBecker commented on #599
Agreed - we can close this. For the (very rare) instances where we run instructor training events outside of memberships, @maneesha is having people fill out a Google form to request the training. There has only been one of those in the past 6 months.

[2018-08-29 20:06] #599 closed

[2018-08-29 20:17] ErinBecker commented on #1327
@pbanaszkiewicz - That sounds fantastic! Do you need any other info from myself or @karenword @maneesha @sheraaron to get started on implementing this?

[2018-08-30 16:04] fmichonneau opened #1331 "Add lesson publication consent field to user profiles"
Could it be possible to add a field to user profiles to capture whether they consent to have their name/identity associated with lesson publications?

The text should say: "When we publish our lessons, we like to include everyone who has contributed via pull request as an author. If you do make any contributions, would you like to be included as an author when we publish the lesson?"

Options (onl

[2018-08-31 18:11] #1316 closed

[2018-08-31 18:31] pbanaszkiewicz commented on #1179
Currently there's not much overlap between actual `Event` model, and one of event "request" models: `EventRequest`, `EventSubmission`, `DCSelfOrganizedEventRequest`. #1329 provided two ways to solve this issue:
1. It's possible to connect one request with one event; they become related and it's possible to see the relations on event's details page; one event can be related to one `EventRequest` an

[2018-08-31 18:31] #1179 closed

[2018-08-31 18:41] pbanaszkiewicz commented on #800
See #1179.

[2018-08-31 18:41] #800 closed

[2018-08-31 19:42] #1326 closed

[2018-08-31 20:18] #1328 closed

[2018-09-01 17:55] pbanaszkiewicz commented on #1330
Ref. https://github.com/yourlabs/django-autocomplete-light/issues/1032

[2018-09-01 17:59] pbanaszkiewicz commented on #1330
This issue was thought to be fixed in 47479f7b0132bde4d215e2dd682bed008e8ebe93, but actually it wasn't.

Django crispy forms by default loads form media when using `{% crispy form %}` template tag. This means that the troublesome `<script>` tags appeared before first imports of jQuery & others.

[2018-09-01 19:04] #1330 closed

[2018-09-01 19:23] pbanaszkiewicz opened #1335 "Some forms have "Cancel" button that doesn't make sense"
E.g. SWC request form (external) or profile update form (also external).

[2018-09-02 06:17] #1335 closed, assigned to pbanaszkiewicz

[2018-09-02 20:04] pbanaszkiewicz commented on #1055
@maneesha @ErinBecker @karenword @sheraaron @tracykteal  I have it almost complete now. We should schedule a video conference this week so that I can present it to you (it's faster than setting up a AMY development instance server).

[2018-09-04 14:53] fmichonneau commented on #1331
Because most of the people contributing to our lessons are going through instructor training, they are in AMY. We do have a few people who are not in AMY but overall having this information centralized will make lesson publication much easier.

[2018-09-04 18:06] pbanaszkiewicz commented on #1164
The latest update on this issue: we continue to run on Rackspace, on a VPS, but we need to move forward to newer Ubuntu.

[2018-09-04 21:06] jduckles opened #1337 "Associate AMY Persons with Memberships"
In Amy person profiles we have "Affiliation" text field. This is ok for people listing what organization they feel they're a part of at any given time, but hard to use as a basis for linking together records.

I'd like to be able to associate persons with memberships so we can do lookups/reports on the activities of persons (helpers, trainers, instructors) at the member organization. I see this as

[2018-09-05 19:45] ErinBecker opened #1338 "add new badges for curriculum specific onboardings"
We are about to start running onboarding sessions to train already certified Carpentry Instructors for teaching newly developed curricula. The first curriculum to test this process will be Geospatial. Onboarding for Geospatial lessons starts September 17th.

Ideally, after an Instructor completes the onboarding, I would like to give them a badge showing that they are qualified to teach the Geospat

[2018-09-05 19:50] ErinBecker commented on #1338
When assigning Instructors to workshops, priority will be given to people who have been badged for that curriculum. People need to go through the onboarding (but they can sign up for the workshop before they’ve done that and go through onboarding in the meantime). For pilots and self-organized workshops, anyone can teach the curriculum, no lesson-specific badging needed. @maneesha @sheraaron

[2018-09-05 20:34] maneesha commented on #1338
I'd like to give this more thought to think about what else we need to do to implement it.  For example none of these badges should be allowed unless the person already has a SWC or DC instructor badge.

[2018-09-05 21:41] maneesha commented on #1338
Thanks @ErinBecker  To be clear then, people who have not gone through instructor training (and therefore may not know about our pedagogical practices, our operations, etc.) may be eligible for the curriculum-specific badge and can then teach these workshops (but no other workshops)?

If they have applied for instructor training but have not attended, we don't know anything about them, especially

[2018-09-05 21:47] ErinBecker commented on #1338
@maneesha - They would not be qualified to start teaching until they also completed the instructor training. If someone chose to complete onboarding before doing their Instructor Training, this badge would be a placeholder only. Once they completed their Instructor Training and certification, they would then be qualified to teach SWC and DC workshops and would have priority for the specific lesson

[2018-09-06 05:26] sheraaron commented on #1338
@ErinBecker  and @maneesha  what would the workflow look like for the badging. I'd like to be clear how I would know when I am triggered to apply this badge. ie,  the learners go through onboarding and then a message is sent to Checkout@carpentries for me to go and badge them? Who is conducting on the onboarding, will it always be @ErinBecker ? Can we be sure to add to the workflow and let me know

[2018-09-06 10:55] maneesha commented on #1338
Yes, @ErinBecker , as @sheraaron  noted above a clear workflow would be useful.
I was confused about Erin's statement above:

and then

 Once they completed their Instructor Training and certification, they would then be qualified to teach SWC and DC workshops and would have priority for the specific lesson they're badged on.

When someone applies, we don't know when their application will be revi

[2018-09-06 15:04] sheraaron opened #1339 "Update from URL"
When I select the Update from URL the information is provided 2x.

[2018-09-06 16:31] pbanaszkiewicz commented on #1338
Hello all,

I second that, for example it was very helpful for me to follow [the draft](https://github.com/swcarpentry/amy/issues/1055#issuecomment-416948374) for #1055.

My other input is that badges are essentially awards, and are used to determine person's status. What you're talking about is... I don't know, it feels more like an achievement or supplementary training. It belongs more to the cu

[2018-09-06 16:33] pbanaszkiewicz commented on #1339
What information doubles? For example, is this only "Notes" or only workshop slug, or is it all data?

[2018-09-06 16:42] pbanaszkiewicz commented on #1228
@ErinBecker some questions for you:
1. Can you provide me with a list of all curricula?
2. Is this list going to change frequently? How often / when?
3. Is workshop curriculum available via workshop page metadata (`<meta>` tags)?

[2018-09-06 16:52] pbanaszkiewicz commented on #1337
In order to do that, membership lead would require access to personal data of all people in AMY.

Who would be able to associate an instructor with specific organization/membership? Only admins + membership lead?

Currently I'm working on #1055 which puts effort of assigning trainees with memberships on admins.

What activities/efforts do you have in mind?

[2018-09-06 16:53] sheraaron commented on #1339
Any information in the notes is doubled.

[2018-09-06 18:49] ErinBecker commented on #1338
Thanks for the discussion everyone! We've now discussed this issue at both the Instructor Training Team and the Curriculum Team meetings. The consensus is that we do want to have these as badges, as these will be "awards used to determine a person's status". For the short term, that status is "priority placement for centrally-organized workshops teaching this curriculum". In the long term, we are

[2018-09-06 19:17] maneesha commented on #1315
@pbanaszkiewicz   Re-opening this issue.  It looks like this still is not working.  We only see one page, with no option for pagination.

[2018-09-06 19:19] pbanaszkiewicz commented on #1315
@maneesha it's been fixed in v2.1, which has not been released yet.

[2018-09-06 19:39] ErinBecker commented on #1327
@pbanaszkiewicz - The Instructor Training team just had a discussion about the logistics of inviting open training applicants to Instructor Training events. Based on our discussion, I wanted to update this issue.

1) The `score_manual`, `score_auto`, `score_total` and `score_notes` fields are the same as described above.
2) AMY generates a page of applicants sorted by score (as described above)
3)

[2018-09-06 21:39] fmichonneau commented on #1228
first drafts at:
- https://carpentries.github.io/curriculum-feed/carpentries_curricula.json
- https://carpentries.github.io/curriculum-feed/carpentries_lessons.json

[2018-09-09 15:32] pbanaszkiewicz commented on #1228
Thanks @fmichonneau, this clears things up for me. Unfortunately, I don't see curriculum/lessons in `<meta>` tags in [workshop template](https://raw.githubusercontent.com/carpentries/workshop-template/gh-pages/index.md). Without this tag, entering this additional information is admin's responsibility.

[2018-09-09 17:40] pbanaszkiewicz commented on #1315
Closing since this was fixed.

[2018-09-09 17:40] #1315 closed

[2018-09-09 20:59] fmichonneau commented on #1228
I see. I'll add this info to the meta tags and report back here. Thanks.

[2018-09-12 19:57] pbanaszkiewicz opened #1341 "Revision history of objects - display list of changes"
This was requested as part of #1340 review. Currently we use django-reversion, but don't display list of available revisions per object.

[2018-09-12 19:58] pbanaszkiewicz opened #1342 "Add commenting system"
Probably there exists an easy, already built system. Something similar to GitHub comments would be excellent.

[2018-09-13 10:12] rgaiacs opened #1343 "Include The Carpentries logo to instructor training form"
https://amy.software-carpentry.org/forms/request_training/ needs The Carpentries logo.

[2018-09-13 17:20] maneesha opened #1344 "New unified workshop request form"
We currently have several workshop request or submission forms.  These should all be replaced by  a new form, described here:

https://docs.google.com/document/d/1Nse2bcIfHEmvvARE0DnBADWIWrxyJ_uB3xK8d7CjkQ8/edit

From there links on the SWC, DC, and LC websites should be deprecated.  Links should redirect to this new form.

@pbanaszkiewicz  I know we have big changes in the memberships and trainin

[2018-09-16 08:54] #1055 closed

[2018-09-16 10:59] pbanaszkiewicz commented on #1327
@ErinBecker: a new question:

Is it +1 when applicant is in economics, or social sciences, or arts/humanities, or library science? Or is it +1 for being in each domain, so up to +4?

[2018-09-17 07:36] sheraaron opened #1345 "Adding Checkout steps before adding Training to a persons profile"
@ErinBecker @maneesha @pbanaszkiewicz

I am not sure if this is intentional however, as part of my workflow, not being able to add "discussion, hw, demo" prior to adding training is not ideal for my workflow.

There are several persons who submit their lesson contribution while in their training and I like to add those once they come to the checkout@. This happens BEFORE the instructors have sent

[2018-09-17 07:42] sheraaron commented on #1345
@pbanaszkiewicz @ErinBecker @maneesha Soooo we can disregard my last message :) The person needs to be "matched to a training" not have "training" already. Glad I could figure it out :)

Sher!

[2018-09-17 07:42] #1345 closed

[2018-09-17 18:50] ErinBecker commented on #1055
👍 🎉

[2018-09-18 14:42] maneesha opened #1346 "Merge workshop request with existing event"
Sometimes someone will submit a workshop request after we've already recorded the event because they notified us through another channel.  We should be able to merge that request into the existing event.

This may need to be resolved after the new workshop request form (#1344) is implemented.

(This may be duplicating an existing issue; I can't find that now)

[2018-09-18 17:30] maneesha opened #1347 "Email notifications not coming through"
Notifications when there are new workshop requests submitted are supposed to come to the admin-all@lists.software-carpentry.org  or admin-all@carpentries.org lists.  These notifications have not been coming through.

[2018-09-18 17:48] ErinBecker commented on #1327
@pbanaszkiewicz

Does the `Discarded` status remove the data from AMY? If not, then it will work for our purposes and we can leave these statuses as currently implemented.

For the second question, it is a maximum of +1 for being in one of those fields. They are not additive.

[2018-09-18 18:01] karenword commented on #1327
I've been using `discarded` status for duplicate applications. While it doesn't seem to lose the information, it also doesn't clearly identify those applications as having been rejected. This may not be crucial information to retain, but worth considering.

[2018-09-18 18:28] pbanaszkiewicz commented on #1346
There's been multiple requests for this functionality (#800, #1179). I closed them as a result of #1329, here's the explanation: https://github.com/swcarpentry/amy/issues/1179#issuecomment-417752985

@maneesha if you feel this is not enough, please reopen this issue.

[2018-09-18 18:28] #1346 closed

[2018-09-18 18:34] pbanaszkiewicz commented on #1347
AMY currently only sends to `admin-all@carpentries.org`, but there's been some reports about the notifications not working. I sent out a testing message, and received it correctly at my private email. @maneesha please let me know if you got it on admin-all.

[2018-09-18 18:51] pbanaszkiewicz commented on #1327
@ErinBecker I can confirm what @karenword is saying about information loss.

As for `score_manual`, here's a list of what can and what cannot be computed automatically:

Criteria | Can be automated
----------|-------------------------
Award +1 for being outside Europe/UK/US/Canada/Australia/New Zealand | Only after migration from `django-countries` to `django-countries-plus`, which extends our cou

[2018-09-18 20:19] ErinBecker commented on #1327
Criteria | Can be automated
----------|-------------------------
Award +1 for being outside Europe/UK/US/Canada/Australia/New Zealand | Only after migration from `django-countries` to `django-countries-plus`, which extends our countries information with continent data (and more)

Will this be in the upcoming release? Or is it something that is a longer-term migration? If it isn't included in the u

[2018-09-18 20:30] pbanaszkiewicz commented on #1327
@ErinBecker I have one blocker before I start working on the migration from `django-countries` to `django-countries-plus` (I also need to evaluate if we want to migrate, because the latter seems to be less popular and less maintained). If you want to change to countries based evaluation (instead of "EU/UK/US/Can/Aus/NZ"), it's definitely easier to do (no migration; simpler logic); additionally I d

[2018-09-18 20:32] ErinBecker commented on #1327
- yes, let's move to country based evaluation using the list in my previous comment

- anytime the box is checked we will do +1. It doesn't need to be "OR-ed". The way the rubric is stated, it seems like it should be "OR-ed", but that's not how we've been scoring. I'll add to our (long) to-do list to update the rubric language. 😄

[2018-09-19 01:01] maneesha commented on #1347
@pbanaszkiewicz   No notifications have come through  to admin-all@carpentries.org  since 2018-08-29

[2018-09-19 15:07] pbanaszkiewicz commented on #1347
@jduckles can you check Mailgun settings?

[2018-09-19 20:19] jduckles commented on #1347
No problems on the Mailgun side:
![image](https://user-images.githubusercontent.com/119403/45778899-df81f400-bcad-11e8-84f6-f40eddb64bdd.png)

[2018-09-19 21:03] maneesha commented on #1347
I just tried submitting a test request on https://amy.software-carpentry.org/forms/swc/request/ and https://amy.software-carpentry.org/forms/dc/request/
but when I hit submit, the page (with the form still filled out) just reloads.  Should I create another issue for this @pbanaszkiewicz ?

[2018-09-20 03:59] pbanaszkiewicz commented on #1347
Hello Maneesha,

Yes please add an issue for that. Can you provide me with data you used for that test request? Maybe there was some error on the form.

Dnia 19 września 2018 23:03:58 CEST, maneesha sane <notifications@github.com> napisał(a):

--
Z poważaniem / With regards,
Piotr Banaszkiewicz

[2018-09-20 10:43] maneesha opened #1348 "Workshop request form does not go through"
When filling out a workshop request form at https://amy.software-carpentry.org/forms/swc/request/ or https://amy.software-carpentry.org/forms/dc/request/  upon hitting submit the page just refreshes with the input data still filled in. The form does not appear to submit and does not appear in the [list of requests](https://amy.software-carpentry.org/workshops/requests/).

See also #1347

[2018-09-20 10:43] maneesha commented on #1347
Will do.  I just filled in each line of the form with something like "Fake request, ignore"
I did not get an error message; the form just refreshed with the data still filled in.  Someone else reported this happening to them last week -- and when I tried it then, it looked OK so we thought it may have been user error.  However now I'm having the same issue.

[2018-09-20 13:35] maneesha commented on #1348
I just tested this again and it went through.  Someone else reported this happening to them last week -- and when I tried it then, it looked OK so we thought it may have been user error. Not sure why this is happening inconsistently.

[2018-09-20 13:46] maneesha commented on #1347
As noted in #1348 the form is going through.  However there are no new notifications coming through admin-all@carpentries.org

[2018-09-20 15:59] pbanaszkiewicz commented on #1327
@ErinBecker do you think [this](https://github.com/swcarpentry/amy/issues/1327#issuecomment-422539917) list of countries is complete? I didn't find Switzerland, Norway or Iceland - while not in EU, these are still rich european countries.

[2018-09-20 18:28] ErinBecker commented on #1327
@pbanaszkiewicz - you're right. I was using EU membership as a proxy, but we are actually trying to filter out rich countries for this point in the scoring rubric. I will post a new list shortly.

[2018-09-20 18:47] ErinBecker commented on #1327
Please add to above list:
- Switzerland
- Norway
- Iceland

Remove from the list:
- Bulgaria
- Croatia

The data I am using for this list now comes from World Bank's list of countries by GDP per capita (https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)_per_capita) with the cutoff set after Latvia (number 48 in the list).

I am not including countries in Latin America, Brazil, Africa, or

[2018-09-20 18:49] pbanaszkiewicz commented on #1327
Thanks @ErinBecker. Updating the code right now.

[2018-09-24 14:28] pbanaszkiewicz commented on #1294
Hello @anenadic. `country` field was populated from person's airport.

We can expose `country` in API, can you please add an issue for that?

[2018-09-24 14:29] pbanaszkiewicz commented on #1151
@anenadic please add an issue regarding 500 server error - it's not meant to behave this way. Please note what parameters you tried. Thanks!

[2018-09-24 14:45] anenadic commented on #1294
Brilliant, thank you @pbanaszkiewicz. Will add a separate issue!

[2018-09-24 14:47] anenadic opened #1349 "Expose Person country through the API"
Related to #1294 - country field has been added to Person data model and exposed in the UI. Could it be exposed in the API as well: https://amy.software-carpentry.org/api/v1/persons/ please?

[2018-09-24 14:50] anenadic opened #1350 "Filter workshops by country in the API"
We have this in the UI (#1151), could we have filtering by country via the API too in:
https://amy.software-carpentry.org/api/v1/events/ and https://amy.software-carpentry.org/api/v1/events/published/ ?

[2018-09-24 14:52] anenadic opened #1351 "500 Server Error when filtering on Events API"
https://amy.software-carpentry.org/api/v1/events/published/ API throws 500 Server error when using parameters to filter the call.

For example: https://amy.software-carpentry.org/api/v1/events/?completed=&tag=SWC&start=&start_before=&start_after=&end=&end_before=&end_after=&order_by=start

I tried with several parameter combinations and all threw 500 Server error.

[2018-09-24 15:03] maneesha opened #1352 "New Workshop Tags"
As our curriculum offerings expand we'd like to add the following new tags to AMY:

ITT = Instructor Trainer Training (Trainer Training)
LMO = Lesson Maintainer Onboarding
LSO = Lesson Specific Onboarding

This is not urgent enough for the current release; it can be included in the next release.

[2018-09-24 17:50] ErinBecker commented on #1327
As discussed at our meeting today (@karenword, @maneesha, @sheraaron, elizabethwilliams8), the changes that we would like to see to the demo @pbanaszkiewicz provided are:

1) Add an "Accept all selected" button to the Training Request page
2) Add filter for people who have not had manual score entered, possibly by setting manual score default to null. This will enable us to download those records

[2018-09-24 17:54] ErinBecker opened #1353 "bulk update of training request applicant scores"
Related to https://github.com/swcarpentry/amy/issues/1327

As we discussed at our meeting today (@pbanaszkiewicz, @elizabethwilliams8, @sheraaron, @maneesha, @karenword), it will be very useful to be able to bulk update the manual scores and notes field for training requests. This would work by uploading a single csv file that has three fields:
1) a request ID (I'm not sure what the name for that

[2018-09-24 19:54] ErinBecker commented on #1327
A follow-up question for @pbanaszkiewicz -

When filtering training requests by Matching, there are the following options:

- unmatched
- matched trainee, unmatched training

In our new workflow that we've been discussing, we want to be able to filter for all training requests that are "Accepted" but "Unmatched". I'm not sure which of the two options above we should be using (or if either of those

[2018-09-25 11:00] maneesha commented on #1197
Reopening as this only works with the trailing slash.
https://amy.software-carpentry.org/ will redirect but https://amy.software-carpentry.org will not.
We can't expect that users will type in the trailing slash.

[2018-09-25 20:07] pbanaszkiewicz commented on #1327
Hello @ErinBecker:

In this case, in the filter you should select "State" = "Accepted" and "Is Matched?" = "Unmatched".

In general, requests can be either "Pending", "Discarded" or "Accepted". This you can filter in the "State" field. Training requests, in particular, can be matched with a trainee user account and a training event, and this you can filter with "Is Matched?" field.

Hope this help

[2018-09-26 18:42] pbanaszkiewicz commented on #1327
@ErinBecker I just realized I should clarify one more thing: what is the difference between "Is Matched?": "Unmatched" and "Matched trainee, unmatched training".

Each valid and accepted request has to be connected to existing person account (first), and TTT event (later). The filter "Is Matched?" allows to select all requests that:
1. have no connection to person account nor TTT event (**Unmatche

[2018-09-27 14:40] maneesha commented on #1347
@pbanaszkiewicz  Any update on this?

[2018-09-27 18:03] fmichonneau commented on #1228
@pbanaszkiewicz after discussion, we decided that we would obtain more reliable data if this was entered by the workshop administrators. Current curriculum tags should be:

- swc-python
- swc-r
- swc-es-python
- swc-es-r
- swc-other
- dc-ecology-r
- dc-ecology-python
- dc-genomics
- dc-geopsatial
- dc-socsci-r
- dc-socsci-python
- dc-other
- lc

it would be nice if there was some validation (e.g.,

[2018-09-27 21:15] #1327 closed

[2018-09-27 22:54] ErinBecker commented on #1327
🎉 😀

[2018-10-01 18:20] pbanaszkiewicz commented on #1348
Recently @ErinBecker reported that one of AMY users got this error message right after submitting this form:

This should not happen and I will investigate. @maneesha can you remember seeing something similar?

[2018-10-01 18:37] maneesha commented on #1348
I have not seen the CSRF error.  I have seen it simply reload the form (with all the fields still filled in) rather than going to a confirmation page.

[2018-10-02 21:26] ErinBecker opened #1355 "associated member site should only appear for ttt events"
Related to https://github.com/swcarpentry/amy/issues/1055

1) When adding tasks to a person’s record, the option to associate with a membership appears independently of whether it is a ttt event or not. Should only show up if the event is tagged as ttt.

![screen shot 2018-10-02 at 2 23 28 pm](https://user-images.githubusercontent.com/19176319/46377866-c8001f00-c64e-11e8-9c47-1213b8ab155c.png)

In

[2018-10-02 21:27] ErinBecker commented on #1355
@karenword

[2018-10-02 21:30] ErinBecker opened #1356 "open training should be an option for assigning training requests to ttt events"
Related to https://github.com/swcarpentry/amy/issues/1055

When matching training requests to a ttt event from the training request page, there is no check box to mark them as open training applicants.

![screen shot 2018-10-02 at 2 28 07 pm](https://user-images.githubusercontent.com/19176319/46378088-67251680-c64f-11e8-93fe-19dbbff5b4c3.png)

This functionality **does** negatively affect usabilit

[2018-10-03 04:19] sheraaron opened #1357 "Centrally Organized Workshop Warning"
@pbanaszkiewicz can we get a warning notice when a Membership site has gone over their allotted number of centrally organized workshops. Centrally organized workshops are when we select the host as "Administrator"?  So, if the host is selected more times than they have in their contract, a warning sign would be nice just for reference.

@elizabethwilliams8 Please feel free to further explain if I

[2018-10-03 07:52] marwahaha commented on #1298
@steltenpower - where is this listed?

[2018-10-03 13:23] maneesha opened #1359 "list of languages should be alphabetized"
In a Person's profile, they can select the languages they speak.  The list seems to be in random order; this should be alphabetized.

[2018-10-03 19:42] karenword opened #1360 "Error on github user-ID"
When updating a training record to "accepted", the profile failed to update because it indicated that the github user idea that the applicant had entered was invalid. However, I checked and this is their correct username.
![image](https://user-images.githubusercontent.com/22605448/46434830-a152ee80-c709-11e8-86b7-9e953897a9f8.png)

[2018-10-03 19:59] maneesha commented on #1360
That doesn't look like a valid GitHub user name.  I believe usernames can only have alphanumeric or hyphen characters.

[2018-10-06 14:12] pbanaszkiewicz commented on #1298
Languages were included in AMY through a script. See https://github.com/swcarpentry/amy/blob/develop/data/registry.json for language source, and migrations https://github.com/swcarpentry/amy/blob/develop/workshops/migrations/0097_auto_20160519_0739.py and https://github.com/swcarpentry/amy/blob/develop/workshops/migrations/0139_fix_language_names.py for a way to parse & load the data into DB.

The

[2018-10-06 14:36] pbanaszkiewicz commented on #1357
@sheraaron @elizabethwilliams8 where do you want me to put this sign? After a new event is created and/or existing event is edited?

[2018-10-06 14:44] pbanaszkiewicz commented on #1228
@fmichonneau:

I can add an entry in Django's Admin interface allowing admins to add/edit curriculum tags whenever necessary. Additionally we can have "active" field for the tags, which, when set to False, would not allow to apply this tag to any workshop. This way we'd preserve "old" tags and still be able to work easily with newer tags.

[2018-10-06 14:56] pbanaszkiewicz commented on #1197
@maneesha I can't reproduce. I did some tests and I can see that `https://amy.software-carpentry.org` is too being redirected to `https://amy.software-carpentry.org/workshops/`.

Are you sure the bug is still present? Maybe it was a different domain or different protocol?

[2018-10-06 15:45] maneesha commented on #1197
Looking into this more yes, it is my local settings :-(
Closing.

[2018-10-06 15:45] #1197 closed

[2018-10-06 16:14] pbanaszkiewicz commented on #1355
@ErinBecker there's small issue with hiding these fields: their values should be either kept (1), or saved somewhere and retrieved when user selects a TTT event - the field values would be blank until then (2).

Now here's an interesting situation: user first selects membership and/or ticks-off "Open training seat"; then changes event so that we hide both fields (scenario 1). What happens when the

[2018-10-06 16:30] pbanaszkiewicz commented on #1347
@maneesha I added my personal email to the list of request notification recipients and submitted profile update request. I received the notification email shortly. Similarly, I submitted SWC workshop request and shortly afterwards I received notification email.

Can anyone check if those emails went through to admin-all@carpentries.org?

[2018-10-06 16:34] pbanaszkiewicz commented on #1348
I'm still unable to reproduce this error. Maybe once I start receiving AMY server error messages, I will be able to look more into this issue.

[2018-10-06 17:59] pbanaszkiewicz commented on #1351
@anenadic you're linking two different API endpoints:
1. Published events (doesn't support much filtering) https://amy.software-carpentry.org/api/v1/events/published/
2. Just events (supports filtering through Filter button) https://amy.software-carpentry.org/api/v1/events/

The bug corresponds only to the latter link, as for the former endpoint filtering capabilities are much lower (to see filter

[2018-10-06 19:05] pbanaszkiewicz commented on #1351
@anenadic one little change, after #1364 is merged, published events API endpoint will gain the same filtering as "normal" events endpoint.

[2018-10-06 19:12] pbanaszkiewicz commented on #1357
@sheraaron @elizabethwilliams8 the field you mentioned, `Administrator`, is for organization administering the workshop; for example, most workshops in UK would be administered by SSI.

`Host` is for organization hosting (organizing) the workshop.

But, here's an issue. There's no unambiguous link between workshop and membership. The `Host` field isn't enough, because there can be multiple Members

[2018-10-06 19:15] pbanaszkiewicz commented on #1352
@maneesha tags are treated very specifically in AMY (in a lot of places). LMO/LSO look benign, but what is the function of ITT? Is it really close to TTT?

[2018-10-06 19:32] pbanaszkiewicz opened #1365 "Readme is outdated"
1. it could mention "Python 3" near Django in second paragraph, or even better - it could include [some badges](https://shields.io/#/examples/platform-support)
2. code of conduct link is broken
3. if we mention Python 3 compatibility, then it's not necessary to put `python3` instead of `python` in the Getting Started point 2 and 5, and Upgrading point 4
4. Getting Started point 3: we're not using

[2018-10-06 19:34] #1359 closed

[2018-10-06 19:35] #1356 closed

[2018-10-06 19:35] #1351 closed

[2018-10-06 19:37] pbanaszkiewicz commented on #1349
Closing via #1364.

[2018-10-06 19:37] #1349 closed

[2018-10-06 19:38] pbanaszkiewicz commented on #1350
Closing via #1364.

[2018-10-06 19:38] #1350 closed

[2018-10-06 20:00] marwahaha commented on #1365
6 is no longer relevant, since #1358 is merged.

[2018-10-06 20:04] pbanaszkiewicz commented on #1365
@marwahaha actually it is still relevant, because Django by default uses `127.0.0.1` (https://github.com/django/django/blob/master/django/core/management/commands/runserver.py#L30).

[2018-10-07 16:53] maneesha commented on #1352
We have two programs - one where we train our instructors (that we have been tagging TTT).
A newer program is where we train our Instructor Trainers, which we would like to tag TTT.

So the three tags noted above should be in addition to all the existing tags.

[2018-10-07 19:27] pbanaszkiewicz opened #1367 "Change server error emails recipients"
Currently [configuration](https://github.com/swcarpentry/amy/blob/develop/amy/settings.py#L63) still uses `lists.software-carpentry.org` ML. We should switch to `carpentries.org`.

[2018-10-07 19:41] jduckles commented on #1347
They're making it to our @carpentries.org Google Apps service, @maneesha I'd look at the admin-all@carpentries.org group settings to see if something isn't right there.

![image](https://user-images.githubusercontent.com/119403/46586087-d2e70380-cad5-11e8-9b0c-48a2407cf2db.png)

[2018-10-07 19:42] jduckles commented on #1347
@pbanaszkiewicz Is that sender something configured in AMY, it might be the problem. I think emails will bounce unless the sender is postmaster@mg.carpentries.org.

[2018-10-07 19:52] pbanaszkiewicz commented on #1347
@jduckles we're sending as `no-reply@carpentries.org` (see #1250). It's set up for both [`SERVER_EMAIL`](https://docs.djangoproject.com/en/2.1/ref/settings/#server-email) and [`DEFAULT_FROM_EMAIL`](https://docs.djangoproject.com/en/2.1/ref/settings/#default-from-email).

[2018-10-07 20:10] jduckles commented on #1347
Ok, it most likely is a problem where mailgun can't DKIM sign any emails from an @carpentries.org. Since we enforce DKIM and SPF,  on @carpentries.org (Google hosted) I think this may be the cause of bounces. Can you please reconfigure the sender to no-reply@**mg.carpentries.org** (note the subdomain).

[2018-10-08 10:44] maneesha commented on #1347
Just got one real request in, and put a test one in which also went through.  Looks like things are working now.

[2018-10-08 10:46] maneesha opened #1368 "Email notifications to specific addresses based on country"
For our workshop request form, can we have it set up to conditionally email a different address (or list of addresses) based on country?  Currently emails go to the admin-all list which means people get emails that are not relevant to them.

[2018-10-08 10:54] maneesha commented on #1344
@pbanaszkiewicz   I have added a set of questions about the travel reimbursements - just wanted to make sure you saw this as you work on this.

[2018-10-08 15:15] pbanaszkiewicz commented on #1368
Yes, we can do that.

[2018-10-08 15:53] sheraaron commented on #1357
@pbanaszkiewicz  you are right. let's table this and @elizabethwilliams8 and I can discuss later. Thanks!

[2018-10-08 16:37] fmichonneau commented on #1228
That sounds perfect. Thanks @pbanaszkiewicz!

[2018-10-08 18:18] pbanaszkiewicz commented on #1342
https://djangopackages.org/grids/g/commenting/

[2018-10-08 18:19] pbanaszkiewicz commented on #1357
@sheraaron thanks, closing for now, please reopen when you find necessary.

[2018-10-08 18:19] #1357 closed

[2018-10-08 18:46] ErinBecker commented on #1356
👍 🎉

[2018-10-08 22:20] ErinBecker commented on #1355
Thanks for the clear response @pbanaszkiewicz. I had forgotten that you showed at our meeting that it would throw an error if you tried to associate membership with a non-TTT event. We can leave the current mechanism as is. Sorry for the confusion. @karenword @maneesha @sheraaron

[2018-10-09 14:16] sheraaron opened #1369 "Add Submit Button to top of Screen"
@pbanaszkiewicz  could we add the Submit button to both the top and the bottom of the screen? This would help when I am adding information to the top of a profile instead of having to scroll all the way to the bottom being able to submit without scrolling.

Thanks!

[2018-10-09 15:32] maneesha opened #1370 "Profile update requests do not need notifications"
We do not need email notifications at all for profile updates.
@pbanaszkiewicz  is there any way to turn this off immediately? (we never got them before, so it must have been in a recent update that this was turned on.)

[2018-10-09 18:58] pbanaszkiewicz commented on #1370
Hotfixing now. I'll provide a PR later.

[2018-10-09 19:34] jduckles commented on #1347
It was the fact that `noreply@carpentrries.org` was the list subscriber, not `no-reply@carpentries.org` 🤦‍♂️.

[2018-10-09 20:28] karenword commented on #1369
+1!

[2018-10-10 00:18] #1347 closed

[2018-10-10 13:03] maneesha opened #1371 "Move profile update to login instructions"
This form should be deprecated: https://amy.software-carpentry.org/forms/update_profile/
The page should redirect to http://static.carpentries.org/instructors/
which includes a list to all our current instructors and instructions on how to update one's own profile.

[2018-10-10 14:38] pbanaszkiewicz commented on #1368
@maneesha:

It makes this issue interesting ;-) I can add an admin interface for notification filtering (say, something similar but less extensive than [Thunderbird message filtering](https://support.mozilla.org/en-US/kb/organize-your-messages-using-filters)).

Matching by "Africa" would probably require [migration](https://github.com/swcarpentry/amy/issues/1327#issuecomment-422542068) to [`django

[2018-10-10 14:42] pbanaszkiewicz commented on #865
Closing in favor of #1371.

[2018-10-10 14:42] #865 closed

[2018-10-10 14:42] pbanaszkiewicz commented on #1049
Closing as no longer needed.

[2018-10-10 14:42] #1049 closed

[2018-10-10 14:45] pbanaszkiewicz commented on #1369
@sheraaron @karenword this is quite straightforward change, but I need to know which pages would you like to have the top+bottom buttons?

[2018-10-10 14:46] pbanaszkiewicz commented on #1355
Thanks @ErinBecker. Please reopen this issue if you find it necessary.

[2018-10-10 14:46] #1355 closed

[2018-10-10 14:47] maneesha commented on #1368
What other forms do we have?
* New unified request form - yes, email by country
* Training applications - no notifications

I don't believe we have any other actively used forms.

Can we keep matching by Africa to include all countries in [this list](https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_in_Africa)?

For now I thought we could do something like
[code]

If

[2018-10-10 15:35] maneesha commented on #1368
The new unified form should take the place of these forms.

I will leave this up to you - whatever would be easiest :-).

[2018-10-11 17:01] #1371 closed

[2018-10-11 18:39] karenword commented on #1369
In my experience the training request page is the main problem. Manually changing a status at the top (e.g. accept), then clicking ‘submit’ at the bottom involves a lot of scrolling!

[2018-10-11 19:20] karenword commented on #1353
I’m not sure if this helps I will be creating two CSV files for reviewers. These will contain:

File 1: request ID, all columns to be manually scored, manual score, and manual scoring notes. While I will need to do some processing to average reviewer scores and merge comments, It would be great to be able to upload this file directly back to AMY without re-formatting, and even better to be able to

[2018-10-12 01:44] ErinBecker commented on #1353
Thanks for the question @pbanaszkiewicz. When we export the CSV for doing application review, we will only have the reviewers looking at specific questions. As Karen mentioned, it would be nice (but not essential) to be able to download a CSV file that has only the questions that will be manually scored, and only the requests that have the GroupID field filled out with a particular range of option

[2018-10-12 16:04] pbanaszkiewicz commented on #1353
Hello @karenword and @ErinBecker - thank you both for input.

I can understand that you want to upload a manual-scores file with minimum changes, preferably downloaded directly from AMY (and probably filtered in R later on).  What I can do is to look for `request_id`, `score_manual` and `score_notes` columns in CSV and ignore all others.

Now I need to know if you:
1. want to keep current CSV down

[2018-10-12 16:08] karenword commented on #1353
For now it sounds like the most straightforward thing would be to add these columns (Option 2), and be able to upload a more minimal version that only contains the three new columns.

[2018-10-12 16:22] ErinBecker commented on #1353
@pbanaszkiewicz - I think we actually want option 3 (and I will confirm with @karenword to be sure this will work with her workflow).

The easiest thing for our end (Karen and me) would be to be able to download a CSV that includes ONLY the columns that are needed for manual scoring (I will add a list of these shortly to this thread) and the name and institution.

@karenword and I will use an R sc

[2018-10-12 16:37] ErinBecker commented on #1353
These are the columns we need included in the CSV:

- Group Name
- Personal
- Middle
- Family
- Underrepresented   (reason)
- Affiliation
- Non-profit teaching   experience
- Previous Training   (other)
- Previous Training   (explanation)
- Previous Experience   (other)
- Previous Experience (explanation)
- Teaching Frequency   Expectation (other)
- Max Travelling   Frequency (other)
- Reason for

[2018-10-12 17:02] karenword commented on #1353
I am down with the less-straightforward-but-more-valuable Option 3! Are categories like `Previous Experience (explanation)` going to be interpretable without the associated answers or points already automatically assigned in these areas?

[2018-10-16 23:29] karenword opened #1375 "Training Request list selection not preserved between operations"
A couple of observations on features/bugs of the select boxes on the Training Requests list pages:

1. Selected boxes are not preserved between list screens. This means that no more than the number of displayed records may be selected for a bulk action at one time (unless an entire filtered set is desired in which case box selection is unnecessary). This is ok, but at least for my workflow it woul

[2018-10-17 13:05] sheraaron commented on #1369
@pbanaszkiewicz also adding "submit" on the adding organizations, adding persons, accept and create event, workshop request form (event and task).

Thanks!

[2018-10-17 19:36] pbanaszkiewicz commented on #1375
Hello @karenword,

The issue 2. was fixed as part of #1374.

The issue 1. is quite hard for me to implement for now, but it was raised a few times before. I have some general ideas, but for v2.2 it cannot happen. I'll keep the issue concentrated on this matter, though.

[2018-10-17 21:04] maneesha opened #1377 "Instructor badges don't display"
On the workshop page, when all affiliated people are listed, badged people are supposed to display the badge next to their name.  This does not show up.

[2018-10-17 21:12] maneesha opened #1378 "Warning if training date is outside membership dates"
When I associate a person at instructor training with a membership I would like to see a warning if the training date falls outside of the membership dates.  This should raise a flag but not prevent the person from being assigned like this.

[2018-10-18 15:14] maneesha opened #1379 "Active member sites not showing up in report"
When I go here:   https://amy.software-carpentry.org/workshops/reports/membership_trainings_stats/
and type "stanford" for organization name, I see this page with memberships listed for the past years:  https://amy.software-carpentry.org/workshops/reports/membership_trainings_stats/?organization_name=stanford&order_by=

However when I check "Only show active memberships" no memberships show up eve

[2018-10-18 16:11] #1379 closed

[2018-10-18 16:59] #1377 closed

[2018-10-18 17:00] pbanaszkiewicz commented on #1353
Closed via #1374.

[2018-10-18 17:00] #1353 closed

[2018-10-18 18:39] #1365 closed

[2018-10-21 18:50] #1369 closed

[2018-10-22 16:13] pbanaszkiewicz commented on #1228
@fmichonneau can you please provide me with human-readable names for these curricula? It turns out we're going to use them in one other place, but it requires showing them to the user, so friendlier language is preferred. I matched some, but not all:

slug | name
------|--------
`swc-python` | Software Carpentry (shell, git, Python)
`swc-r` | Software Carpentry (shell, git, R)
`dc-ecology-python`

[2018-10-23 17:46] ErinBecker opened #1383 "Bulk email and approval of training requests"
Continuation of https://github.com/swcarpentry/amy/issues/1327

Issue https://github.com/swcarpentry/amy/issues/1327 implemented new features for tracking training request scores and made it possible to perform some actions with requests based on those scores.

While @karenword and I were testing this new workflow, we noticed a couple of issues that we hadn't realized would be problematic for impl

[2018-10-24 17:16] pbanaszkiewicz commented on #1383
@ErinBecker:
1. when do you need this?
2. is seeing two additional columns going to fix your problem of telling open training applicants from membership applicants?
3. regarding point 3 above, when a training request is matched to the person, the person's data is overwritten with request's data (this includes email address). Do you want me to change "mail selected trainees" so that it pulls email

[2018-10-24 17:50] pbanaszkiewicz commented on #1383
@ErinBecker these are easy changes, and will make to the next release (end of October).

[2018-10-24 17:52] ErinBecker commented on #1383
That's fantastic news! Thanks @pbanaszkiewicz!! 🎉

@karenword for the good news.

[2018-10-26 15:45] sheraaron opened #1384 "Badges not showing in the Training profile"
Some of the persons who attended this training have been badged, however, none of the badges are showing. I have to click on each learner to see the badge.

![image](https://user-images.githubusercontent.com/31488403/47577125-2057d300-d914-11e8-8dd8-32f8b5f340f7.png)

[2018-10-26 15:49] maneesha commented on #1384
Closing - duplicate of https://github.com/swcarpentry/amy/issues/1377, being fixed with https://github.com/swcarpentry/amy/pull/1381

[2018-10-26 15:49] #1384 closed

[2018-10-28 17:03] #1383 closed

[2018-10-28 17:10] #1173 closed

[2018-10-28 17:10] #1228 closed

[2018-10-28 17:10] #1343 closed

[2018-10-28 17:10] #1344 closed

[2018-10-29 11:28] sheraaron opened #1388 "Merging an Event with an "Accepted" Workshop Request"
@pbanaszkiewicz I just created an event from a URL without accepting the request first. I was trying to go in and match the request to the created event. Once I accepted it (without creating an event) I still couldn't just merge the two. Can we make this an option?

[2018-10-29 11:30] sheraaron commented on #1388
Whoops I figured it out! I'm closing now. Always good when I can solve my own problems!!!!

[2018-10-29 11:30] #1388 closed

[2018-10-29 19:33] maneesha opened #1389 "Include training seats in Member view"
At the bottom of an Organization's page, if the organization is a member, it shows details about their membership including number of centrally coordinated and self organized workshops.  This view should also show number of training seats available/used.

[2018-10-31 21:07] pbanaszkiewicz commented on #1368
@maneesha I'm running a little behind the schedule on this one. Is it okay for you if I continued the work on it tomorrow and shipped the v2.2 on Friday?

[2018-10-31 21:11] maneesha commented on #1368
No problem!

[2018-11-01 20:16] #1368 closed

[2018-11-01 20:16] #1367 closed

[2018-11-01 20:20] pbanaszkiewicz commented on #1348
Closing this for now, as we're switching to a different form. We'll revisit if someone has issues with the new form.

[2018-11-01 20:20] #1348 closed

[2018-11-01 20:20] #1389 closed

[2018-11-02 13:53] fmichonneau commented on #1228
Coming back from leave, @pbanaszkiewicz do you still need this info?

[2018-11-02 16:18] pbanaszkiewicz commented on #1228
@fmichonneau no, I used your list and one provided by @maneesha elsewhere and combined them together. Go to https://amy.software-carpentry.org/workshops/events/add/ and see "Curricula taught at the workshop" field for the results!

[2018-11-02 19:27] pbanaszkiewicz opened #1392 "Migrate to a newer server"
We should migrate to the newest Long-term-support Ubuntu server, possibly with PostgreSQL database (#716) and proper database backup system.

[2018-11-02 19:30] pbanaszkiewicz commented on #917
I'd like to consider using a software-automation tool like [Ansible](https://www.ansible.com/) for easy software deployment.

[2018-11-02 19:32] pbanaszkiewicz commented on #1160
@maneesha do you want to automatically send confirmation emails to people who submit workshop request form?

[2018-11-05 19:56] maneesha opened #1394 "Bulk add persons error"
Bulk add persons is throwing a Server Error (500).

On the preview screen it looks fine but it returns an error when you click "Verify" or "Confirm and Save"

[2018-11-05 21:42] fmichonneau commented on #1228
Great, thank you!

[2018-11-06 19:04] pbanaszkiewicz commented on #1394
@maneesha with a very short check I was unable to verify this error on current development code. Can you please send me an email with the file you're using for this bulk upload?

[2018-11-08 11:08] anenadic opened #1395 "Persons API bug - duplicate entries returned"
Think I discovered a possible bug in persons API - possibly other parts of the API are affected. Certain number of duplicated entries are returned, e.g. when searching for UK instructors at page 2 of results there are two entries for "m.wallis@leeds.ac.uk", on page 3 there are 2 entries for "m.croucher@sheffield.ac.uk", and so on.

See for example page 2 of results:
https://amy.software-carpentry.

[2018-11-11 14:39] pbanaszkiewicz commented on #1395
Thanks @anenadic for reporting this issue. Similar erratic behaviour may be found in other places, but it's not the same bug. Please report if you spot something like this again. Thanks a lot!

[2018-11-11 14:41] #1395 closed

[2018-11-12 13:50] anenadic commented on #1395
No problem and thank you for fixing it.

[2018-11-12 16:02] #1378 closed

[2018-11-12 17:40] #1331 closed

[2018-11-12 19:21] #1352 closed

[2018-11-14 13:51] dheles opened #1401 "Add library carpentry links to confirmation pages"
Library Carpentry should appear in the link list on the confirmation pages for the instructor training and workshop request forms.

[2018-11-14 19:24] pbanaszkiewicz commented on #1160
Closing since Event Requests, Event Submissions and DC Self-Organized Event Requests are deprecated, Workshop Requests don't require confirmation emails (@maneesha please reopen if you think otherwise) and Training Requests have a responder email.

[2018-11-14 19:24] #1160 closed

[2018-11-14 21:01] maneesha commented on #1394
@shapiromatron   Just sent you an email with the file.  I can't see anything immediately wrong with it.  Othe users have reported this issue as well.

[2018-11-14 21:11] pbanaszkiewicz commented on #1394
@maneesha thanks, I'll look into it tomorrow and see where the error is coming from.

[2018-11-14 21:26] maneesha opened #1403 "Remove NA option for workshop fee"
* "Not applicable" should not be an option.

![image](https://user-images.githubusercontent.com/829690/48513409-b4d59700-e829-11e8-89ff-d4c7f705b919.png)

[2018-11-14 21:27] maneesha opened #1404 "Workshop Request Confirmation page - option to request another"
In addition to the current information, the workshop confirmation page should include a link as follows:

[2018-11-14 21:29] maneesha opened #1405 "Reorder workshop request form domains section"
* "Don't know yet" should be the very last item

![image](https://user-images.githubusercontent.com/829690/48513632-48a76300-e82a-11e8-95e2-a3cff8bb3a1c.png)

[2018-11-14 21:40] maneesha opened #1406 "Workshop request form - help text on top"
For each section, the help text should be at the top of the list of options.

For example, in this section, the text "If you know the academic level....." should appear above the list of options.

![image](https://user-images.githubusercontent.com/829690/48514015-5dd0c180-e82b-11e8-8c0c-84298de6a0af.png)

[2018-11-14 21:42] maneesha opened #1407 "Grouping of questions in workshop request form"
In the new workshop request form, there are some questions that belong together because they are asking about similar information or one question is dependent on another.  Is there a way to make this more apparent visually?  Even horizontal lines between sections may work.

[2018-11-14 21:44] maneesha opened #1408 "Hide fee/invoice from event view"
@elizabethwilliams8  is tracking all fees and invoices separately.  We do not need to track this in AMY.

[2018-11-15 01:56] shapiromatron commented on #1394
@maneesha did you mean me? I haven't been active in this project for quite some time...

[2018-11-15 02:04] raynamharris opened #1409 "add/revamp "Topic and lessons you're comfortable teaching""
A number of LC, DC and Spanish lessons are missing from the "Topic and lessons you're comfortable teaching" section of the instructor profile. For instance:

* Missing [LC lessons](https://librarycarpentry.org/) including: Data intro for librarians, Data intro for archivist, Unix Shell, OpenRefine, Webscraping, Python, SQL
* Currently a number of [Data Carpentry Lessons](https://datacarpentry.org/

[2018-11-15 17:32] pbanaszkiewicz commented on #1260
Superseded by #1409.

[2018-11-15 17:32] #1260 closed

[2018-11-15 17:43] pbanaszkiewicz commented on #1409
@raynamharris I'm open for suggestions on how this should look.

Maybe instead of "lessons" we should have "topics/technologies" (Python, R, OpenRefine, SQL, R-visualization, Shell, etc.), and additionally ask people for curricula they feel comfortable teaching (see screenshot below for list of curricula in AMY).
![screenshot from 2018-11-15 18-41-44](https://user-images.githubusercontent.com/7282

[2018-11-15 17:44] pbanaszkiewicz commented on #1408
@maneesha by "fee" do you mean "Admin fee" field?

[2018-11-15 17:45] maneesha commented on #1408
Yes - "Admin fee" and "Invoice" can be hidden from view.

[2018-11-15 17:45] pbanaszkiewicz commented on #1407
@maneesha can you point the questions you want separated / joined visually together?

[2018-11-15 17:46] pbanaszkiewicz commented on #1408
@maneesha do you want to hide "admin fee" from event add/edit form as well?

[2018-11-15 17:46] maneesha commented on #1401
Do not merge - this may not be the correct URL.

[2018-11-15 17:54] pbanaszkiewicz commented on #1406
By "section" do you mean each "question" (that's what on your screenshot), or a group of questions?

Do you want this change to only affect checkbox-style questions (like the one you posted), radio-style questions or all questions?

[2018-11-15 18:06] pbanaszkiewicz commented on #1403
My guess as to why "Not applicable" is doing here: admin fee question is specific only to "Centrally-organized" workshop type. There needs to be something selected in admin fee question, so in case user is requesting a "Self-organized" question they need to select "admin fee"; by default that selection was "Not applicable".

If I remove "Not applicable", I'll have to select another option as defau

[2018-11-15 18:21] pbanaszkiewicz commented on #1394
@maneesha the issue is that email address is required, but the "bulk upload" doesn't indicate it strong enough and doesn't correctly verify the incoming data.

For now you can circumvent the error by adding email addresses to your bulk upload data records.

[2018-11-15 18:38] maneesha commented on #1394
I didn't realize email address was required.  I don't remember it being this way.  We don't always have email addresses on our learners (it's not required for a Person) so we can't do that.  Putting in an issue to fix this.

[2018-11-15 18:39] maneesha commented on #1394
@shapiromatron  I have no idea how my typo managed to tag you!  Sorry about that!

[2018-11-15 18:41] maneesha opened #1410 "Email should not be required for Bulk Add Person"
See issue #1394
We should be able to add Persons using bulk upload only knowing Personal name, role, and event.
Email and Family name should not be required.

[2018-11-15 18:42] maneesha commented on #1403
Does an option need to be selected on form load?  We do require that the user select one option.

[2018-11-15 18:51] raynamharris commented on #1409
Thanks @pbanaszkiewicz! I like this a lot! My only concern is that instructors can no longer check that they are comfortable teaching, for instance, only shell but not git, r, or python. I like your suggested groupings, but it might be an issue for others. Perhaps @maneesha can weigh in on what would be most useful for helping find and place instructors in workshops.

(Also, I didn't realize I men

[2018-11-15 19:10] pbanaszkiewicz commented on #1394
@maneesha I was wrong, we have people in the database with empty email. I made a hotfix on the server, and I will prepare a solid fix for the `develop` branch (for the next release). Unfortunately the next release already contains too many changes to make a minor release with the hotfix in the meantime.

@maneesha can you please check if the issue is fixed on the server? I tested against the file

[2018-11-15 19:11] pbanaszkiewicz commented on #1410
Closing since I was wrong (see https://github.com/swcarpentry/amy/issues/1394#issuecomment-439155500): the email is not required for bulk upload.

[2018-11-15 19:11] #1410 closed

[2018-11-15 19:30] pbanaszkiewicz commented on #1403
I looked into "admin fee" field more and it turns out it can be left with no default selection. I'm working on a fix.

[2018-11-15 19:57] ErinBecker commented on #1409
Thanks for adding the issue @raynamharris! It's a great idea to update that list. In our current workflow, we don't use this part of the Instructor profile for anything, but we have talked about in the future being able to use it for Instructor teaching assignments (to make it easier to identify candidates to teach a workshop).

Since the Workshop Administration team would be the ones making use o

[2018-11-15 20:09] pbanaszkiewicz commented on #1408
@maneesha another question: memberships can also include number of admin-fee-free workshops allowed per membership (+ keep track of admin-fee free workshops), but if I remove admin-fee option from event add/edit form, this might become useless for you/Elizabeth. Should I change memberships or leave admin fee option as it is?

[2018-11-16 16:11] libcce commented on #1409
Our core curriculum should be listed which you can find here:
https://librarycarpentry.org/lessons/
The core lessons are:
Intro to Data
Unix Shell
OpenRefine
Git

[2018-11-18 13:08] #1408 closed

[2018-11-20 15:47] libcce commented on #1401
@maneesha that is the correct URL. Thanks @dheles for the PR and the reminder :)

[2018-11-22 19:35] #1401 closed

[2018-11-22 19:43] #1394 closed

[2018-11-26 14:58] peterjc opened #1415 "Country list for SurveyMonkey missing UK and Ireland"
I hope this is the appropriate place to log this issue - I couldn't find anything directly about the SurveyMonkey in the code but several issues talked about integrating it.

I noticed this when reviewing the results for https://starescomp.github.io/2018-11-27-standrews/ - but it applies to other (recent) workshops too, e.g. http://sbc.shef.ac.uk/2018-11-26-sheffield/ where I checked the "Pre-work

[2018-11-27 16:00] maneesha opened #1416 "Add country, workshop type to instructors_num_taught"
We have [this report](https://amy.software-carpentry.org/api/v1/reports/instructor_num_taught/) that shows how often each instructor has taught.  I'd like this to include the country and subtotals for the workshop type.   For example a row that currently looks like this:

[code]

should look like this:

[code]

[2018-11-30 12:24] maneesha opened #1417 "Add "LC instructor" as a badge"
Since Library Carpentry is officially a Carpentries lesson program, we would like to include it as a choice for instructor badge.

[2018-11-30 12:34] peterjc commented on #1415
Thanks - for future reference was there a better place to log this issue?

[2018-12-02 19:48] maneesha opened #1419 "Add options to Library Carpentry on workshop request form"
Right now the [workshop request form](https://amy.software-carpentry.org/forms/workshop/) has several options for SWC and DC but only one for LC.

The "Library Carpentry" option should be replaced with these two options:

* Library Carpentry (Intro to Data, Unix Shell, Git, and/or OpenRefine)
* Library Carpentry (other)

[2018-12-02 19:52] maneesha opened #1420 "Workshop request form - link to LC lessons page & "above" not "below""
This section of the form

should read as follows (fixing LC lessons link/text and changing "below" to "above")

Link to LC lessons page:  https://librarycarpentry.org/lessons/

[2018-12-05 16:59] kariljordan commented on #1415
@peterjc logging it here was a great idea. Thank you so much.

[2018-12-05 17:18] pbanaszkiewicz commented on #1419
This changes curricula, ie. also extends available curricula for admins to choose in Events.

[2018-12-05 17:21] maneesha commented on #1419
Yes, it should apply to the curricula as well.

[2018-12-06 14:04] maneesha opened #1421 "Badge selector on "Find workshop staff" should be "OR" not "AND""
When you go to [Find Workshop Staff](https://amy.software-carpentry.org/workshops/workshop_staff/) if neither badge (SWC nor DC) is selected the query returns unbadged people.

If both badges (SWC and DC) are selected the query returns people with both badges.  This should change so if both badges are selected this should return people with either badge.

Once Library Carpentry is included as a [b

[2018-12-07 21:47] maneesha commented on #1406
Here is what I am proposing.  @pbanaszkiewicz  Let me know if you have questions about all this.

##### Horizontal lines to group sections
There are a few horizontal lines I want to include to help break up and organize the sections.  Red color is for emphasis here; actual color should match the color scheme of the form.

##### Institutional affiliation section
* Remove the side text "Name of inst

[2018-12-07 21:47] maneesha commented on #1407
This is addressed in #1406

[2018-12-07 21:52] maneesha commented on #1409
Library Carpentry options are expanded in issue #1419.

As far as expanding this to allow instructors to choose lesson modules rather than entire curricula, I'll discuss this more with our workshop admin team and will follow up... likely not until January though!

[2018-12-08 08:41] pbanaszkiewicz commented on #1409
Hello everyone, thanks for your input. Issue #1419 mentioned by @Maneesha is going to be merged in this release. Please remember it only affects "Curricula" in AMY; this current issue, though, is about "Lesson" objects. They're only used to indicate what person feels comfortable teaching, and nowhere else.

[2018-12-08 22:50] pbanaszkiewicz commented on #1406
Hello @maneesha,

thanks for the screenshot, it's very convenient!

Below you'll find my questions.

---

Essentially you want to remove the checkbox and take it's label ("Is this workshop part of conference or larger event") and use it for text field label (so instead of "Conference details" text) + changes to help texts?

---

"Regardless of the fee due..." and "How will you manage travel expens

[2018-12-12 22:17] apaloczy opened #1422 "Add functionality to verify if learner has previously filled out Instructor Training Request Form"
I would like to suggest the addition of some way for a **learner who has just completed the Instructor Training Workshop to search the database and verify whether they have previously submitted Instructor Training Request Form.**

I believe I may have filled the form out a few months ago, but am unsure. I was told the easiest way to do that would be to send an email to checkout@carpentries.org, wh

[2018-12-13 17:41] pbanaszkiewicz commented on #1422
Did you receive a confirmation email after your first form submission?

[2018-12-13 18:22] #1403 closed, assigned to nobody

[2018-12-13 18:22] #1404 closed, assigned to nobody

[2018-12-13 23:57] apaloczy commented on #1422
No, did not find a confirmation email. I'll submit a new form to make sure.

[2018-12-14 22:19] pbanaszkiewicz commented on #1422
@apaloczy how did it go? Do you think email confirmation is sufficient solution?

In my opinion, it's quite easy to implement (it already is implemented) and shifts the burden from admins / checkout managers onto applicants.

I'm not sure why you didn't receive your confirmation. Maybe you hit a timerange when our mailing service wasn't working, or maybe it's still broken.

[2018-12-16 16:06] maneesha opened #1423 "Redirect links based on new AMY structure"
It looks like the latest re-organization of AMY caused some links to change.
This link: https://amy.software-carpentry.org/workshops/admin-dashboard/ no longer works.  Rather than returning 404 it should redirect to https://amy.software-carpentry.org/dashboard/admin/

[2018-12-17 13:57] maneesha opened #1424 "Make selection boxes in user permissions expandable"
The selection boxes here

https://amy.software-carpentry.org/workshops/person/XXX/permissions/

should be expandable so users can make them bigger to more easily view many or all options.

[2018-12-25 17:45] pbanaszkiewicz commented on #1417
Ref. #1232.

[2018-12-25 18:01] pbanaszkiewicz opened #1428 "Update deployment documentation"
This is related to #917. A couple of issues:

1. instructions follow old application structure.
2. if we manage to incorporate Ansible playbooks for deployment, then we need to change the procedures.
3. `$ AMY_DB_FILENAME=migration-test.sqlite3 ./manage.py migrate` is incorrect, we should use `DATABASE_URL` parameter instead.
4. Instead of generating updated git version via `make serve`, use `make

[2018-12-25 18:39] pbanaszkiewicz commented on #1417
@maneesha I'm going to add LC instructor badge only; if you want to extend instructor training with LC-specific requirements for this instructor badge, please create a separate issue.

[2018-12-25 20:34] #1424 closed

[2018-12-25 20:35] #1423 closed

[2018-12-25 20:35] #1421 closed

[2018-12-25 20:35] #1417 closed

[2018-12-25 20:37] pbanaszkiewicz commented on #1273
I'm deferring this for now.

[2018-12-25 20:37] #1273 closed

[2018-12-25 20:38] pbanaszkiewicz commented on #1339
This mechanism will be changed once we implement #1342. I'm aiming for something similar to GitHub system, where you have comments and events interchanging.

[2018-12-25 20:43] #1416 closed

[2018-12-26 08:39] pbanaszkiewicz commented on #1342
https://github.com/django/django-contrib-comments

[2018-12-29 15:38] pbanaszkiewicz commented on #1177
@maneesha this is an old issue, but here's a short recap: event attendance is entered manually to `Event.attendance` field. However, whenever the event is saved (and only then!), and a number of corresponding learner tasks is higher than the entered value, the `Event.attendance` is set to that number.

This is flawed because 1) update to `Event.attendance` happens only when `Event` is saved, and 2

[2018-12-29 16:05] #1339 closed

[2018-12-29 16:05] #1342 closed

[2018-12-29 16:07] pbanaszkiewicz commented on #795
https://djangopackages.org/grids/g/notification/

[2018-12-29 16:12] pbanaszkiewicz opened #1432 "Remove deprecated requests"
These models, corresponding views, forms, templates and tests are deprecated and, honestly, just mess up the codebase:
* ProfileUpdateRequests,
* InvoiceRequests,
* ~~EventRequests,~~
* ~~EventSubmissions,~~
* ~~DCSelfOrganizedEventRequests.~~

UPDATE: we're not removing the old event requests or submissions.

[2018-12-29 16:15] pbanaszkiewicz commented on #1287
I thought about this issue and decided to move it to the v2.5 release. This will require deep testing and thinking, and possibly some design decision from The Carpentries staff. It's too late in v2.4 release to implement this feature.

[2018-12-30 18:06] #997 closed

[2019-01-02 16:37] maneesha commented on #1287
Thanks @pbanaszkiewicz
Right now it looks like we can set view permissions to individual sections.  I haven't actually done this so I don't know how it works -- and the hope here was to do this in groups, rather than clicking through each "view" option one by one.

See for example - it looks like I could set someone up to be able to add, change, delete or view an object.

![image](https://user-ima

[2019-01-02 16:46] pbanaszkiewicz commented on #1287
Hello @maneesha,

you can assign specific permissions to groups in Django admin. Right now we have these groups:
1. administrators
2. steering committee
3. invoicing
4. trainers

Apart from these we also have people marked as "superusers", which means they have all the permissions available - even if not assigned.

It would help me a lot if you described now what groups do you want to have and wha

[2019-01-02 16:51] maneesha commented on #1287
Thanks @pbanaszkiewicz
Right now if we give permissions to a group, that group gets read and write access.
When assigning permissions to a group, would it be possible to choose whether they get read only access or read/write access?

We do want to re-think each of our groups - you are right about that.  That may be a separate issue.  I'll think about that more an open another issue for staff discu

[2019-01-02 16:55] maneesha commented on #1177
Thanks for bringing this back up again.  We should go with option 3.  I actually thought that's what it was all along :-).

[2019-01-02 16:56] maneesha commented on #1432
@pbanaszkiewicz   Will this mess up the corresponding data?  Even though all those request forms are deprecated I want to be sure we can view the submissions.

[2019-01-02 16:57] pbanaszkiewicz commented on #1287
@maneesha:

Yes. You can mix & match the permissions for groups the same way as you can for individual persons. For example, group "Trainers" may have add&view&change&remove permissions to TrainingRequests objects, and only view access to Membership objects.

It may be necessary to create custom permissions, like "read trainees" or similar - I have yet to dive into the code to decide.

I'll gather

[2019-01-02 16:59] pbanaszkiewicz commented on #1432
@maneesha yes, my goal was to remove these from the code completely, so that I don't have to maintain it anymore. It's okay if you need it, though.

Are InvoiceRequests needed as well? I think almost no-one used this feature.

[2019-01-02 17:11] maneesha commented on #1432
I don't think we need to keep InvoiceRequests.
However I would like to keep all the old workshop requests/submissions.

[2019-01-02 17:11] pbanaszkiewicz commented on #1432
@maneesha okay. What about old ProfileUpdateRequests?

[2019-01-02 17:13] maneesha commented on #1432
We don't need to keep old ProfileUpdateRequests.

[2019-01-03 20:17] maneesha opened #1434 "Sort list of names with each event"
Each event has a list of associated persons sorted by role.  Within role, these should be sorted alphabetically by family name.

[2019-01-03 20:38] maneesha commented on #1434
Or even better... can the list be sortable by the user choosing the column?

[2019-01-08 21:29] maneesha opened #1435 ""Comment" column of workshop requests page - unset variable"
The "comments" column here https://amy.software-carpentry.org/requests/workshop_requests/
says XXX-unset-variable-XXX in each row.

[2019-01-09 11:52] maneesha opened #1436 "Make plots that are publicly viewable"
We have plots like [workshops over time](https://amy.software-carpentry.org/reports/workshops_over_time/), [learners over time](https://amy.software-carpentry.org/reports/learners_over_time/), etc. that are accessible to logged in users.

Is it possible to have similar views that are publicly viewable?  (still keeping the underlying source data private)

If that's something we can do, I'll follow

[2019-01-09 15:18] fmichonneau commented on #1436
I think it's a great idea. As we are thinking about which data we have and what we want to publicize, share with member organizations, and instructors, having this kind of data public would be very useful. We may want to consider not making this part of AMY though and use redash to make the data available so we could integrate these graphs on our websites for instance.

[2019-01-09 15:35] maneesha commented on #1436
Yes, I have been experimenting with what we can do on redash.  I wanted to see what was possible via AMY as well, to be aware of all options.

[2019-01-09 20:09] pbanaszkiewicz commented on #1436
@maneesha @fmichonneau due to AMY's release cycle (montly-ish) it's harder to incorporate changes here than it is in redash.

That said, I can work on publicly accessible statistics from our data, especially since I'm planning to touch access permissions (#1287) in the next major release anyway.

The statistics can be generated "in real time", or static (refreshed e.g. once a day) - the latter is

[2019-01-12 09:07] pbanaszkiewicz opened #1437 "Membership edit fails due to form errors"
The error is due to missing `comment` field in `MembershipForm`.

`MembershipForm.save()` should be placed in `MembershipCreateForm`, because that's where `comment` field is and that's what should trigger the signal.

[2019-01-12 15:03] #1435 closed

[2019-01-12 15:04] #1437 closed

[2019-01-14 14:42] maneesha opened #1442 "Changing Notes >> Comments changes how search function works"
With the notes, it used to be that doing a general search would also search the "Notes" field.  For example, searching "maneesha" would return when that term appeared in *any* field - person's name, role, email, and notes.

Now that notes are in comments, it no longer returns comments that include "maneesha."   We should make this so that comments are also included in the search.

[2019-01-14 19:46] maneesha opened #1443 "Problems building site locally"
When following the directions in the repo's readme to build the site locally and build a fake database, there are a number of errors, likely due to changes in the database model. I've put in temporary fixes in the [fix_local_build branch](https://github.com/swcarpentry/amy/tree/fix_local_build).

 For now I have [commented out](https://github.com/swcarpentry/amy/commit/6f439088f17e412718de57cd2773

[2019-01-14 19:49] pbanaszkiewicz commented on #1443
@maneesha the last issue (`git_version.py`) was fixed in (pending) PR #1441.

Can you please create a PR from `fix_local_build` branch?

[2019-01-14 19:50] maneesha opened #1444 "Search workshops, instructors, etc. by continent"
We currently have the feature to search by country.  It would also be useful to search by continent or other larger global region.  For example - Europe, Asia, Africa, South America, Central America, Middle East, etc.  Are there existing libraries that define these geographic regions? Can we have user-defined regions?

Can we use a library like what's used to define Africa in this issue (https://g

[2019-01-20 17:41] #1428 closed

[2019-01-20 17:43] pbanaszkiewicz commented on #917
The Ansible playbooks were created for AMY, and will be used for future server deployment over at https://amy.carpentries.org/.

[2019-01-20 17:43] #917 closed

[2019-01-20 17:46] pbanaszkiewicz commented on #1392
I'm going to coordinate the migration with @jduckles and @charlesreid1 over the upcoming weeks. It's not going to happen for v2.4.1, though.

[2019-01-20 19:17] pbanaszkiewicz opened #1446 "Fix fake_database.py script"
As it was reported by @maneesha, the script is broken.

[2019-01-20 20:52] pbanaszkiewicz commented on #1444
@maneesha:

Currently we obtain list of countries from `django-countries` application. It's easy and works with all databases. The country list is poor in terms of

There are some nicer applications, that provide more geopolitical data (e.g. https://github.com/cordery/django-countries-plus mentioned in #1368), but they require special spatial databases. With SQLite it's hard to achieve this, but n

[2019-01-23 22:01] pbanaszkiewicz commented on #1443
Fixed in #1447.

[2019-01-23 22:01] #1443 closed

[2019-01-25 00:28] tracykteal opened #1448 "Update email addresses on 'New training request' page"
We'd like to update the email addresses on the 'New Training Request' page

- change training@carpentries.org to team@carpentries.org
- change partnerships@carpentries.org to memberships@carpentries.org

[2019-01-25 17:02] maneesha opened #1450 "allow multiple email addresses"
AMY currently allows us only one email address per individual.  It would be good to have at least two - identified as primary and secondary so we have other ways to contact individuals.

[2019-01-29 20:42] pbanaszkiewicz commented on #1448
Fixed via #1449.

[2019-01-29 20:42] #1448 closed

[2019-01-29 20:44] pbanaszkiewicz opened #1451 "Travis doesn't correctly check for missing migrations"
Travis uses this code:
[code]

The command `manage.py makemigrations --dry-run -e` doesn't recognize `-e` parameter. The command should be changed to `makemigrations --check --dry-run`, probably.

[2019-01-29 21:18] #1451 closed

[2019-01-30 09:02] #1432 closed

[2019-01-30 15:31] karenword commented on #1375
Is there any fix for problem 1 on the horizon? I have a new workflow that requires iteratively selecting, emailing, and removing (via status change) applicants from a results list. Without the ability to preserve check-boxes across screens it is quite inefficient, with the first page having new (but fewer) select-able applicants with each iteration until I can finally move on to page 2. If preserv

[2019-01-30 21:00] pbanaszkiewicz commented on #1375
@karenword if this has high priority for you, I can work on it for point-release v2.5.1, which should be released sometime in first two weeks of February.

Can you point me to the workflow you mentioned? I'd like to take a look and think about possible solutions.

[2019-01-30 21:05] #1442 closed

[2019-01-30 21:19] maneesha opened #1455 "Include badge & badge date in member view"
In the member view [such as this](https://amy.software-carpentry.org/fiscal/membership/121/), we see a list of instructor training seats with the columns Event, Person, and Task.

Can we also have two more columns in this view: Badge (SWC, DC, and/or LC) and Date Badged?

Task appears to be a concatenation of Event, Person, and Role. If Role is always going to be Learner, we can remove this column

[2019-01-30 21:58] karenword commented on #1375
Thank you @pbanaszkiewicz!  Keep in mind that this workflow is still under development. Link is here, procedure in question is currently Part 2, steps 3-5. You will be able to see why it's challenging to work this out entirely through filters vs manual selection.

[2019-01-30 21:58] karenword commented on #1375
Oops: workflow here: https://docs.google.com/document/d/1bBOxupUrHculfuG_QJJMu6JjtLUubtdjzJDU1BUVVJQ/edit?usp=sharing

[2019-01-31 17:18] #1455 closed

[2019-02-03 17:56] pbanaszkiewicz commented on #1392
I'm closing this so that I don't block v2.5 release. Migration to the new server will happen pretty soon.

[2019-02-03 17:56] #1392 closed

[2019-02-06 21:21] ErinBecker opened #1460 "add LC demo and LC homework as training progress objects"
Library Carpentry is now an official Lesson Program within The Carpentries. This new status is partially reflected in AMY (with the addition of the [lc-instructor badge](https://amy.software-carpentry.org/workshops/badge/lc-instructor/)). However, there are a few other places LC needs to be integrated in order to track trainee progress towards lc-instructor badging.

1) Addition of "LC Demo" and "

[2019-02-07 00:06] libcce commented on #1460
Nothing to add @ErinBecker. Like you say, it mirrors SWC and DC. Thanks for creating this issue!

[2019-02-08 18:55] pbanaszkiewicz opened #1461 "Extend workshop metatags validation with separate latitude and longitude tags"
Ref. https://github.com/carpentries/workshop-template/issues/582

Currently there's only one combined tag `latlng` supported, we should implement validation for `latlng` XOR (`lat`, `lng`).

Code reference: [`amy.workshops.util.validate_metadata_from_event_website`](https://github.com/swcarpentry/amy/blob/develop/amy/workshops/util.py#L747).

[2019-02-08 20:30] maneesha opened #1462 "Allow admin user to edit membership variants"
The current member form allows these variants:
![image](https://user-images.githubusercontent.com/829690/52504380-4c8f1b00-2bb6-11e9-8445-904072833cde.png)

Can we have this list of variants be edited from the [admin console](https://amy.software-carpentry.org/admin/)?

[2019-02-09 18:22] pbanaszkiewicz commented on #1462
@maneesha: yes, it's possible, but it requires adding a relationship.

[2019-02-10 10:28] pbanaszkiewicz opened #1463 "`action_required_policy` doesn't capture `?next` parameter from log-in page"
When user logs in to a specific page, and `action_required_policy` captures their request, it doesn't redirect to the page specified by `next` query parameter.

[2019-02-10 15:34] maneesha opened #1464 "Note that it's OK if all training progress steps are not recorded"
We started recording steps towards training progress in 2017(?) so people who were certified before that may not see all three checkout steps recorded.  Even people who got certified in the past few years may not see all steps recorded as this is a manual process and something may have been missed.

This section:
![image](https://user-images.githubusercontent.com/829690/52535673-436d8d80-2d1f-11e9

[2019-02-13 16:17] #1375 closed

[2019-02-13 17:29] #1298 closed

[2019-02-13 19:09] #1463 closed

[2019-02-14 21:08] maneesha opened #1468 "Change question about being from underrepresented group to be more inclusive"
On the [instructor training application](https://amy.software-carpentry.org/forms/request_training/) there is a question that reads

This may make people feel like they must provide detailed information about sensitive personal information.

We would like to change this as follows:

*Help Text*
The Carpentries strives to increase opportunities for underrepresented groups to join our team.
*Questio

[2019-02-14 21:11] maneesha commented on #1462
Thanks @pbanaszkiewicz
That would be useful for us so we can adjust membership categories depending on our programming.

[2019-02-18 11:41] fmichonneau opened #1472 "issue with CAPTCHA"
@pbanaszkiewicz possibly tied to the server switch, it looks like the captcha used (at least for instructor training requests) isn't working.

[2019-02-18 16:47] pbanaszkiewicz commented on #1472
@fmichonneau you're right, and this is high priority bug, and I can't do anything about it. Can you, or @jduckles or @tracykteal generate a new keypair from Google Captcha? Or change domain for existing one?

[2019-02-18 16:48] #1444 closed

[2019-02-18 17:07] fmichonneau commented on #1472
I've created new keys. I placed them in the AMY lastpass folder. I've also listed you as an owner for these keys in the google reCAPTCHA interface.

[2019-02-18 17:38] pbanaszkiewicz commented on #1472
@fmichonneau I created another keypair, because apparently we have to use v2. I'm leaving the keypair you created (renamed it to `carpentries.org`).

I also added you and others as owners to `amy.carpentries.org` reCAPTCHA keys, and replaced them in Last Pass folder.

[2019-02-18 17:39] #1472 closed

[2019-02-21 16:27] pbanaszkiewicz commented on #1468
@maneesha would this work?
![screenshot from 2019-02-21 17-25-54](https://user-images.githubusercontent.com/72821/53184785-f41c3c80-35fd-11e9-87c9-af766eec2350.png)

[2019-02-21 16:52] pbanaszkiewicz commented on #1468
@maneesha @karenword @ErinBecker even though this new form allows for automatic scoring of `underrepresented` field (because it's `yes|no|undisclosed`), I don't want to alter your workflow too much, so I decided to instead extend API for manual scoring with `underrepresented_details` field. This way the workflow stays the same, ie. a human being needs to check `underrepresented` and `underrepresen

[2019-02-21 17:16] pbanaszkiewicz opened #1474 "Rename `make superuser` command to something else"
We need to emphasize that `make superuser` is only meant for development. Maybe remove this command and create a default `admin:admin` user when after making development database?

[2019-02-21 18:08] maneesha commented on #1468
@ErinBecker  @karenword Would we want this to grant +1 automatically if they answer yes, regardless of what they put in the details box?  That's what I was thinking.

[2019-02-21 18:15] ErinBecker commented on #1468
Yes. +1 automatically if they click yes.

On Thu, Feb 21, 2019 at 10:08 AM maneesha sane <notifications@github.com>
wrote:

--
*Erin Becker*
*Associate Director* with The Carpentries <https://carpentries.org/>
Pronouns: she/her/hers
Schedule a meeting with me: *https://calendly.com/ebecker-1
<https://calendly.com/ebecker-1>*
The Carpentries <https://carpentries.org/> *- *
*We teach foundational co

[2019-02-21 18:31] pbanaszkiewicz commented on #1468
@ErinBecker, @maneesha I'll adjust the code. Thanks!

[2019-02-21 19:25] #1474 closed

[2019-02-21 22:55] karenword commented on #1468
Actually I do have one more thought, which I will ask here instead of the PR because the screenshot is above. In the "If you are comfortable doing so..." box I think it leaves a question as to why we are asking if we will not use it to score their application. Do we want to add something like "but they will support our efforts to track and document our application demographics" at the end? Or, if

[2019-02-22 17:26] #1468 closed

[2019-02-22 18:36] pbanaszkiewicz commented on #1468
Oh no, I didn't see that comment from @karenword until after I merged the PR. I'll make a separate PR if @maneesha agrees to @karenword idea.

[2019-02-27 22:19] karenword opened #1477 "Trainee dashboard contains misleading information"
Despite correcting information in multiple channels, we continue to have instructors completing checkout twice to obtain SWC and DC certifications because they believe these are necessary to be able to teach the different lesson programs.

The following sentence at the bottom of the page has been identified as misleading: "Register for Demo Session on this Etherpad. If you want to become both SWC

[2019-02-27 22:24] maneesha commented on #1477
Which page has the misleading text on it?

[2019-02-27 23:17] karenword commented on #1477
Oops sorry! This one: https://amy.carpentries.org/dashboard/trainee/training_progress/

[2019-02-28 17:40] pbanaszkiewicz commented on #1464
@maneesha this screenshot corresponds to person profile details displayed in person details page (this is admin-only view).

For any other trainee, the view with training progress details is this one: https://amy.carpentries.org/dashboard/trainee/training_progress/

I'll add a note in there.

[2019-02-28 18:01] #1464 closed

[2019-02-28 18:11] sheraaronhurt commented on #1460
I would have to agree with @ErinBecker we do need to add this. When person's go to their AMY profile, if they did a LC demo/HW, it would not say it, it would say SWC or DC. If we want to be inclusive of LC we would need for this to happen and it could eliminate confusion from people wanting to know if their LC work counted.

@ErinBecker I would not want to get rid of the column unless we are just

[2019-02-28 19:21] tracykteal commented on #1460
Right, this could be a broader discussion about a general badge. For now though, let's implement adding LC. @pbanaszkiewicz how difficult would this be to do, and can we prioritize this? Thanks!

[2019-02-28 19:32] pbanaszkiewicz commented on #1460
@tracykteal it's on a priority list now! But I don't think I can manage to implement this feature tonight, as I fear some "hidden" dependencies in the code. You can however expect this in v2.6 release (this~next week).

[2019-02-28 19:47] tracykteal commented on #1460
Thank you, that's great! No need for tonight. This/next week is great.

[2019-02-28 19:54] libcce commented on #1460
Thanks @pbanaszkiewicz and @tracykteal !!!

[2019-02-28 20:27] #1461 closed

[2019-03-03 19:09] pbanaszkiewicz commented on #1477
@karenword @maneesha  what's current link for instructor discussion etherpad?

[2019-03-03 21:09] maneesha commented on #1477
Community discussion etherpad:
https://pad.carpentries.org/community-discussions

[2019-03-04 13:53] maneesha commented on #1312
Now that AMY is hosted at  https://amy.carpentries.org/ can we move the repo to the `carpentries` organization?  What do we need to do to make this happen?

[2019-03-04 13:57] fmichonneau commented on #1312
I can transfer the repo. @pbanaszkiewicz is there any integrations or other things that could be affected by migrating the repo?

[2019-03-04 16:39] pbanaszkiewicz commented on #1312
@fmichonneau probably only Travis-CI. But once that's broken we can probably fix it easily.

If you can, please look for something like this: https://github.com/settings/tokens but for AMY / swcarpentry organization. I have the GitHub API token saved somewhere but I'm unsure if we're using it and where it came from.

[2019-03-05 19:52] #1460 closed

[2019-03-05 19:52] #1477 closed

[2019-03-05 20:48] tracykteal commented on #1460
Thanks @pbanaszkiewic! Got your update that this in the new version release, and that it will go live on Friday, March 8.

[2019-03-07 21:55] maneesha opened #1481 "Include "Trainer" badge in "Find Workshop Staff""
Right now we can search for the three Instructor badges; would also like to search for Trainer badge.

https://amy.carpentries.org/workshops/workshop_staff/

Note this should be *separate* from the three instructor badges.

[2019-03-08 19:34] maneesha opened #1482 "Freeze top navbar"
Top navigation bar should freeze so it stays visible even when scrolling down screen.

[2019-03-08 19:44] maneesha opened #1483 "Enhancements to Find Duplicate Persons"
[Find Duplicate Persons](https://amy.carpentries.org/reports/duplicate_persons/) returns a long list of records that may be duplicates.

I've reviewed many of these before and decided we did not have enough information to confirm they were duplicates and so I didn't merge them.  I'd like a way to tag these so if I look for duplicates again, I don't have to see those names again.  Perhaps we could

[2019-03-08 22:55] maneesha opened #1484 "Track changed metadata"
This page: https://amy.carpentries.org/workshops/events/metadata_changed/
 is supposed to track events that have changed metadata from the github workshop page.  As it is not currently working,  first we'd like to update the page to note that this page is under development.

Next we would like to get it working so we can see what events have changed metadata, and possibly allow for automatically u

[2019-03-12 20:51] sheraaronhurt opened #1485 "Select All and Mail Selected Trainees"
Under the More - Training tab, when I select the box next to "Name" to select all, nothing happens. And once I manually select the names and push "Mail selected trainees" nothing happens.

[2019-03-13 19:17] maneesha commented on #1409
@pbanaszkiewicz Can we make the `workshops_lesson` table modifiable from the Django admin panel?

[2019-03-15 20:50] maneesha opened #1486 "Workshop request form - populate event if it has URL"
On the [workshop request form](https://amy.carpentries.org/forms/workshop/), self organized workshops have a field to enter the event URL.

If you click "Accept and create a new event" here, it should automatically import from that URL. Currently you have to click on "Import from URL" and then paste in the URL.

[2019-03-16 11:35] pbanaszkiewicz commented on #1409
@maneesha actually it is. If you go to AMY, click top-right menu, follow with "Django Admin" link, then look for "Lessons" under "WORKSHOPS" label you'll be able to add/edit/remove the lessons.

[2019-03-16 14:06] #1481 closed

[2019-03-16 14:18] pbanaszkiewicz commented on #1482
I just found out that there's some bug with our CSS compression mechanism, that prevents the top navbar from sticking.

[2019-03-16 19:40] #1482 closed

[2019-03-16 19:40] pbanaszkiewicz commented on #1485
Fixed in #1488.

[2019-03-16 19:40] #1485 closed

[2019-03-17 11:10] pbanaszkiewicz opened #1489 "Extend statistics with LC workshops"
E.g. "all activity over time" doesn't include LC workshops.

[2019-03-18 18:34] maneesha opened #1490 "Auto-response to workshop request"
When someone submits a [workshop request form](https://amy.carpentries.org/forms/workshop/)
they should get an email back with the following text:

(and then include the request content)

This is in addition to the emails that go to the admin-xx@carpentries.org based on geography.

The emails that go to admin-xx@carpentries.org have a link to view the request in AMY; these should be no such link f

[2019-03-19 17:42] maneesha opened #1491 ""Africa" gets filled in continent search box on Find Wkshp Staff page"
"Africa" is filled by default on this page:

https://amy.carpentries.org/workshops/workshop_staff/

This only sometimes affects the search results.

[2019-03-19 19:31] pbanaszkiewicz commented on #1491
This was fixed in  a805f59.

[2019-03-19 19:31] #1491 closed

[2019-03-21 17:40] #1177 closed

[2019-03-21 19:13] #1489 closed

[2019-03-29 18:26] pbanaszkiewicz commented on #1409
@maneesha does that solve this issue?

[2019-03-29 18:44] maneesha commented on #1409
Yes, thanks @pbanaszkiewicz
I'm going to keep this open for myself but there's nothing else we need from you.

[2019-03-30 19:41] #1486 closed

[2019-04-05 10:17] #1490 closed

[2019-04-08 12:28] pbanaszkiewicz commented on #1483
@maneesha  from your description it looks like you touch on two issues here:

1. Ability to hide records that you already reviewed.
2. Ability to merge any two selected records.

For the former, I'll add a button that you can click and it will save the timestamp for "Last reviewed on". For the latter, I'll add a checkbox or radio button to each record so that you can select it for merging.

[2019-04-10 20:26] #1483 closed

[2019-04-11 10:40] pbanaszkiewicz opened #1499 "Log failed login attempts"
The purpose of all this is to catch multiple login attempts and log the messages to the error log file. Then run `fail2ban` software on the log output so that it blocks the wrong-doing IP.

Handle Django's auth [`user_login_failed`](https://docs.djangoproject.com/en/2.1/ref/contrib/auth/#django.contrib.auth.signals.user_login_failed) signal.

Log the error message to the error log file.

Similar s

[2019-04-12 21:31] karenword opened #1501 "Instructor Training Application checkbox to opt-in for Open review process"
This is not urgent, but if it is a quick fix, it would be a fantastic improvement.

Currently, applications are routed to our Open Instructor Training program when they are missing a Registration Code. This means that anyone who forgets to enter a code ends up taking time for unnecessary application review.

It would be much more straightforward to have a checkbox with text like this: "OPEN INSTRU

[2019-04-12 23:31] maneesha commented on #1501
Thanks @karenword.  This sounds like a good idea.
I'll discuss this with @pbanaszkiewicz  in our upcoming workflows.

[2019-04-16 13:24] maneesha opened #1502 "Self org workshops: Populate GitHub URL and select Tags"
When you get a self organized workshop and select "accept and create event" information such as date and location get filled in which is great.  Two other things:
* The GitHub URL should also get filled in.
* Tags should be selected.  DC/LC/SWC depending on the curriculum selected.

[2019-04-16 18:35] #1499 closed

[2019-04-16 19:31] pbanaszkiewicz commented on #1422
@apaloczy is this issue still relevant?

[2019-04-16 19:36] pbanaszkiewicz commented on #1501
We already have some features implemented for v2.8, but I can try to squeeze this into `master` some other way than before and therefore make a v2.7.1 release.

[2019-04-16 19:48] karenword commented on #1422
*If* this is an easy implementation its not a bad idea to add something like this to the form in addition to the email. We get quite a few people submitting repeated applications when we ask at different points (before the workshop, during/after the workshop). I'm not sure how much that clutter matters -- it will be less of a problem for me once #1501  has been implemented.

[2019-04-17 16:49] pbanaszkiewicz commented on #1422
@karenword I'd go with confirmation email (and that's what is implemented). Having public access to the list of applicants is generally a bad idea.

[2019-04-18 16:20] apaloczy commented on #1422
Hi everyone, just caught up with the discussion. @karenword the reason for suggesting this was indeed to relieve admins from the burden, since on the applicant's end it's easy to just send a second email in case the first one doesn't go through. So in general I would go with implementing this new feature, but, if there are technical concerns as @pbanaszkiewicz points out, then I think sticking wit

[2019-05-01 18:55] pbanaszkiewicz opened #1504 "Upgrade Django to v2.2+"

[2019-05-06 16:50] karenword opened #1505 "Add +1 to Instructor Training auto-score for Chemistry"
If "areas of expertise" includes "Chemistry" Instructor Training applicants should now receive a +1 on their application auto-score.

[2019-06-18 11:57] gdevenyi opened #1507 "Suggestion: Sort workshop activity by date"
Currently it looks like sorting done via the "role" column, if we ever wish users to be able to audit the list for errors, I think sorting by date is the most sensible option.

[2019-06-19 10:45] fmichonneau commented on #1312
I don't see any AMY-specific tokens.
The project has now been transferred to carpentries organization.
Please report any issues following the transfer.

[2019-06-19 10:45] #1312 closed

[2019-06-19 10:50] fmichonneau opened #1508 "Default value for lesson publication consent"
Currently, the default value for the lesson publication consent is "No" making it impossible to distinguish between people who have not set the option yet, and people who have explicitly set it to "No".

* is there something we can currently do to try to distinguish between these 2 situations?
* could we add another option (e.g., "not set") that would become the default?

_____
Thank you for submi

[2019-06-20 17:33] maneesha commented on #877
Closing this as we have systems for member sites to sign up for events with a code on Eventbrite.

[2019-06-20 17:33] #877 closed

[2019-06-20 17:35] maneesha commented on #406
Closing - stale.

[2019-06-20 17:35] #406 closed

[2019-06-20 18:20] maneesha commented on #1415
@kariljordan  Can I close this here now? Are you tracking this anywhere else?

[2019-06-20 18:51] kariljordan commented on #1415
Now that we are moving to Typeform, we need to see if @fmichonneau has changed this.

[2019-06-20 22:22] ErinBecker opened #1509 "Not recognizing trainees eligible for certification as Library Carpentry Instructors"
I routinely use the Trainees page to search for people who have met the requirements for certification but have not yet been awarded a certificate.

https://amy.carpentries.org/trainings/trainees/?search=&is_instructor=eligible&training=&training_request=1&order_by=

Today I was contacted by a trainee who had completed all of the Training progress objects, but had not received her certificate. I c

[2019-06-21 01:46] jduckles opened #1510 "Count of workshops is incorrect"
Count of workshops is incorrect and seems to be about 10x what I'd expect the count to be:
![image](https://user-images.githubusercontent.com/119403/59891816-c10e7c00-942a-11e9-9e89-d2d96302f118.png)

https://amy.carpentries.org/reports/workshops_over_time/

[2019-06-21 07:09] pbanaszkiewicz opened #1511 "Lesson publication consent not visible on trainee dashboard"
Lesson publication consent choice is not visible on [trainee dashboard](https://amy.carpentries.org/dashboard/trainee/) page. It should be right below "Can we contact you" and "Do you consent to publish your profile on The Carpentries website".

[2019-06-21 14:08] fmichonneau commented on #1415
I'm keeping track of this in asana as it's not related to AMY. Thanks!

[2019-06-21 14:08] #1415 closed

[2019-06-24 17:23] maneesha commented on #1214
Hi @symulation - I'm cleaning out some old issues - this one's almost two years old :-)

We don't share a list of upcoming training events since they are intended for member sites and space permitting, to people applying through our open application process.  In both cases, people get explicit invitations to join.

Knowing this issue was raised a long time ago, do you still see a need to have some

[2019-06-24 17:37] maneesha commented on #628
I've explored Tito, Ticketleap, and several other registration systems and haven't found anything that meets our needs better.  Closing this.

[2019-06-24 17:37] #628 closed

[2019-06-24 17:38] maneesha commented on #727
This is addressed through our new system that allows multiple member sites to be attached to a single instructor training event.  Closing this.

[2019-06-24 17:38] #727 closed

[2019-06-24 17:48] maneesha commented on #972
Closing this - This is addressed by this new view:

![image](https://user-images.githubusercontent.com/829690/60040335-b7815000-9686-11e9-8f02-43e1d2e55e7c.png)

[2019-06-24 17:48] #972 closed

[2019-06-24 17:52] maneesha commented on #982
We can leave as is for now.  See #1287 where we will be revisiting who has what level of access across the AMY system.

[2019-06-24 17:52] #982 closed

[2019-06-24 17:53] maneesha commented on #992
Closing this since it seems to be just about PyData.

[2019-06-24 17:53] #992 closed

[2019-06-24 17:55] maneesha commented on #1001
Closing this because we have made significant changes in how we accept Training Requests over the past year or two.

[2019-06-24 17:55] #1001 closed

[2019-06-24 17:55] maneesha commented on #1287
This is part of a larger conversation of who should have access to read/write various AMY components.  We will return to this in an upcoming work cycle.

[2019-06-24 17:56] maneesha commented on #1027
Stale - closing

[2019-06-24 17:56] #1027 closed

[2019-06-24 17:59] maneesha commented on #1084
Closing this - I don't think there's anything we need to be able to see that we can't see.

[2019-06-24 17:59] #1084 closed

[2019-06-24 18:00] maneesha commented on #1129
Closing, duplicates closed #1084

[2019-06-24 18:00] #1129 closed

[2019-06-24 18:04] maneesha opened #1512 "Custom sort option for all tabular data"
Anytime tabular data is displayed, the user should be able to select a column to sort by.

See also #1507 and #1063.

[2019-06-24 18:05] maneesha commented on #1507
Thanks for the suggestion @gdevenyi
I'm closing this as I'm combining it with similar issues here #1512

[2019-06-24 18:05] #1507 closed

[2019-06-24 18:05] maneesha commented on #1063
I'm closing this as I'm combining it with similar issues here #1512

[2019-06-24 18:05] #1063 closed

[2019-06-24 18:07] maneesha commented on #1502
We are currently working on redesignging the workshop request form completely, so this will be addressed in the new form.

[2019-06-24 18:07] #1502 closed

[2019-06-24 18:08] maneesha commented on #1299
Thanks for bringing this up @steltenpower
I'm closing it here to be discussed more in #1409

[2019-06-24 18:08] #1299 closed

[2019-06-24 18:09] maneesha commented on #1214
@symulation  I'm closing this for now.  Feel free to re-open if you see a need for this.  Thanks!

[2019-06-24 18:09] #1214 closed

[2019-06-24 18:11] maneesha commented on #1087
We now have the ability to track when a workshop covers our standard curricula.  Our new workshop request form will also have a "mix and match" option, where people will have a free text field to note how they may have taught Carpentries curricula outside our standard offerings.  A future version of the project will consider how we can code these free text responses.

[2019-06-24 18:11] #1087 closed

[2019-06-24 18:13] maneesha commented on #1038
Closing this as it's almost three years old and we have systems for pulling reports such as redash.

[2019-06-24 18:13] #1038 closed

[2019-06-24 18:21] maneesha commented on #1163
As I'm going through old issues here,  I'd like to open discussion on whether we need to open discussion on the domain fields listed here.  See also the issue raised here #1299.

[2019-06-24 18:29] maneesha opened #1513 "Update list of lessons you're comfortable teaching"
Current list of options:

dc/cloud
dc/python
dc/r
dc/shell
dc/spreadsheets
dc/sql
swc/git
swc/hg
swc/make
swc/matlab
swc/python
swc/r
swc/regexp
swc/shell
swc/sql
swc/svn

This includes lessons we don't maintain (like SWC regex).  It does not include lesson variations (like listing swc/python even though there are two Python lessons in Software Carpentry's offerings).   This does not include any L

[2019-06-24 18:30] maneesha commented on #1211
Closing this here as it's being discussed in #1513

[2019-06-24 18:30] #1211 closed

[2019-06-24 18:30] maneesha commented on #1409
Closing this here as it's being discussed in #1513

[2019-06-24 18:30] #1409 closed

[2019-06-24 18:33] maneesha commented on #1436
Closing this in favor of exploring it in redash.

[2019-06-24 18:33] #1436 closed

[2019-06-24 18:39] maneesha commented on #930
We are just using GitHub authentication for now and have not come across any problems with this, so I am closing it.  We can re-open if we consider other ways of enabling login.

[2019-06-24 18:39] #930 closed

[2019-06-24 18:40] maneesha commented on #947
Closing as I don't think anyone is using email messages.

[2019-06-24 18:40] #947 closed

[2019-06-24 18:41] maneesha commented on #1148
Closing as we no longer have the big drop down menu in Survey Monkey and are also considering using Typeform instead of SM.

[2019-06-24 18:41] #1148 closed

[2019-06-24 18:42] maneesha commented on #1209
Closing this as we don't have a definition for "active" and use Redash queries to get lists of qualifying voting members.

[2019-06-24 18:42] #1209 closed

[2019-06-24 18:44] maneesha commented on #962
Closing this as stale/not a priority.

[2019-06-24 18:44] #962 closed

[2019-06-24 19:05] maneesha commented on #1513
@ErinBecker  and @fmichonneau  Your perspective from a curriculum development team would be much appreciated.  What reporting do we want to do, so we can do things like say X number of our Instructors are qualified to teach Y curriculum?    This also relates to #1338 -- how do we identify what lessons/curricula our Instructors are qualified to teach?

@sheraaronhurt  Your perspective from a worksh

[2019-06-24 19:08] maneesha commented on #1512
@sheraaronhurt This is to make it easier on the admin user to scan data and find what they want - especially useful for larger data sets.  Also, is there anything else that you think would make it easier for the admin user to view tabular data?

Which of the following applies to when you want to see this fixed?
* Would like to see this fixed as soon as possible, in the next 1-2 development cycles

[2019-06-24 19:41] maneesha commented on #1510
@pbanaszkiewicz In addition to this problem, I see some other problems with our reports.   For example,  [Learners over time](https://amy.carpentries.org/reports/learners_over_time/) does not load, and the API link returns a 500 error.  Some API links include `unset-variable` in the URL.  Did some of the queries or underlying data structures recently change?

[2019-06-24 19:46] maneesha commented on #1508
We could add an option for "unknown" and set that as default or make the default value be `null`.  @pbanaszkiewicz  What would make more sense to you?

[2019-06-24 19:49] maneesha commented on #1505
@karenword  Is this still relevant?  If so, do you see this as a one time change, or will we change how autoscoring works on a regular basis, depending on the communities we want to engage?

**Which of the following applies to when you want to see this fixed?**
1. Would like to see this fixed as soon as possible, in the next 1-2 development cycles (i.e., by September 2019)  *I would think it would

[2019-06-24 19:50] maneesha commented on #1504
@pbanaszkiewicz Can you share some information about why we need to make this upgrade and how it will impact us?

[2019-06-24 19:52] karenword commented on #1505
I believe this is still relevant and will continue to see changes regularly (hence option 3) but tagging @ErinBecker because I submitted this PR at her request.

[2019-06-24 19:55] maneesha commented on #1501
Thanks @karenword
To be clear, would we also want them to use the Group Code box for anything?  We can still leave it as is otherwise.  Should we have some information about what "Open Instructor Training" means?  Perhaps to say *not* to check this box if they are with a member site?

What if we had two options:

1. If you are joining with a member site, please enter your registration code or memb

[2019-06-24 19:56] maneesha commented on #1501
@karenword  I'm assuming your answer will be 1, but please let me know:

**Which of the following applies to when you want to see this fixed?**
1. Would like to see this fixed as soon as possible, in the next 1-2 development cycles (i.e., by September 2019)
2. Would like to see this fixed later (by the end of 2019)
3. Would like to see this fixed, but possibly as part of a larger project that need

[2019-06-24 20:01] maneesha commented on #1484
@sheraaronhurt @Talishask I see this as having two phases - one is to just get the [changed metadata](https://amy.carpentries.org/workshops/events/metadata_changed/) page working.  After that we can consider what can be automatically updated.

Other than wanting a list of all workshops that have changed metadata on the link above, is there anything else you'd want to see immediately here?

Based o

[2019-06-24 20:06] karenword commented on #1501
Definitely #1! :) I like the options. Maybe this should be a drop-down choice so that they are mutually exclusive? Options could be: 'Member Affiliate (pre-approved for training)' vs 'Open Applicant (submit application for review to receive an Open Instructor Training scholarship)' -- pinging @elizabethwilliams8 for thoughts on my use of "scholarship" here. Then the "Registration Code" field could

[2019-06-24 20:06] maneesha commented on #1462
@Talishask Asking you for now, and maybe you want to take this back to Elizabeth.

The current membership options for a site include Partner, Affiliate, Sponsor, etc., so they don't exactly match our membership models.   We can have @pbanaszkiewicz  change them if we want them to be some other categories.  We can also have him set things up so we can change these categories ourselves as needed (wh

[2019-06-24 20:07] sheraaronhurt commented on #1512
@maneesha  thanks for tagging me on this. I Would like to see this fixed later (by the end of 2019)

[2019-06-24 20:09] maneesha commented on #1450
@Talishask @sheraaronhurt
This has come up when we've tried to contact an individual but they were no longer using the email address we had on record, or were on temporary leave, or something like that.

If we did this, how many email addresses would you want to see defined? How would you want to categorize them?  Should the individual designate which one they want to be the primary/seconday?

**W

[2019-06-24 20:10] sheraaronhurt commented on #1484
@maneesha  I would like this to be a 1 for phase 1 (this will help @Talishask  as she updates the workshop webpages after each workshop. And 3 for phase 2.

[2019-06-24 20:16] maneesha commented on #1422
I don't think this is direclty related to #1501 as it's not just the open applications that we end up getting multiple submissions.  People from member sites also re-submit when they are unsure if they already submitted.

We'd also want to be sure to consider privacy issues.  How do we validate to someone whether they have submitted something without breaching privacy?

There is also another conce

[2019-06-24 20:16] maneesha commented on #1422
@karenword   I would probably lean towards option 3 when it comes to fixing this. What do you think?

**Which of the following applies to when you want to see this fixed?**
1. Would like to see this fixed as soon as possible, in the next 1-2 development cycles (i.e., by September 2019)
2. Would like to see this fixed later (by the end of 2019)
3. Would like to see this fixed, but possibly as part

[2019-06-24 20:18] maneesha commented on #1513
I'm trying to categorize things to develop a timeline for working on AMY.  I think this is an option 3 issue - but please let me know if you have other thoughs @ErinBecker  @sheraaronhurt

**Which of the following applies to when you want to see this fixed?**
1. Would like to see this fixed as soon as possible, in the next 1-2 development cycles (i.e., by September 2019)
2. Would like to see this

[2019-06-24 20:19] maneesha commented on #1338
I'm trying to categorize things to develop a timeline for working on AMY.  I think this is an option 3 issue (esp. based on my comments in #1513) --  but please let me know if you have other thoughts @ErinBecker  @sheraaronhurt

**Which of the following applies to when you want to see this fixed?**
1. Would like to see this fixed as soon as possible, in the next 1-2 development cycles (i.e., by Se

[2019-06-24 20:26] maneesha commented on #1337
I  believe the motivation behind this was so that for any of our member sites, we could know who they key contacts there were.  Right now, I would see only admins as able to do this.  An individual can list their own affiliation with a given site, but should not be able to make themselves the key contact for a member site.

I think this needs more consideration, as for each member site we may have

[2019-06-24 20:29] maneesha commented on #1249
As this has to do with law compliance, I am deferring to @tracykteal and @elizabethwilliams8 on this.

[2019-06-24 20:29] maneesha commented on #1246
@pbanaszkiewicz  Can you share more information about what this means and how it will impact us?

[2019-06-24 20:39] maneesha commented on #1212
This is almost two years old, I don't remember my exact motivation for bringing this up.  I don't think it's a priority now, but as we grow, at some point it may be useful to have record of people who have repeated cancellations.  This can help us think about how we best support our community of volunteer instructors and ensure they are not overcommitting themselves.

This may fit into a larger pr

[2019-06-24 20:42] maneesha commented on #716
@pbanaszkiewicz  In an upcoming cycle, could we outline:

* what it would take to migrate from SQLite to Postgres
* why we may want to consider it
* how it will impact our other systems (like Redash)

Leaving this as a reminder for now to revisit soon.

[2019-06-24 20:50] karenword commented on #1422
Perhaps we could start by adding functionality that would *identify* whether an application is a duplicate based on email matching? This would help me now. In the future, we could consider applicant communication about this as part of a larger project? Can I answer 1 and 3 on that basis, with 1 being based on the assumption that this is a relatively small task?

[2019-06-24 20:58] elizabethwilliams8 commented on #1501
@karenword I like it. There may be a better word than scholarship in the future, but this is consistent with what we have been saying so far.

[2019-06-24 21:37] maneesha commented on #1149
I think this was intended to give us a report of everyone who has not completed certification requirements and the three month deadline is approaching.

Some questions for @ErinBecker  or @karenword  to help build this report:

1.  Is it three months or 90 days?  *Seems like a minor point from our end, but we will have to code something*
2.  Is it three months from the first day or the last day of

[2019-06-24 21:38] maneesha commented on #1149
@ErinBecker  and @karenword  Let me know how much of a priority you see this.  Based on this I'll follow up with the questions above.

**Which of the following applies to when you want to see this fixed?**
1. Would like to see this fixed as soon as possible, in the next 1-2 development cycles (i.e., by September 2019)
2. Would like to see this fixed later (by the end of 2019)
3. Would like to see

[2019-06-24 21:40] maneesha commented on #1075
@pbanaszkiewicz  Since this affected the work with PyData, do we need to keep this open?