[2015-06-21 16:06] pbanaszkiewicz commented on #375
I think we could get Sites split into Hosts/Sites and then have Member 1-to-1 relationship with Host.

[2015-06-21 16:11] amyrbrown commented on #375
Could we associate Events with Members, too? So we can see how many Events a Member has run since their start date?

[2015-06-21 16:41] pbanaszkiewicz commented on #375
We have event's organizer and event's site.

If Member is linked to the Host [organizer] or Site (if we don't migrate to Host/Site) then we'll easily have the events organized by a Member.

[2015-06-21 16:51] gvwilson commented on #375
How much extra effort will it be for admins to keep all of this
straight?  I already don't like the host-vs-site split: I agree it's a
better semantic model, but it's also more work to input everything.

[2015-06-21 17:30] pbanaszkiewicz commented on #375
How do you input data for events with different site and organizer?

For example, this event: [2014-12-06-wise-krakow](https://amy.software-carpentry.org/workshops/event/2014-12-06-wise-krakow) is almost completely wrong. It was organized by WiSE, but the organizer field is empty. The site actually was [AGH UST](http://www.agh.edu.pl/en), not [Jagiellonian University](http://www.uj.edu.pl/en_GB/).

[2015-06-21 22:55] pbanaszkiewicz opened #384 "Improve accessibility"
After a very little bit of thinking I selected some areas where we need improvements:

1. We're missing `aria` HTML attributes
2. We're missing elements for screen readers only
3. …and elements that should be shown only in non-screen reader browsers
4. We might need to change focus order for elements like links and forms

This is not a high priority.

There are many articles about accessibility. B

[2015-06-22 14:15] pbanaszkiewicz opened #385 "Couple filters issues"
1. The elements shown within select for foreign key (like Event.site or Event.organizer) should be ordered by name, not by database ID

2. ~~Default ordering for All Events page should be "soonest first"~~ One filter applied by default should show only 'upcoming' events, with option to switch to 'past', 'unpublished' or 'no filter' (see comment below: https://github.com/swcarpentry/amy/issues/385#

[2015-06-22 14:18] pbanaszkiewicz opened #386 "Two form links and validation"
1. Repair validation to work on any type of URL stored in Event.url (ie. it should work fine with repository url `https://github.com/user/2015-06-22-event` and website url `http://user.github.io/2015-06-22-event`).

2. Some events have trailing slashes, repair `links.py` template tag to properly handle them (ie. discard from regexp probably).

[2015-06-22 14:22] gvwilson commented on #385
On 2015-06-22 10:15 AM, Piotr Banaszkiewicz wrote:

Where are past events shown?  Under all upcoming events?

Do you understand @gperu's use case for this?

[2015-06-22 14:33] pbanaszkiewicz commented on #385
Good question. In a simplest case we would only use "distance" from the current date and sort by it. This would probably mean upcoming and past events intertwining.

I think it's:

I think his use case is easily solved by looking at the person details page.

[2015-06-22 15:10] gvwilson commented on #385
On 2015-06-22 10:33 AM, Piotr Banaszkiewicz wrote:

Strong -1 on that (it would be confusing as hell).  I think "upcoming
only" as a filter (perhaps on by default?) accomplishes what Giacomo wants.

I agree.

--
Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-06-22 16:39] pbanaszkiewicz commented on #385
Okay. Good idea.

[2015-06-23 13:45] gvwilson opened #389 "Improvements to bulk person upload"
1.  The checking page should clearly show which people are being recycled (i.e., are in the database) and which are being created (i.e., aren't).
2.  The final confirmation page should show the same thing: "10 persons and 21 tasks created" is kind of helpful, but it would be nice to know *which* persons and *which* tasks.

[2015-06-23 13:51] gvwilson opened #390 "Fields in Task display should be clickable links"
The Task page shows learner, event, and task - the first two should be clickable links.

[2015-06-23 13:52] gvwilson opened #391 "Should be able to add a task from the 'Edit Person' page"
We can add Awards from the 'Edit Person' page - should also be able to add tasks.

[2015-06-23 16:20] wking commented on #379
On Sat, Jun 20, 2015 at 04:11:24AM -0700, Piotr Banaszkiewicz wrote:

I think it makes a lot of sense to separate the generic application
(currently mostly stuff in workshops) from the
amy.software-carpentry.org deploy (currently mostly stuff in amy/).
One repository (swcarpentry/amy?)  should have the open-source code
that anyone can use to run their own instance, and another repository
(swcarpen

[2015-06-23 16:24] wking commented on #383
On Sun, Jun 21, 2015 at 05:44:00AM -0700, Greg Wilson wrote:

We should just PROTECT Award.event then [1], so the database protects
you from deleting Events with dependent Awards.  No need for lots of
ignorable user-side confirmation levels.

[1]: https://docs.djangoproject.com/en/1.8/ref/models/fields/#django.db.models.PROTECT

[2015-06-23 16:30] wking commented on #375
On Sun, Jun 21, 2015 at 03:29:52AM -0700, Greg Wilson wrote:

That's basically what Host is, right?  In #120 I even asked about
linking to Person for contact information [1].  I'd suggest just
adding a membership link to the Host model pointing to a Membership
model that enumerates our different association levels (partner,
affiliate, … [2]).  I'm still not clear on why adding host data is a
high

[2015-06-23 17:15] amyrbrown commented on #375
Okay, I'm lost. @pbanaszkiewicz says:

1. I don't see how "WiSE" can be an organizer. WiSE is a kind of workshop -- it should be listed under tags.
2. `Site` should refer to the location a workshop is being held, either physically or logically (i.e., if it's being presented by Berkeley but is physically located at a nearby restaurant, then logically the `Site` is Berkeley).

But `Sites` don't orga

[2015-06-23 17:19] gvwilson commented on #375
I think the simplest notion is to record 'Host' (who's paying the bill)
and 'Location' (lat/long or address) separately for each event, and not
try to connect the two beyond that:

1.  We need to know the Host because that's who we invoice/give credit
to/whatever.
2.  The workshop website records the Location, so we have that
information (and can use null for telepresence workshops without confusi

[2015-06-23 17:26] amyrbrown commented on #375
What are we going to do with the "Location" information?

And again, can we not reuse the "Host" terminology? Either rename the Task or rename the other thing. I think renaming the Task makes the most sense, but that might be a discussion for another thread.

[2015-06-23 17:31] gvwilson commented on #375
On 2015-06-23 1:26 PM, Amy Brown wrote:

If the host organization is something like iPlant (which has several
physical locations), we probably want to keep track of which of those
locations the workshop was at.  We also need it to find nearby
instructors (maybe?).

I'm happy with that.

--
Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-06-23 17:32] wking commented on #375
On Tue, Jun 23, 2015 at 10:19:03AM -0700, Greg Wilson wrote:

My Site model also includes a name, country, airport, and notes
(#120).  I'm ok dropping airport (we can query nearby airports on the
fly, but that may miss, e.g. intervening impassible geographic
features).  I don't think having a name, country information, or notes
is a large cost ;).

I'd still pull it into Amy, since you don't want

[2015-06-23 17:51] amyrbrown commented on #375
Okay, I am still slightly suspicious about the utility of the Location (apart from pins in maps [1] and finding instructors[2]) but I agree that having a logical Host and a physical Location for each Event is tidy and sensible. (In terms of terminology, I prefer "Location" to "Site" because Location is more concrete -- Site has figurative/metaphorical associations which I think lead to confusion w

[2015-06-23 18:08] wking commented on #375
On Tue, Jun 23, 2015 at 10:51:50AM -0700, Amy Brown wrote:

Sounds good to me.

I don't know if we've reached a consensus on this yet, but my
preferred information flow is [1]:

1. Instructors/organizers pass an event URL to AMY (possibly via AMY
   admins).
2. AMY grabs the event information from that URL (and occasionaly
   polls for updates).
3. Consumers (such as swcarpentry/site) get informat

[2015-06-23 18:09] pbanaszkiewicz commented on #375
Hi everyone,

[We're going to](http://lists.software-carpentry.org/pipermail/amy_lists.software-carpentry.org/2015-June/000114.html), I believe.

No, it wasn't. Don't worry, I'll ask if I don't understand something ;)

Okay, I'll let you go on with discussion, but I'm going back to preparing for tomorrow. Cheers!

[2015-06-24 15:47] gvwilson opened #392 "Add "last modified" timestamp to Person, Event, and Site"
Just spoke with @amyrbrown - it would be really helpful to add a 'last modified' timestamp field to our three major entities (Person, Event, and Site) so that we can tell:

*   when was this instructor's info last updated?
*   when was information about this event last changed?

etc.

[2015-06-24 15:48] gvwilson commented on #342
This has to be a many-to-many - people can indicate multiple fields.

[2015-06-24 16:27] wking commented on #392
On Wed, Jun 24, 2015 at 08:47:39AM -0700, Greg Wilson wrote:

Duplicate of #309?

[2015-06-24 18:52] gvwilson commented on #392
Yup, was looking for that on a slow line but couldn't find it.

Duplicates #309.

[2015-06-24 18:52] #392 closed

[2015-06-24 18:52] gvwilson commented on #309
See also #392 - @amyrbrown and @gvwilson would both like this.

[2015-06-25 00:06] #328 closed

[2015-06-25 11:36] rgaiacs opened #393 "Filter for instructors that taught remotely"
I think that we already have a small number of workshop that at least one instructor taught remotely. Can we have a filter for the instructors that taught remotely?

[2015-06-25 14:18] gvwilson opened #394 "Allow search for instructors by country"
The "Locate Instructors" form should allow selection of a country, and should return a list of all instructors whose nearest airport is in that country.

[2015-06-27 13:33] pbanaszkiewicz commented on #379
Loading HOSTNAME didn't work for some reason (I didn't investigate, just forced 'amy.software-carpentry.org').
SECRET_KEY, EVENTBRITE_TOKEN are/will be loaded from envvar.

The issue starts with Google API integrations. @apawlik has some tokens that are stored in the text files because of their size (>3kB). I wouldn't put them in the envvar.

The current deployment directory structure allows us to

[2015-06-27 13:40] pbanaszkiewicz commented on #393
As far as I remember, we don't mark instructor tasks as remote.

There are two ways to solve this:
1. add role "RemoteInstructor" (we already have "Instructor", "Helper", etc.)
2. add "remote" boolean field to the Task / Role object

[2015-06-27 16:22] gvwilson commented on #393
Let's defer this for now.

[2015-06-30 19:45] r-gaia-cs opened #397 "Only allow end date after start date"
I used as input `2015-06-22` as begin date and `2015-07-07` as end date I got `2015-09-01-ttt-online` into the filter. The filters is fine but `2015-09-01-ttt-online` is inconsistent since the end date is before the start date **when it should be after**.

Can we have something to avoid this inconsistency?

[2015-06-30 19:52] pbanaszkiewicz commented on #397
This is not an issue with debrief query, it's an issue with `2015-09-01-ttt-online` event. It has end date in the past (2015-04-20), and start date in future (2015-09-01).

[2015-06-30 19:52] #397 closed

[2015-07-02 14:19] gperu opened #400 "Number of learners"
I think we need a place to store the number of participants of a certain event (learners, I mean). This is especially important in cases when we are not given - for privacy reasons - the list of participants.

Of course we can add a note. But if there's a field for this then we can produce reports easily.

[2015-07-02 14:20] gvwilson commented on #400
Event has an "Attendance" field that we use to store this - is that what
you need?

[2015-07-02 14:25] gperu commented on #400
Indded! That is what I need :)

[2015-07-02 14:25] #400 closed

[2015-07-03 09:29] #28 closed

[2015-07-03 09:29] #342 closed

[2015-07-03 09:29] #348 closed

[2015-07-03 09:29] #374 closed

[2015-07-03 13:20] #193 closed

[2015-07-03 14:20] #309 closed

[2015-07-05 19:44] gvwilson opened #402 "Use better icon for "view this""
The display of multiple tasks uses "..." for "view this" and a proper pencil icon for "edit this".  We should use an icon for "view this".
![screen shot 2015-07-05 at 3 43 29 pm](https://cloud.githubusercontent.com/assets/911566/8513129/b4ca36a0-232c-11e5-9477-a04da30edf6e.png)

[2015-07-05 20:06] pbanaszkiewicz commented on #402
The ellipsis is actually a [glyphicon](http://getbootstrap.com/components/#glyphicons-glyphs) (look for "glyphicon-option-horizontal").

[2015-07-05 20:07] gvwilson commented on #402
Right, but it's still not intuitive - isn't there a magnifying glass
icon or something else that will more clearly say "view"?

[2015-07-05 20:12] pbanaszkiewicz commented on #402
There's a magnifying glass (indicates search), similar glass with "+" and "-" sign for zooming in and out.

Can you take a look at "share" and "share-alt" icons?

[2015-07-05 20:12] gvwilson opened #403 ""View Task" should have a "delete me" button"
The page displaying a single task should have a "delete this task" button - we shouldn't have to go to the "Event" page to delete the task.

[2015-07-05 20:16] gvwilson commented on #402
How about eye-open ?

On 2015-07-05 4:12 PM, Piotr Banaszkiewicz wrote:

--
Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-07-05 20:19] pbanaszkiewicz commented on #402
eye-open is creepy, what do you think about new-window?

[2015-07-05 20:39] gvwilson commented on #402
Nope, that means "new window" to me.  @amyrbrown, what icon should we
use for "view this thing"?  See
https://marcoceppi.github.io/bootstrap-glyphicons/ for possibilities.

[2015-07-05 20:46] amyrbrown commented on #402
eye-open is fine by me -- I don't mind the creepiness, but actually ... was fine too -- it must be an idiom from some other app I use, because to mean it means "more".

If @gvwilson  insists it be changed and @pbanaszkiewicz  doesn't like the eyeball, how about sunglasses?

[2015-07-05 20:48] pbanaszkiewicz commented on #402
You're deciding here, Amy, so we can go with eye-open.

[2015-07-05 20:53] gvwilson commented on #402
If Amy's happen with the ellipsis, let's stick with that - this is a
pretty small thing.
- G

On 2015-07-05 4:48 PM, Piotr Banaszkiewicz wrote:

--
Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-07-05 21:16] amyrbrown opened #404 "Eventbrite key on New Event page should be labelled "Eventbrite key""
Currently "Reg key", which is confusing and inconsistent.

[2015-07-05 21:18] amyrbrown opened #405 "Link to Eventbrite would be nice"
It would be great to have a link to the Eventbrite "Manage event" page for an event if there's an Eventbrite key. The URL is https://www.eventbrite.com/myevent?eid=nnnnnnnnnnn

[2015-07-05 21:23] amyrbrown opened #406 "Flag if organizer has access to Eventbrite"
Eventbrite allows us to give people adminstrator permission for their event page. However, the Eventbrite UX for figuring out who has access to which event is _awful_. It would be nice if we could somehow keep track of who has access to an event's Eventbrite page in AMY.

[2015-07-05 21:28] amyrbrown opened #407 "Link to "New Airport" page from "New Person" page?"
It would be handy to have a link to the "New Airport" page near the Airport field on the New Person page, since you often need to add a new airport once you realize the one you need is not there.

[2015-07-05 21:37] amyrbrown opened #408 "Better field names on New Airport page"
Can we change "Iata" to "IATA Code"

Add a link to https://www.world-airport-codes.com/ or something similar.

Change "Fullname" to "Airport Name"

[2015-07-05 21:42] amyrbrown opened #409 "Link from Person directly to Event, not Task"
At the bottom of the Person page is a list of tasks -- they're links which lead to the Task page. Would be much more useful if those links were directly to the Event. (There's no link to the Event on the Task page, either -- you have to copy the event name and paste it in the search field to eventually get to the Event page.)

In fact, I can't think of any reason I would need to see a Task page --

[2015-07-05 21:44] amyrbrown opened #410 "In New Event page, End date should auto-fill"
Once the user has filled in the Start date, the End date should autofill as the next day.

[2015-07-05 21:50] amyrbrown commented on #5
+1

I often google "nearest airport to Euphoric State University" when looking for instructors -- would be handy to have this information in AMY.

[2015-07-06 07:03] pbanaszkiewicz commented on #402
Amy's right, "…" (or [hamburger](https://en.wikipedia.org/wiki/Hamburger_button)) means "more" in mobile UI.

Here are our options:

1. Ellipsis (current)
![screenshot from 2015-07-06 08 53 34](https://cloud.githubusercontent.com/assets/72821/8517092/12ab8590-23bd-11e5-92dd-e7a645be185e.png)

2. Sunglasses
![screenshot from 2015-07-06 08 54 12](https://cloud.githubusercontent.com/assets/72821/8517

[2015-07-06 07:49] pbanaszkiewicz commented on #407
I'll fix it by adding a link under the "+" menu in topbar.

The alternative way is to add an inline form, ie. a new-airport form embedded on the new-person page, but I don't think this is a good idea (depends how often admins have to add a new airport when creating a person).

[2015-07-06 10:48] gvwilson commented on #402
Hamburger.

On 2015-07-06 3:03 AM, Piotr Banaszkiewicz wrote:

--
Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-07-06 14:32] tracykteal opened #412 "add field of affiliation for instructors"
It's often useful to know what institute or company a person is at in a particular area. It sounds like we're collecting that data, but it would be good have that field available to view in Amy. It can be just a regular text field.

I know there will not be uniformity of how people enter their university - some might enter UCLA and some University of California, Los Angeles, but as administrators

[2015-07-06 14:37] pbanaszkiewicz opened #413 "Missing `notes` for event changes"

[2015-07-07 01:43] amyrbrown commented on #407
That sounds good. I agree that an inline form wouldn't be a good idea.

[2015-07-07 01:46] amyrbrown commented on #402
I like 4 (information) best. Hamburger suggests menu to me -- in fact I always assumed it was supposed to depict a list of options.

[2015-07-07 01:50] gvwilson commented on #402
Option 4 it is.

[2015-07-07 11:05] pbanaszkiewicz commented on #413
Fixed by #415.

[2015-07-07 11:05] #413 closed

[2015-07-07 11:55] #390 closed

[2015-07-07 11:55] #403 closed

[2015-07-07 11:55] #402 closed

[2015-07-07 11:55] #404 closed

[2015-07-07 11:55] #405 closed

[2015-07-07 11:55] #407 closed

[2015-07-07 11:55] #408 closed

[2015-07-07 11:55] #409 closed

[2015-07-07 11:55] #410 closed

[2015-07-07 20:03] gvwilson opened #417 "Display skills and knowledge domains on Person page"
The page showing details of an individual person should also show the things they're able to teach, and the domains they're knowledgeable in.

[2015-07-08 11:25] pbanaszkiewicz commented on #412
We've recently gathered affiliation via instructor profile survey.

What I'd like to know is if we need to track people who are affiliated with [SCF Organizational Members](http://software-carpentry.org/scf/membership.html) or something more general (as in Tracy's example: UCLA, or AGH-UST as in my case).

[2015-07-08 12:22] pbanaszkiewicz commented on #319
Update:

I worked on a auxiliary function that builds a query from tokenized terms:
[code]

But the results are kind-of disappointing:

1. Searching for 'greg wilson' will yield everyone named Greg or Wilson.
2. We have no result rating (like real full-text search does) so it's hard to pick a result with good value for the user

The bottom line is: with this code searching for "Greg Wilson" it's n

[2015-07-08 18:15] gvwilson commented on #412
Organizational membership can change over time, so let's record every
affiliation that people give us.

[2015-07-08 19:06] tracykteal commented on #412
I agree we should just have a general organizational affiliation category.

Ultimately it would also be good to track which instructors are at Organizational Member universities. But, as Greg says, that will change, so I'm not quite sure how to track that.

I can see a use case where an Affiliate university wants to know who its current local instructors are when they're trying to schedule local w

[2015-07-08 20:20] gvwilson opened #419 "Import requests for instructor training"
We get ~10 requests/week for instructor training. They're currently stored in the Google Docs spreadsheet that the Google Form puts them in; we should build something similar to the 'import instructor data' tool to import that data, but then we need to figure out how to store it:

1.  Add a flag to `Person` to indicate that they want instructor training?  (I don't like this.)
2.  Create a dummy `E

[2015-07-08 20:23] gvwilson commented on #301
Doesn't seem to be much demand.

[2015-07-08 20:23] #301 closed

[2015-07-08 20:24] gvwilson commented on #202
I think we're unlikely to actually input this information - @amyrbrown @gperu do you think you would?

[2015-07-08 20:24] gvwilson commented on #12
We're unlikely to actually record this.

[2015-07-08 20:24] #12 closed

[2015-07-08 21:12] pbanaszkiewicz commented on #412
Ref #375.

[2015-07-09 17:05] #417 closed

[2015-07-09 17:20] gvwilson opened #422 "Skills should be displayed in sorted order"
Skills are currently displayed in a more-or-less random order (based I presume on the order in which they were added to the DB).  They should be sorted, either alphabetically (which would put all 'dc' before all 'swc') or by second part (e.g., by what's after the '/').

[2015-07-09 23:14] gvwilson commented on #319
Bummer :-(

[2015-07-10 07:27] #394 closed

[2015-07-10 12:25] #391 closed

[2015-07-12 20:01] gvwilson opened #425 "Import event information from event web site"
The following workflow would make my life easier:

1.  Submit the URL of a workshop's GitHub website via a form.
2.  AMY gathers information from the workshop's `index.html` (just as we do for the main web site) and display it in an editable form.
3.  The admin can alter/delete/add values, then submit to create the event.

This would be useful because we're importing information about self-organiz

[2015-07-12 20:02] gvwilson commented on #308
Can this be closed now that we've upgraded pagination?

[2015-07-12 20:02] gvwilson commented on #189
Can this be closed now that we've upgraded pagination?

[2015-07-12 20:02] gvwilson commented on #375
bump

[2015-07-12 20:03] gvwilson commented on #385
bump

[2015-07-12 20:03] pbanaszkiewicz commented on #189
Sure!

[2015-07-12 20:03] #189 closed

[2015-07-12 20:03] pbanaszkiewicz commented on #308
Sure!

[2015-07-12 20:03] #308 closed

[2015-07-12 20:03] pbanaszkiewicz commented on #385
This is marked as 0.7. Do you need it in 0.6?

[2015-07-12 20:05] gvwilson commented on #385
Nope, just wondering if we need further discussion.

[2015-07-14 11:09] gvwilson opened #427 "Crash when importing existing event"
1.  Copy AMY db to desktop.
2.  Run local server.
3.  Create new event.
4.  Import from `http://dgasmith.github.io/2015-08-24-stanford/`. (Note: this event is already in the database.)
5.  Crash.

[2015-07-14 15:10] pbanaszkiewicz commented on #427
@gvwilson I assume this happens with the code from #426?

[2015-07-14 15:33] pbanaszkiewicz commented on #427
If that's the case, the error happens because `Event.slug` doesn't have the unique constraint.

So we're able to add more events with the same slug. The error appears when getting one particular event by it's slug: we can't because there are more than 1.

Proposed solutions:
1. Make `Event.slug` unique, or
2. implement #259

[2015-07-14 16:07] gvwilson commented on #427
Yup, this is with #426.

Right, so before trying to add, we should 'get' to see if that slug
already exists and reject the new Event if so, yes?
Thanks,
Greg

[2015-07-14 16:12] pbanaszkiewicz commented on #427
@gvwilson this can be done automatically if we use ModelForm and set `unique=True` to `Event.slug` or we can extend our existing `clean` method on that ModelForm to check for the unique constraints.

I'd opt for the 1. option.

[2015-07-14 16:34] gvwilson commented on #427
I trust your judgment.
Thanks,
Greg

[2015-07-15 13:07] #427 closed

[2015-07-16 17:36] #319 closed

[2015-07-16 17:38] #389 closed

[2015-07-17 08:28] pbanaszkiewicz commented on #5
I'd like to dedicate v0.7 for changes in database that will allow us to sort out the issues with site/host/organizer nomenclature and representation.

I will need to meet with admins to talk about that, because they're more knowledgeable than me.

I hope to send an email to admins later today.

[2015-07-17 08:38] pbanaszkiewicz commented on #157
A few months have passed and what we see in the test suite is that we often use `assert` statement and only go back to `unittest` methods when necessary. This brings a conclusion that we should look into `py.test` in the future.

However, I don't think anyone would be willing to rewrite >80 tests (well `py.test` [claims](http://pytest.org/latest/announce/release-2.0.0.html) to be supporting Django

[2015-07-17 08:38] #157 closed

[2015-07-17 08:39] pbanaszkiewicz commented on #158
We don't create test fixtures specifically, but use `setUp` methods instead.

[2015-07-17 08:39] #158 closed

[2015-07-17 08:41] pbanaszkiewicz commented on #184
I think we're sticking to blurred data with `anonymizer.py`. It's quite easy to forget about some fields (like history of changes, user passwords) or run `./manage.py createinitialrevisions` on the blurred database, so anyone preparing that database has to be cautious.

[2015-07-17 08:41] #184 closed

[2015-07-17 08:48] pbanaszkiewicz commented on #370
Moving to v0.7 since I don't want to include untested solutions on a deadline day. :-)

[2015-07-17 10:05] rgaiacs opened #432 "Export public information about workshops over HTTPS"
Talking with @gvwilson he mention that we should revamp the build stack of Software Carpentry [website](https://github.com/swcarpentry/site) to take advantage from AMY, i.e. let AMY create part of `_config.yml` of https://github.com/swcarpentry/site that currently is

- [x] airports (**we should drop the name of instructors**)
- [x] badges
- [x] workshops

For workshops we currently have

- countr

[2015-07-17 10:06] r-gaia-cs commented on #432
I forgot to mention that we can reuse `workshops/management/commands`.

[2015-07-17 10:16] pbanaszkiewicz commented on #432
Thanks a lot, Raniere, for getting this issue up. I don't think I'd assemble such a complete list.

Question: why are we going to drop the name 'instructors'? Is this only on the presentation layer of SwC webpage?

Notice: we have a really hard time figuring out the venue/site data correctly. There's a lot of misinterpretation within the database, and I'd like to [have a discussion](https://github

[2015-07-17 12:26] #422 closed

[2015-07-17 17:05] pbanaszkiewicz opened #434 "Removing awards"
As per https://github.com/swcarpentry/amy/pull/431#issue-95627056 we don't have a way to remove once assigned awards.

[2015-07-17 17:06] #383 closed

[2015-07-17 18:49] pbanaszkiewicz commented on #412
Closed via #433.

[2015-07-17 18:49] #412 closed

[2015-07-17 18:58] #386 closed

[2015-07-17 18:58] #425 closed

[2015-07-17 19:02] r-gaia-cs opened #435 "Event's Admin fee and Attendance can't be negative numbers"
We should enforce that the "Admin fee" and "Attendance" are non-negative.

[2015-07-17 19:04] r-gaia-cs opened #436 "Event's start date must be earlier than it's end date"
We should enforce that the start date is early that the end date.

[2015-07-18 04:11] r-gaia-cs commented on #432
To generate the website we don't need the name of instructors that taught at workshop XXX. I believe that some instructors could have some reasons for that information not be public available and those that want their names linked the workshops they taught could do it in many different ways.

@gvwilson I will postponed work on this a little so we have time to talk (maybe Monday).

[2015-07-18 11:40] gvwilson commented on #432
On 2015-07-18 12:11 AM, Raniere Silva wrote:

Instructors don't mind their names being public - after all, they're on
the workshop website - but we've just never bothered to list them on the
main web site (not enough space).

-1 because:

1. Polling is slow (and subject to timeouts when GitHub is busy).
2. Some workshops don't have proper GitHub websites - we've loaded the
required information int

[2015-07-18 11:57] pbanaszkiewicz commented on #432
Okay, in this case we need to enhance what AMY keeps in DB about events, because, as Raniere listed, we're lacking country, lat/long, venue.

[2015-07-18 12:07] gvwilson commented on #432
Yup.

[2015-07-20 16:06] #436 closed

[2015-07-20 16:08] #435 closed

[2015-07-20 19:50] pbanaszkiewicz opened #439 "Site / Organizer / workshop venue"
Hi everyone,

There's some confusion with the current layout of events in AMY.

Here's my proposition to fix a couple of issues at once.

1. Rename "Site" to "Host" (#6): the rationale is nicely laid out in the content of related issue.
2. Stick to 1 host for an event (ie. drop #120): from what I've seen, we mostly have 1event-1host situations in AMY
3. Rename "Organizer" to "Coordinator": it's an

[2015-07-21 00:16] gvwilson commented on #439
+1

+1

+0

-0.5.  When a workshop is self-organized, we should list the Host as the
organizer.  The alternative is to use 'NULL' to mean 'self-organized',
which is what we're (mostly, but inconsistently) doing right now.

-1.  We should import the 'address' and 'lat/long' fields from the
workshop's home page.

Removing "WiSE" as a host and listing SWC as the host: +1.

Removing "online" as a host

[2015-07-21 08:34] pbanaszkiewicz commented on #439
Hello Greg,

On Tue, Jul 21, 2015 at 2:16 AM, Greg Wilson <notifications@github.com>
wrote:

I'd use 'NULL' for that, because I want to implement coordinators in a
specific way. A Host can be a coordinator if it has 'coordinator' flag set
to true. We have very few coordinators (SwC, DC, SSI, Compute Canada) so
setting `Host.coordinator` for them is easy.

Then 'Coordinator' on event's page would b

[2015-07-21 20:37] gvwilson commented on #439
Mmm... the politics of who's a coordinator, and who gets credit for
coordinating workshops, is somewhat more complex than a simple Boolean
flag, but sure, we can include every organization that does some
coordinating.

In which case, we'll need a sweep through the DB to look for workshops
that list coordinators that *aren't* officially coordinators, because
I've added some workshops with "X" as th

[2015-07-22 08:13] pbanaszkiewicz commented on #439
Hi Greg,

On Tue, Jul 21, 2015 at 10:37 PM, Greg Wilson <notifications@github.com>
wrote:

So maybe we should dump this information all along? It may be the result of
my sleepiness, but right now I don't see a reason for keeping it.

I'll do, as soon as we have a consensus about what to do with that data.
Tell me what you think about my idea above.

Yes, it will happen eventually.

Implicit semant

[2015-07-22 08:27] pbanaszkiewicz opened #442 "Add "Update from URL" button to Event"
Event edit form should be extended by adding the possibility to update values from workshop webpage.

[2015-07-22 09:30] gperu opened #443 "Events calendar"
Could we have a calendar automatically updated once we enter the dates of an event?

And can the events on the calendar be filtered too?

[2015-07-22 10:56] gvwilson commented on #443
1. Once we are getting information for the main web site from AMY, the
calendar at http://software-carpentry.org/workshops/index.html will
automatically update.

2. What would you like the calendar filtered by?

[2015-07-22 12:44] gvwilson commented on #439
On 2015-07-22 4:13 AM, Piotr Banaszkiewicz wrote:

It's tempting, but we *do* need to record it - Giacomo wants to be able
to sort/filter by "who's the coordinator" so that he can see the ones
he's wrangling, and I imagine other coordinators will want to do the
same thing.  So how about for now we allow any org to be a coordinator,
and add a note to the Event creation page saying "leave empty (NUL

[2015-07-23 03:25] amyrbrown opened #444 "Easier access to "New *""
I feel like I often go to the "Events" or "Sites" or "Persons" page just to click on the "New $WHATEVER" button. Can we have, perhaps, a "New..." menu with Event, Site, and Person options? Or add "New Event", "New Site" and "New Person" to the More menu?

[2015-07-23 09:21] pbanaszkiewicz commented on #439
Hello there,

On Wed, Jul 22, 2015 at 2:44 PM, Greg Wilson <notifications@github.com>
wrote:

The status for this part of the #440 is:
* only a few orgs are allowed to be coordinators (SSI, DC, SWC, Compute
Canada, Cyfronet)
* leaving "coordinator" field blank is meant for self-organized events and
it's indicated in the field's `help_text`

I looked through the database and found out that current

[2015-07-23 10:52] pbanaszkiewicz commented on #444
Hi Amy,

there's a "+" button in top-right corner of AMY, and it covers "New *" for persons, events, airports and sites (I believe).

Is that enough to solve your problem?

Cheers,
Piotr

[2015-07-23 11:35] gperu opened #445 "Find instructors: filter by European Countries"
Is it possible to have the instructors finder search all European Coutries? [Use case: I'm looking for female instructors in Europe - I don't dare asking for a filter by gender also :)]

[2015-07-23 11:43] pbanaszkiewicz commented on #445
I think generally we could have a filter for continent and for gender. I'm not sure how easy is the former, but you can expect the latter to be implemented.

[2015-07-23 12:05] gvwilson commented on #445
On 2015-07-23 7:43 AM, Piotr Banaszkiewicz wrote:

Filter by country should be straightforward, since we know the countries
airports are in.

[2015-07-23 12:06] pbanaszkiewicz commented on #445
@gvwilson we have 'filter by country', but we need to filter by continent.

[2015-07-23 12:08] gvwilson commented on #439
HI Piotr,

OK.

OK, we'll need to fix that.

Yeah - please create a ticket saying "we need to re-set this to be
historically consistent".  We'll probably never get to it, but at least
it's there.

Yes.

I think so - please check with the admins (are you on the admin-all list?).

#419.
Cheers,
Greg

--
Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpent

[2015-07-23 12:11] gperu commented on #445
What about filter by multiple countries, if by continent doesn't work?

[2015-07-23 12:12] maneesha commented on #445
Filter by continent may be tricky... In many cases this is a political
division, not just geographic.  Is Russia in Europe or Asia? What about the
Middle East?

On Thu, Jul 23, 2015 at 8:06 AM, Piotr Banaszkiewicz <
notifications@github.com> wrote:

[2015-07-23 12:13] gperu commented on #445
If the purpose is to select contries where flying is not too expensive, then filtering by country will do.

[2015-07-23 12:17] pbanaszkiewicz opened #446 "Set correct administrators for historical events"
v0.7 will include changes to the internals in the database. `Event.organizer` will become `Event.administrator` and will have specific meaning. From now on, the adminsitrator is the organization responsible for administrative work for that specific event (that would be DataCarpentry for Tracy, Software Carpentry for Amy/Maneesha, Compute Canada for John, SSI for Giacomo, etc.).

If the event is se

[2015-07-23 12:18] pbanaszkiewicz commented on #445
I think I can get you filtering by multiple countries.

[2015-07-23 12:19] pbanaszkiewicz commented on #439
Hello,

On Thu, Jul 23, 2015 at 2:08 PM, Greg Wilson <notifications@github.com>
wrote:

https://github.com/swcarpentry/amy/issues/446

I'm not.

Then I'll work on that for v0.8 release.

Cheers,
Piotr

[2015-07-23 12:29] gvwilson commented on #439
HI Piotr,

On second thought, amy@swc is the right place for this - admins who
don't want to worry about DB schema can stay off that list.

Thank you much.
Greg

[2015-07-23 12:36] gperu commented on #445
Thanks Piotr :)

[2015-07-23 12:44] rgaiacs opened #447 "Crash with workshops over time"
Visit `http://localhost:8000/workshops/reports/workshops_over_time` raise

[2015-07-23 12:46] rgaiacs opened #448 "Crash with learners over time"
Related with #447.

Visit `http://localhost:8000/workshops/reports/learners_over_time` raise

[2015-07-23 12:48] rgaiacs opened #449 "Some page using old layout"
`http://localhost:8000/workshops/`:

![h](https://cloud.githubusercontent.com/assets/1506457/8850495/e5d65f8a-311e-11e5-9f62-2ed5f0eb15fd.jpg)

Pages with old layout:

- [ ] `http://localhost:8000/workshops/badges`

![Screenshot of badges](https://cloud.githubusercontent.com/assets/1506457/8850627/fad07730-311f-11e5-8b5b-54c259bae29f.jpg)

- [ ] `http://localhost:8000/workshops/persons/bulkadd/`

[2015-07-23 15:56] pbanaszkiewicz commented on #449
We didn't discuss switching to wide layout, and I don't think it would look okay on empty pages like badges or bulk upload.

[2015-07-23 19:23] amyrbrown commented on #444
Yes! I didn't know that was there. Awesome, thanks!

[2015-07-24 07:31] pbanaszkiewicz commented on #444
Great!

[2015-07-24 07:31] #444 closed

[2015-07-24 15:56] pbanaszkiewicz opened #450 "Add possibility of managing tags"
Tags may become a powerful feature for admins and for scenarios we hadn't thought about before.

[2015-07-24 16:59] gvwilson commented on #450
Agreed, but low priority for now.

[2015-07-27 08:16] pbanaszkiewicz commented on #447
Hi @rgaiacs.

Unfortunately I'm unable to reproduce this and #448. Can you:

1. Check if it still exists with newest `develop` branch?
2. Show me the traceback (on the error's page there's "switch to copy-and-paste view" or something like that).

Thanks,
Piotr

[2015-07-27 18:39] rgaiacs commented on #448
Probably I did something wrong when migrated the database. **Not a bug**.

[2015-07-27 18:39] #448 closed

[2015-07-27 18:39] rgaiacs commented on #447
Probably I did something wrong when migrated the database. **Not a bug**.

[2015-07-27 18:39] #447 closed

[2015-07-27 18:41] rgaiacs commented on #449
I don't have a strong position on this. Is just that the change of header position bugs me. =)

[2015-07-27 18:55] amyrbrown commented on #188
We/I need more clarification for "may contact". I am interpreting it as "this person has specifically agreed to receive unsolicited email from us", so the default is "no", but that means I don't see the person's email address when they are listed under an event.

So is the default "yes" -- we assume everyone we add to the database is willing to receive email from us?  That is to say, "may contact"

[2015-07-27 19:17] pbanaszkiewicz commented on #188
@amyrbrown:
Greg said a long time ago that we sometimes have people (instructors, maybe admins too) who explicitly tell us not to contact them.

I'm not sure what is law saying about that, also I'm not sure which country's law we should follow. In Poland for example advertising contact is always opt-in, but "normal" contact not necessarily.

[2015-07-27 21:32] gvwilson commented on #188
"May contact" should be TRUE by default; the FALSE option is there
because a handful of instructors and others have said "please no more
email for now" (typically while they're busy with other things).

[2015-07-28 06:35] #6 closed

[2015-07-28 06:35] #439 closed

[2015-07-28 06:44] #306 closed

[2015-07-28 18:13] amyrbrown commented on #188
Okay, so it should NOT be regarded as any kind of mailing list opt-in.

[2015-07-28 20:11] pbanaszkiewicz commented on #5
@amyrbrown currently the situation is:

The location is shifted from Host to Event.

So we set host on event to the organization that's considered to be the host of that event.

There are some hosts that have multiple locations (SSI, Elixir project, etc.), so instead of putting multiple locations into Hosts, I decided to store the location within events.

There are other reasons for putting locati

[2015-07-28 20:20] amyrbrown commented on #5
Sounds good. I think if we are adding a "find closest instructors" link to events, we don't need to store the closest airport -- the only reason one needs to know the closest airport is to facilitate using the find-instructors functionality.

[2015-07-28 20:24] pbanaszkiewicz commented on #5
Okay, in that case the "Find closest instructors" will use lat/long data for the event's location.

[2015-07-30 15:48] #5 closed

[2015-07-30 15:50] #385 closed

[2015-07-30 15:50] #445 closed

[2015-07-30 19:02] #442 closed

[2015-08-06 09:49] gvwilson commented on #419
This one will become less important once we change the way we do instructor training, so it is no longer essential.

[2015-08-06 09:49] gvwilson commented on #341
Helpful, but not essential.

[2015-08-06 09:51] gvwilson commented on #432
This should be the Big One for v0.8 - it'll let us cut a lot of stuff out of rebuilding the 'site' repository.

[2015-08-06 09:53] gvwilson opened #454 "Change "export badges" to deliver a YAML file rather than displaying JSON"
"Export badges" currently presents an HTML page with the text needed for site's config/badges.yml as JSON.  To get what we actually need, we have to run a command-line 'make badges' to get the YAML.  The web site should generate YAML and return it (for download) to the user.

Alternatively, we can/should make an API call so that when 'site' is rebuilding, it grabs the YAML from AMY, eliminating th

[2015-08-06 09:55] gvwilson opened #455 "Change "export instructors" to deliver YAML instead of displaying JSON"
"Export instructors" currently prints information about instructors as JSON text in an HTML page. It should instead return a YAML file that can be downloaded and dropped into site's config/airports.yml.  (We should probably change the name of the menu item as well to reflect what it actually does.)

Alternatively, we can/should make an API call so that when 'site' is rebuilding, it grabs the YAML

[2015-08-06 10:52] pbanaszkiewicz opened #456 "Instructor profiles form"
We should add an open (ie. not only for logged in users) form for updating profiles by instructors.

The submitted data should be queued for approval/rejection by admins.

There should be some security in place:
* form submission confirmation (CAPTCHA)
* form data confirmation via email (unless we want admins to manually confirm all updates). This is tricky because some instructors may want to cha

[2015-08-06 13:18] tracykteal opened #457 "integrate workshop requests in to Amy"
I was just talking to Giacomo and sharing our workshop request form with him, and an idea came up. This might be beyond the scope of Amy, but I wonder if we can integrate workshop requests in to Amy.

The idea would be that there would be a front facing form for a workshop request, then instead of the information going in to another database or Google doc, that info would go in to Amy. That would

[2015-08-06 13:24] rgaiacs commented on #457
@tracykteal Thanks to bring this up.

I, @pbanaszkiewicz and @gvwilson had discussed that (probably in private, sorry for that). @gvwilson's biggest concern was with spam.

[2015-08-06 13:44] pbanaszkiewicz commented on #457
@rgaiacs I addressed similar security concerns in #456.

I like the idea proposed by @tracykteal. I think Greg won't mind this feature, because he proposed #456.

[2015-08-06 14:25] rgaiacs opened #458 "Save search for instructors options"
Users probably want to save the options used when searching for instructors for using in the future.

@pbanaszkiewicz **Please leave this issue for after the GSoC deadline.**

[2015-08-06 17:15] gvwilson commented on #457
+1 (at least)

[2015-08-07 13:14] maneesha opened #460 "Add info about workshop assessment forms"
Can we have an option (yes/no/unknown) for whether pre- and post- workshop assessment forms have been sent out?  (similar to the one for the invoice)

It would be great to have this along with a text box for the link to the google drive location of the assessment forms.

[2015-08-07 13:39] pbanaszkiewicz commented on #460
The assessment forms integration is put on hold temporarily because of:
* me being busy with other matters
* Aleksandra being on vacation

That said, I am not against such options, but the actual implementation may depend on the "Share" feature (do we have access to the list of shared-with?). I need to talk to Aleksandra about that, though…

[2015-08-08 07:15] pbanaszkiewicz commented on #454
Solved via #459.

[2015-08-08 07:15] #454 closed

[2015-08-08 07:15] pbanaszkiewicz commented on #455
Solved via #459.

[2015-08-08 07:15] #455 closed

[2015-08-13 15:17] gvwilson opened #464 "Add read-only access"
1. Implement read-only access.
2. Provide read-only logins to all Steering Committee members.

[2015-08-13 15:30] pbanaszkiewicz commented on #464
I'd set it for v0.9, because to do this correctly we should start using group permissions. We have the ability, it's just that our views don't take permissions into account.

[2015-08-14 20:08] pbanaszkiewicz commented on #432
Closing via #459 and #463.

[2015-08-14 20:08] #432 closed

[2015-08-18 05:57] gvwilson commented on #350
See #19.

[2015-08-18 05:58] gvwilson commented on #460
See #20.

[2015-08-18 06:01] gvwilson opened #465 "Normalize workshop URLs"
Right now (2015-08-18), workshop URLs are being stored as:

* `https://github.com/user/yyyy-mm-dd-site` (my preferred format)
* `http://github.com/user/yyyy-mm-dd-site/` (`http` instead of `https`, and a trailing slash)
* `http://user.github.io/yyyy-mm-dd-site` (the GitHub Pages URL rather than the repository URL)

URLs should be normalized to simplify search and processing (e.g., for the main web

[2015-08-18 06:04] gvwilson opened #466 "URL normalization bug (?)"
The Event page displays a website URL and a repository URL. Normally, it seems that when the repository URL is edited, the website URL is automatically updated - more specifically, if the repository URL is `https://github.com/site/yyyy-mm-dd-site`, the website URL becomes `http://site.github.io/yyyy-mm-dd-site`. However, this is not happening with https://amy.software-carpentry.org/workshops/event

[2015-08-18 08:06] pbanaszkiewicz commented on #465
The machinery in #467 provides us with `event.get_repository_url()` and `event.get_website_url()` methods.

If `event.url` is in one of recognized formats (either to repo or to website), these methods will provide the other URL.

So if `event.url` is `http://user.github.io/yyyy-mm-dd-site` the `event.get_repository_url()` will return `https://github.com/user/yyyy-mm-dd-site/` (we can drop the trai

[2015-08-18 15:06] gvwilson commented on #465
I think we should:

1. Store the normalized form.
2. Put up a great big warning on the "save" page telling people when
we've changed what they typed in.
3. Migrate existing records - there shouldn't be that many left in the
database that aren't normalized.

[2015-08-18 18:26] pbanaszkiewicz opened #468 "Illegal characters in Host.domain"
Putting `http://domain.com/` in `Host.domain` breaks the server, because we don't match for these characters in `urls.py` (only `\w` regex).

I think we could make a validator that disallows `\W` characters.

[2015-08-20 20:45] maneesha opened #469 "Allow "N/A" & other options for "Invoiced""
Looking at amy/workshops/models.py it looks like this defined as bool.
However, there are cases when the actual use case is not bool.  Invoiced = No/False may be the case because we need to invoice but we haven't yet, but it may also be the case because they don't need to be invoiced because they are self-organized or other arrangements were made.  We need to differentiate among  these situations.

[2015-08-20 21:07] maneesha opened #470 "Add fields for pre- and post- assessment links"
Add two text fields to events for links to pre/post assessments.

[2015-08-20 21:09] maneesha opened #471 "Bool field for events=closed"
Can we have a T/F field so that we can mark events as "closed" -- meaning that there's no more work to be done with them... surveys done, invoicing done, etc.

[2015-08-21 23:29] tracykteal commented on #457
I see this is listed as a milestone, so great to see that it will be implemented. Let us know if there's anything we can do to help.

[2015-08-23 21:10] maneesha commented on #457
+1 a million times.
A couple of workshops slipped through the cracks as things transitioned to me & this would be a big step towards preventing this.

[2015-08-25 19:34] maneesha opened #473 "Links to open in new tab"
Links for github page, eventbrite, and others (like pre/post surveys if they get added in) should open in new tab so I can keep working on that record in AMY.

[2015-08-26 11:33] gvwilson opened #474 "Admin commands broken"
Please check all the admin commands (use `make` on its own to get a list):

[code]

[2015-08-26 15:25] pbanaszkiewicz commented on #473
I don't think we should implement this. If you need to open a link in new tab, just use CTRL+click or middle mouse button or similar shortcut in Mac.

[2015-08-26 15:30] gvwilson commented on #473
Any downside to implementing it?  "User wants, user gets..."

[2015-08-26 15:33] pbanaszkiewicz commented on #473
The downside is: "I wanted it to open in the same tab, but it didn't". The rare (or possible to fix) downside may be: "That other link opened in the same new tab" (I'd need to check if this still happens).

[2015-08-26 15:36] pbanaszkiewicz commented on #469
We may switch to text-based choice field. But I need to know what possible situations there are?

* Invoiced
* Not invoiced
* Not applicable because self-organized
* Unknown

Anything else?

[2015-08-26 16:43] maneesha commented on #473
Open in new tabs would be my preference for any *external* links -- internal links should open in same tab. Maybe we can poll the most frequent AMY users to decide?

[2015-08-26 18:48] maneesha commented on #469
In my few weeks here this is what I've seen:

Not applicable because self-organized
Not applicable because partner organization
Not applicable because developing country
Not applicable because other arrangements made

Perhaps people who have been here longer than me can comment.

[2015-08-26 19:22] gvwilson commented on #469
I propose using "because waiver granted" rather than "because developing
country" since we waive fees for several reasons. Otherwise, looks good
to me.

[2015-08-26 19:58] pbanaszkiewicz commented on #473
@maneesha it's a good idea to ask everyone for their preference. I'll do that.

[2015-08-26 21:13] #466 closed

[2015-08-27 06:55] gvwilson opened #477 "Allow search in event URLS"
Search should look at event URLs as well as everything else (because that's often an easy way to find workshops).

[2015-08-27 17:50] maneesha commented on #470
Duplicate of #460

[2015-08-27 17:50] #470 closed

[2015-08-27 17:54] maneesha commented on #457
One other thing - for the email notifications this sends to admin@software-carpentry.org, can the subject line be customized - perhaps with the institution name?  Right now I have dozens of emails all with the subject line "Bootcamp Request"  making them hard to quickly scan.

It would be easier if each subject line was  "Bootcamp Request - University Name"

[2015-08-27 20:46] pbanaszkiewicz commented on #457
I didn't think about notifications in this way, but this is a good idea. We have a pending email account for AMY so that it can send notification emails from something like "amy-noreply@software-carpentry.org".
When we get the account, having nice notification title will be a piece of cake.

[2015-08-27 21:22] gvwilson commented on #457
+1 - please keep the suggestions coming.

[2015-08-29 10:39] pbanaszkiewicz commented on #473
The smart poll decided to use `target="_blank"` for external URLs. Will do this for v1.0.

[2015-08-31 16:23] #474 closed

[2015-08-31 18:55] pbanaszkiewicz commented on #468
Today another user stumbled upon this error. I must fix it for v0.9.

[2015-09-01 11:44] #468 closed

[2015-09-01 13:31] pbanaszkiewicz opened #483 "Event: TODO item, TODO due date"
@gperu requested a "TODO next", "TODO due date" fields for an event.

They would indicate what's next to do for that event ("contact organizer", "send pre assessment forms", etc.), so that admins don't have hard time remembering what they needed to do.

[2015-09-01 13:38] gvwilson commented on #483
Would a checklist per event serve the same purpose?  Maneesha suggested
that a while back...

[2015-09-01 13:50] pbanaszkiewicz commented on #483
Checklist is not flexible enough (and both Giacomo and Maneesha voted for a flexible solution). This solution can be like a drop-down with option to type in own TODO text.

When admin needs some standard TODO item, they just select it. When they need something extraordinary, they just type it in. Like a combo-box widget.

[2015-09-01 13:58] maneesha commented on #483
Following up on our meeting earlier today, just to be clear... the tasks
involved in workshop organization are not always ordered, serial tasks but
are often unordered and parallel.  It is never the case where there is one
finite pending task, and then when that's complete the next one will be up,
and so on.  So this will be a one-to-many relation, where we can continue
adding to-do tasks to each

[2015-09-03 09:24] pbanaszkiewicz commented on #483
Hello, @maneesha.

I think the original idea was some sort of "soonest TODO item" and "soonest TODO item's due date".

Do you think you'd use the 1-to-many relation for any TODO items?
Ie. @gperu and @maneesha, do you think you would keep more than one TODO item for a workshop?

Cheers,
Piotr

[2015-09-03 14:49] maneesha commented on #483
Yes -  I definitely want more than one TODO for any workshop.  Steps
involved in workshop organization are typically unordered (or just roughly
ordered)  and parallel, not ordered and serial, so having just one next
TODO wouldn't make a lot of sense.

On Thu, Sep 3, 2015 at 5:24 AM, Piotr Banaszkiewicz <
notifications@github.com> wrote:

[2015-09-03 16:01] pbanaszkiewicz commented on #464
Closed via #472.

[2015-09-03 16:01] #464 closed

[2015-09-03 19:59] maneesha opened #484 "Indicate "self-organized" for administrator of self organized workshops"
Right now AMY directs you to leave this field blank if self organized.
I'd like to see "self-organized" as one of the drop down options.  Later on, if I'm querying the database directly to find all self-organized workshops I'd rather write `SELECT * FROM events WHERE administrator = 'self-organized'` instead of `SELECT * FROM events WHERE administrator IS NULL`.

[2015-09-05 06:56] #379 closed

[2015-09-05 10:50] gvwilson opened #486 "Add to Problems report: missing address information"
If we are lacking country/latitude/longitude, report the workshop as a problem.

[2015-09-05 10:58] gvwilson opened #487 "Check for impossible dates in Problem report"
Found a workshop with an end date in 2014 but a start date in 2015 - impossible combinations should be reported in Problems.

[2015-09-06 21:03] #486 closed

[2015-09-09 10:48] gvwilson commented on #487
Closed by #489.

[2015-09-09 10:48] #487 closed

[2015-09-09 10:50] gvwilson opened #490 "Ask "what human language do you want?" in workshop request forms"
Brought here from https://github.com/swcarpentry/site/issues/1048: we should ask what human language the workshop should be run in.

[2015-09-10 09:42] pbanaszkiewicz commented on #490
All right, this won't be a drop-down list, but rather a text field. I may leave "English" as default, because most of the workshops are in this language.

@gvwilson any comments?

[2015-09-10 09:51] gvwilson commented on #490
@maneesha @gperu your call...

[2015-09-10 10:01] pbanaszkiewicz commented on #490
@gvwilson I decided to go my way. The fix to this issue is already in #476, and on the dev server.

[2015-09-10 10:34] pbanaszkiewicz commented on #484
@maneesha this is impossible to do this way. But there's another way.

We'd have to have 2 different fields because `events.administrator` is a relation and it has to be an integer type. Therefore there would have to be another field to indicate self-organized or not (== boolean type).

Is `SELECT * FROM events WHERE is_self_organized = 1` better than `SELECT * FROM events WHERE administrator IS N

[2015-09-10 10:36] pbanaszkiewicz opened #491 "New blurred database for development"
Update the `db.sql` file.

[2015-09-10 10:41] gvwilson commented on #491
:+1:

[2015-09-10 10:52] gvwilson opened #492 "Representing online courses"
1. Create a "country" for the World-Wide Web in AMY.
2. Add a flag (icon to be chosen) to represent that "country" on the main website.
3. Make sure the two agree on the 2-letter ISO code for "online" :-)

[2015-09-10 11:55] maneesha commented on #490
I prefer a text field to a drop down field -- what languages to include in
the drop down field is a really politically loaded decision that I don't
want us to make.

On Thu, Sep 10, 2015 at 6:01 AM, Piotr Banaszkiewicz <
notifications@github.com> wrote:

[2015-09-10 11:58] pbanaszkiewicz commented on #490
Hi Maneesha,

On Thu, Sep 10, 2015 at 1:55 PM, maneesha sane <notifications@github.com>
wrote:

Okay. Is prefilling the text field with "English" fine to you or not?

[2015-09-10 12:57] gvwilson commented on #490
Maybe we should offer a choice for that:
![english](https://cloud.githubusercontent.com/assets/911566/9788772/dcd8223a-57c3-11e5-8b3c-8af075bbaead.png)

[2015-09-10 13:06] maneesha commented on #490
Ouch. :)

On Thu, Sep 10, 2015 at 8:57 AM, Greg Wilson <notifications@github.com>
wrote:

[2015-09-10 22:59] pbanaszkiewicz commented on #465
If we want to enable workshop sites hosted outside of GitHub, we should:

1. Put all required variables into `<meta>` in workshop-template
2. Read from these `<meta>` tags instead of parsing `workshop/index.html` in workshop page validation
3. Use only workshop website URL in AMY, not repository URL

@gvwilson if you agree I could start working on this problem soon.

[2015-09-11 00:03] gvwilson commented on #465
Please assign it to me for thinking, but it's a low priority for now.

[2015-09-11 12:28] maneesha commented on #484
Sorry, I should have said my sample query was in pseudocode.  Really all I
meant was that to find self organized workshops I'd rather query by a value
than query for null.

On Thu, Sep 10, 2015 at 6:34 AM, Piotr Banaszkiewicz <
notifications@github.com> wrote:

[2015-09-11 12:49] pbanaszkiewicz commented on #484
Why don't you like querying for NULL?

Semantically it makes sense to mark events without administrator (ie.
self-organized) with `administrator=NULL`.

If we added a host called "Self-organized" then you'd have to memorize it's
ID and you'd query by that ID:

SELECT * FROM events WHERE administrator = 1274

It's definitely more error-prone than querying for NULL values.

On Fri, Sep 11, 2015 at 2

[2015-09-11 13:37] maneesha commented on #484
My problem is in assuming NULL means self-organized.  Null could be the
result of an unknown administrator, or a user overlooking that field in
data entry.  That's why I'd like to have an actual value assigned to
self-organized.

On Fri, Sep 11, 2015 at 8:49 AM, Piotr Banaszkiewicz <
notifications@github.com> wrote:

[2015-09-11 14:29] maneesha opened #495 ""Upcoming" workshops list"
I like having this list displayed on the AMY dashboard.  Can you change it so workshops remain on the list until the workshop is over -  so it should display all workshops where end_date >= today.

[2015-09-11 14:48] pbanaszkiewicz commented on #492
1. Done (via 3.)
2. It's hard to do a 16px by 11px flag
3. I went with 'W3'.

[2015-09-11 14:53] pbanaszkiewicz commented on #492
2: I decided to use a black-white oblate globe for that.

The PR is coming…

[2015-09-11 16:06] gvwilson commented on #492
Is that globe in the 'site' repository?  We'll need it in several sizes
(img/flags/[16,24,32,48]/w3.png)
Thanks,
Greg

[2015-09-11 16:08] pbanaszkiewicz commented on #492
Darn, I just removed all the source images. I'll get other sizes for you. Are these sizes 48x48, 32x32, 24x24 and 16x16?

[2015-09-11 16:14] gvwilson commented on #492
Yes please and thank you.

On 2015-09-11 5:08 PM, Piotr Banaszkiewicz wrote:

--
Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-09-14 20:10] pbanaszkiewicz commented on #465
In case of https://amy.software-carpentry.org/workshops/event/2015-09-26-conestoga there was an error with validation function not discovering correct URL. It may need further investigation, but maybe we could rework whole URL and validation thing altogether…?

[2015-09-14 20:19] gvwilson commented on #465
Proposal welcome :-)

[2015-09-15 18:41] maneesha opened #500 "Add nickname/alternate name or notes field to Person records"
People may go by more than one name (obvious nicknames like Jonathan goes by Jon, but also less obvious nicknames, maiden/married names, Anglicized names, etc).

We should have a way that makes it easy (or at least easier) to track them.  Not sure what the best way to do this would be - suggestions?

[2015-09-15 21:50] pbanaszkiewicz commented on #500
Oh, there was an ongoing argument between us, developers, about how we should keep track of names.

It's one of two ways:

1. Keep track of every alternative we may have (Greg likes that): formal way, informal, etc. etc. I remember Greg found 4 forms he wanted to see in AMY.
2. Don't keep track of anything, just use one field for a name (it could be "Piotr Banaszkiewicz", for example, instead of t

[2015-09-15 22:41] maneesha commented on #500
Yeah, I know this is complicated -- see
http://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/

I don't actually have a solution -- I don't think anyone in the world has a
real solution.  Maybe just have a notes field so I (and other admins) can
just enter in whatever notes help us keep track of who's who.

On Tue, Sep 15, 2015 at 5:50 PM, Piotr Banaszkiewicz <
notificatio

[2015-09-16 08:23] gvwilson commented on #500
I'm happy to rewrite name handling so long as we can reliably sort
people alphabetically by name - 'Jens von der Linden' comes before 'Greg
Wilson'.

[2015-09-16 12:42] gvwilson opened #501 "Wrong link being sent to main website"
(Amended) use event.get_website_url to fetch the URL for a workshop when building the main website in order to prevent problems of the kind described below.

----

1. Go to http://software-carpentry.org/workshops/index.html#future
2. Look at the Sept 28-29 workshop at Oxford
3. The link is to the GitHub repository, *not* to the GitHub Pages website.
4. But if you look in AMY at https://amy.softwar

[2015-09-16 12:47] pbanaszkiewicz commented on #501
@gvwilson

The event's URL (`Event.url`) is this: "https://github.com/jpallen/2015-09-28-oxford". You can see that when you go to Edit event: https://amy.software-carpentry.org/workshops/event/2015-09-28-oxford/edit

In the event details page we don't display `Event.url` (at least not directly). We display `event.get_repository_url()` and `event.get_website_url()`.

Events are exported with their

[2015-09-16 12:50] gvwilson commented on #501
So do I fix this by changing this URL (and all others that are
github.com) to their github.io gh-pages equivalents?

[2015-09-16 12:52] pbanaszkiewicz commented on #501
That's one possible fix.

Other is to make `get_repository_url` and `get_website_url` properties and in API return `event.website_url` instead of `event.url`.

[2015-09-16 13:13] gvwilson commented on #501
What's simplest and most reliable?

[2015-09-16 13:16] pbanaszkiewicz commented on #501
The best for now is to manually change `event.url` to the website URL. The proper solution long-term would be making a property out of `event.get_website_url` and using it in API.

[2015-09-18 08:09] #457 closed

[2015-09-18 08:09] #490 closed

[2015-09-18 08:11] pbanaszkiewicz commented on #456
Closed via #476.

[2015-09-18 08:11] #456 closed

[2015-09-22 15:37] #495 closed

[2015-09-24 08:41] gvwilson opened #505 "Forms are not styled with AMY logo or other logos"
The workshop request forms and the instructor info update form should display the AMY logo and the SWC or DC logos.

[2015-09-24 09:18] pbanaszkiewicz commented on #505
Should we display AMY logo? Users aren't familiar with it, but they do know SWC and DC logos.

[2015-09-24 10:03] gvwilson commented on #505
+1 for SWC and DC logos only.

[2015-09-24 15:09] #492 closed

[2015-09-25 07:45] #505 closed

[2015-09-25 15:07] maneesha opened #508 "Get attendance count from list of learners"
See https://amy.software-carpentry.org/workshops/event/2015-08-27-ualberta for example.  List of learners was imported into AMY but attendance count is still null.

Can we have something where attendance = null by default, can be updated by direct user input OR count(learners), whichever is greater.

(Also I've been interpreting attendance to be only learners, not helpers/instructors/etc)

[2015-09-25 15:16] gvwilson commented on #508
Hi Maneesha,

1. You're correct, attendance should be just learners, not instructors
and helpers as well.  Sometimes the total reported for a workshop will
differ from the headcount in the attendance list because people choose
not to be listed (e.g., we get a total of 30 from the organizer, and
only 10 names are on the sign-up sheet).

2. How about adding to the problem report page so that if atte

[2015-09-25 15:44] maneesha commented on #508
What would make more sense to me is something like (pseudocode):

[code]

So attendance starts off null.  It can take user input at any time.  If the count of learners is ever greater than what's in that field, that field is updated to count of learners.  This condition is to be evaluated only when new learners are added.  The value for attendance should never be less than the count(learners).

So

[2015-09-25 17:32] pbanaszkiewicz commented on #508
Sounds reasonable to me. Let me look for how and where to implement this.

[2015-09-30 10:15] #473 closed

[2015-10-01 09:08] #501 closed

[2015-10-01 09:09] #508 closed

[2015-10-01 09:19] #434 closed

[2015-10-01 13:10] gperu opened #512 "Bulk-upload: empty entries in csv files"
Today I got a strange output form a bulk upload:
"Successfully uploaded 37 persons and 24 tasks"
The entries were actully 24 and this number was recorded in the workshop page.

Piotr found out that there were empty cells in the csv files.

Empty cells should be ignored.

[2015-10-01 18:32] tracykteal commented on #484
I agree that assigning a value to 'self-organized' is better than using NULL. It does make sense that administrator=NULL when there's no administrator, but in this case 'no administrator' is still actually a value and not an absence of a value as NULL would indicate. I think assigning an integer value to 'self-organized' is fine. We can remember it, or have it in the notes.

[2015-10-01 18:35] maneesha opened #514 "Attendance count needs to be more than just one number"
To accurately track and assess our impact, I'd like to have more than just one number to reflect attendance count.  I've gotten a few reports back where attendance on day 2 was lower than attendance day 1 -- sometimes by just a couple of people, sometimes significantly lower.  Actual attendance is also often lower than registered attendance especially for free workshops.

This speaks to a larger n

[2015-10-01 18:37] tracykteal commented on #483
Agree with @maneesha that multiple TODOs are needed. Maybe a checklist that's split up by general time frame? e.g.

Start:
-[ ] Set up workshop website
-[ ] Find instructor 1
-[ ] Find instructor 2
-[ ] Set date with host

Middle:
-[ ] Follow up that instructors have booked travel
-[ ] Set up pre-workshop survey

Just before workshop:
-[ ] Make sure instructors are set with materials

After worksh

[2015-10-01 18:40] tracykteal commented on #460
We're going to be using SurveyMonkey for the assessment software, so maybe there's a way to integrate  this.

[2015-10-01 18:42] pbanaszkiewicz commented on #460
Hi @tracykteal,

is this specific to DC or are both SWC and DC switching to Survey Monkey?

Thanks,
Piotr

[2015-10-01 18:43] tracykteal commented on #51
Generally having the ability to automate emails coming from AMY would be terrific. We could also automate emails to go out to the lead instructor at designated times before a workshop, to remind them of things to do. This has been on the dream wish list for a while.

[2015-10-01 18:48] pbanaszkiewicz commented on #51
@tracykteal email reminders are now possible because we hooked AMY up with an email account.

[2015-10-01 19:11] gvwilson commented on #460
We're both switching - integration would be great.

[2015-10-02 13:27] maneesha opened #515 "Include field to link to associated files"
Workshop hosts & instructors submit data after the workshop is over, including student names & emails which are stored in AMY but also other student data, narrative/anecdotal data, photos, etc.  Would like to link to these from AMY.

Not sure where the files would be...Google Drive? Dropbox? Would have to be somewhere private as these files contain personal/confidential information.

[2015-10-02 15:55] gperu commented on #483
I'm happy with whatever is decided and I'm sure it'll be good.

From my point of vew, I would have liked to have a simple free text box, to appear in my dashboard, reminding me what I have to do, e.g. tomorrow, for a workshop. Like a post-it. Very easy and flexible.

[2015-10-02 15:57] gperu commented on #471
I agree. And also a way of excluding the closed events from one's default view (mine being: UK events administered by software.ac.uk).

[2015-10-04 19:50] karinlag opened #516 "Possible to send out reminder emails to instructors that will be teaching?"
I just noticed in the Steering Committee minutes a suggestion that AMY might be able to send out reminder emails to instructors who will be teaching, to avoid calendar mishaps. In that connection I was wondering if we could create/attach an ics file to the email? In that case, we could also skip the "entering wrong data" mishap.

[2015-10-05 10:08] pbanaszkiewicz commented on #516
@karinlag so just to be clear: you're suggesting that we send out ICS with workshop's dates marked as some event? So that instructors can easily add the event to their calendars?

ref. #51.

[2015-10-05 15:28] karinlag commented on #516
On 10/5/2015 12:09 PM, Piotr Banaszkiewicz wrote:

Yes, exactly. That way we can help people not write the wrong date in
their calendars. I am however uncertain whether this one should be sent
out right after the workshop has been created, or at a set time before
the workshop (like for instance a month before).

Karin

[2015-10-05 16:03] maneesha opened #518 "Add created by & last modified by to event"
Each  page (event, person, etc) should include

Created by username on YYYY-MM-DD
Last modified by username on YYYY-MM-DD

[2015-10-05 16:05] gvwilson commented on #518
+1

[2015-10-06 13:26] gvwilson opened #519 "Unable to merge two people"
1. Go to the production version of AMY.
2. Search for 'duckles': result shows two records for Jonah Duckles.
3. Try to merge the one without an email address (which just shows him being a learner at one workshop where he was actually an instructor) into the main 'duckles.jonah' record that has all his other info.
4. Unable to select 'duckles.jonah.2' as the "from" for merge - since it doesn't have

[2015-10-06 14:19] maneesha commented on #469
looks good

[2015-10-06 14:21] maneesha opened #520 "Add link to NumFocus Invoice Request Form"
Add link under or next to Invoiced (which is going to become Invoice status per #494  and #469) to the form we use to submit invoice request to Leah. Open this link in new tab.

https://docs.google.com/forms/d/1XljyEam4LERRXW0ebyh5eoZXjT1xR4bHkPxITLWiIyA/viewform?c=0&w=1

[2015-10-06 14:27] gvwilson commented on #520
...and pre-populate with as much information as possible?

[2015-10-06 14:30] maneesha commented on #516
I'm not sure about this.
I'm in regular contact with instructors & hosts in the weeks leading up to a workshop and I worry this will be just one more email that clutters people's inboxes.

We had just one case of an instructor who didn't show up because of a date mixup (right when I started so I wasn't involved in the planning of this at all).  The host & I both emailed her several times over a we

[2015-10-06 14:36] jduckles commented on #520
You just have to find the entry codes for each corresponding item and make a template.

Example for "Organization to Invoice" is `entry.823772951`:
https://docs.google.com/forms/d/1XljyEam4LERRXW0ebyh5eoZXjT1xR4bHkPxITLWiIyA/viewform?c=0&w=1&entry.823772951=Mythical%20University

Found info on how to do it here: http://justingale.com/2013/09/url-tricks-for-google-forms-pre-populate-and-automatical

[2015-10-06 16:59] pbanaszkiewicz commented on #519
Oops, I guess we don't have any data to work on now. I tried to reproduce your steps, @gvwilson, but I simply merged both entries…

[2015-10-06 17:04] #469 closed

[2015-10-06 17:20] pbanaszkiewicz commented on #471
Adding this switch is not hard, but reworking our other mechanics to use it isn't as trivial as it seems. I'm moving this to v1.1

[2015-10-06 17:31] #512 closed

[2015-10-06 17:33] pbanaszkiewicz commented on #518
We're kind of are able to track this data down with django-reversion.

[2015-10-06 17:36] pbanaszkiewicz commented on #520
@jduckles thanks a lot for the pointer on pre-populating (TIL). It'll make a lot of things easier here.

[2015-10-06 17:41] pbanaszkiewicz commented on #514
This is another reason why I'm missing PostgreSQL. With it we would have an option to store a list (array) of attendance figures within one field.

@gvwilson any thoughts on switching?

[2015-10-06 17:48] pbanaszkiewicz commented on #460
Any ETA on the Survey Monkey forms?

[2015-10-06 18:05] karinlag commented on #516
On 06/10/15 16:30, maneesha sane wrote:

Not a big problem no, but I know that for myself, I sometimes worry if I
actually get things in on the correct date (but that might just be me).

How about an in between thing: we send out a "registration" kind of
email, once we have an instructor for a workshop, with an attached ics
that contains the dates and the address? In that case it would work more
a

[2015-10-06 18:25] gvwilson commented on #460
@JasonJWilliamsNY ?

[2015-10-06 20:28] maneesha opened #522 "Include links to external documents"
Sometimes we get scanned sign in sheets, other reports that the hosts or instructors put together, etc. about these workshops.  I'd like to start saving them in google drive (unless there's a better place) and link to the file location on the workshop page in AMY.

[2015-10-06 20:29] gvwilson commented on #522
What would you think about a private GitHub repo rather than Google Drive?

[2015-10-06 20:40] maneesha opened #523 "View archived requests"
We can now create a new event in AMY based on a workshop request.  Once we do that though, the workshop request is no longer visible.  If I missed entering in some detail in creating the event, the workshop request is no longer visible.

I know it's in my email but it would be nice to see it right from AMY.

[2015-10-07 11:56] rgaiacs opened #524 "Notify previous learners of nearby workshop when registrations are open"
Can we let people in previous workshops opt in to be alerted the next time a workshop is organized in their area, in case they want to be helpers or be learners again? Also can we notify those that opt in by email when the registrations for that workshop is open?

[2015-10-07 12:17] rgaiacs opened #525 "Add "Create EventBrite page" buttom"
## Summary

Is possible to script the creation of the EventBrite page. \o/

## Motivation

Implement this should be easy (one morning or one afternoon of work) and will save hours from program coordinators and instructors that will have the EventBrite page with one click.

@maneesha Can you comment on this?

## Technical details

We need to use [OAuth2 for authentication](https://www.eventbrite.co

[2015-10-07 13:29] gvwilson opened #526 "Need better name merging"
When we upload data from CSV, we often wind up with duplicate records.  This may happen because we don't always have email addresses to match on, but whatever the cause, we should match names as well to suggest matches.

[2015-10-07 21:22] pbanaszkiewicz commented on #524
This would probably have to be integrated into Eventbrite registration form.

I believe would look like:

* set up Eventbrite registration page
* get CSV with attendees from EB and use "bulk upload" feature to add many people to the database to specific event (with their consents for workshop notifications)
* have a worker go through events and notify about workshops

The issue here is I don't kno

[2015-10-07 21:30] pbanaszkiewicz commented on #525
# Technical details

We have the tokens ready.

# My comment

We didn't previously implement this because Amy reported that she used to copy some existing event rather than create a new one. By creating a new one, she'd have to fill up some fields that weren't able to fill via API call @rgaiacs linked to.

We can try this out this time, maybe it will work out better?

[2015-10-07 21:42] #491 closed

[2015-10-08 11:27] gvwilson commented on #516
Instead of sending reminders to instructors, how about we send reminders to execdir@ or some other small list for a couple of months and see how we feel?

1. I always meant to send "good luck!" and "how did it go?" messages to instructors before and after, but forgot.
2. It'll help us shake out bugs in email sending.
3. If we find it annoying, odds are instructors will too.

[2015-10-08 11:29] gvwilson commented on #514
I think we should defer switching to multi-valued attendance figures until we know that people will actually provide them - if admins start asking now, and archive answers (e.g. in a Google doc) for 2-3 months, and we see that we're actually getting data, then it's worth complicating things.  If they don't give us data, then there's no point.

[2015-10-08 11:30] gvwilson commented on #446
This will have to be done by hand - I'll do it some time in the next few weeks.

[2015-10-08 11:30] gvwilson commented on #443
1. I believe the calendar on the main web site is now updated correctly - @gperu can you please confirm?
2. What kinds of filtering do you want? (I believe we can add labels to iCal events for calendar-level filtering.)

[2015-10-08 11:32] gvwilson commented on #419
After some more thought, I think it would be useful to have this.

[2015-10-08 11:34] gvwilson commented on #343
It would be useful to integrate certificate generation with AMY, but we should only try implementing this feature if we can find a template-to-PDF (e.g., SVG-to-PDF) solution that's easier to set up and more robust than running Inkscape headless.

[2015-10-08 13:09] jduckles commented on #516
+1, I like the idea of being reminded when a workshop is kicking off.

[2015-10-09 16:30] maneesha commented on #525
Give me some time to look in to this more.   Eventbrite's interface is really annoying.  You have to go into a few different panels to update everything necessary for a workshop.  And sometimes even though you think you're changing a setting for just one event, the change ends up global.   An automated API call will either make this way easier or be disastrous.

[2015-10-09 16:34] pbanaszkiewicz commented on #525
@maneesha with API call we're very limited. Take a look at @rgaiacs's [link](https://www.eventbrite.com/developer/v3/endpoints/events/#ebapi-post-events) - there's a list of what we can set up. I think we could set up tickets for an event, too, in a separate API call, but nothing more.

[2015-10-09 16:47] maneesha commented on #524
I like exploring ideas to keep learners connected with SWC.  We can explicitly ask for consent on Eventbrite registration -- something like "I consent for Software Carpentry to contact me by email about future news, events, and other information that may be of interest to me."

Some concerns with this:

* Are we assuming an opt-in or opt-out consent policy when someone signs up on Eventbrite? Shou

[2015-10-09 16:48] maneesha commented on #522
A private GitHub repo would work too.

[2015-10-09 16:53] maneesha commented on #516
I've just started sending personal "Are you ready? Good luck" emails a few days before the workshop.
For a while now I've been sending personal "How'd it go?" emails a few days after the workshop.

We could automate this but there are often details I'll share or ask about that are custom to each workshop.

[2015-10-09 16:53] maneesha commented on #515
Duplicated in #522

[2015-10-09 16:53] #515 closed

[2015-10-09 16:54] maneesha commented on #514
Sounds good @gvwilson

[2015-10-09 20:05] symulation opened #529 "Add event organizer info to the API"
Compute Canada would like to be able to use the API to pull all the events it is hosting and then use this information to populate website.

Might be nice to have the EventBrite IDs there too.

[2015-10-10 09:46] gvwilson opened #531 "Some fields shown as "XXX-unset-variable-XXX' when updating instructor record"
1. Go to the current production instance of AMY.
2. Click on 'Profile update requests'.
3. Select someone.
4. Old airport is shown as 'XXX-unset-variable-XXX' (screenshot).

![screen shot 2015-10-10 at 10 45 57 am](https://cloud.githubusercontent.com/assets/911566/10410528/2ab45c6e-6f3c-11e5-9d3e-d59184de6b3b.png)

[2015-10-10 09:48] pbanaszkiewicz commented on #531
This is fixed in #528.

[2015-10-10 09:48] #531 closed

[2015-10-10 09:49] pbanaszkiewicz commented on #531
Forgot to mention that this bug doesn't affect anything, it's just a representation glitch - it happens when instructors don't have an airport assigned.

[2015-10-10 12:30] gvwilson opened #532 "Redisplay person record after approving instructor information"
After I approve an instructor profile update request, I should see the person's record, not the list of other records waiting to be updated - I want to check that the information is correct.

[2015-10-10 21:14] karinlag commented on #516
On 09/10/15 18:53, maneesha sane wrote:

While I I love the personal touch, the neurotic in me would love to know
that somebody else(TM) has already or will send me a reminder that I can
put directly into the calendar, so that _I_ will not be the reason for
the screw up if and when :)

Karin

[2015-10-10 21:17] pbanaszkiewicz commented on #516
We can automate sending "Event's calendar" emails, and leave all personal emails to Executive Directors and/or Maneesha.

[2015-10-12 04:19] datakid opened #534 "Improve development database (use [auto generated] fixtures of some sort)"
The data that is loaded in the development database is pleasingly non identifying, but tries so hard to not break privacy that it breaks brains.

I have downloaded and installed the test data as recommended. It's very hard to get an idea of what the software does because the names and emails are so appallingly random. Maybe try [fake factor](https://pypi.python.org/pypi/fake-factor) instead? Also,

[2015-10-12 07:30] pbanaszkiewicz commented on #534
@datakid you're right, and I hope to get rid of the `db.sql` for version v1.1 or v1.2. Let me change this issue so that I don't forget. Thanks for the pointers, too!

[2015-10-12 16:42] maneesha opened #537 "Add field "Admin assigned""
Add field for "Admin assigned"  (Maneesha, Giacomo, Katarzyna, anyone else).

Add view to filter by Admin assigned (so I only see my workshops).

[2015-10-12 18:17] maneesha opened #538 "Change Instructor profile request display to use 3 columns"
"Has instructor badge" is getting overwritten from "yes" to "NA"

I haven't accepted any instructor profile updates yet because of this.

[2015-10-13 09:43] gvwilson opened #539 "Generate a list of SCF members"
According to our rules, everyone who has taught at least once in the last two years is a member, as is anyone who has been specifically appointed a member for other services. We need a report page in AMY that generates this list. Any chance of getting it sooner rather than later?

[2015-10-13 12:08] maneesha commented on #539
Can we add a "member" field (bool) to the db?
Finding out who's taught at least 1x in the past two years is a simple SQL query & this can automatically be set to True.
We can then also manually check off anyone who's been specially appointed a member.

[2015-10-13 12:12] gvwilson commented on #539
I don't think we need a field: we can do the query and merge the result
with people who have a 'member' badge for special work to regenerate the
members list on the fly.

[2015-10-13 12:20] maneesha commented on #539
Of course... I forgot about the badges.

[2015-10-13 12:36] maneesha commented on #539
In that case... we can *view* everyone with a member badge if you go to "Badges" under "More" but we should run an update query on that for everyone who's taught in the past 2 yrs.... right now we only have 29 members.

[2015-10-13 12:44] gvwilson commented on #539
Yup, I'm going to construct a page for this - should have it in the next
release.

[2015-10-13 13:42] pbanaszkiewicz commented on #539
@gvwilson @maneesha what's current policy on members? If someone taught 2 years ago, will he be still considered a member in 6 months?

[2015-10-13 13:44] gvwilson commented on #539
From http://software-carpentry.org/scf/governance.html :

[code]

[2015-10-13 13:46] pbanaszkiewicz commented on #539
@gvwilson but time changes, so if someone taught exactly 2 years ago, tomorrow they won't be a member?

[2015-10-13 13:47] pbanaszkiewicz commented on #537
This was an idea for "Admin organization": @maneesha can sort by "Software Carpentry", Giacomo by SSI, Katarzyna by Cyfronet, etc.

Something not working correctly with this solution?

[2015-10-13 13:53] gvwilson commented on #539
In 2015, "previous two calendar years" means any of 2013 or 2014. If you
last taught on Jan 1, 2013, you stop being a member at midnight on Dec
31, 2015.

[2015-10-13 13:59] maneesha commented on #539
So if someone last taught Dec 31, 2013, they'll also stop being a member on Dec 31, 2015?

[2015-10-13 14:02] gvwilson commented on #539
Yup.  Anything less than a three year gap, they're still officially a
member.  But they have to have taught twice in that interval.

[2015-10-13 15:52] maneesha commented on #537
I meant to say I wanted a  *dashboard* view to only include my workshops.

Also, administrator = software carpentry  is not quite the same thing as what I'm looking for.  Right now for self-organized workshops, administrator is null (which I also really want changed - see #484) but there's still a lot of work I need to do for those workshops so I still want to see them on my dashboard.

[2015-10-13 19:59] pbanaszkiewicz commented on #537
So you propose to change all admins' dashboards, not only yours? I'm fine with that, let me ask other admins if they like this change too.

[2015-10-13 20:30] pbanaszkiewicz commented on #538
@maneesha how do you know it's getting overwritten?

[2015-10-13 20:42] maneesha commented on #538
OK... so I guess I made that assumption by looking at the instructor profile update screen, but not actually trying to accept an update.

I was assuming that *every* field in the "old" column was getting overwritten by the corresponding field in the new column.  Now I know this does not apply to instructor badge.  Are there any other fields that don't get overwritten?

[2015-10-13 20:44] gvwilson commented on #538
I also found the mixture of blank, -, and N/A confusing.  Maybe a
three-column display (old, current, what the new will look like)?

[2015-10-13 20:46] maneesha commented on #538
+1 @gvwilson

[2015-10-14 10:13] gvwilson opened #540 "Event display page should highlight problematic fields"
The "event display" page should mark all the things that the "events with problems" report complains about.

[2015-10-14 17:45] pbanaszkiewicz commented on #520
@maneesha do you fill up 'Event or item ID' on that form with event's slug (e.g. `2015-10-03-Krakow-tech-space`)?

[2015-10-14 19:28] pbanaszkiewicz commented on #516
@maneesha @karinlag @jduckles @gvwilson anyone can use their deciding voice and tell me who should be emailed about what and when? I'll appreciate it a lot :-)

Another thought just stroke me: we could perhaps use #483 for https://github.com/swcarpentry/amy/issues/516#issuecomment-146929035 (e.g. admin comes to event's details page and sees they should send "Good luck" email today).

[2015-10-15 12:12] #523 closed

[2015-10-15 12:13] #518 closed

[2015-10-15 13:07] karinlag commented on #516
On 14.10.2015 21:28, Piotr Banaszkiewicz wrote:

I nominate @jduckles and @gvwilson as the ultimate decision makers here.

K

[2015-10-15 13:21] gvwilson commented on #516
Not me! @jduckles and @maneesha

[2015-10-15 13:56] gvwilson opened #545 "Flag people who have done instructor training but are unlikely to complete"
We now have a way to find people who have done instructor training but have not yet completed; what we need is a way to mark some of them as "don't worry about it, they're unlikely to ever finish". This could be a property of the Task object, so that we could filter by it when selecting who to display.

[2015-10-15 15:09] maneesha opened #546 "Indicate host membership status"
Can we note for each host whether they're a member & info on terms of membership agreement?  Dates, how many workshops they get at no cost, etc.

[2015-10-15 15:32] jduckles commented on #546
Once I get our members.csv updated we should figure out how to do a periodic ingest of that data and make sure it is structured for use in AMY.

[2015-10-15 15:42] jduckles commented on #516
@maneesha up to you on this one. You're in the thick of how this actually would work/not work.

[2015-10-15 17:44] pbanaszkiewicz commented on #546
Ref #375.

[2015-10-15 17:57] pbanaszkiewicz commented on #545
What does it take to finish a training? What does it mean that someone is unlikely to finish it?

[2015-10-15 19:35] gvwilson commented on #545
This will have to be done manually - talk Monday about details?

[2015-10-16 08:30] gvwilson opened #547 "Empty workshop titles showing up"
At 09:28 UK time on 2015-10-16, two workshops were showing up blank in the "upcoming" list on the web site:
![screen shot 2015-10-16 at 9 28 18 am](https://cloud.githubusercontent.com/assets/911566/10537241/592ed9ba-73e8-11e5-9187-c9553256dff9.png)
I *think* this was because "Venue" was blank for 2015-11-11-northwestern and 2015-11-11-nyu-med; I've added venue names for both, but:

1. AMY should c

[2015-10-16 08:34] gvwilson commented on #547
Hm - the two workshops at the University of Miami (2015-11-19-umiami-R and 2015-11-05-umiami-Python) were also missing venue information.  The former was showing up as one of the blank lines; the latter didn't appear in the upcoming workshop list at all.  I've filled in venue information for both - @maneesha please check that all four of the workshops mentioned in this issue are actually supposed

[2015-10-16 16:07] pbanaszkiewicz commented on #545
Sure!

[2015-10-16 16:12] gvwilson commented on #545
Err, by "Monday" I mean "Tuesday", because I'm in a workshop all day Monday :-)  But question: how hard would it be to:
1. Add three new tasks "learner_in_progress", "learner_incomplete", and "learner_complete".
2. Turn everyone who's marked as a "learner" in a TTT event into "learner_complete" if they've got an instructor badge, "learner_incomplete" if they don't but their TTT finished more than

[2015-10-16 16:23] pbanaszkiewicz commented on #545
1. By tasks you meant "roles". Not hard.
2. By a migration, sure, not that hard. If you want an automatic mechanism then it's not trivial.
3. By award you meant "tasks"? :-) Not impossible.

On Tuesday I'll be available around 17:00 my time, 16:00 your time.

[2015-10-19 15:37] pbanaszkiewicz commented on #547
The issue has multiple sides to it.

1. In AMY, we mark events as published when they have URL and starting date.
2. In site, we trust whatever AMY gives us…

Maybe we should only publish workshops that have a full location as well?

[2015-10-19 15:38] pbanaszkiewicz commented on #547
@gvwilson 2015-11-05-umiami-Python is missing URL that's why it's not showing up on the site.

[2015-10-19 15:39] gvwilson commented on #547
1. Mark as published with URL, start date, and venue
2. Better checking in web site as well.
3. Something big and bright on the Event page and in the dashboard and
on `all_events` to show published/unpublished.

[2015-10-19 15:40] gvwilson commented on #547
@maneesha is there a website for 2015-11-05-umiami-Python yet?

[2015-10-19 15:44] pbanaszkiewicz commented on #547
@gvwilson: can you elaborate on 2. and 3.?

For the list of unpublished events we have "Unpublished" in the dashboard, and "Status - Unpublished" filter in "All Events".

[2015-10-19 15:50] pbanaszkiewicz commented on #484
@maneesha @tracykteal is there *any* chance you can provide me with a list of events with no (or unknown) administrator? Or the list of self-organized events?

[2015-10-19 16:09] pbanaszkiewicz commented on #484
@maneesha @tracykteal if you're unable to provide me with such list, I'll default to look for events with "self-organized" or "self organized" in their notes, or with "Not applicable since self-organized" as their invoice status.

I may extend the query with events with `admin_fee=0`, but there's over 300 of them so I'm not sure if this is correct.

[2015-10-19 17:22] maneesha commented on #484
I can do this for SWC workshops from August 2015 on.

I don't want to extend the query with `admin_fee = 0` because there are several reasons this may have been the case.

I have not gotten enough into DC yet so @tracykteal will have to help with this.

And all this is exactly why I wanted a value instead of `null` for self-organized and why I wanted all those options for invoice status.  Thanks f

[2015-10-19 17:44] maneesha commented on #547
2015-11-05-umiami-Python does not yet have a github page.  It's in the "unpublished" column in AMY as it should be.

AMY is set up to publish once it has a github page and a date.  However, sometimes we get a github page before the exact location is confirmed.  I'll record the github page in AMY knowing the instructor will update it once the host confirms the location.  I think this is why this is

[2015-10-19 17:55] maneesha opened #549 "Note when giving up on workshop counts"
We have space in each event to record how many people attended.
#514 already asks to break this out to track attrition - some people have actually been providing that.

Some, however, don't respond at all after 3-4 requests at which point I give up asking.  I want to record this but I'm not sure how.  Any ideas?

[2015-10-19 18:46] gvwilson commented on #549
Hm - can you send me a list of workshops and I'll chase them? Sending us
a head count is a condition of using the name and logo.

[2015-10-19 20:53] maneesha commented on #549
I'll start making a list and share it with @gvwilson
It's not many but enough to note.

[2015-10-19 20:55] maneesha opened #550 ""Not Invoiced" dashboard column not populating correctly"
For example 2015-10-05-ucalgary and 2015-10-12-vt are marked  not invoiced on their respective event pages but don't show up in that column on dashboard.

[2015-10-20 15:51] pbanaszkiewicz commented on #471
Greg says: "completed", not "closed".

[2015-10-20 18:38] maneesha commented on #549
Of the workshops listed here (https://amy.software-carpentry.org/workshops/reports/workshop_issues), everyone from Aug 1, 2015 up until one week from present day has been asked at least 1-2 times, some more often.   I typically send a "How'd it go? Send us counts/other data" email within a week after the workshop ends.

I'll continue to go farther back through the rest of 2015.

[2015-10-21 06:25] gvwilson opened #553 "Modify "send us attendance figures" email to include host (if any)"
The mailto: list for the message asking for attendance figures should include the hosts as well as the instructors.

[2015-10-21 08:55] gvwilson opened #554 "Post-workshop head-count form on AMY for instructors"
Can/should we add a simple form on AMY (like the instructor details form) to collect head count for workshops once they're done?  And maybe tick off the lessons that were actually taught?  I know this is all supposed to be in the post-workshop survey for instructors, but maybe having an AMY-based form would increase fill-in rates.

[2015-10-21 08:58] gvwilson commented on #549
I've mailed the instructors of every workshop for which we don't have
attendance figures up to the end of September 2015.  Responses are
starting to come back (as are bounced messages); I'll update AMY as I
get stuff.

[2015-10-21 12:52] jduckles commented on #554
Is it too much to have learners, check-in by name & optional email on an AMY form. The URL can use the slug of the workshop.  Something like: https://amy.software-carpentry.org/checkin/2015-xx-xx-xxxx

A dashboard view for the instructor (showing the total) would help them to nudge folks who didn't sign in to do so. I think we can also have the instructor submit a headcount.  Gathering the info in

[2015-10-21 18:20] pbanaszkiewicz commented on #547
I think this is a good idea. However, there's slight implementation issue. We have 5 fields for location: venue, address, latitude, longitude, country. Should we require all 5 of them to be filled up (+ start date + URL)?

[2015-10-21 18:33] pbanaszkiewicz commented on #550
@maneesha the rule for uninvoiced workshop to show up is that they have some admin fee assigned to them. 2015-10-05-ucalgary currently doesn't and thus it won't show up on the dashboard.

Do you want to change that rule?

[2015-10-21 19:56] pbanaszkiewicz commented on #545
In chat, @gvwilson got a nice idea for this issue: "let's not mess with roles, but rather tag stalled TTT events".

[2015-10-22 13:10] tracykteal commented on #484
DC doesn't have any self-organized workshops. They've all been organized by me or Aleksandra.

[2015-10-22 18:43] #471 closed

[2015-10-23 18:35] maneesha commented on #550
So the "not invoiced" column on the dashboard is not populated by the event's invoice status being "not invoiced"?

This is confusing.  I'd want this column to list all events with status = "not invoiced" -- then I know I have to process the invoice or change the status to something else.

[2015-10-23 18:42] pbanaszkiewicz commented on #550
@maneesha sure. The rule for now is "anything with not-invoiced status and non-NULL admin fee", but I'll change that for you for v1.1.

[2015-10-24 08:11] pbanaszkiewicz opened #558 "Extend Person to store ORCID ID and occupation"
We don't store them, but we ask for them in profile update request form.

Ref. https://github.com/swcarpentry/amy/pull/542#discussion_r42931796

[2015-10-24 08:11] #538 closed

[2015-10-28 20:41] maneesha commented on #550
Another example:

2015-06-24-gatech shows up in the Not Invoiced column on dashboard but in event details
admin fee:	1250.00
invoice:	Not applicable because other arrangements made

They raised all but ~$60 of their $1250 via registration fees so we waived the remainder.

If I change the admin fee to 0, it disappears from the dashboard Not Invoiced column.  However if we want to use this as a tool

[2015-10-29 14:49] maneesha opened #559 "Remove slider widget from attendance count & invoice amount"
Just let it accept a inputted number.
I've never used it, and actually had it cause problems when my scroll wheel activates it and changes the value.

[2015-10-29 15:13] pbanaszkiewicz commented on #559
@maneesha Can you show me a screenshot? I have never seen such thing in AMY, so it may be browser-dependend.

[2015-10-29 15:16] pbanaszkiewicz commented on #465
Postponing to v1.2 because I won't be able to finish it this month. #483 is taking much time.

[2015-10-29 15:20] pbanaszkiewicz opened #560 "Add password reset form"
More and more people are forgetting their passwords. We need a way to reset them.

[2015-10-29 15:41] maneesha commented on #559
Sorry... meant "spinner" not "slider"

![image](https://cloud.githubusercontent.com/assets/829690/10823404/fab4fe24-7e31-11e5-991b-5e11673d6ca1.png)

[2015-10-30 19:23] maneesha commented on #538
When will this go live?  There are a bunch of profile update requests that I'm reluctant to approve because I'm not confident about which fields get overwritten & which don't.

[2015-10-30 20:53] pbanaszkiewicz commented on #538
@maneesha things that must happen:

1. I must submit my work upon new TODO feature (#483)
2. Greg must review my code (for unclosed PRs)
3. I must release v1.1.

I'll do step 1 before weekend ends, but I don't know when does @gvwilson have time to review PRs…

If I was to guess, no later than 2015-11-09 we should have AMY v1.1 deployed, but I really hope for this to happen sooner.

[2015-10-31 13:02] #550 closed

[2015-10-31 13:03] #520 closed

[2015-10-31 13:05] pbanaszkiewicz commented on #539
@gvwilson what's the status on this issue?

[2015-11-03 17:37] maneesha opened #562 "Alert for recently changed github pages"
This is an issue more for self organized workshops than traditional ones.
Sometimes a workshop's instructors change.  The organizers make the change on the github page but don't necessarily tell me.  Since I don't know I can't then make the change in instructors in AMY.

So when the workshop is over, the right people are not invited to the debriefing session.  And then long term we don't have accu

[2015-11-03 19:36] jduckles commented on #562
How about just using the `.atom` feed of the github pages branch of the repo? They can't change anything on the page without committing it 😁.
.
For example:
`https://github.com/swcarpentry/site/commits/master.atom` shows the latest activities on the `swcarpentry/site` repo for the master branch?  We'd need to do it for the `gh-pages` branch of the workshop's repos, but then it could flag pages cha

[2015-11-04 07:58] pbanaszkiewicz commented on #562
Thanks @jduckles for your suggestion, it's probably the only feasible way to do this.

Unfortunately running such thing every week or so requires additional infrastructure (== more work) so I schedule this issue for v1.3.

[2015-11-04 07:58] #484 closed

[2015-11-04 07:59] #483 closed

[2015-11-04 11:55] jduckles commented on #562
You could push the atom call to client side JS. Use the clients "infrastructure". Agreed though, not super high priority, just a "that would be nice" feature.

[2015-11-04 15:36] pbanaszkiewicz opened #563 "Disallow "/" in event's slug"
"/" and other illegal characters break the site…

[2015-11-06 15:08] pbanaszkiewicz commented on #553
@gvwilson:

1. We don't have any contact details in the Host object
2. But we do have Event.contact - text field for storing contact point(s) for the event
3. And yet it doesn't have a specified format, so it can even be a telephone number.

So I can see 3 options here:

1. Add contact to the Host model, or
2. Enforce some format on the Event.contact field, or
3. Find email addresses in the Event.

[2015-11-06 16:28] pbanaszkiewicz commented on #537
Assign to in workshop requests too.

[2015-11-06 20:01] gvwilson commented on #553
We should have at least one Person awarded an Organizer badge for each
Event.  I've been slack about doing this, but if we can get in the
habit, that'll be simpler than trying to record contact info in Host
organizations.

[2015-11-07 14:47] pbanaszkiewicz commented on #545
@gvwilson after talking with admins we agreed that having "stalled" tag would be super useful for other purposes too.

In John and Maneesha's cases, they'd like to use "stalled" to tag workshops with no contact from the organizer.

Any stalled workshop would then be thrown out of their "Unpublished" workshops.

[2015-11-07 15:30] gvwilson commented on #545
What the admins want, the admins get :-)

[2015-11-07 21:05] wking commented on #562
I'm happy to take a stab at this, but I have a few questions:

1. Do we require a GitHub repository based off
   swcarpentry/workshop-template, or do we allow events with just a
   website URL that embeds meta tags on the homepage like what
   swcarpentry/workshop-template gives you?  This is related to #465.

2. Do we have a reliable way to map instructor names from the YAML or
   meta tags to AM

[2015-11-07 21:49] pbanaszkiewicz commented on #562
Hello @wking! Long time no see.

1. We always want the workshop website to be GH repository fork of @swcarpentry/workshop-template.
2. After #465 is implemented we'll still want folks to fork workshop-template since it's easier than explaining HTML meta tags to them. However, the AMY-part of #465 will allow to validate tags on any website.
3. The only form of matching instructors & helpers is huma

[2015-11-08 00:10] wking commented on #562
On Sat, Nov 07, 2015 at 01:49:53PM -0800, Piotr Banaszkiewicz wrote:

Yeah, sorry about that :p.  Looks like things have been going well
here though :).

These both sound reasonable to me.  I think there's an argument to be
made for flexibility and not binding our workflow too tightly to a
specific vendor, but if nobody is actually supplying non-GitHub sites,
then we can certainly punt on that for

[2015-11-08 17:03] #563 closed

[2015-11-10 14:57] #560 closed

[2015-11-10 16:59] pbanaszkiewicz opened #568 "Remove jQuery-UI dependency"
jQuery-UI was used for selectable widgets, but it clashes with bootstrap and I prefer bootstrap JS over jQuery-UI (for example: tooltips on "* issues" pages).

[2015-11-10 17:28] pbanaszkiewicz opened #570 "Add timeline feature"
When #537 gets implemented we'll be able to render admin-specific dashboard for our dear admins.

@maneesha suggested adding a timeline to event TODOs (#561), maybe displayed on the dashboard.

[2015-11-10 19:19] maneesha commented on #547
Sorry I missed this earlier.
Lat/Lon are calculated fields, yes?
So I would say the other three should be filled in and lat/lon should be generated in order for a workshop to be published.

[2015-11-11 16:24] pbanaszkiewicz commented on #547
@maneesha no, lat/long aren't calculated, but they are populated from the workshop's website by "import/update from URL" feature. Does that change your opinion?

Missing lat/long means no marker on the workshops map.

[2015-11-11 19:20] maneesha commented on #547
Then I think I'd say that Location must have all 5 fields to be complete.

A related question - if the 2 character country code is on the github page can that be used to populate the `Country` field when doing the import from URL?

[2015-11-11 19:35] pbanaszkiewicz commented on #547
@gvwilson do you agree to include `Event.address`, `Event.latitude` and `Event.longitude` to the list of fields that must be complete in order for the event to be considered published?

@maneesha that feature (filling up `Country` with "Import from URL") is already implemented, but I just found out that there's a number of bugs related to it. Let me add a GH issue for that.

The "Update from URL"

[2015-11-11 19:38] pbanaszkiewicz opened #571 "Bugs with "Import/Update from URL""
1. "Import from URL" has wrong `country` field ID in JavaScript
2. Something's wrong with for example this event: https://amy.software-carpentry.org/workshops/event/2015-02-09-ucdavis (it uses remote that redirects to somewhere else, plus when we use the remote after redirection we get some errors). The officially saved URL is https://datacarpentry.github.io/2015-02-09-ucdavis/
3. Fix spaces aroun

[2015-11-11 21:11] gvwilson commented on #547
I think it's up to @maneesha and @jduckles - when do they want workshops
to show up on the main website?

[2015-11-11 21:23] maneesha commented on #571
Thanks for this - I was just about to put in an issue to strip leading/trailing whitespace around urls.

[2015-11-13 14:35] gvwilson commented on #44
Close?

[2015-11-13 14:35] gvwilson commented on #51
Possible to do in the next round?

[2015-11-13 14:35] gvwilson commented on #61
Close? We seem to be managing fine...

[2015-11-13 14:36] gvwilson commented on #82
Close? We seem to be managing OK without this...

[2015-11-13 14:36] gvwilson commented on #246
Close? We seem to be managing OK.

[2015-11-13 14:36] gvwilson commented on #271
Close? We seem to be managing OK.

[2015-11-13 14:37] gvwilson commented on #419
Will this one be ready for V1.2?

[2015-11-13 14:37] gvwilson commented on #443
@gperu can you please confirm that the calendar on http://software-carpentry.org/workshops/ is displaying correctly?

[2015-11-13 14:38] gvwilson commented on #449
Are we going to fix or close?

[2015-11-13 14:39] gvwilson commented on #545
This one's becoming more important - I need to know who to chase about completing instructor training.

[2015-11-13 14:51] #44 closed

[2015-11-13 14:52] pbanaszkiewicz commented on #61
We'll reopen in case more issues emerge.

[2015-11-13 14:52] #61 closed

[2015-11-13 14:52] #82 closed

[2015-11-13 14:54] pbanaszkiewicz commented on #246
We've crossed 2k lines in `views.py`, which is a lot and I would like this file to be split. Except that I can keep track of the views pretty easily thanks to Sublime Text 3 features… Closing for now, anyone feeling bad about current state of `views.py` please reopen.

[2015-11-13 14:54] #246 closed

[2015-11-13 14:55] pbanaszkiewicz commented on #271
@maneesha do you feel like we're missing some airports from the database?

[2015-11-13 14:58] pbanaszkiewicz commented on #449
Not a bug.

[2015-11-13 14:58] #449 closed

[2015-11-13 15:01] pbanaszkiewicz commented on #460
@maneesha @JasonJWilliamsNY please confirm that this issue becomes obsolete.

[2015-11-13 15:02] #540 closed

[2015-11-13 19:18] maneesha opened #573 "Need ability to edit airport code in Instructor Profile Update"
https://amy.software-carpentry.org/workshops/profile_update/36

This instructor has mistyped their airport code (TUC, should be TUS)  but I can't edit it and I can't accept the profile update as is.

[2015-11-13 20:23] maneesha opened #574 "Person's email address does not show up"
https://amy.software-carpentry.org/workshops/person/6639

He has a valid email address in his profile.   But if you go to any of the events where he has a task his email address does not show up like it does for everyone else.  Not sure if he's only case but I haven't noticed any others.

[2015-11-14 22:54] pbanaszkiewicz commented on #574
@maneesha: Karthik and others opted-out from us being able to contact them (see "May contact" field on the linked page). In some places their emails won't show up, and in some other places they themselves won't show up because, for example, we only show people that we can email.

[2015-11-15 19:04] maneesha commented on #574
Got it.  I didn't realize that would make the email not show up internally.  I have no problem with that.

[2015-11-15 19:04] #574 closed

[2015-11-16 09:44] gvwilson commented on #271
We can add more airports as we need them.

[2015-11-16 09:44] #271 closed

[2015-11-16 17:44] #537 closed

[2015-11-17 07:23] pbanaszkiewicz opened #578 "Integration with SurveyMonkey"
In this issue I want to gather all functionalities users want.

[2015-11-17 11:54] gvwilson opened #579 "Unit tests should not rely on networked resources"
A couple of our tests appear to rely on network resources (i.e., they hang if there isn't a network connection). We should stub that out somehow so that tests will run offline.

[2015-11-17 12:13] pbanaszkiewicz commented on #579
Can you show examples of such tests?

[2015-11-17 12:17] gvwilson commented on #579
[code]

[2015-11-17 12:20] pbanaszkiewicz commented on #579
@gvwilson interesting. Right now I'm working on #465 (and related) and I got rid of that test completely (not knowing that it was hitting the network). I think we can close this issue…?

[2015-11-17 14:57] gvwilson commented on #579
Sure, as soon as tests on `develop` don't hit the network :-)

[2015-11-20 17:59] pbanaszkiewicz commented on #419
@gvwilson do you have some idea how you want this implemented?

[2015-11-21 07:29] gvwilson commented on #419
It's a lower priority right now - we're not going to take more
instructor training applications until 2016.

[2015-11-21 09:20] karinlag opened #582 "Let's register teaching languages for instructors"
I was speaking to two of our french speaking instructors yesterday, and that got me wondering whether we ask people to register which language they would be comfortable teaching in. If we do, I though that could be used to select a first group of instructors to ask in case of workshops in countries where another language than English would be preferred.

[2015-11-21 11:06] pbanaszkiewicz commented on #582
Hello @karinlag.

We don't store information about languages that instructors feel comfortable teaching in.

@jduckles, @maneesha, @gvwilson do you feel we need that info too?

Thanks,
Piotr

[2015-11-21 11:12] pbanaszkiewicz commented on #582
Let me just add that we do, in fact, ask for workshop language in workshop request form.

We also provide a way for admins to find instructors from specific countries (I believe there's a correlation between used language and country person lives in :-) ).

If we start storing language info then we should:

1. store event language in events
2. store instructors language in their profile
3. ask for

[2015-11-21 11:12] gvwilson commented on #582
+1 - we've already been asked to get this for trainees so that they can
do their mentoring and mini-lesson in their preferred (human) language.

[2015-11-21 11:49] karinlag commented on #582
On 11/21/2015 12:12 PM, Piotr Banaszkiewicz wrote:

Just to have it mentioned, the two french speaking instructors that
spurred this both live in Norway.

Karin

[2015-11-21 15:15] jduckles commented on #582
+1 I think it should allow for more than a single language, some instructors might be comfortable teaching in multiple languages. This is essentially the same as how we track the lessons someone is comfortable teaching it, we just want to track the languages they're comfortable teaching in as well. As Greg says, there may be utility in tracking the "preferred" language as well.

[2015-11-21 16:15] #547 closed

[2015-11-21 20:09] wking commented on #582
On Sat, Nov 21, 2015 at 07:15:19AM -0800, Jonah Duckles wrote:

Here's how this works for HTML:

* Language(s) of some content's intended audience with [1]:

    Content-Language = 1#language-tag

  Like:

    Content-Language: mi, en

* Language(s) that can satisfy a given request [2]:

    Accept-Language = 1#( language-range [ weight ] )

  Like:

    Accept-Language: da, en-gb;q=0.8, en;q=0.7

[2015-11-22 08:52] #465 closed

[2015-11-22 08:52] #571 closed

[2015-11-22 08:54] #529 closed

[2015-11-22 08:54] pbanaszkiewicz commented on #539
Reassigning to me, I'll improve @gvwilson's work.

[2015-11-22 09:06] gvwilson opened #584 ""Import from URL" does not seem to set country"
Imported two workshops this morning via their URLs (which were http://huguesfontenelle.github.io/2015-12-02-Oslo/ and http://karinlag.github.io/2015-11-20-NVI/). In both cases we got address and lat/long, but *not* country (which should be "Norway").

[2015-11-22 11:36] pbanaszkiewicz commented on #584
It does work in `develop`, but there's a bug with converting `None` to `int` in `parse_tags_from_event_website` (`TypeError` is not caught).

Additionally with fallback to the old method of getting tags, a slug should be calculated from event's URL. That's a TODO.

[2015-11-22 17:03] maneesha commented on #582
Almost all of the workshops I manage are in the US so I haven't really come across this.  It may come up across European and South American countries and bilingual Canada -- so I'd defer to the people managing those workshops as to how useful this would be and how it would work.

I am concerned though, with some political issues about how we identify languages.  @wking gave the example above about

[2015-11-22 17:37] karinlag commented on #582
Just to have it mentioned, to me, English is english, I am able to
understand and be taught by americans, uk people, australians, and to my
mind there is no functional difference between the variants in a
teaching situation.

When it comes to instructors, I think we can settle for "which languages
would you be comfortable teaching in" with the default being english.

On 22/11/15 18:03, maneesha sa

[2015-11-22 22:32] pbanaszkiewicz commented on #582
@wking do you want to tackle this one for v1.3 (dev period opens 2015-12-01, release && deployment early January)?

[2015-11-23 06:08] gvwilson opened #587 "More enumeration values for invoicing status"
1.  "not invoiced for historical reasons" (because some workshops took place before we started charging)
2.  "not invoiced because of partnership" (which will cover many train-the-trainer events).

@maneesha can you think of others?

[2015-11-23 06:12] gvwilson commented on #549
OK, I agree with @maneesha that we need a way to mark a workshop as "giving up on collecting data". I think this should be the same tag that we use for instructor training events that are so far in the past that people who attended them are officially deemed unlikely to ever complete.  "stalled" doesn't seem like the right tag, so how about "closed"?  We used to use that term to mean "closed enrol

[2015-11-23 12:39] maneesha commented on #587
Yes, I've wanted to put in a similar issue myself - we should have had option 2 on the list all along (see #469) although I'd call it "Not invoiced because of membership" as both partners and affiliates may not pay fees.

One other situation I've seen come up is that the entire fee was covered by student registration fees but I have marked that as "other arrangements made"  -- they paid via Eventb

[2015-11-23 16:37] wking commented on #582
On Sun, Nov 22, 2015 at 09:03:14AM -0800, maneesha sane wrote:

I think punting to an RFC to which we add nothing (although we may
drop some things) puts us in a fairly safe political position.

So it will be even more difficult to get this information from
prospective students (except maybe trainee-instructors?).  I think
it's mostly a chicken-and-egg issue.  As long as most of our workshops
are

[2015-11-23 16:51] wking commented on #582
On Sun, Nov 22, 2015 at 09:37:43AM -0800, karinlag wrote:

I got some funny faces asking for a peanut butter & jelly sandwich in
Australia ;).  But yeah, for programming, the differences within
English regions are probably not important.  I'm not sure about other
languages.  For example [1] has “many of which are not mutually
intelligible” for Chinese, but maybe all chinese-dialect speakers also
s

[2015-11-23 16:58] wking commented on #582
On Sun, Nov 22, 2015 at 02:32:25PM -0800, Piotr Banaszkiewicz wrote:

Sure :p.  It sounds like folks consider the Language and
LanguageQualification models I outlined in [1] either “looks good” or
“probably overkill, but as usable as a simpler model because of their
defaults”.  If folks want to explicitly green-light those models, or
propose changes to them, I should be able to get started on this

[2015-11-24 07:23] gvwilson opened #588 "Show user what will be displayed on website after adding/changing Events"
The top of the 'Event' display page should show users exactly what will be displayed on the main website given the current state of the Event: flag, date, link, event name, etc. This will help remind people about missing or erroneous fields, particularly as our rules continue to evolve.

[2015-11-24 16:55] #584 closed

[2015-11-24 16:59] #539 closed

[2015-11-24 17:00] pbanaszkiewicz commented on #587
@gvwilson @maneesha do you want it for December release?

[2015-11-24 17:03] gvwilson commented on #539
Cool - when's the next deployment?

[2015-11-24 17:03] gvwilson commented on #587
Yes please.

[2015-11-24 17:04] pbanaszkiewicz commented on #539
@gvwilson probably around 2015-12-02 :)

[2015-11-24 17:06] gvwilson commented on #539
Thanks.

[2015-11-24 17:14] pbanaszkiewicz commented on #582
@wking if you want to grab languages from somewhere, the list here looks decent: https://bitbucket.org/basaundi/django-languages/src/3b1bb169fd9bac289d499b0a6481482017357407/django_languages/languages.py?at=default&fileviewer=file-view-default (only languages with 2-letter code, the rest is overwhelming).

[2015-11-24 17:19] pbanaszkiewicz commented on #460
@maneesha any way I can help with workshop assessment forms now that we use Survey Monkey?

I can for example generate a link to pre/post assessment forms for you.

[2015-11-24 17:20] pbanaszkiewicz commented on #549
@gvwilson we can't use `attendance` field to indicate the fact that we'll not going to get any numbers for these particular workshops.

I think we need to add one more tag just for that…

* `stalled` is available but should be used in two other contexts, I don't want it to be used here as well
* `closed` brings ambiguity since we have a `Event.completed` field
* `no updates`? Or is there a single

[2015-11-24 18:41] pbanaszkiewicz commented on #587
@gvwilson and @maneesha:

I plan to add 'not invoiced for historical reasons' for all events with unknown invoice status older than 2014. I also plan on marking them as 'completed' so they won't bother admins anymore. Any objections?

@maneesha I'm sorry that 'Not applicable because partner organization' was not included in the solution for #469, I don't know how that have happened.

[2015-11-24 19:54] pbanaszkiewicz commented on #553
So what do you decide on this issue, @gvwilson?

[2015-11-24 20:11] gvwilson commented on #587
+1

[2015-11-24 20:30] gvwilson commented on #549
I think we're going to wind up using *all* the synonyms.  @maneesha any
thoughts?

[2015-11-24 23:16] maneesha commented on #553
I need to be better at doing this consistently but....

* for standard workshops I have been adding names to Persons in AMY and listing their tasks as Host for specific events.   This Person is not connected to the Host model though. I've been wanting to put in an issue for that.

* for self-organized workshops I've been naming the Organizer (usually also the instructor).

[2015-11-24 23:33] maneesha commented on #549
I'm not sure what word to use.  We are using `stalled` to refer to Events where contact was initiated but then went nowhere and Instructors who started training but aren't going to finish.  We could use `stalled` if it applied *attendance count* and not the event itself.

@pbanaszkiewicz I think the closest to a single word in English is the phrase "lost cause."

[2015-11-25 06:24] wking commented on #582
On Tue, Nov 24, 2015 at 09:14:36AM -0800, Piotr Banaszkiewicz wrote:

I'd rather just go to the source ;).  [1] lists IANA as the registry
maintainer, [2] looks like that registry, and [3] describes the
entry-format in the registry.

Just the 2-letter codes from [2] still gives us 190 languages, which
still seems overwhelming ;).  I expect the UI will have to be “just
enter your language code, or

[2015-11-25 06:43] wking commented on #549
On Tue, Nov 24, 2015 at 09:20:58AM -0800, Piotr Banaszkiewicz wrote:

Unresponsive?

[2015-11-25 06:46] gvwilson commented on #549
+1 to "unresponsive" for workshops that we were negotiating with but
that don't look like they're going to materialize.

I suggest "finalized" for instructor training events that are old enough
that we're giving up on participants, and for regular workshops where
we're giving up on collecting information about attendance.

[2015-11-25 12:00] gvwilson commented on #553
If we include everyone marked as Instructor or Organizer for an Event, that'll be good enough.

[2015-11-25 15:11] maneesha commented on #553
I'd actually like it to include Host as well.  Sometimes they are the ones managing registration & attendance and so they're the ones who actually have that information.

[2015-11-25 15:31] maneesha commented on #549
"Unresponsive" might be right for workshops where we aren't going to get an attendance count.

It's not quite right for the workshops where we were negotiating but nothing's going to happen.  Many times it's not that they were unresponsive, but we were in contact and it's that timing, budget, etc. wasn't working out and they backed out.  So I prefer "stalled" there.

[2015-11-25 16:27] pbanaszkiewicz commented on #549
Okay, I'll add "unresponsive" to the #581 as well as a `help_text` with meanings of some of the options there ("stalled", "unresponsive").

[2015-11-25 16:34] pbanaszkiewicz opened #591 "Location fields aren't disabled by default when visiting an online Event"
as above.

[2015-11-25 20:14] karinlag commented on #582
On 11/24/2015 6:14 PM, Piotr Banaszkiewicz wrote:

These codes fly a bit over my head :)

But I do get the impression that the admins would be able to say "hm,
here is a workshop that would like italian speaking instructors, lets
check if we have any and ask them", so I like.

karin

[2015-11-26 20:49] #545 closed

[2015-11-26 20:49] #549 closed

[2015-11-27 16:09] #587 closed

[2015-11-27 16:09] #477 closed

[2015-11-27 19:48] pbanaszkiewicz commented on #460
Postponing to v1.3 since nobody can say what AMY is required to do in terms of SurveyMonkey integration…

[2015-11-27 19:56] pbanaszkiewicz commented on #375
I'll start working on this and #546, but without proper feedback from @jduckles, @maneesha and @gvwilson I don't think I'll be able to finish this one in time for v1.2.

[2015-11-27 19:57] pbanaszkiewicz commented on #546
I'll start working on this and #375, but without proper feedback from @jduckles, @maneesha and @gvwilson I don't think I'll be able to finish this one in time for v1.2.

[2015-11-27 19:57] #375 closed

[2015-11-27 20:03] pbanaszkiewicz commented on #546
@jduckles @maneesha @gvwilson as I understand these are the thing we want to track:

* type of membership (Partner, Affiliate, Sponsor)
* start of agreement
* end of agreement
* type of contribution (financial, person-days)
* number of workshops without administrative fee
* probably general notes

As I understand this, agreements with organizational members are often *tailored*, so we won't be abl

[2015-11-28 19:47] maneesha commented on #546
Adding to @pbanaszkiewicz 's list above:

* number of workshops without admin fee (total due, completed, remaining)
* number of self organized workshops (total due, completed, remaining)

* instructor training obligations ( @gvwilson can probably share how to best enumerate this)

 Once this is in place, if an Event gets created in AMY where Host membership status is current I'd like to see some k

[2015-11-28 19:50] maneesha commented on #460
Sorry, the past couple of days have been holidays in the US so I've been travelling.
I do have some ideas that I need to look into more. I will follow up in the next few days.

[2015-11-29 09:30] pbanaszkiewicz commented on #546
Hello @maneesha.

This would be a one field (number of workshops without admin fee) and two calculated properties.

The same.

This seems like a field without one type of value, so I'd guess it should be a text field? But let's wait for Greg to comment on that.

[2015-11-29 09:36] pbanaszkiewicz commented on #460
Sure.

Great, thanks. :)

[2015-11-30 16:34] #553 closed

[2015-11-30 16:40] #532 closed

[2015-11-30 16:40] #573 closed

[2015-11-30 17:03] #384 closed

[2015-12-01 14:59] pbanaszkiewicz opened #596 "Tagging instructors as DC/SWC instructors"
There's no such distinction yet.

[2015-12-01 15:00] pbanaszkiewicz opened #597 "List of people who taught at events of specific type"
Usecase: Tracy wants to grab list of people who taught at DC workshops, so that she knows who is experienced DC instructor.

[2015-12-01 15:03] gvwilson commented on #597
Filter the "Events" display by tag?

[2015-12-01 15:03] pbanaszkiewicz commented on #597
@gvwilson and you'll end up with list of events, not instructors.

[2015-12-01 15:05] maneesha commented on #597
But we can get the instructors from those events, right?

[2015-12-01 15:08] pbanaszkiewicz commented on #597
@maneesha yes, but it requires you to open each workshop and look at the list of tasks.

[2015-12-01 15:11] gvwilson commented on #597
Right - we'll probably need to filter people by award ("has instructor
badge") and then by properties of associated events.

[2015-12-02 08:34] pbanaszkiewicz opened #598 "Upgrade && test development stack"
We're looking at:
* [Python 3.5](https://docs.python.org/3/whatsnew/3.5.html)
* [Django 1.9](https://docs.djangoproject.com/en/1.9/releases/1.9/)
* Bower 1.6.5

And perhaps newer versions of other dependencies.

[2015-12-02 08:38] pbanaszkiewicz commented on #579
Fixed in #465.

[2015-12-02 08:38] #579 closed

[2015-12-02 08:45] pbanaszkiewicz commented on #460
@maneesha I'm closing this one, please do the follow up in the thread #578.

[2015-12-02 08:45] #460 closed

[2015-12-02 08:55] pbanaszkiewicz commented on #568
Let's see into this issue along with #598.

[2015-12-02 08:59] pbanaszkiewicz commented on #559
@maneesha is this still an issue?

Unfortunately & probably, it's not possible to switch only one field to non-HTML5 mode – I think it's "all or nothing". But I'll check.

[2015-12-02 09:02] pbanaszkiewicz commented on #554
@gvwilson @jduckles @maneesha still thinking about this way of collecting attendance data?

[2015-12-02 17:13] jduckles commented on #554
@maneesha what are your thoughts? Would this be helpful?

[2015-12-02 18:34] pbanaszkiewicz commented on #546
@maneesha @jduckles @gvwilson is "number of workshops without admin fee" per year or per whole agreement?

Is this number imposed through the agreement?

[2015-12-02 19:01] jduckles commented on #546
Per year

Yes, it is in the text of the agreement. Which I've recently templated using jinja2 and a yaml document to feed the values. So eventually we might think about an integration to make AMY the authoritative source for member agreement data fields and I can fill the template from the values in AMY.

[2015-12-02 20:26] tracykteal opened #599 "Add a request form for instructor training events (similar to the form to request regular workshops)"
As a way to track the T3 requests that we want to commit to, could we add a 'Train the trainer event' request form that would go into Amy?

If this is possible, I can create the questions that would go in to that form. Thanks!

[2015-12-02 21:52] pbanaszkiewicz commented on #599
@tracykteal it's possible, for reference see #419.

I'd like @gvwilson to comment if he wants to only import old TTT event requests, or also a form for them.

[2015-12-03 06:30] gvwilson commented on #599
Don't understand the question??

[2015-12-03 06:41] tracykteal commented on #599
We'd also like to have a form to enter new ones. So, it would basically be another workshop request form.

[2015-12-03 11:19] pbanaszkiewicz commented on #546
@jduckles @maneesha is there a possibility that some hosts have more than one membership (for example an old one and a renewed one), and you want to track all the history of former memberships?

[2015-12-03 14:03] maneesha commented on #578
First thought --
I'd like three fields that hold the links to the survey results for that specific event. (pre, post, longterm)

Right now those links themselves have to be manually generated.  I'm not sure if it is possible to automate that -- but that would be ideal.

I'll add more as I think of things.

[2015-12-03 15:19] maneesha commented on #546
@jduckles can speak more about this - but I'd think that we do want to track history of memberships.

@jduckles and @tracykteal - Now DC does not have a membership model but as you move towards that, will it also be possible to have concurrent SWC or DC memberships?

[2015-12-03 16:11] jduckles commented on #546
@pbanaszkiewicz Yes we want to track the history of memberships. Typically only one per organization will be active at any one time. They can all have a startdate and an enddate.

@maneesha I think we'll know more about this after DC's in-person meeting next week. Don't want to speculate until they come back and we all have a chance to talk.

[2015-12-03 19:22] tracykteal commented on #546
It will likely be possible to have concurrent SCF and DC memberships. There will likely also be different types of memberships. Like SCF has Affiliates and Partners now, there might be other categories.

Maybe input could be 'interested in association'. Then we can update that record as we learn more what people are interested in and their status as to 'in progress' or 'signed'.

Is this too much,

[2015-12-05 09:06] pbanaszkiewicz commented on #596
Another possibility is to change badges to have "SWC instructor" and "DC instructor" badges separately.

[2015-12-05 11:41] pbanaszkiewicz commented on #546
@tracykteal each Host in AMY allows for storing notes. I'd use this field for describing needs or progress of signing an agreement.

Variants of agreements can change any time (they're only hard-coded).

[2015-12-05 11:50] pbanaszkiewicz commented on #406
Check if this is what we want: https://www.eventbrite.com/developer/v3/formats/organizer/

[2015-12-05 11:50] pbanaszkiewicz commented on #370
Not going to happen.

[2015-12-05 11:50] #370 closed

[2015-12-05 11:57] pbanaszkiewicz commented on #51
Closing this in favor of #516.

[2015-12-05 11:57] #51 closed

[2015-12-05 21:14] maneesha commented on #516
I wasn't sure about having automated emails go out because I know I would ignore something that looked like an automated email - I think a lot of other people would, too.  However, I do send basically the same "Are you ready?" and "How'd it go?" emails to hosts/organizers/instructors before & after the workshop.  I have fill-in-the-blank templates that I use.

How about this... now that we have ad

[2015-12-05 21:20] maneesha commented on #406
I don't think this is what Amy was referring to.  I don't see this in the Eventbrite API, but if you go into the standard Eventbrite interface, you can assign events to users (not users to events).  Go to Account Settings --> Multiuser access and you can assign events to users.  You can also see what users have what events assigned to them.

From what I've seen there's no way to see what events ha

[2015-12-05 21:48] #568 closed

[2015-12-06 07:25] gvwilson commented on #596
1.  Create new badges 'Software Carpentry Instructor' and 'Data Carpentry Instructor'.
2.  Run a migration to convert all existing 'Instructor' badges to 'Software Carpentry Instructor'.
3.  Get a list of Data Carpentry fast-track instructors from @tracykteal and run a migration to award them all Data Carpentry badges.

[2015-12-06 07:35] pbanaszkiewicz commented on #596
@gvwilson:

1. change "Instructor" to "Software Carpentry Instructor" badge
2. add "Data Carpentry Instructor" badge
3. add "Data Carpentry Instructor" badges to people from fast-track (not in migration - I don't want to publish email this way)

Sounds good?

[2015-12-06 07:38] gvwilson commented on #596
+1.

[2015-12-06 07:49] gvwilson opened #603 "Using underscores instead of periods in user IDs"
See https://github.com/swcarpentry/website/issues/90.

[2015-12-06 07:53] gvwilson opened #604 "Modify members API call so that JSON includes user ID"
Right now the 'members' API gives us name and email - the JSON should include each person's user ID as well.

[2015-12-06 08:31] pbanaszkiewicz commented on #596
@gvwilson should our API return only SWC instructors or DC instructors as well?

[2015-12-06 08:44] gvwilson commented on #596
Anyone with either kind of badge who has taught a workshop labelled SWC.

[2015-12-06 11:35] pbanaszkiewicz opened #605 "Review scripts and commands"
We probably don't need a lot of these scripts or commands. Check which ones are being used, and get rid of others.

(I'd like to not have any commands or scripts, because it's harder to maintain them.)

TODO:
* [X] remove `test-command-line-upload.sh` (done in #608)
* [X] remove `parse-instructor-info.py` (done in #608)
* [ ] update anonymizer or whole dev database (see #534)
* [ ] remove `mail-al

[2015-12-06 18:00] karinlag commented on #516
On 12/5/2015 10:14 PM, maneesha sane wrote:

+1 from me.

K

[2015-12-06 18:31] maneesha opened #606 "Merge 2 events"
Just as you can merge two Persons I'd like to be able to merge two Events.

Sometimes I'll start talking with someone about a workshop, enter in preliminary info in AMY, and they later submit an official request form.  I'd like to be able to merge those.
For each field, this should let me choose whether data in A should overwrite B or whether B should overwrite A.

[2015-12-06 19:01] gvwilson commented on #606
+1

[2015-12-07 15:50] maneesha opened #609 "Workshop issues - filter list by admin assigned"
This page:

https://amy.software-carpentry.org/workshops/reports/workshop_issues

So someone can see just the workshops they are responsible for.

[2015-12-08 10:42] gvwilson opened #611 "Server error when looking up nonexistent person"
I just merged levy.michael.2 into levy.michael - now when I go to https://amy.software-carpentry.org/workshops/person/4678 (which used to be levy.michael.2) I get a 500 error and this report:

[code]

[2015-12-08 12:13] gvwilson opened #612 "Strip spaces from personal/middle/family names during import"
I just removed leading and trailing spaces from the personal, middle, and family names of about 50 people. My guess is that these came in during import from CSV; we should strip these. We should also check that multiple internal spaces are compressed to one (e.g., "Luc  Andre" becomes "Luc Andre" with only one internal space).

[2015-12-08 12:37] pbanaszkiewicz commented on #570
https://github.com/twitter/labella.js

[2015-12-08 12:46] pbanaszkiewicz opened #613 "Bug: wrong indication of errors during validation / importing from URL"
1. Import from URL help text is half wrong
2. Validation doesn't show anything if we fail to validate

[2015-12-08 18:26] pbanaszkiewicz commented on #612
But there is a `strip` in the code: https://github.com/swcarpentry/amy/blob/develop/workshops/util.py#L85

[2015-12-08 20:00] gvwilson commented on #612
Hm - there were a bunch of names in the database with leading and
trailing spaces, which I've now removed by hand.

[2015-12-08 20:16] pbanaszkiewicz commented on #612
Were these spaces in consecutive records?

[2015-12-08 20:31] gvwilson commented on #612
Mmm... don't know.  Can you pull up the change log from the AMY database
and look for all the people I touched this afternoon?

[2015-12-08 20:45] pbanaszkiewicz commented on #612
Looking at https://amy.software-carpentry.org/workshops/log/, for example last 4 people you changed:
* https://amy.software-carpentry.org/workshops/person/10383
* https://amy.software-carpentry.org/workshops/person/10382
* https://amy.software-carpentry.org/workshops/person/10352
* https://amy.software-carpentry.org/workshops/person/10351

It seems that IDs are relatively close to each other, but

[2015-12-09 17:07] jduckles commented on #599
I think Tracy is talking about T3 **events**  not interested instructor candidates.  There are two types of data we want to capture. A person wants to become an instructor (done now with a Google Form). An organization (often through a "membership agreement") wants to have several persons become instructors at an event (we have no method to our madness on this front).

This is complicated by the f

[2015-12-09 21:33] pbanaszkiewicz commented on #516
@maneesha I'm not sure if we can send emails on someone else's behalf – I mean: can we send emails from our server and use "From: giacomo@software.uk" header to indicate that it was Giacomo who sent that email? If I was the recipient's server, I'd put that to spam.

@wking do you have any experience with such stuff?

[2015-12-09 21:54] jduckles commented on #516
As long as the reply-to is @software-carpentry.org we can send the messages through the mail.software-carpentry.org SMTP server I'd think.

[2015-12-10 07:45] pbanaszkiewicz commented on #605
Added a TODO in the issue content.

[2015-12-10 14:52] pbanaszkiewicz commented on #613
Fixed in #614.

[2015-12-10 14:52] #613 closed

[2015-12-10 14:53] #611 closed

[2015-12-10 16:53] jduckles opened #616 "{workshops,instructors,learners}_over_time to API"
Would it make sense to move the {workshops,instructors,learners}_over_time to the API. I'd like to be able to auto-generate graphs for these and right now I do a manual cut-paste process.

[2015-12-10 16:58] gvwilson commented on #616
Agreed - all info should be provided both in HTML display and as JSON
through an API call.  Management commands like report_all_activity
should probably be turned into API calls as well.

[2015-12-10 21:42] pbanaszkiewicz commented on #616
Do we want `report_all_activity` to be accessible to everyone?

[2015-12-10 21:53] gvwilson commented on #616
Everyone who can log into AMY.

[2015-12-10 22:29] pbanaszkiewicz commented on #570
http://visjs.org/docs/timeline/

[2015-12-11 14:44] gvwilson opened #617 "Record participation in hackathons"
1.  Start recording hackathons as events of type 'hackathon'.
2.  Record participants.
3.  Add historical information.

This will allow us to track conversion rates (how many hackathon participants become lesson authors and/or instructors).

[2015-12-11 16:02] pbanaszkiewicz commented on #617
This probably means "add a new tag 'hackaton'"?

[2015-12-11 16:04] gvwilson commented on #617
Yup.

[2015-12-14 02:09] maneesha opened #619 "Instructor Profile Update - matching record not found even though it exists"
Possible bug?  Or maybe records don't match because of whitespace?  If so can we always strip leading/trailing whitespace?

https://amy.software-carpentry.org/workshops/profile_update/103  gives the warning that no record matches name or email but

https://amy.software-carpentry.org/workshops/person/361 is a name match

[2015-12-14 02:20] maneesha commented on #619
Another example:
Profile update request:  https://amy.software-carpentry.org/workshops/profile_update/94
Existing record:  https://amy.software-carpentry.org/workshops/person/8755

[2015-12-14 06:34] gvwilson commented on #619
We're supposed to be stripping spaces - @pbanaszkiewicz, can you please
dig into this one?

[2015-12-14 14:42] pbanaszkiewicz commented on #619
I'll just:

1. Force `.strip()` upon save of both Person and ProfileUpdateRequest (this will fix #612 and #619)
2. Update production by stripping spaces from Person and ProfileUpdateRequest (not in migration)

Stripping will only apply to first, middle and last names, and email, since these are the crucial fields for us.

[2015-12-14 17:30] #596 closed

[2015-12-14 18:43] #612 closed

[2015-12-14 18:44] pbanaszkiewicz commented on #619
Closing via #620.

[2015-12-14 18:44] #619 closed

[2015-12-14 20:07] maneesha commented on #612
Yes, I think some of those were a bit of sloppiness on my part - I didn't bulk upload but I did copy/paste which may have carried over some spaces.

Will this fix automatically strip all leading/trailing spaces from names and emails now or should I be more careful about this myself?

[2015-12-14 20:09] pbanaszkiewicz commented on #612
@maneesha I'll strip trailing spaces in names and emails on the production just before merging this PR, so between then and the release of v1.3 (December/January) you should be more careful.

[2015-12-15 11:22] pbanaszkiewicz commented on #450
Closed via #621.

[2015-12-15 11:22] #450 closed

[2015-12-15 11:57] pbanaszkiewicz commented on #597
@gvwilson right now it's possible to filter people by their badges on All Persons page. I'm going to add "filter by type of workshop where person taught", which is not the same - some people have 'instructor' task for event but are actually missing the badge.

[2015-12-15 13:45] gvwilson opened #623 "Bulk upload must display/allow editing of user ID"
The form displayed for editing and confirmation during bulk upload does not show the user name that AMY is constructing, but data may be rejected because either the user's first or last name includes special characters, which cannot be used in user names.  The page should display the user name that AMY has matched on or constructed, and allow it to be edited.

[2015-12-15 13:49] gvwilson opened #624 "Searching for duplication in the database"
We need a page that will display pairs of people where:

1.  (A.firstname == B.lastname) and (B.lastname == A.firstname), i.e., we got someone's names flipped during bulk upload.
2.  (A.firstname == B.firstname) and (A.lastname == B.lastname) and (A.email != B.email), i.e., we may have two records for the same person because they changed email address.

[2015-12-15 14:32] #597 closed

[2015-12-15 15:54] #546 closed

[2015-12-15 15:54] #570 closed

[2015-12-15 18:38] #591 closed

[2015-12-16 09:26] pbanaszkiewicz opened #626 "Database: clear migrations, move data migrations → fixtures"
We have a number of data migrations that input new values into empty database. Try creating a fresh new database:

[code]

Now log in with `admin:admin` credentials and go to http://127.0.0.1:8000/workshops/admin/ to see some of the values that we add with migrations.

Since we're switching to fake-generated "fixtures" (see #534 for details), I'd like also to get rid of all migrations that provide

[2015-12-17 16:27] apawlik opened #628 "Check other ticketing systems if they're better than Eventbrite"
Is it possible to feed back the contact address as set in the index header back to Eventbrite for the particular event?
Currently the templates in Eventbrite have admin email as contact. People end up emailing our admins which is a problem. Manually setting the contact in Eventbrite (when setting up the event) is problematic for the admins. Ideally once the event is in AMY (and has Eventbrite conn

[2015-12-17 16:32] pbanaszkiewicz commented on #628
@apawlik I don't see an option to set contact in here: https://www.eventbrite.com/developer/v3/endpoints/events/#ebapi-post-events-id

Eventbrite API is very limited and currently not much of a use for us. We can't even automate creating events (see #350).

[2015-12-17 17:47] maneesha commented on #628
This is one of many frustrating things about Eventbrite.
When you change the contact address the change actually happens globally, not just for that one event.  So you have to go back and change it for each event.  For example, if you change it to someone at UConn for an event at UConn, and then you create an event for Harvard, if you don't remember to change it, then the UConn person will get ema

[2015-12-17 17:57] maneesha commented on #628
Following up on my point above about Multi User Access, I usually let the host/organizer know they'll be included on all "Contact the Organizer" emails so they can respond accordingly.  It still means I (admin@swc) but at least I don't have to directly respond.

[2015-12-20 20:47] pbanaszkiewicz commented on #623
@gvwilson:

Why are special characters in usernames forbidden? And where?

I'm against giving option to edit username since it jumps complexity a thousand times (which should be matched to see if person exists? Username or email? When should we overwrite username? Etc. – for me it's unsolvable right now).

[2015-12-21 15:00] maneesha opened #631 "New report: All activity over time"
I'd like to be able to generate a report where user inputs a date range and output is:

* count workshops: SWC, DC, total  (note total may not equal sum if there are joint SWC-DC workshops)
* count workshops: self-organized, WiSE, TTT
* count total instructors
* count unique instructors
* count total learners
* list workshops missing any of this data (so we know if our counts above are incomplete)

[2015-12-21 15:14] pbanaszkiewicz commented on #631
@maneesha:

* count unique instructors
* count total learners

What is the meaning of these numbers? Do you want to know how many (distinct or not) people appeared on workshops from specific time period with these roles (instructor, learner)? Or do you want to know how many people became instructors in that time?

From the specific period or in general?

[2015-12-21 15:21] maneesha commented on #631
Good questions - sorry that wasn't clear.
Count instructors would mean instructors who taught in that date range.
Count learners would mean people who were learners in that date range.
List of workshops missing any of that data would be for same date range.

It would probably be nice to also include count people who became instructors although maybe @gvwilson wants to chime in on this.  Would that

[2015-12-21 15:37] pbanaszkiewicz opened #632 "Repair slow tests"
There's a number of tests that run really slow (a couple seconds). Let's try to fix them to run < 1s.

A tool for finding slow tests: https://github.com/realpython/django-slow-tests

[2015-12-22 20:25] maneesha opened #633 "Integrating Invoice Request form into AMY"
NumFocus has a Google form used to submit an invoice request.
Right now we have a feature in AMY to hit a button & have that Google form open prepopulated as much as possible.

However, it is still a bit error prone because it still means I have to cross check what's been submitted on the Google form with what's in AMY.  I'd like to think about ways we can integrate this.  This would mean giving N

[2015-12-25 17:32] #526 closed

[2015-12-25 17:32] #623 closed

[2015-12-25 17:33] #534 closed

[2015-12-27 12:16] pbanaszkiewicz opened #634 "Enhance workshop request forms for self-organized workshops"
WIP

[2015-12-28 16:22] pbanaszkiewicz commented on #598
Postponing to v1.4 because Anaconda hasn't yet upgraded Django to 1.9: http://docs.continuum.io/anaconda/pkg-docs

[2015-12-28 16:27] pbanaszkiewicz commented on #559
@maneesha ping on this issue

[2015-12-28 16:29] pbanaszkiewicz commented on #582
Unfortunately we missed the opportunity to do this before the update mail was sent out…

[2015-12-28 16:32] gvwilson commented on #582
We'll be registering a new batch of instructors starting late
January/early February, so we can aim for then.

[2015-12-29 17:37] pbanaszkiewicz opened #636 "API: add filtering by workshop type in published events"
We need to grab DC-only, or SWC-only published events. Probably there's no need to return type of the event in the structure, just filtering.

[2015-12-30 21:23] maneesha commented on #559
See the image in my comment on Oct 29.  The spinner (up/down arrows) mean that if I hit my mouse scroll wheel while in that field, I change the value.
I'd like to disable the spinner so the only way to enter a value in any numeric field (attendance, admin fee, etc) is to key it in.

[2015-12-31 10:14] pbanaszkiewicz opened #638 "Check if we need to generate initial revisions for fake database"
as above

[2015-12-31 13:41] #188 closed

[2015-12-31 13:41] #605 closed

[2015-12-31 13:51] #588 closed

[2015-12-31 15:19] #636 closed

[2016-01-02 12:27] gvwilson opened #639 "API call to get people associated with event"
I would like an API call to fetch (role, name, email) for everyone involved with a particular event (optionally filtered by role) - I want it so that I can quickly grab a list of people who were involved in a particular instructor training event to prompt them to finish off.  Bonus marks if we can also filter by award (i.e., subtract the people who are already instructors).

[2016-01-03 20:31] pbanaszkiewicz commented on #639
@gvwilson this should be accessible to admins only, right?

[2016-01-03 20:38] gvwilson commented on #639
Whoever can view the event should be able to make the call, since it's
the same info.

[2016-01-04 20:34] pbanaszkiewicz commented on #628
Okay, let this be a research task for @maneesha for January: to look for other event ticketing systems.

[2016-01-04 20:40] #443 closed

[2016-01-04 20:41] pbanaszkiewicz commented on #519
Closing as outdated.

[2016-01-04 20:41] #519 closed

[2016-01-05 10:08] pbanaszkiewicz commented on #603
Okay, I looked into this and there's a huge impact: we're basically changing users' login data.

What I suggest we should do is return an underscored name in the API instead - that's the only way the website talks with AMY, right?

[2016-01-05 11:20] gvwilson commented on #603
But how many users have logins?

[2016-01-05 11:22] pbanaszkiewicz commented on #603
Well everyone has a username, and 17 people have login access.

[2016-01-05 11:55] gvwilson commented on #603
Easy to regenerate user names, and better to do it now with 17 people
than a year from now with more.  If this cuts one custom build step out
of the website, I think it's worth doing.

[2016-01-05 15:02] rgaiacs opened #643 "Remove instructor training from debriefing list"

[2016-01-05 18:41] maneesha commented on #20
This is an old issue -- now that we are using Survey Monkey I'd like fields that just hold the survey results.  This would be 5 fields for the 5 surveys we're planning on using:
Learner pre & post
Instructor pre & post
Learner Longterm

[2016-01-05 18:45] pbanaszkiewicz opened #644 "API: don't return todos with unknown start"
This breaks the timeline.

[2016-01-05 18:45] pbanaszkiewicz commented on #644
ref #618

[2016-01-05 19:18] #644 closed

[2016-01-06 09:33] pbanaszkiewicz commented on #20
@maneesha I looked into this issue some time ago. From what I saw, the links don't have a predictable form, and I didn't seem to be able to get them via API - but I need to check again.

[2016-01-06 16:09] maneesha commented on #20
I was thinking these would be manually entered.  So we'd just need 5  text fields validated to hold hyperlinks.

[2016-01-06 20:31] maneesha opened #647 "Workshop requests coming in multiple times & not via email"
See
https://amy.software-carpentry.org/workshops/requests/

Recent requests have come in 4x and are not coming in through admin-all email list.

[2016-01-06 20:33] gvwilson commented on #647
By '4x' do you mean each request arrives four times?

[2016-01-06 20:37] maneesha commented on #647
Yes - unless something is weird just on my view.  Do you see the last couple of requests four times here?

https://amy.software-carpentry.org/workshops/requests/

[2016-01-06 20:39] gvwilson commented on #647
OK, that's definitely a glitch - @pbanaszkiewicz, over to you?

[2016-01-06 20:45] pbanaszkiewicz commented on #647
@maneesha @gvwilson the repetition is really bizzarre - I don't think I changed any code regarding EventRequests in v1.3 and v1.3.1.

The "no emails" part might be because of the recent mail server failures.

[2016-01-06 20:47] pbanaszkiewicz commented on #647
@maneesha I just submitted a test request. Did you receive the email?

My request was not multiplied, so *maybe* these two multiplied were due to DNS errors we had recently?

[2016-01-07 10:38] pbanaszkiewicz commented on #578
Posted by @maneesha in older issue:

and:

[2016-01-07 10:38] pbanaszkiewicz commented on #20
Closing this issue in favor of #578 (see https://github.com/swcarpentry/amy/issues/578#issuecomment-169625263).

[2016-01-07 10:38] #20 closed

[2016-01-07 11:18] pbanaszkiewicz commented on #21
Replaced with TODOS in #561.

[2016-01-07 11:18] #21 closed

[2016-01-07 11:31] pbanaszkiewicz commented on #554
@maneesha: awaiting feedback on this topic. Thanks!

[2016-01-07 11:33] pbanaszkiewicz commented on #522
@gvwilson @jduckles @maneesha is this issue solved (ie. does the private repo for this kind of data exist)?

[2016-01-07 11:34] #559 closed

[2016-01-07 11:39] pbanaszkiewicz commented on #604
@gvwilson and what do you need that ID for? And did you by ID meant username?

[2016-01-07 12:06] gvwilson commented on #604
Yes, username - I want to be able to check against _include files, PDF
certificates on disk, etc.

[2016-01-07 12:53] pbanaszkiewicz commented on #604
@gvwilson is the members call used in website generation?

I'm thinking of allowing only logged in users to access this API call.

[2016-01-07 14:06] maneesha commented on #647
Yeah, it looks like server downtime caused these glitches.

[2016-01-07 14:06] #647 closed

[2016-01-07 14:16] gvwilson commented on #604
Not needed for website generation; it's for things like checking the
certificates we've generated (which involves comparing to stuff on a
hard drive somewhere).  Don't want to have to do that on the server,
don't want to have to copy the database down to my machine to run it.

[2016-01-07 15:09] jduckles commented on #522
I'm happy to create it, @maneesha just give me a name you'd like it to have and I'll make sure all admins can access it.

[2016-01-08 01:10] #604 closed

[2016-01-12 18:55] maneesha commented on #522
I think something like "workshop_documents" would be fine.  It should have folders named for each workshop's slugs as necessary.

[2016-01-12 19:04] maneesha commented on #554
I agree with @jduckles  that no matter what system we have the hard part will be having instructors do it.

For workshops that use Eventbrite, I believe Eventbrite has a checkin button.  @pbanaszkiewicz If we get instructors to make learners checkin on Eventbrite can we import that straight into AMY?  You know the Eventbrite API better than me.

If we don't or can't use Eventbrite then something b

[2016-01-12 19:38] pbanaszkiewicz commented on #554
### Eventbrite API

@maneesha: unfortunately there is no public Eventbrite API allowing developers to check in people (http://stackoverflow.com/a/19446732). I found out that Eventbrite allows event managers to use their own Eventbrite Neon application to check people in on entry, so they must have a private API for that.

With the API we're able to get people checked-in, though: https://www.eventb

[2016-01-12 20:16] jduckles commented on #522
Done: https://github.com/swcarpentry/workshop_documents

[2016-01-12 20:16] #522 closed

[2016-01-12 22:18] maneesha opened #651 "Stalled workshops should not show up in workshops with issues"
See for example
https://amy.software-carpentry.org/workshops/event/2016-12-07-bnl

[2016-01-13 21:16] maneesha commented on #634
For self organized workshops they should be making their own github page.  So can we have a way for them to just submit that directly into AMY, rather than filling out a form which would likely duplicate that data? The admin could then accept it which would do the same thing as "Import from URL" on the New Event page.

 What do @jduckles  @gvwilson @tracykteal think?

[2016-01-13 22:24] gvwilson commented on #634
I like this - a one-line text box at the top of the "tell us about your
workshop" form where they put in the URL of the site they've built, we
harvest info, display for confirmation/editing, then into the queue it goes.

[2016-01-14 00:51] tracykteal commented on #634
I think there's a potential time disconnect between when they're thinking about running a self-organized workshop, and we want to make sure they're OK to do it, and when they set up the workshop website.

I would prefer that they filled out the form and we can do things like have a checkbox that says
- I will set up my own registration
- I will distribute the surveys

[2016-01-14 17:11] gvwilson opened #653 "Allow dashes in usernames"
The validator for usernames in models.py only allows alphanumeric, underscore, and '.', but we should allow '-' as well, because Andy Blanking-Crush should have blanking-crush.andy as a username.

[2016-01-14 17:15] gvwilson opened #654 "Improving workflow for bulk upload"
A person named "Alpha Beta" is in the database without an email address.  We then do a bulk upload from CSV with a record "Alpha,Beta,ab@somewhere.com" followed by event and role information.

AMY reports a name collision and suggests using the email address of the person in the database to force a merge - but there isn't one:

![screen shot 2016-01-14 at 9 09 20 am](https://cloud.githubuserconten

[2016-01-14 17:39] pbanaszkiewicz commented on #653
I can change that in #645, what do you think?

[2016-01-14 17:40] pbanaszkiewicz commented on #654
So what do you suggest? After bulk-upload go to 2-people merge? Or just fix the 2-people merge?

[2016-01-14 18:38] gvwilson commented on #653
+1

[2016-01-14 18:39] gvwilson commented on #654
Definitely fix the two-person merge; still thinking about the
collision-with-no-email thing during upload. @maneesha, any ideas?

[2016-01-15 15:58] pbanaszkiewicz commented on #654
I was thinking about this approach:

1. Remove all the duplication-related features we can from bulk-upload
2. Leave: matching person by email, matching event by slug, matching role by name (person doesn't have to exist in the database, but event and role do)
3. After successful bulk-upload, redirect the user to find-duplicates view (to be implemented #624)
4. Let the find-duplicates and merge-dup

[2016-01-15 16:02] gvwilson commented on #654
I like fixing things during upload (so that bad data doesn't get into
the database in the first place), but it's not my call: @maneesha gets
to decide.  @maneesha, preferences?

[2016-01-19 11:23] #643 closed

[2016-01-19 17:15] gvwilson opened #656 "Generate certificates from AMY"
We are presently generating PDF certificates for instructors using a small Python script in the swcarpentry/certification repository (which in turn relies on Inkscape). Doing this by hand means that certificates are always out of step with the list of instructors in the database. We should instead:
1. Have AMY generate certificates.
2. Have it check that a certificate for a user and award already

[2016-01-19 17:19] pbanaszkiewicz commented on #656
So #343 is meant for attendees certificates?

[2016-01-19 17:21] gvwilson commented on #656
Yup - I want to separate generating certificates that we have already
agreed to create (instructors of both kinds, eventually organizers as
well) from generating certificates for attendees (still under debate).
The former is a higher priority.

[2016-01-19 18:48] maneesha commented on #554
The Check in button is available to organizers via the web interface.  Neon app is not necessary.  It does not seem to be available to attendees.

If we build check in feature in to AMY I would like to have checkin by day.  Most workshops see at least a small drop off on day 2 and if we're going to build this feature, I would like to track that.

[2016-01-19 18:56] pbanaszkiewicz commented on #554
I had an idea a few hours ago about that check-in form, so let me drop it here. Maybe we can encourage learners to check in at the end of second days and feed their data to our certificate script (assuming I'll get #343 and #656 to work) so that they'd get certificates of attendance?

[2016-01-20 10:21] #609 closed

[2016-01-20 10:23] #578 closed

[2016-01-20 10:41] #558 closed

[2016-01-20 21:05] maneesha opened #659 "Include "notes" field on instructor profile update form"
On this form:
https://amy.software-carpentry.org/workshops/update_profile/

Can we also have  "notes" field that is just for the admin's info?  I often have people completing the profile update form and then emailing me with some other notes.  If I could just see this all in one place I would not have to match up the profile update request with the email.

[2016-01-22 16:17] pbanaszkiewicz opened #661 "Show events with missing instructors"
…in the workshop issues page.

[2016-01-24 18:31] maneesha commented on #661
Taking this a step further - can AMY read the workshop website's repository & get len(instructor) and len(helper), then alert if these do not equal count(instructors) and count(helpers) in the database?

Sometimes I put an event in AMY but the organizers add instructors/helpers afterwards and don't tell me.   This will cue the admins to double check that all instructors/helpers have been entered i

[2016-01-24 19:10] #653 closed

[2016-01-24 19:12] pbanaszkiewicz commented on #603
Closing via #645.

[2016-01-24 19:12] #603 closed

[2016-01-24 20:03] pbanaszkiewicz commented on #661
@maneesha such feature should go to #562 I think.

[2016-01-24 22:16] maneesha opened #663 "Survey links field should be Survey results"
Rename "Survey links" to "Survey results"

Survey *links* are automatically generated using workshop slug.
The *results* are what we need to store because those have to be manually generated.

[2016-01-25 10:36] #632 closed

[2016-01-25 10:38] pbanaszkiewicz commented on #638
Yes we need.

[2016-01-25 10:44] #638 closed

[2016-01-25 11:04] #663 closed

[2016-01-25 12:53] #639 closed

[2016-01-25 19:56] gvwilson commented on #446
Does this still need to be done?

[2016-01-25 20:24] pbanaszkiewicz commented on #446
I don't think we care about these anymore. @maneesha can we close this
issue?

On Mon, Jan 25, 2016 at 8:56 PM, Greg Wilson <notifications@github.com>
wrote:

[2016-01-25 20:32] maneesha commented on #446
If there is no missing/unknown/null data then I think it is fine to let those go.

If there is any missing data I think it should be assigned to the current admin for that geographic area (even if the workshop predates them, they are the ones building relationships in that geographic area) so they can follow up.

[2016-01-26 11:19] gvwilson opened #667 "Reporting completion percentages for instructor training"
Please create a management command that reports:

* instructor training event slug
* total # of attendees
* # of attendees who got their instructor badge from that event
* # of attendees who have an instructor badge (from that event or any other)

for each instructor training event, so that we can see completion rates (both from the event and eventually).

[2016-01-26 17:01] maneesha opened #668 "Assigning DC instructor Badge"
There are a bunch of instructors with the text "Data Carpentry instructor" in their profile notes field. I believe these should all have the DC badge.  @tracykteal can you confirm? And if so, @pbanaszkiewicz can you run a script to pull these instructors?  We should manually verify, and then they can be assigned a DC badge.  This should be a one time thing.  From now on we should be using the DC I

[2016-01-26 19:17] tracykteal commented on #668
Yes, everyone with "Data Carpentry instructor" in the notes, should all have the DC Instructor badge, and it would be great if we could script this.

[2016-01-26 20:02] maneesha opened #669 "Consistent language for invoicing options"
Change
Not invoiced for historical reasons
and
Not invoiced because of membership

to:

Not applicable for historical reasons
and
Not applicable because of membership

[2016-01-27 14:28] pbanaszkiewicz commented on #667
@gvwilson when do you need it? For February or March?

[2016-01-27 14:39] pbanaszkiewicz commented on #668
This will be fixed manually (in Django shell).

[2016-01-27 14:54] pbanaszkiewicz commented on #667
@gvwilson also which instructor badge are we talking here? Will you only train SWC people, or DC too?

[2016-01-27 15:19] gvwilson commented on #667
I'm doing this by hand right now, so next week would be a big help.

[2016-01-27 15:20] gvwilson commented on #667
Good question - they're all mixed together, so "any instructor badge".
Thanks,
Greg

[2016-01-27 15:23] pbanaszkiewicz commented on #667
@gvwilson I'll try to work on this tomorrow.

Also, if in the future someone else may be doing DC instructor training, I'd include a code that looks for a badge of the type of Tag assigned to the specific training. For example:

1. SWC-tagged event: look for `swc-instructor`-badged people
2. SWC- and DC-tagged event: look for either `swc-instructor` or `dc-instructor`-badged people.

[2016-01-27 15:31] #616 closed

[2016-01-27 15:31] #631 closed

[2016-01-27 15:32] #669 closed

[2016-01-27 16:24] gvwilson commented on #667
Hm - I don't understand what you have in mind looking for badged people...

[2016-01-27 18:13] pbanaszkiewicz commented on #667
That's for calculating number of attendees who received their badge for that event, or for any other event.

[2016-01-30 10:14] pbanaszkiewicz opened #673 "Rework persons merging"
Soon #672 will be accepted; it's a different way of doing 2-objects merge, and I like it way more.

Let's rewrite person merging in the same way as events merging works. It doesn't have to follow DRY, but it will be bonus points if we could reuse the underlying method for merging.

[2016-01-30 10:39] pbanaszkiewicz opened #674 "Rename and/or organize base templates"
Base templates in AMY are a mess and I never know which one to inherit.

[2016-01-30 13:02] gvwilson commented on #674
Do as you see best - you're most familiar with them.

[2016-01-30 15:25] pbanaszkiewicz commented on #668
Fixed manually.

[2016-01-30 15:25] #668 closed

[2016-01-30 16:25] pbanaszkiewicz commented on #446
Fixed manually. (Almost got them all: 24 from 360 have no administrator.)

[2016-01-30 16:25] #446 closed

[2016-01-31 16:50] #667 closed

[2016-01-31 17:11] #606 closed

[2016-02-01 09:21] pbanaszkiewicz opened #676 "Assets management"
Usually AMY has some changes to CSS from time to time, and also the dependencies change, but I always forget to change the links in order to refresh browser cache.

The trick is to use `?something` (e.g. `?v=4`) at the end of asset link:
[code]

And after each update to the assets, just change the query to something unique (e.g. `?v=5`).

The problem with this approach lies on the human side: I si

[2016-02-01 09:26] pbanaszkiewicz commented on #458
Fixed I don't know when.

[2016-02-01 09:26] #458 closed

[2016-02-01 09:27] pbanaszkiewicz commented on #525
We're not doing this, at least for now. Let's see what #628 brings.

[2016-02-01 09:27] #525 closed

[2016-02-01 09:28] pbanaszkiewicz commented on #350
Closing for the same reason as #525.

[2016-02-01 09:28] #350 closed

[2016-02-01 09:30] pbanaszkiewicz commented on #74
I haven't seen workshops with sponsor details in their Notes field. @maneesha would you like to have an option to save workshop sponsors somewhere?

[2016-02-02 10:56] #598 closed

[2016-02-02 14:26] #676 closed

[2016-02-02 15:15] gperu opened #679 "Navigation of Workshop Requests"
Hello Piotr,

WR's contain important information about a workshop which is not transferred to the workshop page. Therefore we need an easy access to them.

Is it possible - when you've time - to either:

- add an 'all' option both to 'status' and to the 'workshop type'

or

- add a link to request from the workshop page?

Thank you
Giacomo

[2016-02-02 16:00] pbanaszkiewicz commented on #679
Hi @gperu,

I'll do all these things:
* backlink from event to workshop request which created that event
* filtering option "all" in status field
* filtering option "all" (or "any") in "workshop type"

Cheers,
Piotr

[2016-02-02 16:10] gvwilson opened #681 "Modify instructor stats report to include #/% who have taught"
Please modify trainings_completion_rates to display two more columns: what # and what % of people trained in a session have taught for us at least once since being trained.

[2016-02-02 16:22] pbanaszkiewicz commented on #681
@gvwilson You're submitting a PR (#680) against `trainings_completion_rates`, why don't you put these columns in there?

[2016-02-02 16:25] gvwilson commented on #681
Because it would take me an hour to figure out how to do the appropriate
math, and you can do it in five minutes :-)

[2016-02-02 16:40] pbanaszkiewicz commented on #681
Yeah I don't think so (it's rather an hour for both of us) :-) anyway I'm not touching this until both:
* you fix https://github.com/swcarpentry/amy/pull/680#discussion_r51589402
* it's Wednesday

[2016-02-02 21:37] pbanaszkiewicz opened #682 "No reverse match for rest_framework namespace"
The error for a very strange reason shows when accessing these URLs:
https://github.com/swcarpentry/amy/blob/develop/api/urls.py#L57

I wasn't able to get rid of it; it's not being used at all, so maybe it should be removed…?

[2016-02-02 22:20] gvwilson commented on #681
Done.

[2016-02-02 22:39] gvwilson commented on #682
No idea...

[2016-02-03 08:31] gperu commented on #679
Fantastic, thanks!

[2016-02-03 09:57] gvwilson opened #684 "Add CSV support for API"
All API calls that deliver JSON and YAML should also deliver CSV.

[2016-02-03 15:56] gvwilson commented on #554
:+1: provided #656 happens first.

[2016-02-03 15:59] gvwilson commented on #419
I'd like to revive this one - a form that people can fill in to request instructor training for themselves or a group would be useful.

[2016-02-04 00:14] gvwilson opened #685 "Sort list of awarded badges by date"
I would like an option to sort https://amy.software-carpentry.org/workshops/badge/swc-instructor by award date (either most recent first or last) instead of alpha by recipient, so that I can see who's been awarded something recently.

[2016-02-04 00:20] gvwilson opened #686 ""Export badges" should include award dates in data."

[2016-02-04 10:49] pbanaszkiewicz commented on #681
Fixed in 45b55aa0153156a8c06b2243afa5095508985563.

[2016-02-04 10:49] #681 closed

[2016-02-04 10:50] pbanaszkiewicz commented on #684
https://github.com/mjumbewu/django-rest-framework-csv

[2016-02-04 12:54] #674 closed

[2016-02-04 12:58] pbanaszkiewicz commented on #626
I'm deferring this for now, because with Django 1.9 the migrations are **so fast** it doesn't matter… It would still be a nice thing, but for now it's just fine.

[2016-02-04 13:28] gvwilson commented on #681
Thanks dude.

[2016-02-04 13:35] #686 closed

[2016-02-05 11:32] #682 closed

[2016-02-05 11:32] #685 closed

[2016-02-05 11:32] #684 closed

[2016-02-06 12:30] pbanaszkiewicz opened #691 "Not sufficient API requests limit"
As per https://github.com/swcarpentry/website/issues/223#issuecomment-180747161, the limit of queries for anonymous users (100/day) is too low to build the website correctly every day.

It should be solved either by upping anon-user limit or setting the website to work with some token in AMY, or set up an account for website script to use.

[2016-02-06 12:31] pbanaszkiewicz commented on #691
I manually bumped the limit on production to 500/day for anonymous user, 2000/day for authorized user. This is temporary.

[2016-02-06 13:54] #651 closed

[2016-02-06 23:25] pbanaszkiewicz opened #694 "Can't assign person to something when lookup fails"
This is direct cause for this error:
[code]

There needs to be a "get-or-404" mechanism in `workshops.util.assign` - it will prevent this error.

[2016-02-07 04:55] jduckles commented on #554
I like it!

[2016-02-07 11:51] #661 closed

[2016-02-07 14:43] #679 closed

[2016-02-08 08:15] #694 closed

[2016-02-08 08:16] pbanaszkiewicz commented on #691
Fixed in https://github.com/swcarpentry/amy/pull/697.

[2016-02-08 08:16] #691 closed

[2016-02-08 16:33] pbanaszkiewicz opened #698 "Migrate views to class-based views"
Do this wisely.

For now it's enough if list views get migrated.

[2016-02-08 17:04] pbanaszkiewicz commented on #633
@maneesha I'm working on this issue now. Question to you: does it happen that you submit multiple *different* invoices for one workshop?

For example: instead of using the 'breakdown if invoice amount' form field, you submit one invoice request for administrative costs and one for instructor travel costs.

(I'm wondering if the relation is one Event ↔ one invoice request, or does it happen that on

[2016-02-08 19:16] gvwilson commented on #698
Have you ever left yourself a note saying "Do this unwisely"?  If not,
why not?

[2016-02-08 20:45] pbanaszkiewicz commented on #698
@gvwilson can one do something unwisely on purpose? It's rather either "wisely" or "quickly", isn't it?

[2016-02-08 22:20] gvwilson commented on #698
Well, I've eaten an entire large bag of salt-and-vinegar potato chips
more than once - I think that qualifies as "unwise" but "on purpose".

[2016-02-09 17:47] pbanaszkiewicz opened #700 "Current events should be built upon published events"
Maneesha's dashboard displays 2 events that are in both columns: current (upcoming and ongoing), and in unpublished.

This is because current events are such that:
* have start date bigger than current date
* have URL

This is of course just part of the conditions for published event.

[2016-02-09 17:58] maneesha commented on #633
It is very rare but it could happen that one workshop has multiple invoices.  This could be because of what you describe, or because the host university is paying out of separate grants, or something like that.

[2016-02-09 23:07] #633 closed

[2016-02-10 08:09] pbanaszkiewicz commented on #634
@maneesha, @tracykteal, @gperu

There aren't many details as for what is a self-organized workshop on the SWC website. I've only found this: http://software-carpentry.org/workshops/request/

So which way should we go?

1. A single-field form for submitting a self-organized workshop website, or
2. a form similar to the current "Request a workshop" form, or
3. both?

°1 would be useful if most of se

[2016-02-11 13:05] gvwilson opened #702 "Instructor report broken"
1.  Go to https://amy.software-carpentry.org/workshops/reports/instructor_num_taught
2.  The entries in the table are URLs, not people.

[2016-02-11 14:31] pbanaszkiewicz commented on #702
I've got some bad news for you… it's a feature, not a bug.

[2016-02-11 14:31] #700 closed

[2016-02-11 14:46] gvwilson commented on #702
Fixable?  Because the report is pretty useless as-is.

[2016-02-11 18:12] pbanaszkiewicz commented on #702
Depends. How would you like it to be?

The new API is hyperlinked and I'd like to keep it that way. Or really I'd like to have what GitHub [has](https://developer.github.com/v3/): a mix of hyperlinked and included objects (at once), but I'm unable to do it with [django-rest-framework](www.django-rest-framework.org) - or I just didn't find it.

So, Greg, can you go through the API and think what sh

[2016-02-12 11:35] gperu commented on #634
My comments:

- info given on the website: I think the indications given on the website should be updated according to what we are asking them to do

- URL submission: (agreeing with @maneesha ) ideally they should be able to summit an URL so that the event is recorded in AMY without us having to do anything else than accept. If this is not possible (i.e., if there's no way that all the info neede

[2016-02-12 17:52] pbanaszkiewicz commented on #634
@tracykteal alright, it turns out that current SWC workshop-request form asks the workshop will be self-organized or other type (https://amy.software-carpentry.org/workshops/swc/request/ - last question).

If you want, I can enable that question on DC form as well.

And because it's present on SWC, for now I won't go with your idea (https://github.com/swcarpentry/amy/issues/634#issuecomment-171486

[2016-02-12 21:54] gvwilson commented on #702
I'd like to see user IDs rather than object numbers - I think
`https://amy.software-carpentry.org/api/v1/persons/wilson_g/` should
work as well as `https://amy.software-carpentry.org/api/v1/persons/8777/`.

[2016-02-14 17:33] #634 closed

[2016-02-14 17:49] maneesha opened #704 "Debrief Report Changes"
1.  Rename to "List of Instructors by Time Period" - we are using this not just for debriefing sessions but also for pre-workshop mentoring sessions and possibly other reasons as well.

2.  Option to export list as csv  (event, full name, email, # of workshops taught)

[2016-02-18 16:47] maneesha opened #705 "Email addresses should not be case sensitive"
For example, these pairs should have been flagged as duplicates:

https://amy.software-carpentry.org/workshops/person/8955   and
https://amy.software-carpentry.org/workshops/person/8957

or

https://amy.software-carpentry.org/workshops/person/46
https://amy.software-carpentry.org/workshops/person/47

(I am going to merge them soon -- just wanted others to see these first)

[2016-02-19 10:49] pbanaszkiewicz commented on #705
Unfortunately according to specs, the part before `@` is case-sensitive.

What about I add matching of similar emails to #624?

[2016-02-19 11:02] gvwilson commented on #705
I think we should disregard the spec in this case and do
case-insensitive matching - it's highly unlikely that
'Greg@wherever.com' and 'gREG@wherever.com' are different people...

[2016-02-21 11:41] #673 closed

[2016-02-22 08:59] #624 closed

[2016-02-23 13:09] gvwilson commented on #19
@maneesha @pbanaszkiewicz can this one be closed as stale?

[2016-02-23 13:09] gvwilson commented on #42
@gperu @pbanaszkiewicz @maneesha can this one be closed as stale?

[2016-02-23 13:09] gvwilson commented on #74
@maneesha @pbanaszkiewicz I propose closing this as stale.

[2016-02-23 13:12] pbanaszkiewicz commented on #74
Will reopen if needed.

[2016-02-23 13:12] #74 closed

[2016-02-23 13:12] gvwilson commented on #656
I've updated bin/certificates.py in the https://github.com/swcarpentry/certification repository - please use that as a starting point for certificate generation.  (I still really dislike the need for Inkscape for SVG-to-PDF conversion, but don't have anything better.)

[2016-02-23 13:12] gvwilson commented on #419
This has become a higher priority...

[2016-02-23 13:12] gvwilson commented on #599
This has become a higher priority...

[2016-02-24 13:29] gvwilson opened #709 "Add "awarded by" field to badges"
We should track who awarded instructor badges to new instructors.

[2016-02-24 13:30] gperu opened #710 "TODO's and due dates"
When a due date is set for a TODO, then it would also be useful to get some sort of notifications somewhere, otherwise it's not easy to keep track of your TODO's. Even a simple page with an aggreagate list of TODO's would do the job.

[2016-02-24 14:40] pbanaszkiewicz commented on #19
Will reopen if necessary.

[2016-02-24 14:40] #19 closed

[2016-02-24 14:46] pbanaszkiewicz commented on #42
As far as I know, we're still not running Mailman 3 (issues with installation). Closing for now…

[2016-02-24 14:46] #42 closed

[2016-02-24 15:07] pbanaszkiewicz commented on #710
@gperu: You can see a list of upcoming TODOs in the timeline on top of the dashboard. Is it not showing up? Or do you perhaps need to view more than two weeks ahead?

[2016-02-29 08:07] #704 closed

[2016-02-29 09:20] pbanaszkiewicz opened #712 "Tokenize person lookup to work with "name last_name""
`lookups.PersonLookup` won't show 'Piotr Banaszkiewicz' for 'Piotr Ban' input – because it only looks up `personal` or `family` or `email`…

[2016-03-01 19:56] #709 closed

[2016-03-01 19:56] #712 closed

[2016-03-01 22:20] pbanaszkiewicz opened #716 "Migrate from SQLite to PostgreSQL"
Why? Because AMY is going to serve a higher load and SQLite isn't meant for that.

Why PostgreSQL? Because it has a really [nice support](https://docs.djangoproject.com/en/1.9/ref/contrib/postgres/) in Django.

Challenges:
1. Reworking development process. SQLite is excellent for newcomers, while PostgreSQL requires at least something installed: Docker, Vagrant or "pure" PostgreSQL server.
2. Runn

[2016-03-01 23:04] wking commented on #716
On Tue, Mar 01, 2016 at 02:20:06PM -0800, Piotr Banaszkiewicz wrote:

Do we need any of PostgreSQL-specific features?  I expect we can
develop on SQLite and deploy to PostgreSQL.  Folks who are concerned
about portability can always test on PostgreSQL too, or adjust the CI
testing to do that.

This is going to be pretty similar to SQLite, you just have to adjust
the backup job to dump the database

[2016-03-02 06:36] pbanaszkiewicz commented on #716
Hi @wking,

If we were using PostgreSQL for development too, then it would be safer to use PostgreSQL-specific features – and I know a few places we could use them (e.g. ArrayField for Tags)

Anyway, this is just something I was thinking for a while. It may take some time before we actually go this way.

[2016-03-02 07:28] wking commented on #716
On Tue, Mar 01, 2016 at 10:36:04PM -0800, Piotr Banaszkiewicz wrote:

I'm not sure that benefit is worth breaking SQLite for dev/testing.
You can get to PostgreSQL for production scaling [1] without breaking
SQLite for dev/testing, and I think everyone would agree that is a
win.  Whether using PostgreSQL-specific features and breaking SQLite
for dev/testing is a net win is less clear to me.  So I'

[2016-03-02 13:43] sburns commented on #716
We can agree that if production runs PostgreSQL, then testing must be done with it. [Travis](https://docs.travis-ci.com/user/using-postgresql/) provides docs about integrating with the db server and it looks relatively painless.

The next question is whether local development *must* use postgres or keep using sqlite. I think that depends on if you're testing locally. Obviously if a PR comes in tha

[2016-03-02 21:51] wking commented on #716
On Wed, Mar 02, 2016 at 05:43:48AM -0800, Scott Burns wrote:

I think that would be nice to have, but it's not a hard requirement
for me personally.  The odds of accidentally doing something
SQLite-specific seem small, and in the event that something like that
slips through, I'm having trouble imagining it having serious
consequences.  But that's just my 2¢, I'm neither the project
maintainer nor

[2016-03-02 21:55] sburns commented on #716
It's less about doing SQLite-specific stuff and more about thinking operations exercised in the test suite are valid when in production PostgreSQL doesn't (e.g. SQLite doesn't enforce referential integrity by default).

Alas, I too am not the maintainer or sys-admin so take this soapbox with a grain of salt :)

[2016-03-02 22:45] wking commented on #716
On Wed, Mar 02, 2016 at 01:55:14PM -0800, Scott Burns wrote:

I'm all for turning that on, whether in SQLite [1] or by switching to
PostgreSQL for testing.  And I'm not against using PostgreSQL for
testing, I'm just against making AMY require a particular flavor of
SQL.  Then folks can test and/or deploy using whichever database
engine they like.

[1]: http://sqlite.org/pragma.html#pragma_foreign_

[2016-03-03 06:25] pbanaszkiewicz commented on #716
Hi both,

I'm really glad for your insights – that's a discussion I wanted to have when I created this issue.

I think we'll start with "SQLite for dev, PostgreSQL for prod" approach first since that seems to be most popular option.

Thanks,
Piotr

[2016-03-03 15:48] sburns commented on #716
It appears like `AMY_DEBUG` environment variable is already used for switching between debug/production. So near [settings.py#L166](https://github.com/swcarpentry/amy/blob/develop/amy/settings.py#L166) we might branch and separately define the `DATABASES` based on `DEBUG`.

Fortunately amy doesn't have a complicated settings.py file :)

[2016-03-03 17:38] pbanaszkiewicz commented on #716
@sburns I was thinking about https://github.com/kennethreitz/dj-database-url too, but these are "implementation details"…

[2016-03-03 21:08] #659 closed

[2016-03-04 10:36] shubhsingh594 commented on #514
We could use a JSON object to store an array list, and then convert it into a String to store it into the SQLite database. This way we can use one field to store the attendance for all the days of the workshop individually.

[2016-03-04 18:27] pbanaszkiewicz commented on #514
@shubhsingh594 technical solution is not an issue – having people send us the data for specific days is one.

[2016-03-05 18:47] narayanaditya95 commented on #705
@pbanaszkiewicz @gvwilson
My solution: Convert the part of email before the '@' to lower case in the `save()` method of the model layer. Run a migration that applies the same logic to all rows in the database.

Is this solution acceptable?

Reference: [17561](https://code.djangoproject.com/ticket/17561)

[2016-03-06 20:06] pbanaszkiewicz commented on #705
@narayanaditya95 are there any field types that support case insensitivity? Event database-dependant?

[2016-03-06 20:09] narayanaditya95 commented on #705
Can you elaborate on this?

[2016-03-06 20:14] pbanaszkiewicz commented on #705
Maybe e.g. PostgreSQL can enforce case-insensitive uniqueness on some fields? Maybe it's supported by Django / some Django app?

[2016-03-06 20:15] narayanaditya95 commented on #705
I will get back to you.

[2016-03-06 22:03] narayanaditya95 commented on #705
@pbanaszkiewicz
We can enforce case-insensitive uniqueness on the email field.

[code]
However, this enforces case insensitivity on the entire email field. To enforce it on the substring before the last `@` character, we will have to resort to regex.
The above functional index would force Django to throw `django.db.IntegrityError` whenever we try to save a person with the same email of different c

[2016-03-07 07:46] narayanaditya95 commented on #705
@pbanaszkiewicz

Another way to realize the same thing is using the [citext](http://www.postgresql.org/docs/current/static/citext.html) character string. It has been implemented [here](https://github.com/zacharyvoase/django-postgres/blob/master/django_postgres/citext.py).

[2016-03-09 19:55] narayanaditya95 commented on #705
@pbanaszkiewicz
Is the proposed solution acceptable?

[2016-03-10 07:17] nikhilweee commented on #656
@gvwilson @pbanaszkiewicz : I'm willing to work on this issue.
As far as I can understand, here is what I've figured out how:

I'll add an option under the `More` tab to generate certificates.
This will then open up a view similar to `Persons` where you can select the recipients. This view will also show whether a certificate has already been generated. The data to be printed will be fetched from

[2016-03-10 11:24] gvwilson commented on #656
This would be great:

1. @pbanaszkiewicz, @nikhilwee has just modified the certificate
generation program in https://github.com/swcarpentry/certification to
use Cairo to generate PDFs rather than Inkscape, so we've got the tools
we need.

2. If we're going to generate PDF certificates in AMY, we should also
provide a way to view them in AMY (click on certificate link, new tab
opens, show the PDF)

[2016-03-10 15:58] nikhilweee commented on #656
@gvwilson :
* I was initially thinking of bulk generating certificates from AMY, but as the info has to be reviewed, I feel that they should be generated individually.
* Going this way, I'll give a link in the profile page which points to the certificate if generated, or gives an option to generate a new one.
* Also, the `certificates` tab (let's call it this for now), which was supposed to list a

[2016-03-10 18:45] pbanaszkiewicz commented on #705
@narayanaditya95 thank you for the research! I'm focusing on GSOC for now so let's not change the schema just yet.

[2016-03-10 18:49] pbanaszkiewicz commented on #656
@nikhilweee excellent work! I'm quite short on time for now so if you want you can make a PR with these changes. It's going to be quite big and I must warn you: I'll be picky about it!

Thanks again ;)

[2016-03-10 18:54] narayanaditya95 commented on #705
Sure.

[2016-03-11 14:58] shubhsingh594 commented on #419
@gvwilson @pbanaszkiewicz  I would like to work on this one, this is something along the lines of my GSOC proposal, and would only help in the long run.

[2016-03-11 18:22] gvwilson commented on #419
We will want something similar to the form used to request a workshop
[1] that creates an "I would like instructor training" record for an
individual, and another for requesting training for groups.  Please do
HTML-only mockups and post for us to review the appearance, and then
we'll talk workflow.

Thanks!

[1] https://amy.software-carpentry.org/workshops/swc/request/

[2016-03-11 19:38] shubhsingh594 commented on #419
@gvwilson
extending from the idea in https://github.com/numfocus/gsoc/issues/99 , would you like to have a form field for username and password , for them to login later.

[2016-03-11 20:07] gvwilson commented on #419
Not initially - I can't see them needing to log in until they're accepted.

[2016-03-11 20:14] shubhsingh594 commented on #419
okay thankyou, will be posting mockups soon :)

[2016-03-12 18:01] shubhsingh594 commented on #419
![individual1](https://cloud.githubusercontent.com/assets/15982349/13724250/33d70c90-e8a6-11e5-8846-c985df3f8424.png)

when an individual is applying

![group](https://cloud.githubusercontent.com/assets/15982349/13724340/3fd6dd20-e8a8-11e5-9b4a-d6b6e1d42f89.png)

when applying as a group, dynamic tabs each containing forms to be filled.

we will be using django formset for this, although handling

[2016-03-13 12:15] gvwilson commented on #419
Groups could be larger than 3 people, so we'll need an "add another
person" option.  We also need to know where they are, and a bunch of
other things (why they want to, etc.), but those are all implementation
details.

Cheers,
Greg

On 2016-03-12 1:01 PM, shubhsingh594 wrote:

--
Dr Greg Wilson
Director of Instructor Training
Software Carpentry Foundation

[2016-03-13 13:10] shubhsingh594 commented on #419
@gvwilson
yeah it is dynamic, when we click oh the add person button , another tab will open -> person4

like so:

![before](https://cloud.githubusercontent.com/assets/15982349/13728831/eb1ccf12-e94a-11e5-946c-55caa0d1a548.png)

after clicking on the add person button

![after](https://cloud.githubusercontent.com/assets/15982349/13728833/fb34adfc-e94a-11e5-9c24-b4cd9ba7bae7.png)

[2016-03-14 21:09] jduckles commented on #684
When trying to download the following from the API as CSV:
https://amy.software-carpentry.org/api/v1/reports/workshops_over_time/

I get a file that makes me think the CSV generate method isn't being run over the object, the object is just getting dumped.
[code]

[2016-03-15 07:04] pbanaszkiewicz commented on #684
@jduckles I'll add this as a bug issue.

[2016-03-15 07:04] pbanaszkiewicz opened #725 "CSV renderer doesn't expand generator"
@jduckles reports:

When trying to download the following from the API as CSV:
https://amy.software-carpentry.org/api/v1/reports/workshops_over_time/

I get a file that makes me think the CSV generate method isn't being run over the object, the object is just getting dumped.

[code]

[2016-03-15 07:07] #617 closed

[2016-03-17 14:32] gvwilson opened #727 "Need a way to record host site in event"
Online instructor training events frequently have participants from multiple sites. When we list someone as a 'host' for such an event, it would be helpful if we could list the site at which they're hosting.

[2016-03-18 16:29] tracykteal opened #729 "change language on workshop request form where hosts are saying how many learners they'll have"
On the DC and SWC workshop request forms there's a section where the host is saying how many people will attend the workshop. It currently says

"This number doesn't need to be precise, but will help us decide how many instructors your workshop will need.

1-20 (one room, one instructor)"
...
"

but we don't have situations where we just send one instructor. We'd like to change that line to

"This

[2016-03-18 19:23] maneesha opened #730 "Autogenerate username"
On this page
https://amy.software-carpentry.org/workshops/persons/add/

Can the username be automatically generated (just as it is for bulk upload persons)?

[2016-03-18 19:52] maneesha commented on #729
See PR #731

[2016-03-18 21:33] jduckles commented on #729
Closing as it was addressed by #731

[2016-03-18 21:33] #729 closed

[2016-03-23 07:02] tracykteal opened #732 "record other events, such as presentations, in Amy"
This might be out of scope, but would it be possible to record other events than workshops in Amy. In particular, I'm thinking of talks or presentations that we or others in the community give.

Then we would have a way of posting 'upcoming events' on our web sites, and also being able to keep track of them for reporting.

#enhancement

[2016-03-23 07:35] gvwilson commented on #732
I think that's out of scope for AMY, but we could echo events from the
community calendar (a Google Calendar) into the web site.

[2016-03-23 20:59] pbanaszkiewicz commented on #732
Anyone else having thoughts on this matter? @jduckles @maneesha @rgaiacs

[2016-03-23 21:00] pbanaszkiewicz commented on #727
@gvwilson and 'site' in this context means…?

[2016-03-23 21:16] gvwilson commented on #727
For example, in https://amy.software-carpentry.org/workshops/event/2016-06-08-ttt-online, I'd like to be able to record the three participating sites as a first-class database relationship, not as text in the comments field.

[2016-03-24 16:50] #730 closed

[2016-03-24 17:23] pbanaszkiewicz commented on #727
@gvwilson so you want to have a M2M relationship between `Event` and `Host`, correct?

[2016-03-24 17:24] pbanaszkiewicz commented on #710
@gperu can you update on the status of this issue?

[2016-03-24 17:28] gvwilson commented on #727
"Want" may be too strong a term - I certainly don't want to complicate
the normal many-to-one relationship, but yeah, for instructor training...

[2016-03-24 19:23] maneesha commented on #732
I agree with @gvwilson that it's out of scope for AMY... unless it's a talk/presentation directly about SWC or DC.  If it's a talk by someone affiliated with SWC or DC we could help promote it on another calendar (which I think does a lot to make our instructors feel supported by us) but I don't see a need for us to track it in AMY.

[2016-03-24 19:48] maneesha commented on #727
Something similar may come up in standard workshops too, where two universities are jointly running a workshop.  It may be physically located at University A but University B is equally involved.  This is rare but possible.

[2016-03-24 19:49] gvwilson commented on #727
Good point.

[2016-03-25 00:27] jduckles commented on #732
I agree with @gvwilson. A calendar is the right tool for this kind of thing.

[2016-03-25 18:20] maneesha opened #737 "Typo on new event page"
https://amy.software-carpentry.org/workshops/events/add/

Pre-workshop assessment survey for instructors
is listed twice.
Second should be "Post-workshop assessment...."

[2016-03-26 09:10] #737 closed

[2016-03-31 17:53] #725 closed

[2016-03-31 17:53] #705 closed

[2016-03-31 17:54] #702 closed

[2016-04-01 05:04] pbanaszkiewicz opened #741 "Extend ProfileUpdateRequests to add people who aren't in AMY (yet)"
If people, who aren't in AMY, submit the profile update form, it's hard to add them to the database from the GUI.

[2016-04-02 19:38] pbanaszkiewicz opened #742 "Escaped tags in every revision page"
![screenshot from 2016-04-02 21 38 15](https://cloud.githubusercontent.com/assets/72821/14228635/3bd5c514-f91b-11e5-8953-753dbd8249ed.png)

[2016-04-07 16:07] maneesha opened #744 "'DC' used to be an option for 'tag' -- disappeared from list?"
See:

![image](https://cloud.githubusercontent.com/assets/829690/14357980/0116bd38-fcb9-11e5-9e59-af8e2d9e3891.png)