[2016-04-07 17:03] narayanaditya95 commented on #744
For what it's worth,
The `DC` tag could have been deleted.
New tags can be added through the admin interface.
`/workshops/admin/workshops/tag/add/` URL adds a new tag.

[2016-04-07 17:03] gvwilson commented on #744
Deleted by whom??

[2016-04-07 17:08] narayanaditya95 commented on #744
Accidentally deleted from the admin interface by an admin user? That was just a hypothesis.
I cannot think of any other way a tag can be deleted.

@pbanaszkiewicz would answer it better than me.

[2016-04-07 17:08] maneesha commented on #744
That's  why I raised this issue.  I know it's easy to add a  tag but it's a problem that it got deleted.  I've never gone into the admin panel.

[2016-04-07 17:33] pbanaszkiewicz commented on #744
Looking into this issue…

[2016-04-07 17:36] gvwilson commented on #744
Thanks Piotr.

[2016-04-07 17:57] pbanaszkiewicz commented on #744
Logs don't show anyone accessing the admin interface in order to remove the tag, which means there's some awful bug in the code that removed the tag.

I'll:
1. bisect the backups to find correct time the removal happened and then check what requests caused it
2. retrieve lost data
3. review our models' on_delete behavior.

It may take me some hours before I'll retrieve the lost data (ie. workshops

[2016-04-07 17:58] pbanaszkiewicz commented on #744
@maneesha thank you for reacting this quick, by the way. The lost happened probably in the last 24h.

[2016-04-07 19:36] pbanaszkiewicz commented on #744
Found the error. It's in the event merge procedure and you can reproduce it by setting base object for merge to object A (ie. `Field` to "Use A"), and strategy for tags to "Use B".

[2016-04-07 19:38] gvwilson commented on #744
Excellent sleuthing -
http://www.amazon.com/Heart-Logs-Stream-Processing-Integration/dp/1491909382/
for the win.  Please write this one up (both the bug and how you found
it) when you're done, and bill us for every minute you spend on it.
Thanks,
Greg

[2016-04-07 20:07] pbanaszkiewicz commented on #744
The data was retrieved.

@gvwilson write up and publish somewhere?

[2016-04-07 20:12] gvwilson commented on #744
Excellent work.

[2016-04-07 20:13] pbanaszkiewicz commented on #744
And terrible too, because the bug is in code I wrote :-)

[2016-04-08 14:50] pbanaszkiewicz commented on #744
Forgot to close this issue yesterday :-)

[2016-04-08 14:50] #744 closed

[2016-04-08 22:45] maneesha opened #746 ""Update from URL" should also update URL"
If the "update from URL" function is used and a new url is entered in the popup (ie, url url hadn't already been entered for that event),  then date, location, etc. updates as expected.

The url field itself should also update.

[2016-04-08 22:50] maneesha opened #747 "M2M relationship between host & person"
This is probably a big enhancement but it would be nice for any host to see what people are affiliated with it, and for any person, what host sites they are affiliated with.

[2016-04-09 09:57] narayanaditya95 commented on #746
Although the `import_from_url` script updates the URL filed, the `url` itself is not returned from the `event_import` view.

I have suggested a fix at [#748](https://github.com/swcarpentry/amy/pull/748).

Cheers!

[2016-04-09 14:01] pbanaszkiewicz commented on #747
It's not that big to add this relationship, but it's a big deal to affiliate people with hosts by hand.

Will admins want to manually add link people with hosts?

[2016-04-09 14:03] pbanaszkiewicz commented on #746
@maneesha I think you used "Skip non-empty fields.", but you should use "Overwrite" to overwrite existing URL.

[2016-04-09 14:07] pbanaszkiewicz commented on #746
@maneesha let me know if you want to do something about this behavior, for example change the default option from "Skip" to "Overwrite".

[2016-04-09 14:11] pbanaszkiewicz commented on #732
Closing since the general opinion is these kinds of events should be tracked in calendar, not in AMY.

[2016-04-09 14:11] #732 closed

[2016-04-09 15:02] #742 closed

[2016-04-09 15:06] narayanaditya95 commented on #746
This bug is encountered when the URL field for an event is empty.
Since it is the first time that the URL field is being populated, choosing the "Skip non-empty fields" seems to be the right choice as the user is only interested in updating the empty fields, including the URL field.
Please manually test the Update from URL functionality on an event with empty URL field.

[2016-04-09 15:20] pbanaszkiewicz commented on #746
@narayanaditya95 you're right.

The solution is to remove `data.` part from JS code in a proper place.

I'd like to also evaluate empty `object.url` to empty string instead of `None` in `event_import_update_from_url.html` line 29.

@narayanaditya95 I feel like you should make the changes and submit a new PR, since you already fixed this issue once. Will you? If you're busy I can do that.

Thanks f

[2016-04-09 15:21] narayanaditya95 commented on #746
On it.

[2016-04-09 15:46] #746 closed

[2016-04-09 22:21] maneesha commented on #747
I agree it's an extra data entry step but I also think it will be useful to know for any host, what people we've worked with from there.  The  thing that will make this difficult to manage is that affiliations often change.  How do we want to manage this (on a human level & database design level)?

Perhaps @jduckles @tracykteal can weigh in?

[2016-04-10 21:05] jduckles commented on #747
I tend to think this is more the purview of a CRM tool. Not necessarily AMY. A linkage between a CRM tool and AMY would be where I suggest we do this kind of thing.  For each host, if we had that as an organization in our CRM tool automatically we could link up related correspondence, negotiations and membership deals, closed or not to keep us abreast of backstory for each organization.

[2016-04-15 11:30] #741 closed

[2016-04-15 11:51] pbanaszkiewicz commented on #654
@gvwilson merging persons is now way better; if you or @maneesha can't find any way to improve the *collision-with-no-email thing during upload* then I'm going to close this issue.

[2016-04-15 12:28] gvwilson commented on #654
Close it - thanks.

[2016-04-15 12:29] #654 closed

[2016-04-21 19:02] pbanaszkiewicz opened #751 "Update object changes templates"
`event_diff.html` should show more fields. The same for `person_diff.html`, additionally we may extend `object_diff.html` to work with relational fields (see `views.object_changes`) since e.g. changes to `Task` object don't show anything.

[2016-04-25 09:40] pbanaszkiewicz opened #754 "Permission `add_todoitem` required to view event"
People without ability of adding TODO items should be able to view the events.

[2016-04-25 19:04] pbanaszkiewicz opened #755 "IntegrityError when merging persons with tasks in common and "combine" strategy"
Example: merging person A and person B, both have similar task "learner" in "XYZ" event.

[2016-04-26 15:33] maneesha commented on #514
I've been tracking this & have put it in a [github repo] (https://github.com/swcarpentry/workshop_documents/blob/master/counts_by_day.csv).  We've gotten attendance by day for 30 workshops in eight months without even trying.  I think this shows us it's worth it for us to more explicitly ask instructors/hosts for attendance broken down like this and track it in AMY.

[2016-04-28 14:32] narayanaditya95 commented on #754
A noob question here: I cannot login into any account other than `admin` even after granting them staff and superuser permission.

Am I missing something here?

[2016-04-28 14:34] pbanaszkiewicz commented on #754
Person has to be active (`Person.is_active = True`) in order to be able to log in.

[2016-04-30 19:05] #562 closed

[2016-05-03 19:48] maneesha opened #757 "Update from URL should use repo OR site"
Often the site is not hosted at username.githib.io (for many different reasons).   It would be easier if import from repo was an option.

[2016-05-03 19:52] gvwilson commented on #757
We switched to importing data from <meta> elements in the <head> of the
HTML page so that we could handle sites hosted off GitHub (e.g., EMBL).
I agree that we should *not* depend on it being username.github.io.

[2016-05-04 18:27] gvwilson opened #758 "Add link from AMY to this repository so that it's easy to file bug reports."
Title says it all - if there's a link, it's not clear.

[2016-05-04 18:28] gvwilson opened #759 "Always display badges with people's names"
Always display icons for SWC/DC instructor badges alongside people's names, so that (for example) when we're viewing the list of people who participated in an instructor training workshop, we can see which ones are now qualified and now.

From a conversation with @tracykteal

[2016-05-04 18:48] maneesha commented on #759
+1
This would be useful anywhere we see instructor names and want to verify their badge at a glance rather than going in to their profile page.

[2016-05-04 20:09] tracykteal opened #760 "Change logo on Data Carpentry workshop request form"
On the Data Carpentry workshop request form, there's the Software Carpentry logo. Can we change that to the Data Carpentry logo?

It's the DC1_logo from here https://github.com/datacarpentry/logos/

[2016-05-04 20:52] tracykteal opened #761 "Self-organized DC workshop request form"
Data Carpentry now has guidelines for self-organized workshops, and we'd like to have a separate self-organized workshop registration form for instructors to register a self-organized workshop and confirm that instructors will meet the self-organized workshop criteria
http://www.datacarpentry.org/self-organized-workshops/

I drafted a form that has the necessary fields. For fields that are the sam

[2016-05-05 13:53] simonthelwall opened #763 "Feature request: Notification system for newly announced workshops"
Some mechanism to be notified of newly announced Software Carpentry workshops in one's country would be very useful.

[2016-05-05 16:55] gvwilson opened #764 "Names show up multiple times in assignment pulldown"
1. Go to an event.
2. Try to assign to assign to someone other than yourself.
3. Selection dialog with pulldown appears so that you can choose person.
4. Some names (currently Greg Wilson and Tracy Teal, possibly others) show up multiple times in that list.

[2016-05-06 11:48] gvwilson opened #766 "Bug in email list generation"
In workshops/templates/workshops/instructors_by_date.html:25, we may wind up with a dangling comma if the last person doesn't have an email address. And we should test that we're allowed to contact them. See #765 for a better solution.

[2016-05-06 14:12] rgaiacs opened #767 "Allow instructors to notify admins about self-organizer workshop using AMY"
Maybe on the lines of https://github.com/swcarpentry/amy/issues/761?

# Workflow

1. Lead instructor goes to https://amy.software-carpentry.org/workshops/.

![screen shot 2016-05-06 at 15 04 31](https://cloud.githubusercontent.com/assets/1506457/15075552/cdb072c2-139c-11e6-8bc3-631f4c601954.png)

2. Copy the address of the workshop page into the field and press "Submit".

3. Admin double check the

[2016-05-06 20:03] gvwilson commented on #758
"Powered by AMY" at the bottom.

[2016-05-06 20:03] #758 closed

[2016-05-07 20:28] pbanaszkiewicz commented on #761
@tracykteal the form you proposed differs from the current similar form for SWC (https://amy.software-carpentry.org/workshops/submit/). The existing form is rather intended for people to tell AMY that they've been running self-organized workshops, however I don't think anyone used that form ever :cry:

@maneesha please decide if you want to stick with the existing form or implement something simil

[2016-05-07 20:32] pbanaszkiewicz commented on #763
@simonthelwall do you want to be notified as an instructor or as a participant?

[2016-05-07 20:34] pbanaszkiewicz commented on #767
We have this feature already but nobody is using it :cry:

https://amy.software-carpentry.org/workshops/submit/

[2016-05-07 20:34] #767 closed

[2016-05-07 20:39] pbanaszkiewicz opened #769 "Notify admins about changed metatags"
If cronjob discovers updated metatags, there should be some notification popup for admins.

This is a continuation from #752 and #562.

[2016-05-08 02:56] rgaiacs commented on #767
I think it isn't well advertise.

[2016-05-08 09:44] pbanaszkiewicz commented on #757
@maneesha and @gvwilson:

This is just an example of URL that should be used. Actual code tries to read `<meta>` tags, as Greg wrote. But if it cannot read these tags, then it tries to guess link to the repository (which can only do from http://username.github.io/workshop/ ).

I'm planning on dropping this "hidden" support for repository tags (ie. from https://raw.githubusercontent.com/username/wo

[2016-05-08 10:19] #764 closed

[2016-05-08 12:14] pbanaszkiewicz commented on #767
Banner on the front page of software-carpentry.org? :-) /cc @jduckles

[2016-05-08 18:24] simonthelwall commented on #763
As a participant please. If you are building that functionality into the website, it might as well be added as a choice, perhaps multiselect checkboxes.

[2016-05-08 19:33] pbanaszkiewicz commented on #763
@simonthelwall I'm not sure if there are many workshops run that allow anyone to sign in… @jduckles any thoughts on this request?

[2016-05-09 08:53] tracykteal commented on #761
Yes, this new form has a slightly different motivation, in that we want to make sure people are prepared to run self-organized workshops and that we get them registered. This is partly in response to the challenges @maneesha has seen with self-organized workshops. It also matches the process approved by the DC Steering Committee for self-organized workshops http://www.datacarpentry.org/self-organi

[2016-05-09 09:37] tracykteal opened #773 "Find instructors function only finding badged instructors?"
In the More -> Find Instructors function, it seems like it's only finding people who are certified. That default makes sense, since instructors require certification.

Sometimes we want to find all associated people in a given region though, to potentially contact as helpers or let them know a workshop is going on. Is there a way to search for all People associated with a given airport code?

[2016-05-09 12:44] #760 closed

[2016-05-09 16:16] pbanaszkiewicz commented on #773
Yeah, we can make this form a little more universal.

[2016-05-09 23:49] tracykteal commented on #773
Thanks, I think that would be useful. Maybe taking away the default filters and giving more filter options?

I think main queries are by airport and then we want to know if people are certified instructors, not-yet-certified instructors, helpers or learners. This will probably start to be even more important as we try to foster local communities.

[2016-05-10 18:08] #754 closed

[2016-05-13 06:10] #757 closed

[2016-05-13 06:23] pbanaszkiewicz commented on #751
Fixed by @narayanaditya95 in #753.

[2016-05-13 06:23] #751 closed

[2016-05-13 06:48] pbanaszkiewicz commented on #766
Fixed by @chrismedrela in #772.

[2016-05-13 06:48] #766 closed

[2016-05-13 13:07] #759 closed

[2016-05-15 21:28] gvwilson opened #779 "Must-fix: chart of instructors vs. time is unusable"
I cannot show https://amy.software-carpentry.org/workshops/reports/instructors_over_time to people: the backward bends in the curve make it unbelievable. This has been raised before, but it must be fixed.
![screen shot 2016-05-15 at 5 26 26 pm](https://cloud.githubusercontent.com/assets/911566/15276884/72cdb658-1ac2-11e6-8624-900998069e88.png)

[2016-05-15 21:30] gvwilson opened #780 "Add chart to frequency of instruction report"
https://amy.software-carpentry.org/workshops/reports/instructor_num_taught would be more useful if there were histograms showing how many people have taught how many times.

[2016-05-15 21:31] gvwilson opened #781 "Default view of all activity over time is not useful"
1. Go to https://amy.software-carpentry.org/workshops/reports/all_activity_over_time
2. Display shows 'None' for all headings because dates aren't filled in.

Default dates should be anything reasonable - last 12 months, for example.

[2016-05-15 21:32] gvwilson opened #782 "Report on all activity should use hyperlinks for workshops"
On https://amy.software-carpentry.org/workshops/reports/all_activity_over_time, the references to workshops should be hyperlinks, not just plain-text slugs.

[2016-05-15 21:53] chrismedrela commented on #779
@gvwilson, is using linear interpolation an option? PR: https://github.com/swcarpentry/amy/pull/783

[2016-05-16 11:03] gvwilson opened #784 "Create application form for instructor training"
Using the following as a starting point, create a form people can use to apply for instructor training.

* Relates to #599: form for asking for instructor training event.
* Closes #419: import old data (we'll ask people to re-apply).

Note: we'll want to match applicants to existing Person records, but *cannot* show them possible matches to agree to while they're applying (leaks data, violates pri

[2016-05-16 15:56] ErinBecker opened #785 "Data access for instructor teaching assessment"
Hi all,

As part of the discussion about how best to get trainees through check-out and instructors into teaching, I'm trying to do a little assessment of where the choke-points are (i.e. where people are getting stuck).

I'd like to be able to pull some data out of amy and have been looking at the reports, but don't see anything that gives me the type of data I want. Was hoping someone could help

[2016-05-16 16:09] maneesha commented on #785
We do record the first five bullets you listed in AMY (with the caveat that home location = the nearest airport they gave us, if any).  It's not in a prebuilt query but we can generate that query.  @pbanaszkiewicz ?

I believe that the last bullet - stages of checkout - is still being held in Google docs.  @gvwilson can probably verify.

[2016-05-16 16:25] ErinBecker commented on #785
Thanks Maneesha. "Home location" doesn't need to be exact. Going to use that to check and see if people mostly teach local workshops, so nearest airport should be fine.

[2016-05-16 22:23] gvwilson commented on #785
@pbanaszkiewicz can you please modify an existing report or command extension to get @ErinBecker the data she needs?

[2016-05-17 06:06] pbanaszkiewicz commented on #785
@gvwilson sure, I'll do that, but I'm already running out of breath this week – so no sooner than Thursday or even Friday.

BTW I'd like to point out that we don't have a lot of trainees with home locations in the DB (4 right now).

[2016-05-17 09:41] gvwilson commented on #785
Yup - we're going to start asking them to fill in the personal info form
*before* training instead of after completion.

[2016-05-17 10:53] gvwilson opened #786 "Management commands and Makefile are out of step"
'make all-activity' fails because the management command it calls on is gone. All the management tasks should be reviewed.

[2016-05-17 11:00] gvwilson opened #787 "Frequency of teaching report is wrong"
https://amy.software-carpentry.org/workshops/reports/instructor_num_taught reports that Jonah Duckles has taught 26 times - I don't believe that's correct given our current database.

[2016-05-17 12:38] jduckles commented on #787
It seems to be doubling everything, I've taught 13 times, or will after the June workshop I'm scheduled to teach.

[2016-05-17 20:47] chrismedrela opened #789 "#775 lacks all_trainings.html file"
I've accidentally untracked this file when force-updating PR.

[2016-05-17 20:51] gvwilson commented on #789
I'm sure you'll know lots more about Git by the time you recover it ;-)

[2016-05-17 21:03] gvwilson opened #790 "Should we remove 'null=True' from all CharFields?"
https://docs.djangoproject.com/en/1.9/ref/models/fields/#django.db.models.CharField suggests that CharField shouldn't use null=True, but instead should use blank=True.

[2016-05-18 13:38] chrismedrela commented on #789
:)

PR: https://github.com/swcarpentry/amy/pull/791

[2016-05-18 13:44] gvwilson commented on #789
That'll work too - please go ahead and merge.

[2016-05-18 13:48] chrismedrela commented on #789
Merged https://github.com/swcarpentry/amy/pull/791.

[2016-05-18 13:48] #789 closed

[2016-05-18 15:51] jduckles opened #792 "Add checkbox and link to privacy policy when people fill out `update_profile/`"
We should have a checkbox that says "I have read and agree to the privacy policy" http://software-carpentry.org/privacy/ when people fill out their profile updates.

[2016-05-18 18:48] pbanaszkiewicz opened #793 "Invoice status: change some options"
- Paid - Feedback loop
- Invoiced - Request has been made (change to Invoice requested)
- Not Invoiced - Request has not been made (change to Invoice not requested)

[2016-05-18 18:59] tracykteal opened #794 "Numbers of learners, workshops, etc just for SWC or DC?"
Is there the capability to get the number of workshops, learners, instructors, etc separated by SWC and DC?  This might be a common need, so worth implementing.

[2016-05-19 00:10] tracykteal commented on #761
Any update on this? Anything we can do to help?

[2016-05-19 07:11] pbanaszkiewicz opened #795 "Add a notification system"
Something similar to what GitHub has.

We have a number of features (workshop website updated, invoice status changed, etc.) that could use a notification system for admins.

[2016-05-19 15:00] #769 closed

[2016-05-19 15:03] pbanaszkiewicz commented on #780
Only histogram, no names?

[2016-05-19 15:08] pbanaszkiewicz opened #796 "Report all activity log: inputs should have 'dateinput' class"
This class allows date selector widget to pop up.

[2016-05-19 15:11] pbanaszkiewicz commented on #787
Some of the records are okay, ie. I taught 4 times according to my profile and that report reports 4 for me.

[2016-05-19 15:12] pbanaszkiewicz commented on #790
I agree, a default of `''` is better than None for char fields.

[2016-05-19 15:13] pbanaszkiewicz commented on #794
@tracykteal are you asking:

1. for a report?
2. for a separate AMY just for seeing DC-only related data?

[2016-05-19 15:14] #710 closed

[2016-05-19 16:42] gvwilson commented on #780
Yup - the histogram is to copy/paste into presentation slides, and we don't want names in that.  If you're feeling adventurous, an option to display with/without names would be welcome :-)

[2016-05-19 17:59] maneesha opened #797 "Email instructors from search results"
When I search for instructors using https://amy.software-carpentry.org/workshops/instructors I would like to be able to capture all their email addresses so I can send them an email.

[2016-05-19 18:02] maneesha opened #799 "Show how often taught on instructor page"
Results of this report https://amy.software-carpentry.org/workshops/instructors_by_date
show often each instructor has taught.

This number should also display at bottom of Task list on each instructor profile page.

[2016-05-19 18:43] maneesha opened #800 "Add functionality to merge workshop request with existing workshop"
So if someone emails an admin about a workshop and they record it in AMY but then submits the same workshop  via the form (https://amy.software-carpentry.org/workshops/swc/request/) I would like to merge them.

See workshop https://amy.software-carpentry.org/workshops/event/2016-05-17-ucsd
and request  https://amy.software-carpentry.org/workshops/request/100
as an example.

[2016-05-19 21:10] chrismedrela opened #802 "Write tests for trainings dashboard"
At least one test that checks that the trainings dashboard loads successfully (status_code == 200).

[2016-05-19 21:21] jduckles commented on #787
![image](https://cloud.githubusercontent.com/assets/119403/15410088/880a2bdc-1ddd-11e6-89dc-36cf77642eff.png)

I've taught 13 time, the report double counts.

![image](https://cloud.githubusercontent.com/assets/119403/15410118/ab3338b0-1ddd-11e6-9db1-6b9cf8f98024.png)

My unfounded hypothesis is it has to do with having both DC and SWC instructor badges and the way you're joining things.

[2016-05-20 00:33] tracykteal opened #803 "Automating emails to instructors about discussion sessions"
Somewhat related to https://github.com/swcarpentry/amy/issues/516, @maneesha, @ChristinaLK and I decided that it would be good to automate sending out the emails before and after their workshops letting them know that instructor discussion meetings are coming up.

@ChristinaLK has proposed these emails
https://github.com/swcarpentry/board/pull/117

Can we automate this going to out to instructors

[2016-05-20 00:38] tracykteal commented on #794
Just a report. Currently there's not a filter for selecting numbers for learners/workshops/instructors of a particular type I don't think. It would be nice to be able to look at reports for how many people went through DC workshop, or SWC workshops or TTT events.

[2016-05-20 05:13] pbanaszkiewicz commented on #787
@jduckles you're definitely right. I gave myself a DC badge and my count jumped from 4 to 8.

[2016-05-20 13:00] maneesha commented on #803
I think the dates need to be manually filled in.  While we want as consistent a schedule as possible there will occasionally be some adjustments made.

These should go out weekly to everyone who is going to teach in the next 6-8 weeks or has taught in the last 6-8 weeks.

[2016-05-20 16:56] gvwilson commented on #795
See also #524.

[2016-05-20 16:57] gvwilson commented on #779
@narayanaditya95 will tackle this

[2016-05-20 16:58] gvwilson commented on #781
@narayanaditya95 will tackle this

[2016-05-20 16:58] gvwilson commented on #782
@narayanaditya95 will tackle this

[2016-05-20 16:58] gvwilson commented on #787
@narayanaditya95 will tackle this

[2016-05-20 16:58] gvwilson commented on #790
@narayanaditya95 will tackle this

[2016-05-20 16:58] gvwilson commented on #799
@narayanaditya95 will tackle this

[2016-05-20 18:00] narayanaditya95 commented on #799
@maneesha Would you like me to list the number of times the person has assumed all possible roles or are we only interested in role of an instructor.

[2016-05-20 18:30] gvwilson commented on #799
Please list instructor / helper / learner - the first is the most
important, the second is useful, and the third tells us how they got
started.

[2016-05-20 20:16] pbanaszkiewicz opened #804 "Searching for trainees doesn't return people in both stalled and running TTT events"
This is an error with Django ORM, see https://github.com/swcarpentry/amy/pull/776#discussion_r63953993

[2016-05-20 20:23] #773 closed

[2016-05-20 20:51] tracykteal commented on #773
Thanks!

[2016-05-20 21:12] pbanaszkiewicz commented on #799
@narayanaditya95 you can help yourself with this annotation https://github.com/swcarpentry/amy/pull/776/files#diff-ff40cc33cf5228ac8b825f8d4f9ef9b8R1662 however be sure to test if it yields good results because we have issues with it.

[2016-05-20 21:15] pbanaszkiewicz commented on #785
@ErinBecker is this issue still valid after you gained the direct access to the database?

[2016-05-20 21:21] pbanaszkiewicz commented on #524
Ref #763.

[2016-05-20 21:26] ErinBecker commented on #785
@pbanaszkiewicz I think I have access to everything I need now. Thanks Piotr!

[2016-05-20 21:27] pbanaszkiewicz commented on #785
You're welcome!

[2016-05-20 21:27] #785 closed

[2016-05-21 17:37] narayanaditya95 commented on #782
Found this comment at `api/views.py` L409:

[code]

@pbanaszkiewicz How should I proceed in this?

[2016-05-21 17:51] narayanaditya95 commented on #782
Found this comment at `api/views.py` L409:

[code]

@pbanaszkiewicz How should I proceed in this?

[2016-05-22 21:29] chrismedrela commented on #784
Please review: https://github.com/swcarpentry/amy/pull/809

[2016-05-23 05:56] narayanaditya95 commented on #790
@pbanaszkiewicz

From `workshops/models.py` L231
[code]

Allowing fields to go null while enforcing them to be unique seems contradictory to me. What should we populate the existing rows in the table with the `github` and `twitter` field as null?

[2016-05-23 12:30] pbanaszkiewicz commented on #782
The easy fix would be to return links in API and I'd go with it.

[2016-05-23 12:44] pbanaszkiewicz commented on #790
@narayanaditya95 is this the only place where we such constraints, ie. `unique=True, null=True, blank=True`?

[2016-05-23 12:48] #779 closed

[2016-05-23 13:04] gvwilson commented on #782
As a human user of the site, I want to be able to click on the slug for a workshop in the list at the bottom of the page reporting problems and be taken to the page for that workshop.

[2016-05-23 14:41] #781 closed

[2016-05-23 14:41] #796 closed

[2016-05-23 15:54] narayanaditya95 commented on #790
A preliminary search threw these instances:
`workshops/model.py`
[code]

[2016-05-26 15:21] #799 closed

[2016-05-26 15:30] pbanaszkiewicz commented on #790
@narayanaditya95, @gvwilson:

1. `Event.slug` should become non-null, non-blank, unique (we have only 1 event with NULLed slug, thanks to @maneesha who keeps them filled)
2. `Event.url` should remain null, blank, unique, validated with custom Regex
3. `Person.email` should probably become non-null, non-blank -- this is standard for non-learners to have an associated email, but we have about 470 pe

[2016-05-27 13:41] maneesha opened #812 "Slug should be a required field"

[2016-05-27 17:59] pbanaszkiewicz commented on #812
@maneesha we were just debating this matter: https://github.com/swcarpentry/amy/issues/790#issuecomment-221906083

[2016-05-27 18:00] pbanaszkiewicz commented on #790
@maneesha decided that `Event.slug` must not be NULL nor blank.

[2016-05-27 18:49] gvwilson commented on #419
We don't need to import old data: we'll ask people to re-apply.

[2016-05-27 18:49] #419 closed

[2016-05-27 18:50] gvwilson commented on #656
@narayanaditya95 can you please review and merge?

[2016-05-27 18:59] gvwilson opened #813 "Website validation gives incorrect answer for empty fields"
1.  Go to https://amy.software-carpentry.org/workshops/event/2016-07-11-ttt-scipy.
2.  Click 'validate event'.
3.  Error message reports 'helper' and 'eventbrite' are invalid.

Both are present, but empty.

[2016-05-27 19:25] gvwilson opened #814 "Add ability to log in with GitHub credentials"
Following up on [this thread](http://lists.software-carpentry.org/pipermail/amy-dev/2016-May/000007.html), add Python Social Auth so that people can log in with GitHub credentials. This will make life easier for folks who are mentoring/going through instructor training.

[2016-05-29 07:35] pbanaszkiewicz commented on #813
If `helper` is empty, it's invalid.

The behavior for `eventbrite` is slightly off, I'll fix it.

[2016-05-29 10:16] gvwilson commented on #813
But `helper` can legitimately be an empty list, can't it? If there
weren't any helpers?

[2016-05-29 11:32] #813 closed

[2016-05-29 14:52] pbanaszkiewicz commented on #786
Shifting to v1.7 since this is a minor thing.

[2016-05-29 14:54] pbanaszkiewicz opened #816 "Move user-facing forms to separate URL endpoint amy.swc.org/forms"
This is to simplify URLs we can use in the administrative part of AMY.

User-facing forms: forms that don't require people to log in, like workshop submission, profile update request, etc.

[2016-05-29 15:26] #780 closed

[2016-05-30 14:55] narayanaditya95 commented on #782
@pbanaszkiewicz
If we do not plan on extending the all activity report, such that level 3 of the response only corresponds to event slugs, we can construct hyperlinks on the client side (hardcoding here).

Should we go that way?

[2016-06-01 11:27] #787 closed

[2016-06-01 11:37] narayanaditya95 opened #820 "Segfaults when running tests on OS X"
On OS X El Capitan with the latest SQLite version `3.13.0 2016-05-18 10:57:30`, `make test` throws

[code]

The segfaults disappeared for a while when SQLite was upgraded from 3.8 to 3.13.
I have been using my laptop on Ubuntu to run tests.

[2016-06-01 11:38] gvwilson commented on #820
Which test causes the segfault?

[2016-06-01 11:39] narayanaditya95 commented on #820
How do I locate it? The tests exit without any log.

[2016-06-01 11:54] #797 closed

[2016-06-02 19:27] pbanaszkiewicz opened #822 "Language support in various forms"
Some of our forms (profile update form and probably instructor application form) need to be updated after #798 is merged.

[2016-06-03 15:05] chrismedrela commented on #814
@pbanaszkiewicz, I have some troubles installing `python-social-auth`. What is the result of executing:
[code]
on your machine?

[2016-06-03 15:07] pbanaszkiewicz commented on #814
@chrismedrela it just works, no output.

[2016-06-03 15:17] pbanaszkiewicz commented on #814
@narayanaditya95 can you please test what https://github.com/swcarpentry/amy/issues/814#issuecomment-223604528 says at your machine?

[2016-06-03 16:06] pbanaszkiewicz commented on #761
@tracykteal just to make sure: this new form is meant to replace https://amy.software-carpentry.org/workshops/submit/, correct?

[2016-06-03 16:08] tracykteal commented on #761
No, it would be an additional form. We want to have one for hosts to request workshops and one for self-organized workshops, because they have different sets of questions.

[2016-06-03 16:13] pbanaszkiewicz commented on #761
We currently have 2 different forms for requesting a workshop:
* https://amy.software-carpentry.org/workshops/dc/request/
* https://amy.software-carpentry.org/workshops/swc/request/

We also have 1 form for informing admins about a possibly self-organized workshop that already has a webpage: https://amy.software-carpentry.org/workshops/submit/

I'm asking if the last one should be replaced with th

[2016-06-03 16:28] tracykteal commented on #761
Sorry, I was thinking about the regular form. The current 'Tell us about your workshop' form is the one that SWC I think is using, although I'm not sure if they're using it. @maneesha @jduckles?

I think SWC and DC do need different self-organized forms though. SWC is requesting the information either before or after the workshop, but DC is asking that people fill in this form and check the boxes

[2016-06-03 17:22] narayanaditya95 commented on #814
It prints:

[code]

[2016-06-03 18:36] chrismedrela commented on #814
OK, I figured it out: `dist-packages` directory was missing in `sys.path`, so, as a workaround, I added it to my PYTHONPATH.

[2016-06-06 23:20] ChristinaLK commented on #803
@pbanaszkiewicz , @chrismedrela , what information do you need from me/us to implement this feature?  Let me know and I can try to fill in the blanks here.

[2016-06-07 21:18] narayanaditya95 opened #824 "Migrations not bundled in source"
Running `python manage.py makemigrations` creates a migration with the operation:

[code]

[2016-06-07 22:46] chrismedrela commented on #824
Oops, I forgot to update migrations after changing `verbose_name`. I'll fix that tomorrow.

[2016-06-08 20:42] #755 closed

[2016-06-08 22:02] chrismedrela commented on #824
PR -> https://github.com/swcarpentry/amy/pull/826

[2016-06-10 16:00] narayanaditya95 opened #827 "Add ability to import individual sections of a PyData conference."
Individual talks/sections of a PyData workshop must be imported into the `Event` model.

[2016-06-10 16:01] narayanaditya95 opened #828 "Migrate Hosts to Organizations"
`Hosts` should be migrated to `Organizations` to allow us to represent academic institutions as well as private sponsors.

[2016-06-10 16:04] narayanaditya95 opened #829 "Import entire PyData conference as an Event"
A PyData conference (say PyCon US '16) should be represented as an organization that hosts a series of events (here talks at the PyData conference).

The FK from the `Event` model to the `Organization` named `host` still performs the same functionality.

[2016-06-10 16:06] narayanaditya95 opened #830 "Add a Sponsorship model"
Introduce a M2M field between an `Organization` (a private org probably) and the `Event` model through a `Sponsorship` model.

The `Sponsorship` model would keep record of the kind and amount of sponsorship provided by an org.

[2016-06-13 15:34] narayanaditya95 commented on #830
@gvwilson The `Membership` model already models sponsorship from a host. Apart from an IntegerField to account for the exact amount of sponsorship provided (or a slab), it addresses most of things required for a `Sponsorship` model.

[2016-06-13 19:46] maneesha opened #831 "What is the sort order for displaying Person's Tasks?"
See for example
https://amy.software-carpentry.org/workshops/person/2436

It is not chronological nor grouped by Task.

[2016-06-13 19:54] gvwilson commented on #831
That's a good question - what sorting order would you like?

[2016-06-16 13:47] maneesha commented on #831
I would say chronological grouped by Task.

[2016-06-16 13:50] maneesha opened #834 "Date(?) stamp when updating record from url"
When updating an event from url, the list of instructors/helpers is recorded in the notes field with a heading that looks like a date but isn't.  For example an update I made today has the heading "UPDATE 2016-5-4:"

What is this heading supposed to be?  Can we make it be the real date of the update (i.e., UPDATE 2016-06-16:")

[2016-06-17 16:13] pbanaszkiewicz commented on #761
@tracykteal question about the form's field "Domain for the workshop". Is it attendees' domain of interest or is it Data Carpentry data set the organizer wants to use?

Question about "I confirm that I will handle registration for this workshop *" and "I confirm that I will distribute the Data Carpentry survey to participants *" fields - do they need to have an "other" as an answer?

I also need t

[2016-06-17 17:08] pbanaszkiewicz commented on #761
@tracykteal is "Data wrangling" a different lesson than shell?

[2016-06-17 18:27] tracykteal commented on #761
Thanks @pbanaszkiewicz I update the form at https://docs.google.com/forms/d/1SHctDIQYLEDy139NNTKkgi0ctbMeh2zdE927hsWh1Ew/edit
to address these questions.

I also added a question about 'Instructor status' (4th question) and the categories for Self-organized workshop fees. For the workshop waiver section, can we just leave it as free response? I want people to just address the fee waiver with a cou

[2016-06-17 18:28] pbanaszkiewicz commented on #761
@tracykteal thanks! I left the waiver section as a text box.

[2016-06-17 18:38] tracykteal commented on #761
Great, thank you!

[2016-06-18 17:02] #831 closed

[2016-06-18 17:12] #582 closed

[2016-06-18 19:58] pbanaszkiewicz commented on #822
@narayanaditya95 @chrismedrela do you perhaps know which forms we need to update to store the language?

[2016-06-18 19:59] pbanaszkiewicz commented on #761
Closing because #836 was merged

[2016-06-19 11:05] pbanaszkiewicz commented on #834
@maneesha the reason why this is so ugly is because we're translating month and day numbers as integers from JavaScript into text. JavaScript is unbelievably stupid in this area (just see how many different and unpleasant solutions are to this particular problem: http://stackoverflow.com/questions/3605214/javascript-add-leading-zeroes-to-date).

We'll deal with it for v1.7.

[2016-06-19 14:24] #287 closed

[2016-06-20 08:06] #824 closed

[2016-06-20 13:27] chrismedrela commented on #822
#798 introduces:
- changes in models:
  - `EventRequest.languages` converted from string to `Language` ref
  - added `Person.languages`
  - added `Event.language`
  - added `EventRequest.language`

- changes in views:
  - `event_details_table.html`
  - `person_details`
  - `workshop_staff` (searching by language)

- changes in forms:
  - added `WorkshopStaffForm.languages`
  - added `PersonForm.la

[2016-06-21 12:07] gvwilson commented on #554
If we're opening up AMY to instructors anyway (so that they can update their info), this starts to look more reasonable... ?

[2016-06-22 11:45] pbanaszkiewicz opened #840 "Person without email causes attribute error"
In `Person.clean()`, `self.email` can be None.

[2016-06-23 11:11] prerit2010 commented on #840
@pbanaszkiewicz  Can you  please elaborate how to reproduce this bug ? I created a new person with no email id, but it didn't throw any error.

[2016-06-23 11:14] pbanaszkiewicz commented on #840
@prerit2010 I found it when I was changing permissions for a person without email.

[2016-06-23 11:51] narayanaditya95 commented on #830
@gvwilson ping.

[2016-06-23 11:53] gvwilson commented on #830
I vote for augmenting the existing model (in the same way that we augmented Task with a title field). @pbanaszkiewicz?

[2016-06-25 21:24] gvwilson opened #842 "Parameterize queries with start/end dates and workshop type"
The reports for workshops over time, learners over time, and instructors over time should take start/end dates and type (SWC vs. DC) as query parameters so that interested parties can fetch the information they want more easily. cc @tracykteal

[2016-06-26 17:17] #822 closed

[2016-06-27 06:22] pbanaszkiewicz opened #845 "Training request form should use <a>s in help texts"
Fields at the bottom of the form use `help_text`s but don't replace links with <a>links</a>.

[2016-06-27 06:23] pbanaszkiewicz commented on #840
Closed via #841.

[2016-06-27 06:23] #840 closed

[2016-06-27 07:15] pbanaszkiewicz commented on #820
@narayanaditya95 any update on this issue?

[2016-06-27 07:48] narayanaditya95 commented on #820
@pbanaszkiewicz
This issue is random. When it starts to fail, it fails for days altogether.
Currently, it does not fail on my machine.

Well, I haven't been able to replicate the issue for a week or two. Lets close the issue.

[2016-06-27 07:52] pbanaszkiewicz commented on #820
@narayanaditya95 it may mean that some specific data corrupted your database. That's a very peculiar issue, anyway.

[2016-06-27 07:52] #820 closed

[2016-06-27 18:55] maneesha opened #846 "Denote cancelled workshops in AMY"
Add tag for cancelled workshops.
This should also result in the workshop being unpublished.
(So published == has date and has location and has workshop page and  tag != "cancelled")

[2016-06-27 20:04] maneesha opened #847 "Assign admin when creating new event"
You should be able to assign admin from this page:
https://amy.software-carpentry.org/workshops/events/add/

Right now you can't assign admin until you save and edit.

[2016-06-28 04:57] apawlik commented on #846
Would it be useful to have reasons (for stats and further analysis):
* cancelled due to lack of funds
* cancelled due to problems in finding instructors
* cancelled due to venue problems [not sure if that is interesting for us, I think the first two are]
* other reasons

[2016-06-28 10:47] pbanaszkiewicz commented on #814
Closed via #825.

[2016-06-28 10:47] #814 closed

[2016-06-28 12:17] narayanaditya95 commented on #830
The `Membership` model can easily be extended to show PyData sponsors.
A PyData sponsor looks like:
[code]

The corresponding `Membership` object would be:
[code]

The required  changes are:
- `Membership.CONTRIBUTION_CHOICES` must be extended to include
[code]

[2016-06-28 12:43] maneesha opened #850 "Default invoice status"
Default invoice status when creating a new event should be "Not Invoiced" -- currently it is "Unknown"

[2016-06-28 12:58] narayanaditya95 commented on #846
@pbanaszkiewicz
Since we also have to record the reason behind the cancellation, we can add a `CharField` with a choice that lists the possible reason to the `Event` model.
Is this schema change good enough?

[2016-06-28 13:16] narayanaditya95 commented on #847
@maneesha
When you say 'admin`, do you refer to the field `administrator` that relates to a host or the `assigned to` field that links to a person?

[2016-06-28 13:17] maneesha commented on #846
@apawlik I think the potential reasons for canceling a workshop are too complex to enumerate.

Also we are thinking of cancelled meaning that a workshop was completely planned - i.e., had instructors, a venue, registered learners, etc. and had to cancel.

If we start talking to a host about doing a workshop and they can't do it because of lack of funds, don't have a venue, etc.  then it is conside

[2016-06-28 13:27] maneesha commented on #847
This refers to `assigned_to`  -- so that I can assign an event to myself when creating it.

[2016-06-28 13:33] pbanaszkiewicz commented on #847
The issue here is that current assignment machinery works on existing objects, and @maneesha wants to assign admins when the event is not yet created.

We should be able to achieve that by extending event form with assignment field.

[2016-06-28 13:40] maneesha commented on #554
And if we are thinking about this I really want to push for daily attendance - see https://github.com/swcarpentry/amy/issues/514
where we've talked about it and I've noted that I've been tracking it myself.

[2016-06-28 17:10] pbanaszkiewicz commented on #784
Closing since it was merged in #809.

[2016-06-28 17:10] #784 closed

[2016-06-29 11:21] gvwilson opened #852 "Add login link to logout page"
https://amy.software-carpentry.org/account/logout/ should have a link to the login page, because https://amy.software-carpentry.org/account/login/?next=/workshops/ isn't obvious...)

[2016-06-29 11:35] gvwilson opened #853 "Add navigation bar link to "update profile""
Navigation menu currently doesn't link to profile update page - it should be under "Hi, name".

[2016-06-29 11:37] gvwilson opened #854 "Nav bar on password update page styled differently from elsewhere"
The navigation bar on the "change password" page is narrow than the bar on all the other pages. Inside the wrong div, maybe?

[2016-06-29 11:41] gvwilson opened #855 "styling of profile display"
It looks like the table suddenly starts indenting further - this could be due to bullet points indenting from the margin (very low priority).
![screen shot 2016-06-29 at 7 39 45 am](https://cloud.githubusercontent.com/assets/911566/16450751/ce8dd59a-3dcc-11e6-9ada-ec8cc7091f54.png)

[2016-06-29 11:42] gvwilson opened #856 "Navigation bar missing on profile update page"
https://amy.software-carpentry.org/workshops/trainee-dashboard/ doesn't have any kind of navigation menu - my only options are "log out" and "update profile". If I'm actually an admin, I should see the usual nav bar.

[2016-06-29 12:52] #852 closed

[2016-06-29 14:02] narayanaditya95 opened #858 "Unset variable on Host detail page"
If a `Membership` object has the field `workshops_without_admin_fee_per_year` set to null, the corresponding `host_detail` page shows `None` in the imposed column and `xxx-unset...` in the remaining column of the Membership table.

[2016-06-29 14:13] gvwilson opened #859 "All trainers should be able to log in to AMY"
Anyone with an instructor training badge should be able to log in to AMY.  (This may take care of itself after we finish migration/transition.)

[2016-06-29 14:17] narayanaditya95 commented on #858
@pbanaszkiewicz
All `Membership` objects have non-null `workshops_without_admin_fee_per_year` field.
Should we enforce `null=False` on the `workshops_without_admin_fee_per_year` field to circumvent the issue?

[2016-06-29 14:27] narayanaditya95 commented on #830
@gvwilson
After having a talk with @pbanaszkiewicz yesterday, we realized that the `Membership` model in AMY serves a different use case than what the `Sponsorship` model in PyData does.

The `Membership` model in AMY records the sponsorship of an organization to the SWC/DC organization as a whole.
The `Sponsorship` model in PyData records the sponsorship provided by an organization to each partic

[2016-06-29 14:28] pbanaszkiewicz commented on #830
Yeah, `Membership` is like a partnership, whereas `Sponsorship` is just a sponsorship.

[2016-06-29 14:28] pbanaszkiewicz commented on #830
Also see #74

[2016-06-29 15:26] pbanaszkiewicz commented on #853
@chrismedrela are you on it? If not, I'll add this now

[2016-06-29 15:28] chrismedrela commented on #853
Not yet.

[2016-06-29 16:20] pbanaszkiewicz commented on #795
@gvwilson I was thinking about GitHub-style notifications. https://github.com/django-notifications/django-notifications this looks very promising.

[2016-06-29 17:59] #850 closed

[2016-06-29 19:01] #790 closed

[2016-06-29 19:01] #812 closed

[2016-06-29 20:44] #853 closed

[2016-06-29 20:45] #845 closed

[2016-06-30 12:21] pbanaszkiewicz opened #865 "Turn off profile update request form"
Since we allowed instructors to log in and update their profiles via `AutoUpdateForm`, we probably don't need the external (open for not-logged in users) form `ProfileUpdateRequest`.

@gvwilson needs to remind instructors to add their GitHub link because some cannot log in yet.

@maneesha please confirm you won't need the `ProfileUpdateRequest` form ( https://amy.software-carpentry.org/workshops/u

[2016-06-30 12:33] #855 closed

[2016-06-30 13:28] pbanaszkiewicz opened #867 "After logout, redirect to the login page with a message"
I'd work on this for v1.6.1, but as it turns out Django changes auth views (we use them for login / logout) in the v1.11 release, so if we wait a little we may get a better implementation.

[2016-06-30 16:43] maneesha commented on #865
I  go in once a week or so to process all the Profile Update Requests that have come in.  I don't use it for anything else.  However if Github login is required, and Data Carpentry does not require instructors to be Github users this form may still be necessary.  @tracykteal?

[2016-06-30 23:47] apawlik commented on #846
@maneesha Yes, I agree that to enumerate all reasons is not possible. I was just wondering (based on the past experience) whether capturing how often it was due to lack of instructor vs lack of funds was interesting for us to note any patterns. Though if we define *cancelled* as all fully planned, then this is not applicable.

I think this may be a question to the Steering Committees whether we wa

[2016-07-02 12:05] pbanaszkiewicz opened #873 "Feedback on the training request form"
Feedback:

- [x] @maneesha: show that mandatory checkboxes are mandatory
- [x] @maneesha: fix wording on the confirmation page ("thank you for applying")
- [x] @jduckles: drop "institutional" from "institutional affiliation"
- [ ] @jduckles: fix intro (manage expectations)
- [x] @jduckles, @tracykteal: decide what this form is for (open training / partner training / group training)
- [x] @tracykte

[2016-07-03 05:59] narayanaditya95 commented on #626
@pbanaszkiewicz I am starting to reconsider this proposal as we progress towards adding PyData specific objects to the database.
Having fixtures would make our tests independent of the initial data we intend to populate our database with.

[2016-07-03 10:10] narayanaditya95 opened #874 "Deprecate `Event.get_by_ident`"
With non-nullable and required `slug` field for each event, `Event.get_by_ident` can be deprecated in favour of `Event.objects.get(slug=...)`.

[2016-07-03 19:11] pbanaszkiewicz opened #876 "Steering Committee members aren't allowed into AMY"
All access apart from AutoUpdateProfile is allowed only for admins, and people from Steering Committee have "steering committee" group which is not considered admin.

The workaround for now is that I'll add SC members to the "administrators" group.

[2016-07-04 18:59] chrismedrela commented on #876
@pbanaszkiewicz, so do you want to change `@admin_required` so that it checks if a user belongs to `administator` group or `steering committee` group?

[2016-07-05 00:30] gvwilson opened #877 "Generate randomized links to sign up for instructor training from partner sites"
If we're doing instructor training for a partner site, they'll send us names and email addresses of participants. We should send those people a randomized link to the instructor training application page so that:
1.  We can automatically identify which event they're part of.
2.  We can change the wording in the header to make it clear that they're guaranteed a spot in a particular event.

[2016-07-05 00:32] gvwilson opened #878 "Add free-text explanation boxes to instructor training application form"
From @tracykteal:

[2016-07-05 00:34] gvwilson opened #879 "Minor fixes to wording of instructor training application form"
From @ErinBecker:

- Based on data from recently trained instructors, we've revised the time estimate for the checkout process upwards to be more realistic. The current text on our (DC) website says "take a total of approximately 8-10 hours".
- For "Personal name" and "Family name", I agree that these terms may be confusing to a US audience. How about "Personal (given) name" and "Family name/surna

[2016-07-05 00:35] gvwilson commented on #878
Duplciates #873.

[2016-07-05 00:35] #878 closed

[2016-07-05 00:35] gvwilson commented on #879
Duplicates #873.

[2016-07-05 00:35] #879 closed

[2016-07-05 04:40] pbanaszkiewicz commented on #877
Is this scheduled for v1.6.3 or later?

[2016-07-05 09:29] gvwilson commented on #877
Later.

[2016-07-07 04:58] pbanaszkiewicz commented on #873
@chrismedrela any progress on this issue? The milestone was supposed to be closed on Monday/Tuesday.

[2016-07-07 17:24] pbanaszkiewicz commented on #876
@chrismedrela the `@admin_required` should be extended to cover "steering committee" group as well.

[2016-07-07 18:06] maneesha opened #881 ""Cancel" button"
Any place there is a "Submit" button I'd also like to see a "cancel" button so that any changes accidentally made while in editing mode are not saved.

[2016-07-07 18:08] chrismedrela commented on #873
@pbanaszkiewicz Oops, I didn't notice the milestone deadline and I focused on other stuff. I'll try to do this today. One question: What exactly do I need to change in the intro?

[2016-07-07 18:12] pbanaszkiewicz commented on #873
Leave the intro as it is until @jduckles says if he can improve it.

[2016-07-07 18:41] chrismedrela commented on #873
Questions:

1) Do we need to link to both SWC and DC Code of Conduct?
2) `add field for explanations to the "previous training in teaching", "previous experience in teaching"` <- I don't understand this; there is already a charfield for "other" option
3)  `decide what this form is for (open training / partner training / group training)` <- right now it's for all kinds of training; what exactly sho

[2016-07-07 18:43] chrismedrela commented on #873
4) I made "GitHub field" optional, because people may not have GitHub account when they fill in the form. Is it good decision? What will we do with TrainingRequests missing GitHub username when we approve them (we need to somehow let people login into AMY).

[2016-07-07 18:44] gvwilson commented on #873
On 2016-07-07 2:41 PM, chrismedrela wrote:

Yes.

@tracykteal would like people to be able to choose one of our pre-set
options *and* provide a longer text explanation, even if it's one of the
standard (non-"other") choices.

No action required.
Thanks,
Greg

[2016-07-07 18:45] gvwilson commented on #873
On 2016-07-07 2:43 PM, chrismedrela wrote:

I think it's a necessary one.

We tell them to create a GitHub account and send it to us and we add it
and then they can log in.
Cheers,
Greg

[2016-07-07 19:48] narayanaditya95 opened #882 "Move from GET views for object deletions to DeleteViewContext"
`DeleteViewContext` is introduced in the PR #875

[2016-07-07 23:52] chrismedrela commented on #873
@pbanaszkiewicz, I'm sorry for fixing this so late, I've got stuck on fixing tests.

[2016-07-07 23:56] gvwilson commented on #873
Always happy to have fixes to tests - thanks.

[2016-07-08 19:49] narayanaditya95 opened #888 "Recording point of contact for organizations"
PyData records a `contact_name` and `contact_email` for every sponsor organization.

@pbanaszkiewicz @gvwilson How does SWC/DC contact organizations?

[2016-07-09 07:54] pbanaszkiewicz commented on #888
@maneesha question for you?

[2016-07-09 08:20] pbanaszkiewicz commented on #873
@gvwilson can you perhaps provide us with a better intro text?

[2016-07-09 11:02] chrismedrela opened #891 "Synchronizing UserSocialAuth doesn't work with duplicated GitHub usernames"
When we have two people with the same GitHub username and UserSocialAuth is already synchronized for the first person, we cannot synchronize for the another one. This is because one GitHub account can be associated with only one AMY account. This results in `IntegrityError` raised in `sync_usersocialauth` view.

What should we do? What about displaying an error message (I mean `messages.error`) wi

[2016-07-09 11:07] gvwilson commented on #891
How can we have two people with the same GitHub username?

[2016-07-09 11:15] chrismedrela commented on #891
Yeah, I forgot that we have uniqueness constraint on `Person.github`, but this error still may happen. Consider this scenario:

1) We set GitHub username of person A to `chrismedrela` and synchronize `UserSocialAuth`.
2) We then change the username to something else, but we don't update `UserSocialAuth` table. Person A can still login using `chrismedrela` GitHub account.
3) We set GitHub username

[2016-07-09 11:18] gvwilson commented on #891
Yes, we have to clean `UserSocialAuth` when someone's GitHub username
changes - it's essentially a cache management problem.

[2016-07-09 20:10] gvwilson commented on #873
I'll poke @jduckles again.

[2016-07-10 05:58] pbanaszkiewicz commented on #626
@narayanaditya95 there are advantages to using fixtures, but personally I don't want to touch migrations to fix our previous errors anytime soon.

[2016-07-10 06:00] #876 closed

[2016-07-10 06:10] pbanaszkiewicz commented on #891
ref #893

[2016-07-10 07:46] narayanaditya95 commented on #881
A simple force reload of the page will refetch the content of form fields from the server.
It can be achieved through `Ctrl + Shift + R` or alternatively we can have a button which calls `location.reload(True)`.

[2016-07-11 20:18] pbanaszkiewicz commented on #873
@gvwilson should we proceed without the improved text?

If not, @chrismedrela here's what @jduckles said:

@chrismedrela if you can make another intro out of these words, I'd be glad - I want to close v1.6.3 ASAP.

[2016-07-11 20:23] gvwilson commented on #873
Hi both,
I'll try to get you something tonight.
Cheers,
Greg

[2016-07-11 21:07] jduckles commented on #873
Don't know where you want this, so I'll just put it here.

Our instructor training classes are for people who wish to learn how to teach
Software Carpentry and Data Carpentry workshops. We teach impactful pedagogical
techniques and prepare you to become an instructor in our community. We use this
form to register interest and build new communities of instructors around the
world.

 If you wish to

[2016-07-11 22:17] maneesha commented on #881
@narayanaditya95 yes, that works but I'd rather have an explicit "cancel" button than to rely on browser activity like back or refresh (which is what I do now).

[2016-07-11 22:22] maneesha opened #894 "Transform github repo url into website url"
If a website's github repo is https://github.com/barack_obama/2016-01-01-whitehouse then we know the website is https://barack_obama.github.io/2016-01-01-whitehouse

When using the "Import" or "Update from URL" it requires the *website* rather than the *repo*.  However, if given the repo, can't we have AMY transform the URL into a valid website URL?

Often I get a repo url from an instructor (esp.

[2016-07-12 04:47] pbanaszkiewicz commented on #873
Thanks @jduckles!

@chrismedrela can you put that in some PR, please?

[2016-07-12 12:08] chrismedrela commented on #873
@pbanaszkiewicz , ping.

[2016-07-12 16:55] pbanaszkiewicz commented on #873
Finally!

[2016-07-12 16:55] #873 closed

[2016-07-12 17:19] #847 closed

[2016-07-13 19:07] narayanaditya95 commented on #888
@maneesha Can you provide me with an answer to the above question?

[2016-07-13 19:34] maneesha commented on #888
We don't have contacts with organizations documented in AMY now.  I feel like I remember another github issue about this where @jduckles said he didn't want to prioritize this but I could be making this up :) .  I will look for it shortly.

[2016-07-13 19:39] maneesha commented on #888
I think this is what I was thinking of: https://github.com/swcarpentry/amy/issues/747

[2016-07-13 21:13] jduckles commented on #888
I'm ok with us managing limited contact info up to the point that we don't feel like AMY is our own custom reimplementation of a full-on Customer Relationship Manager (CRM).

We've been using Highrise as our CRM and I think it might be pretty easy to add extended info for contacts to it. So we could capture name, email for host organizations and store any extended attributes in a CRM record that i

[2016-07-14 04:46] #830 closed

[2016-07-14 09:10] narayanaditya95 commented on #888
Thank you @jduckles.

[2016-07-14 09:20] narayanaditya95 commented on #888
@gvwilson @pbanaszkiewicz
To allow us to record that point of contact for an org in each sponsorship agreement (as required for PyData), I wish to add a `ForeignKey` to a Person object from the Sponsorship model. This would make things simple for PyData hosted AMY.

Is this change acceptable? Your opinions please.

[2016-07-14 09:28] narayanaditya95 opened #896 "Blank usernames allowed for the first time"
`Person.objects.create(personal='name', family='surname', email='person@example.com')` creates a new row in the Person table with blank `username` field.

However, according to Django doc,

The default behaviour should be false.

Subsequent addition of rows with blank `username` field result in IntegrityError.

[2016-07-14 11:29] gvwilson commented on #888
:+1: from me.

[2016-07-14 13:08] aditnryn opened #897 "Populate the username of a person in `save` method"
Currently, the `username` field is being populated in the `form_valid` method of `PersonCreate` view.

Wouldn't it be better to populate the username field in the `save` method of `Person` model (if username is blank) as we would no longer have to worry about populating it every time before calling save.
@pbanaszkiewicz Should I add it to the `save` method?

[2016-07-14 16:02] #828 closed

[2016-07-14 16:04] pbanaszkiewicz commented on #888
@narayanaditya95 if it doesn't require admins/whoever to manually add `Person` and then manually link to a `Sponsorship`, then it works for me too.

[2016-07-14 16:08] pbanaszkiewicz commented on #802
@chrismedrela why did you close this issue? Is it solved? If so, where?

[2016-07-14 16:14] pbanaszkiewicz commented on #897
-1 on the iterative method of figuring out `username` in the `person.save()` method. You'd be making DB calls from `person.save`, which seems fishy to me (unless you convince me this is not wrong).

If only there was a better way than consecutive `SELECT`s to find out a username…

[2016-07-14 16:58] narayanaditya95 commented on #897
Yes, I didn't consider that.

[2016-07-14 18:44] maneesha opened #898 "Better format to select tags"
Can we have a better format to select tags?  The current scrolling list makes it difficult to see which tags are selected when in 'edit' mode.

[2016-07-15 19:42] pbanaszkiewicz commented on #896
That's bizarre, the definition of `Person.username` uses `blank=False` implicitly, right?

[2016-07-15 20:19] pbanaszkiewicz commented on #897
@narayanaditya95 can you research on alternative methods than iterative one? If we're stuck with the iterative method, I don't want to put that loop in the `save()` -- having one save do hundreds of saves feels like a bad idea to me.

[2016-07-16 00:59] chrismedrela commented on #802
No, it's not solved yet, Greg asked me to close this issue, probably because I'm working on writing tests  for the next few days, so this will be fixed soon. @gvwilson, did I guess correctly or did I misunderstand you?

[2016-07-16 01:12] gvwilson commented on #802
My fault for not explaining clearly: I meant "close" as in "do the work to close it". I would say "English is a sloppy language", but in this case, it's operator error.

[2016-07-16 11:46] chrismedrela commented on #802
Sorry, I've just realized that we actually do have such test here: https://github.com/swcarpentry/amy/blob/develop/workshops/test/test_landing_page.py#L51, so I'm closing it. :)

[2016-07-16 11:46] #802 closed

[2016-07-16 14:25] narayanaditya95 commented on #896
Yes, it does.
Adding `blank=True` to the definition does not initiate a migration.

[2016-07-16 14:50] pbanaszkiewicz commented on #896
@narayanaditya95 Adding `blank=True` does trigger the migration for me (tested on `master` branch), while `blank=False` doesn't.

[2016-07-16 15:00] pbanaszkiewicz commented on #896
Anyway, the issue seems that Django doesn't enforce validation upon `Person.objects.create`, for example in `Person.objects.create(personal='ASD', family='DSA', email='WSAD')` "WSAD" seems to be a perfectly valid email…

[2016-07-16 15:37] narayanaditya95 commented on #896
@pbanaszkiewicz Sorry I meant the opposite. Yes, adding `blank=False` does not initiate a migration.

Anyway, neither do `save` or `create` methods invoke any validation check, we have to resort to `full_clean()`.
Closing the issue as it is an expected behaviour.

[2016-07-16 15:37] #896 closed

[2016-07-18 17:26] chrismedrela commented on #626
Side note: squashing migrations doesn't speed up applying them. I've squashed first 87 migrations here (https://github.com/chrismedrela/amy/commit/4e5a29a02e877827397a50d44a630609cb40386b) and there is no improvement -- applying migrations still takes ~30 seconds on my machine.

[2016-07-19 09:31] chrismedrela opened #906 "Missing jquery.stickytabs.js"
Each page contains this line:
[code]
which results in 404.

This bug exists also on amy-dev server.

[2016-07-19 10:00] chrismedrela opened #907 "Possible leakage of email addresses in "mail everyone""
In a few places:
- https://github.com/swcarpentry/amy/blob/d9e9c32fea7cf978cf9c264bff50daeabd9e1823/workshops/templates/workshops/event.html#L129
- https://github.com/swcarpentry/amy/blob/d9e9c32fea7cf978cf9c264bff50daeabd9e1823/workshops/templates/workshops/instructors_by_date.html#L25
- https://github.com/swcarpentry/amy/blob/d9e9c32fea7cf978cf9c264bff50daeabd9e1823/workshops/templates/workshops

[2016-07-19 10:07] gvwilson commented on #907
:+1: to this change - good catch.

[2016-07-19 11:51] chrismedrela opened #909 "Delete views respond to GET requests instead of POST ones"
This can be easily fixed with a better version of DeleteContextView that I'll introduce in `instructor-training` branch:
[code]
Most of the function-based deletion views can be converted to class-based.

[2016-07-19 11:55] narayanaditya95 commented on #906
Did you try `bower install`?

[2016-07-19 11:56] narayanaditya95 commented on #909
Possible duplicate of #882

[2016-07-19 12:08] chrismedrela commented on #906
No, I forgot. Now it works. ==> Closing.

[2016-07-19 12:08] #906 closed

[2016-07-19 12:09] chrismedrela commented on #909
That's right, it's duplicate ==> closing.

[2016-07-19 12:09] #909 closed

[2016-07-19 12:10] chrismedrela commented on #882
This can be easily fixed with a better version of `DeleteContextView` that I'll introduce in instructor-training branch:
[code]

[2016-07-19 12:39] narayanaditya95 commented on #906
Shouldn't `make serve` ensure `bower install` is executed?

[2016-07-19 12:41] narayanaditya95 commented on #882
Where is `failed_to_delete` imported from?

Why do we need to redirect `GET` requests on delete views?

[2016-07-19 13:13] chrismedrela commented on #906
It does, but I run `python3 manage.py runserver`.

[2016-07-19 13:14] gvwilson commented on #906
Trust the Makefile... :-)

[2016-07-19 13:15] chrismedrela commented on #882
`failed_to_delete` lives in `workshops/util.py`.

By default, `DeleteView` renders confirmation page when it receives GET request, and this requires a template for such page.

[2016-07-19 13:45] chrismedrela commented on #906
If I only knew how to configure Pycharm to use makefile. :)

[2016-07-19 15:07] narayanaditya95 commented on #897
@pbanaszkiewicz
I do not intend to change the slug for an event object if it already exists. I wish to add a conditional to the save method when the `slug` field is not populated. This would prevent empty slug fields on executing `Person.objects.create(personal='...', family='...', email='...')`.

The diff is:
[code]

[2016-07-19 19:03] pbanaszkiewicz commented on #626
I don't think we have manpower to do the switch right now, so I'm postponing until I don't know when.

[2016-07-19 19:03] gvwilson commented on #626
:+1:

[2016-07-19 19:06] pbanaszkiewicz commented on #909
I'm glad that we have students who think of the same improvements (almost) at the same time. :-) /cc @gvwilson

[2016-07-19 19:09] pbanaszkiewicz commented on #882
Ref. https://github.com/swcarpentry/amy/blob/a82d0c39a4c4f745c57188350e27402b53c1e2c8/workshops/views.py#L160

[2016-07-19 20:02] #874 closed

[2016-07-19 20:08] pbanaszkiewicz opened #912 "Access for `invoicing` group"
Person responsible for invoicing is not able to get to the invoicing request views.

@chrismedrela I suggest you to write decorator like `is_in_groups(['grp1', 'grp2'])` and then change `is_admin` to use `is_in_groups` with specified groups (`administrators`, `steering committee` and `invoicing` for now).

[2016-07-20 10:33] chrismedrela commented on #912
What views should be accessible to members of `invoicing` group? If all, we can do the same what we did with `steering committee` group.

[2016-07-20 10:35] gvwilson commented on #912
For now, please do what you did with the steering committee group.

[2016-07-20 17:28] chrismedrela opened #914 "Generate links for initially filled-in training request form"
1. When accessing `https://amy.software-carpentry.org/workshops/request_training/?group=antarctica-2016`, the "group" field should be filled in with `antarctica-2016`.
2. Admins should be able to enter a list of email addresses and bulk send email with this link.

[2016-07-22 19:06] chrismedrela commented on #854
There are other pages where nav bar is narrow. I don't see any rule. @pbanaszkiewicz, when `base_nav_fixed.html` and `base_nav_fluid.html` should be used? Could we stick one with them and get rid of the another?

[2016-07-22 20:54] chrismedrela opened #917 "Automation of deployment"
So far, every time a contributor wants to deploy something to amy-dev, that person needs to hassle @pbanaszkiewicz and wait while he makes deploy. That has three drawbacks:

1) It's a lot of workload on Piotr.
2) When Piotr is unavailable, we cannot deploy.
3) The contributor needs to wait until Piotr checks mailbox.

I'm wondering if we could automate this process. This could looks like this: `ng

[2016-07-22 21:21] chrismedrela opened #918 "Simplify templates hierarchy"
Now we have five base templates:
- `base_nonav_fixed.html`
- `base_nav_fixed.html`
- `base_nav_fluid.html`
- `base_nav_fluid_sidebar.html`
- `base_nav_fluid_twocolumn.html`

I'd be simpler if we had only the last three templates, especially that such complexity results in some bugs:
- The distinction between `fixed` and `fluid` results in bugs like #854.

  We could stick with `fluid` and get rid

[2016-07-23 01:07] gvwilson commented on #918
+1, but let's leave this for end-of-summer cleanup - we need to polish
off instructor training registration workflow first.

[2016-07-24 15:54] narayanaditya95 commented on #917
We might also want to deploy a branch from a fork.
I dont think an automated solution would be as simple as a hitting an endpoint.

[2016-07-25 09:32] chrismedrela opened #919 "Autocomplete fields don't work on Safari"
These fields don't work for @raynamharris on Safari (but they work on Chrome).

@pbanaszkiewicz, you have mac, could you recreate this bug?

[2016-07-25 09:34] chrismedrela commented on #917
@narayanaditya95 We can pass repo URL in the HTTP request to the endpoint. Why do you think that it's not as easy as hitting an endpoint?

[2016-07-25 19:31] maneesha opened #920 "Should we be publishing workshops tagged "Library Carpentry""
...and if so where?

DC website lists DC workshops only
SWC website lists SWC and DC workshops

[2016-07-25 22:29] gvwilson opened #921 "Need to be able to merge or delete redundant instructor training requests"
We now have duplicate instructor training requests (same name, same email address) - need some way to delete or merge these through the web interface.

[2016-07-26 19:00] chrismedrela commented on #921
This PR #871 introduces discarding training requests through web interface. You can also delete requests permanently in django-admin. Is it enough?

[2016-07-26 19:00] gvwilson commented on #921
Yup.

[2016-07-27 18:16] chrismedrela opened #923 "Email templates in trainees list view"
#871 introduces trainees list view with "email selected trainees" feature, which create an empty email.

It'd be useful to have three kinds of emails:
- empty email
- asking for confirmation of interest in training (aimed at trainees who have sent a request in past and are now part of group application sent by a partner)
- asking for filling training request form (aimed at trainees  who have not s

[2016-07-27 18:18] chrismedrela commented on #919
These fields don't work for @k8hertweck too.

[2016-07-27 18:25] chrismedrela opened #924 "Submission of filter forms in left sidebar"
It's not clear that you need to click "submit" button after changing filtering options in the left sidebar. It's also additional work. We could add a bit of JavaScript that automatically sends the form when we change a select, checkbox or radio field. On the other hand, if you want to change more than one field, page reloads may disrupt and slow you down. Any opinions?

[2016-07-27 18:50] gvwilson commented on #923
:+1:

[2016-07-28 11:08] chrismedrela opened #925 "Make filter sidebar floating"
The filter form in the left sidebar takes a bit of place. During walkthroughs, I noticed that a lot of AMY users use laptops and, therefore, monitors are pretty narrow.

I propose to make the sidebar working in similar way to [django-debug-sidebar](https://github.com/jazzband/django-debug-toolbar):
![image](https://cloud.githubusercontent.com/assets/1645996/17210476/8b9da5d6-54c3-11e6-85af-b16dbff

[2016-07-28 11:09] chrismedrela commented on #925
It could make sense to implement it along with #924.

[2016-07-28 20:50] chrismedrela opened #926 "Download training requests as CSV"

[2016-07-29 01:57] maneesha opened #927 "Notes field in instructor profile update"
The form https://amy.software-carpentry.org/workshops/update_profile/
includes a place for the person to add in notes.  This should populate in the notes field for that person's record.

[2016-07-29 02:07] maneesha opened #928 "Add middle name to instructor profile update form"
This form https://amy.software-carpentry.org/workshops/update_profile/
does not have a middle name field but our database does.

This means that if a person wants to use their middle name they have to append it to their first or last name,  resulting in a match not being found.

[2016-07-29 08:34] pbanaszkiewicz opened #929 ""Import from URL" doesn't work on workshop request acceptance page"
As above, reported by Giacomo.

[2016-07-29 08:36] pbanaszkiewicz commented on #854
The rule was "if the page is wide, a wide navbar should be used", e.g. all pages with filters are wide and (probably) all object-details pages use narrow navbar.

[2016-07-29 08:37] pbanaszkiewicz commented on #854
I'd dismiss this issue because there are other pages with navbar styled in the same way as on the "change password" page -- @gvwilson ?

[2016-07-29 08:51] pbanaszkiewicz commented on #918
The distinction for wider/narrower pages was made long ago, and as such you had inherited it -- but it was okay at the time; clearly with newer developments of PyData/training workflow the design is a little outdated.

I agree, but I'd really like to move the external forms out of core `workshops` application (or at least its URL scope) first.

[2016-07-29 08:53] pbanaszkiewicz commented on #917
Or I can give you both credentials and instructions how to proceed when deploying on amy-dev. :-)

[2016-07-29 08:57] pbanaszkiewicz commented on #919
Unfortunately I can't help you here -- I don't have a mac. @gvwilson for the rescue!

By the way, searching through https://github.com/mlavin/django-selectable/issues doesn't show anything Safari-related.

[2016-07-29 09:07] pbanaszkiewicz opened #930 "Social auth links management page"
Implement a page available for everyone helping manage their social auth links, ie. logins from other sites than GitHub.

Ref #893.

[2016-07-29 09:16] #912 closed

[2016-07-29 09:20] #888 closed

[2016-07-29 09:22] pbanaszkiewicz commented on #877
Should this be included in v1.7 (in next 4 days) or later?

[2016-07-29 09:24] pbanaszkiewicz commented on #865
@tracykteal can you please update us on this matter?

[2016-07-29 09:34] pbanaszkiewicz commented on #829
@narayanaditya95 how's this coming along?

[2016-07-29 10:05] pbanaszkiewicz commented on #920
Currently the API allows anyone to peek at LC published events (https://amy.software-carpentry.org/api/v1/events/published/?tag=LC), so I'm closing this issue as not relevant to AMY.

[2016-07-29 10:05] #920 closed

[2016-07-29 10:10] pbanaszkiewicz commented on #927
Hmmm, the `notes` on Person record was intended to use by admins only, ie. perhaps someone wants to write a note "this person was expelled from workshop for CoC violation". If we populate it automatically, anyone could add any note to that field and then admins would not be able to trust any of existing notes.

@maneesha are you really sure you want this feature then?

[2016-07-29 10:24] pbanaszkiewicz commented on #925
This sidebar takes less than 17% of the horizontal length of the page. It should be enough on 1366x768 screen ([the most popular screen resolution](http://www.rapidtables.com/web/dev/screen-resolution-statistics.htm)):

![screen shot 2016-07-29 at 12 21 08](https://cloud.githubusercontent.com/assets/72821/17245504/165cedee-5587-11e6-83e9-be21df0111ab.png)

What resolutions did people use? What iss

[2016-07-29 10:27] pbanaszkiewicz commented on #924
My opinion: I'm angry when some page loads very slowly, I need to apply a number of filters (e.g. when looking for a new laptop), and each one triggers a reload.

Unless people gave you feedback that they were confused by sidebar's form behavior, I'd stick to what we have now.

Also idea: maybe it would be enough to rename "Submit" to "Filter"?

[2016-07-29 10:48] gvwilson commented on #917
Can you write a shell script that does the entire deployment, leaving us
in a workable state if anything goes wrong along the way?

[2016-07-29 10:49] gvwilson commented on #877
This one does not need to be in v1.7, but should be in v1.8.

[2016-07-29 13:28] chrismedrela commented on #928
[Training request form](https://amy.software-carpentry.org/workshops/request_training/) doesn't have a middle name field too.

[2016-07-29 13:30] chrismedrela commented on #918
@pbanaszkiewicz, what are "external forms"?

[2016-07-29 13:35] chrismedrela commented on #930
I think it'd be better if v1.8 release was solely for instructor training functionalities.

[2016-07-29 14:30] chrismedrela commented on #925
Unfortunately, I don't remember resolutions. But some people don't maximize browser window which cases problems even when high resolution is available. And some of the AMY views are pretty overloaded (see [trainees list view](http://amy-dev.software-carpentry.org/workshops/trainees) -- and there is one more column now).

I've just realized that what I proposed has one drawback -- if you want to fi

[2016-07-29 14:35] chrismedrela commented on #924
The current behavior wasn't clear for one user out of four that I had a walkthrough with.

Renaming is a good idea. We can also move the button at the beginning of the form. We can also make it flashing when you change any filter -- I think that this would solve this issue.

[2016-07-29 14:41] chrismedrela commented on #917
Yeah, why didn't I thought about it earlier. :)

The deployment script proposed by @gvwilson would be very useful. It'd be very nice if I could just execute something like that:
[code]

[2016-07-29 16:25] chrismedrela opened #931 "Functional tests"
There are two main reasons to introduce functional tests:

1. When you use `self.client` in a test and this tests fails, you can view only raw HTML. Finding form submission errors in raw HTML is not the most pleasant think. It'd be nice

2. You cannot test what happens when you load a webpage with a form, change one field in the form and submit the form. `self.client.post` is not a solution, becau

[2016-07-29 17:24] chrismedrela commented on #926
This'll be fixed in #871.

[2016-07-29 17:44] gvwilson commented on #931
Defer until after the summer.

[2016-07-30 06:23] #891 closed

[2016-07-30 12:52] narayanaditya95 commented on #931
Please consider [django-webtest](https://github.com/django-webtest/django-webtest) over Selenium.

[2016-07-30 18:02] maneesha opened #934 "Select people to email from "Find staff" page"
When I run a search on this page I'd like to be able to select email addresses from the search results.
Can we have a check box next to each name with a button "Email selected people" or "Select all" that will return a list of all their email addresses?

[2016-07-30 19:14] #834 closed

[2016-07-30 19:25] pbanaszkiewicz commented on #934
We may actually look into bulk actions in other places as well -- and implement it the same way Django admin deals with it:
![screenshot from 2016-07-30 21 21 00](https://cloud.githubusercontent.com/assets/72821/17272619/99323f7a-569b-11e6-9fe3-b967c9c7907b.png)

[2016-07-30 19:37] pbanaszkiewicz commented on #917
Unfortunately it'll take some time for me to do such a script because the amy-dev is running Django dev server on tmux session -- the easiest thing to set up.

[2016-07-30 19:40] pbanaszkiewicz commented on #925
Yeah, I wanted to suggest this solution but instead decided to ask for specific issues with current sidebar. Low priority for now, anyway.

[2016-07-30 19:42] pbanaszkiewicz commented on #930
This wouldn't be the first time something was proposed for specific release but got delayed.

[2016-07-30 19:43] pbanaszkiewicz commented on #918
@chrismedrela see #816.

[2016-07-30 20:41] gvwilson commented on #867
Any progress?

[2016-07-30 20:41] gvwilson commented on #859
Any progress?

[2016-07-31 02:01] maneesha commented on #927
Perhaps we could have two fields then: one for user-generated notes and one for admin-generated notes.  As it is now, if the user submits notes they are no longer visible once the profile is updated.

[2016-07-31 21:12] #343 closed

[2016-07-31 21:15] #393 closed

[2016-07-31 21:28] gvwilson commented on #524
Can @maneesha @jduckles and @tracykteal please figure out what they'd like and then assign this to @pbanaszkiewicz for prioritization/design/implementation?

[2016-08-01 00:17] chrismedrela commented on #917
@pbanaszkiewicz, could you write down instructions how to deploy and give me credentials to login into AMY? Once you do this, I can write the script. Or we can even defer writing the script if the deployment procedure is easy and quick enough.

[2016-08-01 00:23] chrismedrela commented on #816
@pbanaszkiewicz , BTW what's the point of using namespaces in URLs? Would not it be simpler if we had a "flat namespace":

- `login` instead of `account/login`
- `admin-dashboard` instead of `workshops/admin-dashboard`
- and so on.

[2016-08-01 00:29] chrismedrela commented on #927
Ref #865 -- if we decide to turn off the form, this may be not worth implementing.

[2016-08-01 00:38] chrismedrela commented on #867
Django 1.10 introduces [LOGOUT_REDIRECT_URL](https://docs.djangoproject.com/en/1.10/ref/settings/#logout-redirect-url), so this may be trivial change if we upgrade from Django 1.9.

[2016-08-01 01:52] chrismedrela commented on #931
I've tested `django-webtest`:

- It's really fast.

- There is [showbrowser() method](http://webtest.pythonpaste.org/en/latest/api.html#webtest.response.TestResponse.showbrowser) to see webpage in browser. It doesn't loads assets (like css), so the page is unformatted. But it's still better than raw HTML, so this is good enough workaround for the first issue.

- It solves the second issue.

- The

[2016-08-01 18:43] pbanaszkiewicz commented on #816
@chrismedrela I want to have external forms at `amy.swc.org/forms`, AMY-administering stuff under `amy.swc.org/workshops`, account-related perhaps under `amy.swc.org/account`, etc.

We don't use namespaces much since we have very few applications.

[2016-08-01 18:48] pbanaszkiewicz commented on #782
@narayanaditya95 sorry for not answering to your question earlier. I'm kind of out-of-loop here, so I suggest we postpone this issue to v1.8 and to you I say use your best judgement.

[2016-08-01 20:14] gvwilson commented on #924
Please check with @maneesha before making changes.

[2016-08-01 20:22] gvwilson commented on #867
@pbanaszkiewicz any thoughts on upgrading to Django 1.10?

[2016-08-01 20:22] gvwilson commented on #858
Can someone please either close or implement?

[2016-08-01 21:44] #846 closed

[2016-08-02 04:49] pbanaszkiewicz commented on #867
Will do, especially since Django 1.10 [was recently released](https://www.djangoproject.com/weblog/2016/aug/01/django-110-released/), but not yet.

[2016-08-02 05:39] maneesha commented on #524
I don't want to prioritize this.   Just because a workshop is in a certain geographic area it does not mean that it is open to the public.  We also can't easily flag open/closed registration because it's not a binary like that.  Sometimes it's closed for the first two weeks then open to public,  or sometimes it's 40% seats reserved for affiliates, etc.

If we did something like this,  I foresee em

[2016-08-02 05:48] maneesha commented on #924
I have not had any problems with this and I haven't heard any complaints about it.  I don't think anything needs fixing.

I'd like to click on something (Filter or Submit, I don't care what the button is called) rather than having the page reload every time I select another field to filter on.

[2016-08-02 06:02] maneesha commented on #927
#865 is waiting on response from @tracykteal

[2016-08-02 13:26] chrismedrela commented on #924
OK, so I'm closing this issue.

[2016-08-02 13:26] #924 closed

[2016-08-02 14:05] jduckles commented on #524
Agreed, this is not a priority and it falls into a broader discussion we're having about opt-in follow-on communities for each of learners, instructors and organizers. I think we can close this for now.

[2016-08-02 14:05] #524 closed

[2016-08-02 17:26] gvwilson commented on #925
@maneesha do you want this feature?

[2016-08-02 17:41] gvwilson commented on #747
Keep open or close?

[2016-08-02 18:43] maneesha commented on #747
It's up to @jduckles and @tracykteal

[2016-08-02 18:47] maneesha commented on #925
I'm happy with it as is.

[2016-08-02 18:51] gvwilson commented on #925
Closing since admin is happy.

[2016-08-02 18:51] #925 closed

[2016-08-03 18:03] jduckles commented on #747
Closing for now.

[2016-08-03 18:03] #747 closed

[2016-08-03 22:40] gvwilson commented on #795
See also #516

[2016-08-03 22:41] gvwilson commented on #516
See #795.

[2016-08-03 22:41] #516 closed

[2016-08-03 22:42] gvwilson commented on #628
Can this one now be closed?

[2016-08-03 22:43] gvwilson commented on #716
Can this one now be closed?

[2016-08-03 22:44] gvwilson commented on #406
@maneesha is this something you want?

[2016-08-03 22:45] gvwilson commented on #803
Becomes part of #795

[2016-08-03 22:45] #803 closed

[2016-08-03 22:45] gvwilson commented on #795
See also #803

[2016-08-03 22:46] gvwilson commented on #763
Part of #795

[2016-08-03 22:46] #763 closed

[2016-08-03 22:46] gvwilson commented on #795
See also #763

[2016-08-04 01:59] gvwilson commented on #794
Replaced by #842.

[2016-08-04 01:59] #794 closed

[2016-08-04 02:00] gvwilson commented on #842
See also #794 which requested fetching stats by workshop type (SWC vs. DC).

[2016-08-04 02:15] tracykteal commented on #842
I've since found the 'All reports' section and that information is available. @jduckles also showed me the API interface, so we can access other statistics. I think we can close this.

[2016-08-04 02:20] #842 closed

[2016-08-04 02:28] tracykteal commented on #628
I'd still like to pursue this.  I'm not sure this should be an AMY issue though except for understanding the API integration. Thoughts on the ti.to API? https://ti.to/docs/integrations

[2016-08-04 05:07] pbanaszkiewicz commented on #716
I want this one day, but I don't think anyone can do this for now.

[2016-08-04 12:14] chrismedrela commented on #816
@pbanaszkiewicz Yes, we don't use namespaces much, so what if we don't use namespaces at all? We have control over all urls, so there is no risk of URL collision.

[2016-08-04 14:02] #926 closed

[2016-08-04 14:04] chrismedrela commented on #921
Fixed in #871. You can now:

- discard training requests through admin interface or
- delete them permanently in django-admin.

[2016-08-04 14:04] #921 closed

[2016-08-04 14:07] gvwilson commented on #926
Thanks.

[2016-08-04 14:08] gvwilson commented on #921
Thanks.

[2016-08-04 14:09] chrismedrela commented on #599
Isn't the form already implemented [here](http://amy-dev.software-carpentry.org/workshops/request_training/)?

[2016-08-04 14:29] maneesha commented on #898
This could be fixed by just making the box resizable.  Then the user can make it bigger if they wanted to see the whole list at once.

[2016-08-04 14:31] maneesha opened #936 ""Unresponsive" workshops should not show up in "Workshop issues" attendance report"
If a workshop is marked "unresponsive" that means that the host/organizer/instructor has not responded to multiple attempts to get attendance data.

These should no longer show up in the attendance column of workshop issues.

[2016-08-04 14:45] maneesha opened #937 "Link closed workshop request to actual event"
When a workshop request is accepted and becomes an event, the request is marked as closed.
If I go back to that workshop request, I get a notification that the request is closed.  I'd also like to see something like "This request was accepted as event (link/slug)."

[2016-08-04 16:10] gvwilson commented on #599
That form is for an individual to request training - we need something
to allow an organization make a request for an entire class (for a group
of people).

[2016-08-05 04:58] pbanaszkiewicz commented on #599
This won't happen for v1.7, will it @chrismedrela ?

[2016-08-05 07:35] gvwilson commented on #599
Not for 1.7

[2016-08-05 10:34] narayanaditya95 opened #938 "Splitting amy.settings"
Currently, we use a single settings file.
How about we divide `amy.settings.py` into a hierarchical structure to allow us to easily override settings according to different environments.

[code]

[2016-08-05 10:39] narayanaditya95 commented on #881
@chrismedrela
I noticed that `BootstrapHelper` now adds support for `add_delete_button`. However, the delete button does not generate any functionality except for showing an alert.
Am I missing something?

[2016-08-05 21:51] chrismedrela commented on #881
@narayanaditya95 please have a look at [TrainingProgressForm](https://github.com/swcarpentry/amy/blob/beafe92190e16f8d9eab2f0e6fe7677098d27d8e/workshops/forms.py#L1218). In the admin dashboard, you can click "more > trainees", then add progress record, then click it to edit it, and a working "delete" button is displayed.

Could you share the code that does not generate any functionality except for

[2016-08-06 10:38] narayanaditya95 opened #940 "Lack of unique constraints on Sponsorship model"
With no unique constraint on the Sponsorship model, there can exist duplicates on repeated imports.
I propose adding a `unique_together` constraint.

[code]

[2016-08-07 21:14] chrismedrela commented on #917
@pbanaszkiewicz, could you give me credentials to amy-dev and a quick&dirty instruction on deployment? In next few days, I'll probably do a demo of what I've done this summer, and that's a chance for me to learn the deployment process.

[2016-08-08 09:49] tracykteal commented on #865
Since DC doesn't require that people know github or check out on it for instructor training, and therefore people don't necessarily have github accounts, it would be best if we could still allow logins that are not github usernames. Is that possible?

[2016-08-08 11:09] gvwilson commented on #865
Managing passwords and password updates in Django is a pain, so we'd strongly prefer to delegate to external services.  @pbanaszkiewicz what other authentication services can we enable? And @tracykteal do you have favorites?

[2016-08-08 11:13] tracykteal commented on #865
I would say that Google is the most widely used.

[2016-08-08 14:09] maneesha opened #941 "Error message if duplicate records in Bulk Add People"
If there is a duplicate in the .csv used to bulk add people, the error message should be more user friendly.

Current  message sample:
`Error:  Error saving data to the database: UNIQUE constraint failed: workshops_person.username (for {'info': ["It's highly recommended to add an email address.", 'Person and task will be created.'], 'errors': None, 'email': None, 'username': 'obama_barack', 'famil

[2016-08-08 14:12] maneesha opened #942 "Allow deleting records from Bulk add people"
The 'Bulk add people' leads to a 'Confirm uploaded data' page.  On this page the user can edit records.  The user should also be allowed to delete records if a duplicate or otherwise invalid record exists.  (see also https://github.com/swcarpentry/amy/issues/941)

[2016-08-08 14:46] maneesha opened #943 "Move 'tasks' section directly below 'notes' section in edit mode"
In view mode for an event, 'tasks' appear directly below 'notes' section.

In edit mode, the 'tasks' section is below the survey results and location section.  Moving it directly below 'notes' will make it easier to see the list of instructors and helpers in the 'notes' that need to be entered in to 'tasks.'

[2016-08-08 14:48] maneesha opened #944 "Hide section for survey results"
We've used a couple of different survey tools - this was requested in an earlier iteration of survey tools.  We're not recording these here now so I'd like to hide this from the view until we decide what to do.

[2016-08-08 15:14] pbanaszkiewicz commented on #500
Unless @maneesha hits this issue from time to time, we shouldn't worry. Otherwise, is there a consensus about name handling? Do we want more fields or less fields?

[2016-08-08 15:18] pbanaszkiewicz commented on #865
@chrismedrela we can have Google login pretty quickly now, can we?

[2016-08-08 16:09] pbanaszkiewicz commented on #917
@chrismedrela @narayanaditya95 please email me your SSH public keys and I'll add you to the server.

The update procedure:

[code]

1. Update code
  1. switch to `develop`
  2. make a new branch, switch to it
  3. pull the code
2. install updates if necessary `make upgrade`
3. prepare database - it is preferred to make a dev database from scratch and add an admin user and then add users, but you m

[2016-08-08 16:10] pbanaszkiewicz commented on #698
Defer for now, we have more important issues for v1.8.

[2016-08-08 16:33] pbanaszkiewicz commented on #628
When it comes to API, Tito seems similar to Eventbrite, for example list of event parameters is quite short: http://teamtito.github.io/tito-api-docs/#attributes29

[2016-08-08 16:38] pbanaszkiewicz commented on #816
Okay, I'm confused. What namespaces are you talking about? Did I mention namespaces somewhere? What was the context?

I just want to have a separate "URL subtree" (if you look at the URLs as a tree) for stuff that is accessible by any non-logged in person.

[2016-08-08 16:41] pbanaszkiewicz commented on #898
@maneesha we can perhaps make all widgets for multiselection (such as tags) as long as the list of items so that all items are visible at once (ie. no resizing then), would that work?

[2016-08-08 16:41] pbanaszkiewicz commented on #936
A simple condition in the template should fix this.

[2016-08-08 16:43] pbanaszkiewicz commented on #937
There's a link between event request and event object, we should display it for accepted requests.

[2016-08-08 16:45] pbanaszkiewicz commented on #938
-1 (unless you have other reasons) because the preferred way is to vary params via environment variables.

[2016-08-08 16:48] pbanaszkiewicz commented on #940
Proposal accepted :-)

[2016-08-08 16:51] pbanaszkiewicz commented on #943
Can we move notes under location section? It's part of the same form while tasks are not, and so it's easier to do.

[2016-08-08 16:51] pbanaszkiewicz commented on #944
@maneesha hide in the form or in the event details or both?

[2016-08-08 17:04] pbanaszkiewicz commented on #858
@narayanaditya95 I think we need to add a `|default:"—"` to the template so that `xxx-unset…` disappears.

[2016-08-08 17:14] maneesha commented on #898
Yes.

[2016-08-08 17:15] maneesha commented on #944
Both

[2016-08-08 17:16] maneesha commented on #943
If the end result is that tasks is directly below notes, then yes, that works.

[2016-08-08 17:19] maneesha commented on #500
I don't this has an easy solution and I don't think we need to prioritize this.

[2016-08-08 17:45] chrismedrela commented on #816
When I say namespace, I mean using subtrees in the URLs tree. I propose to change i.e. `WhateverAmyDomainIs.com/account/login` to `WhateverAmyDomainIs.com/login`.

[2016-08-08 17:54] chrismedrela commented on #865
I had a look at documentation and there is nothing catchy. My only concern is how do we associate Google account with AMY account? What we do for GitHub now is that we know person's GitHub username and, given this fact, we manually synchronize `UserSocialAuth` table. Do we want similar workflow for Google auth?

[2016-08-08 17:57] gvwilson commented on #865
We can ask people to give us their Google ID in their instructor profile
if they want to be able to log in that way.

[2016-08-08 17:59] chrismedrela commented on #917
@pbanaszkiewicz please ping me when we can deploy to amy-dev.

[2016-08-08 18:07] tracykteal commented on #865
Thanks for looking in to this. Having Google ID in the instructor profile seems like it would work. Then could people log in with either Google or github if they have both in their profile? Or will they need to remember which they used?

[2016-08-08 18:09] chrismedrela commented on #865
If they give us both GitHub username and Google ID, they can log in with either Google or GitHub.

[2016-08-08 18:12] tracykteal commented on #865
That sounds great. Thanks.

[2016-08-08 18:15] pbanaszkiewicz commented on #865
Isn't Google ID one's email?

On 08/08/2016 08:09 PM, Christopher Medrela wrote:

[2016-08-08 18:30] tracykteal commented on #865
Yes, if it's your Google email. I'm tkteal@gmail.com, so my Google ID is 'tkteal'

[2016-08-08 19:07] pbanaszkiewicz commented on #898
This probably requires some JS magic to automatically set `options.size` to the number of items it contains.

[2016-08-08 19:09] pbanaszkiewicz commented on #917
You can now (I'm still waiting for @narayanaditya95 public key).

[2016-08-08 19:09] #829 closed

[2016-08-08 19:10] pbanaszkiewicz commented on #827
Fixed in #905.

[2016-08-08 19:10] #827 closed

[2016-08-08 20:16] maneesha commented on #898
User resizable or auto size -- what ever is easier.
Auto size might get unwieldy if we end up with fields that have many options - the widget could get really big.

[2016-08-09 13:15] gvwilson opened #946 "Add message stating that instructor training applications for Fall 2016 are closed"
Please add a prominent message to the instructor training application form saying:

[code]

[2016-08-09 13:20] gvwilson opened #947 "Allow admins to add/change messages on forms"
The workshop request form, instructor training request form, and others should each be able to display an optional message, the content of which should be set by the admin.  Simplest implementation I can think of is:
-   A new "messages" table with a short text key and a large text message field that may contain HTML.
-   A single page that allows the admins to edit the messages associated with va

[2016-08-09 17:40] tracykteal commented on #761
Thanks @piotr. I realize I haven't yet updated our website with the new AMY self-organized workshop form that you implemented here. What's the link?

[2016-08-09 19:55] pbanaszkiewicz commented on #761
@tracykteal it's https://amy.software-carpentry.org/workshops/dc/request_selforganized/

[2016-08-09 21:34] chrismedrela commented on #947
I thought that there is already Django app to do this, but I cannot google it.

[2016-08-10 16:25] pbanaszkiewicz commented on #947
Maybe slightly related: https://docs.djangoproject.com/en/1.9/ref/contrib/flatpages/

Eventually I'd want to go a step further: allow admins to completely modify the forms (like Google forms), but that's only an idea…

[2016-08-10 20:38] tracykteal commented on #761
Great, thank you!

[2016-08-10 20:38] #761 closed

[2016-08-11 15:49] chrismedrela commented on #947
I don't think that we can fix this issue with `flatpages`, but thanks for pointing it out.

Hmmm, that requires a lot of work unless you're considering some specific subset of Google Forms features.

[2016-08-11 15:56] maneesha commented on #947
If we want the forms to connect with the database models I don't think that should be something admins  can easily change.

[2016-08-11 19:35] #946 closed

[2016-08-12 06:58] narayanaditya95 commented on #938
There exist a lot of conditionals in `settings.py` of the form:

[code]

We can move these overrides to `local.py` as:

`local.py`
[code]

[2016-08-12 12:40] narayanaditya95 commented on #898
I suggest we use buttons as checkboxes to select multiple tags. It is also responsive and works great with touch devices.

[Demo](http://www.bootply.com/iKosQHSrNf)

[2016-08-12 18:04] chrismedrela opened #955 "Deployment on production"

[2016-08-12 18:36] pbanaszkiewicz commented on #955
And describe backup system as well.

[2016-08-14 06:32] #929 closed

[2016-08-14 19:15] pbanaszkiewicz commented on #898
@narayanaditya95 this might be silly, but if I didn't know AMY internals and how to roll back from a backup, I'd be very afraid to click anything that resembles a button that I didn't click before ;)

From dev point of view, neither of demo'd widgets shows its function (radio or multiselection) clearly.

[2016-08-14 20:10] pbanaszkiewicz commented on #955
Here's what I have so far:

[code]

[2016-08-14 20:40] narayanaditya95 commented on #898
Yes, it may be tough to distinguish between the selected and the non-selected checkboxes.
What are your views regarding [bootstrap-switch](http://www.bootstrap-switch.org/)? They convey the purpose.

[2016-08-14 20:48] chrismedrela commented on #955
I can do the next release, so that I'll check if there is anything missing, and then we can put these instructions in i.e. `docs/deploy-procedure.md` file.

[2016-08-15 14:23] pbanaszkiewicz opened #957 "API still calls event.get_ident"
Which triggers an error for every admin on the dashboard :(

[2016-08-15 17:35] chrismedrela opened #958 "Add `notes` field to TrainingRequest"
So that you can, for example, add notes for non-acceptance (that is, why a TrainingRequest was discarded).

[2016-08-16 16:29] maneesha opened #961 "Export badge: group by person"
This link:

https://amy.software-carpentry.org/workshops/export/badges

returns a JSON or YAML file that does not separate DC or SWC badges.

[2016-08-16 16:59] #957 closed

[2016-08-18 15:51] #940 closed

[2016-08-18 15:52] #858 closed

[2016-08-18 15:52] #937 closed

[2016-08-18 22:31] maneesha opened #962 "Find whether people have had a task at a workshop together"
I'd like to input 2 (or more) people and return what workshops (if any) those people have had a role in (any role).

Low priority but it would help me when I place people at workshops to know if they've worked together before.

[2016-08-19 19:32] narayanaditya95 opened #963 "CSRF Failure in PyData bulk import"
CSRF error occurs when the formset for bulk import does not contain a form.

[2016-08-19 20:03] narayanaditya95 opened #964 "Bulk import workflow encounters IntegrityError when saving an organization"
Currently, we allow organizations with the domain that contains the `www` subdomain. For eg: Google can exist as `www.google.com` as well as `google.com`, leading to `IntegrityError` while saving the first while the second exists.

Shouldn't we enforce one URL pattern and trim/add `www` to the `domain` field when saving an organization?

Testcase:

[code]

[2016-08-19 20:25] narayanaditya95 commented on #964
Should we use the [tld](https://pypi.python.org/pypi/tld) package to fetch the top-level domain from a URL?

[2016-08-19 21:31] narayanaditya95 opened #966 "Revise unique constraints on Task model"
Two presentations by the same speaker in a PyData conference would cause an IntegrityError as they have the same `event`, `person` and `role`.
I propose we add `title` to the `unique_together` constraint.

@pbanaszkiewicz Suggestion.

[2016-08-22 18:30] ErinBecker opened #967 "Update DC self-organized workshops form"
For this form: https://amy.software-carpentry.org/workshops/dc/request_selforganized/ would it be possible to make the following changes?

1) Change the title from "Request" to "Register"
2) Add an "other" option to the question "Domain for the workshop"
3) Change the text in "Topics to be taught" from "... and the other modules in the same domain ..." to "...and three other modules in the same do

[2016-08-23 03:04] gvwilson opened #968 "Search must look in applications for training"
Search doesn't currently pull up matches in training applications - it should.

[2016-08-24 19:04] #963 closed

[2016-08-25 18:23] gvwilson opened #970 "Bad links in training event display"
1. Go to https://amy.software-carpentry.org/workshops/trainings?page=2
2. Click on any of the links that supposedly lead to a training event.
3. 404

I understand why we want to retain this view - it's helpful to look at summary stats - but:

1. The links need to resolve.
2. We need to be able to sort chronologically with most recent first.

[2016-08-25 18:25] gvwilson opened #971 "Awkward display of information in trainee page"
1. Go to https://amy.software-carpentry.org/workshops/trainees

Display of "Progress" column is awkward:

![screen shot 2016-08-25 at 2 24 38 pm](https://cloud.githubusercontent.com/assets/911566/17980997/c08efad4-6acf-11e6-9961-8c364c67efdd.png)

See also this really awkward break that splits the green box around a word:

![screen shot 2016-08-25 at 2 29 15 pm](https://cloud.githubusercontent.com

[2016-08-25 18:39] gvwilson opened #972 "Needed: data consistency problem display for training"
I would like a display that shows me people who have a SWC instructor badge, but don't have all the prerequisite steps recorded.  Ditto for DC.  And a way to mark certain people as "yes, we know about the problem in our records, but we're not worried about."

[2016-08-26 08:52] narayanaditya95 commented on #964
@pbanaszkiewicz ping

[2016-08-27 15:59] chrismedrela commented on #972
So far, we use the following convention in "eligible?" column in trainees view:

![image](https://cloud.githubusercontent.com/assets/1645996/18028437/9a1d34cc-6c7f-11e6-86ef-ef59e393a36a.png)

We can add the following label:
![image](https://cloud.githubusercontent.com/assets/1645996/18028432/7129404c-6c7f-11e6-9b7c-31123c0164fa.png)

We can also add two checkboxes in filter box to filter out peop

[2016-08-27 16:12] chrismedrela commented on #971
Well, if the "progress" column is too narrow to display everything in one line, the progress records wrap. Here is PR to make the column a bit wider: https://github.com/swcarpentry/amy/pull/973

I cannot reproduce it. What browser are you using? What is the browser width in pixels?

[2016-08-27 16:17] chrismedrela commented on #970
PR: https://github.com/swcarpentry/amy/pull/974

[2016-08-28 14:02] #907 closed

[2016-08-28 16:08] gvwilson commented on #972
I like the orange for "certified but missing some requirements". If you
can add a "sort by certification date" option to the trainees display,
that would (mostly) eliminate the need for a "yes we know about the
problem" field.  (It should probably be "sort by most recent
certification" for people who have both.)

[2016-08-28 18:45] gvwilson opened #975 "Strange behavior when filtering events by tag"
1. Go to https://amy.software-carpentry.org/workshops/persons
2. Select 'TTT' under "Taught at workshops of type'.
3. Submit.

A *lot* of people come up (500 or more), almost none of whom have taught at TTT events.

[2016-08-29 11:27] gvwilson opened #976 "Add training status items to person display"
The page that displays information about a Person should also display their training status items, and allow them to be edited, just like the 'Training' display page does, so that if I search for a person by name and bring up that page, I can edit their information.

[2016-08-29 12:48] chrismedrela commented on #976
When editing a person, do you want the progress to be displayed in a new tab, so that there are four tabs: person, awards, tasks and progress?

[2016-08-29 13:00] chrismedrela commented on #975
This is caused [here](https://github.com/swcarpentry/amy/blob/develop/workshops/filters.py#L193):

[code]

We're looking for every person who was instructor on event A and participated in event B, that has appropriate tags. Instead, we want to ensure, that A and B are the same:

[code]

[2016-08-29 13:46] gvwilson commented on #976
Good question - how about "if there is any progress, show it in a
progress tab, but if there's not, don't show the tab"?
Thx,
G

[2016-08-29 13:46] gvwilson commented on #975
Thanks - can you please PR a fix?

[2016-08-29 13:55] chrismedrela commented on #971
OK, I reproduced it in Firefox with screen width = 1016 pixels. This looks like a bug in bootstrap, but I didn't find any bug report about this issue (although I didn't spend much time on searching).

[2016-08-29 13:57] chrismedrela commented on #976
What if there is no progress yet, but we want to add a new one?

[2016-08-29 13:57] gvwilson commented on #976
Glad one of us is awake :-)  Yes, please make the "Progress" tab always
available.

[2016-08-30 00:20] gvwilson opened #977 "displaying duplicate entries"
@chrismedrela writes: It looks like we need to replace:

`return self.filter(conditional).order_by('slug', 'id')`

with:

`return self.filter(conditional).order_by('slug', 'id').distinct()`

in `EventQuerySet.unpublished_events` [1].

The same change may be necessary in `EventQuerySet.published_events`

[1] https://github.com/swcarpentry/amy/blob/develop/workshops/models.py#L767

[2016-08-30 00:22] gvwilson opened #978 "Remove double-counting in display of instructors counts"
Looking at <https://amy.software-carpentry.org/workshops/reports/instructors_over_time>, there's a big spike early in 2016 when a lot of SWC instructors were given DC badges as well.  That's misleading: people shouldn't be double-counted.  Looking in api/views.py at `instructors_over_time`, it looks like we're counting everything in `self.queryset2` (that member name needs to be changed to somethi

[2016-08-30 00:23] gvwilson opened #979 "Querying historical data with parameters"
Looking in `workshops/views.py` at `instructors_over_time`, it looks like there's no way to pass a particular badge or set of badges to the view.  I need to be able to query with something like `...url?badge=swc` to get instructors of a particular kind, both in the JSON/CSV/whatever data dump and in the graph. I will also be wanting to query workshops over time and learners over time with specific

[2016-08-30 14:34] gvwilson commented on #961
See also #979.

[2016-08-30 15:42] narayanaditya95 commented on #966
@pbanaszkiewicz Ping

[2016-08-31 10:40] gvwilson opened #980 "Filter trainees by "ready to be badged" status"
On the "Trainees" page, we'd like "Is SWC Instructor?" and "Is DC Instructor?" to have one more option each: "Eligible".  This would filter by people who have fulfilled requirements, but do not yet have the badge.  I know we can calculate this (it's what turns their marker green), and it would be very helpful when one person is marking completion of work and another is issuing badges.

[2016-08-31 10:41] gvwilson opened #981 "More ways to get to "issue badge""
1. When I click on `[+]` in the "Progress" column and am taken to the "New training progress" page, one of the options there should be "issue badge".  I realize this isn't training progress, but it's a natural time and place to issue the badge.

2. Similarly, when I'm on the "Trainees" page, if I see someone is eligible but doesn't yet have a badge (i.e., they have a green box in the "Eligible?" c

[2016-08-31 18:51] ErinBecker commented on #967
@tracykteal @maneesha Should we go ahead and update the link for self-organized workshop requests to the current version of this survey in the interim? None of these changes seem super critical to me and the current link goes to the centrally-organized request form which has several unnecessary questions for people doing self-organized.

[2016-08-31 22:11] gvwilson opened #982 "Pulldown for "evaluated by" in training records should show everyone"
Right now the pulldown for "evaluated by" only shows a few people (and I can't figure out why those ones and not others). It should auto-complete with everyone, since there may be many different people running discussion sessions.

[2016-09-01 17:38] chrismedrela commented on #981
Is it enough to add at "new training progress" page a link redirecting to person edit view?

[2016-09-01 18:00] chrismedrela opened #983 "Add editable DateField to TrainingProgress"
Similar to `Badge.awarded_at`.

[2016-09-01 18:30] gvwilson commented on #981
I like the automatic redirect back to the training progress page... If
it's a pain to add "issue badge" to the "add progress" page, then sure.

[2016-09-01 18:48] chrismedrela commented on #981
You can be redirected back to the training progress page from person edit view if you went there from "add progress" page.

[2016-09-01 18:55] gvwilson commented on #981
Works for me - thanks.

[2016-09-02 10:59] chrismedrela opened #984 "Change the way "reset" buttons work"
- Rename button from "reset" to "cancel".
- Make the button white instead of red.
- Redirect back to the last page in history.

[2016-09-02 11:05] narayanaditya95 commented on #984
Shouldn't a `Cancel` button also redirect back to the last page in history? Most `Cancel` buttons work that way.

[2016-09-02 11:07] narayanaditya95 commented on #984
I would suggest renaming it to `Discard all changes`.

[2016-09-02 11:55] narayanaditya95 commented on #966
@pbanaszkiewicz This is a bug preventing us from saving multiple tasks belonging to the same speaker at a conference.

[2016-09-02 12:54] chrismedrela commented on #984
@narayanaditya95 , I'd stick with "cancel", because it's well understood by most people that "cancel" is the safe option when they get lost (thanks to cancel/ok and cancel/no/yes dialogs). I'd be afraid to click any button that includes "discard" verb.

[2016-09-02 13:16] narayanaditya95 commented on #984
The change you suggest would then not solve the issue @maneesha raised at #881 . Are you sure we want to change the functionality of the `Reset` button to a `Cancel` button?

[2016-09-02 16:33] narayanaditya95 opened #985 "Speakers at a PyData conference can have empty name field"
When the `name` field for a speaker is empty, the accordion in the bulk import workflow does not have a header. This leads to a bug wherein we cannot open up the accordion to view the fields within it.

[2016-09-02 16:46] aditnryn opened #986 "UI Improvements to the bulk import workflow"
- In the bulk import workflow, we can hide the instances that have been marked NOT to be imported to free up screen space and it also makes it easier to locate the errors that occur during the import process in consequent submissions.
- Allow administrators to easily switch between importing instances of speakers, presentations and sponsorships.

[2016-09-02 18:18] pbanaszkiewicz commented on #966
@narayanaditya95 sorry for not taking care of this earlier!

I definitely agree with your suggestion.

[2016-09-02 18:49] #882 closed

[2016-09-02 19:05] pbanaszkiewicz commented on #985
@narayanaditya95 can you fix it during this weekend for the v1.8 or should I schedule for v1.9?

[2016-09-02 19:30] narayanaditya95 commented on #985
I will submit a fix today.

[2016-09-02 20:53] narayanaditya95 opened #987 "Fails to return 404 at specific URLs"
`workshops/person/example` should return 404, returns 500 instead.

Fix:
[code]

[2016-09-03 07:49] #966 closed

[2016-09-03 07:53] #970 closed

[2016-09-03 07:58] pbanaszkiewicz commented on #964
Does this integrity error happen when doing stuff from our UI? Because I do expect it to happen when you manually try to add a second organization with the same `fullname`.

[2016-09-03 08:06] narayanaditya95 commented on #964
The particular failing test case is:

`L122: pydata/api.py`
[code]

The ambiguity around the `domain` field would then force me to search for organizations with `domain='google.com'` and `domain='www.google.com'`, since I am not sure what the admin used while manually saving it using the UI.
I can filter organizations by their `fullname` but that can be problematic.

[2016-09-03 08:09] pbanaszkiewicz commented on #964
No, I'm wrong, you should look up by `fullname` and assume that:
1. if the org with this `fullname` exists, they have correct `domain` (otherwise you should update)
2. if the org doesn't exist, create with domain from external url

[2016-09-03 08:17] narayanaditya95 commented on #964
Aren't we putting too much faith in a `CharField` to unique identify an organization?

[code]

[2016-09-03 08:18] pbanaszkiewicz commented on #964
I'd say we're shifting the burden of identifying organization by it's name from AMY to human (because humans are intelligent and AMY is not).

[2016-09-03 08:23] narayanaditya95 commented on #964
That throws problems when we want AMY to do it; like during the bulk import. There is no human intervention here that can help AMY uniquely identify an organization that can have different names and different URLs at different conference sites.

I propose we exclusively use the `domain` field to uniquely identify organizations after we enforce a strict domain convention (no `www` subdomain). `tld`

[2016-09-03 08:25] pbanaszkiewicz commented on #964
-1 - I've seen a number of places that serve content only with `www.` subdomain… Essentially, `www.domain.tld` != `domain.tld`.

[2016-09-03 08:29] narayanaditya95 commented on #964
And I believe there exist organizations that serve different content on the root domain and the `www` subdomain.
Am I out of luck here?

[2016-09-03 08:32] narayanaditya95 commented on #964
I think I will have to resort to using `Q` objects to conditionally lookup organizations based on both fields: `domain` and `fullname`.

[2016-09-03 08:35] pbanaszkiewicz commented on #964
Like… organizations that we have in the DB?

[2016-09-03 08:40] narayanaditya95 commented on #964
I cannot say for sure. I just wanted to say that www.domain.tld != domain.tld is true both ways. We cannot strip `www` out of domains and neither can we prepend `www` to domains.

[2016-09-03 11:40] #987 closed

[2016-09-03 20:44] aditnryn opened #992 "Prevent garbage speaker profiles from being automatically imported"
Conference sites do have speaker profiles with empty name and email address fields. The bulk import workflow end up importing these garbage profiles into AMY.
AMY needs a validation check to filter out these profiles.

[2016-09-04 06:24] #971 closed

[2016-09-04 06:27] #985 closed

[2016-09-04 06:30] pbanaszkiewicz commented on #964
@narayanaditya95 should we close this issue or are you perhaps going to make some changes in the code that refer to our discussion?

[2016-09-04 06:33] #941 closed

[2016-09-04 06:33] #942 closed

[2016-09-04 08:13] pbanaszkiewicz commented on #955
@chrismedrela as per email with Chris, the next release (v1.8) will be deployed by me.

[2016-09-04 08:15] pbanaszkiewicz commented on #967
@ErinBecker sorry for getting so late to this issue. I think I can make the changes today for the v1.8.

[2016-09-04 08:18] pbanaszkiewicz commented on #962
@maneesha  This is mostly intended for finding staff, not participants, right?

[2016-09-04 10:37] narayanaditya95 commented on #964
I will rewrite the query to the code I referred.

[2016-09-04 17:30] #977 closed

[2016-09-04 17:31] #936 closed

[2016-09-04 17:31] #967 closed

[2016-09-04 17:44] pbanaszkiewicz commented on #964
@narayanaditya95 to be honest, I never liked doing such pseudo-AI matching and deciding on that. If I were you, I'd add a tool for merging organizations and show user an info "There are some similar orgs in the database, make sure to run the merging tool if they're the same".

[2016-09-05 15:27] gvwilson opened #996 "Default display of training requests should *not* show discarded requests."
But there should be a flag in the filter options to show them.

[2016-09-06 10:37] anenadic opened #997 "Instructors/workshops data export feature request"
I wanted to look at instructors per country (UK, more specifically) and workshops per country over a period of time (again, for UK) and could not do that either from the Events nor Persons. Also none of the reports available offered what I want. The reason why I need to look into this sort of data is because I want to look at spread of instructors per institution here in the UK as well as which in

[2016-09-06 10:37] anenadic opened #998 "'List of instructors by time period' report does not give a list of instructors"
'List of instructors by time period' under Reports gives a list of workshops rather than a list of instructors (possible naming error or misunderstanding on my part).

[2016-09-06 12:28] maneesha commented on #998
This returns  a two column report display -- workshops and instructors (name, email, count of workshops taught).   You can download this as CSV if you need to manipulate that data in other ways.  You can also click the email link which will open your default email client with an email addressed to everyone in this list.

Is this what you are seeing?

[2016-09-06 12:35] anenadic commented on #998
Yes, that is want I see. I was just looking after a list of all instructors with their countries and contact details. So I misunderstood the 'List of instructors by time period' - I thought that would be list of all instructors that became instructors in a certain period of time.

[2016-09-06 12:42] maneesha commented on #998
I see.  So yes, this is a list instructors who *taught* in a given time period with their contact info -- not when they became instructors.  It does not include country.

[2016-09-06 12:52] maneesha opened #999 "Update from valid URL causes "Network Connection Error""
(title says it all)

[2016-09-06 14:27] maneesha commented on #962
Yes - this should apply to instructor, host, helper, and organizer.
Does not apply to learner.

[2016-09-07 16:37] maneesha commented on #944
Reopening...
this should also be hidden on the Edit Event view.

[2016-09-07 19:23] narayanaditya95 commented on #944
@maneesha
The survey section is hidden on the `event_edit` view. Can you post a screenshot?

[2016-09-08 15:07] gvwilson opened #1000 "Provide "use that person" during bulk upload."
1. Create CSV file.
2. Bulk upload.
3. Get told "There's a matching person in the database: Alan Turing. Use their email to merge."
4. But their email isn't displayed.
5. And it would be really helpful if there a button there that would switch the info to _that person_ in place.

[2016-09-10 20:31] gvwilson commented on #792
More specifically, wherever people can enter information about themselves (profile update, applying for training), there needs to be a checkbox saying:

[code]

[2016-09-12 12:11] gvwilson opened #1001 "Streamline process of assigning people to training events"
Current workflow:
1. Go to `/workshops/training_requests/`.
2. Search for a particular person.
3. Click on the pencil icon to edit that TrainingRequest record.
4. Match the TrainingRequest to a person _and_ mark the application as "Accepted".
5. Return to the list of training requests.
6. Select that person's record (tick box in the left column).
7. Select an upcoming training event from the pull

[2016-09-13 21:30] apawlik commented on #999
Same here.

![image](https://cloud.githubusercontent.com/assets/2358535/18492148/dd8400ec-7a5d-11e6-9ab9-518efbc25f14.png)

[2016-09-13 21:48] narayanaditya95 commented on #999
FWIW, I haven't been able to reproduce the error on either localhost or amy-dev with the same URL. So, it is a deployment issue.

[2016-09-15 15:22] gvwilson opened #1004 "Server error when submitting trainee-match form without selected trainees"
1. Go to the page for matching trainees to training sessions.
2. Select a training session, but do *not* select a person.
3. Submit.
4. Boom - 500 error.

[2016-09-15 22:32] jduckles opened #1005 "Allow pre-population of Group in training request form"
It would be nice to be able to allow a pass through of the group_name in order to pre-populate the form with the appropriate group name. I have a group that would like to open up applications in their organization and then be able to go through a process in conjunction with us to help select the instructors who will be trained.

This feature would allow us to sent out a URL which is something like

[2016-09-15 22:58] gvwilson commented on #1005
See also #877.

[2016-09-16 19:27] pbanaszkiewicz commented on #999
Closing since the error was due to outdated files (see #1003 for details).

[2016-09-16 19:27] #999 closed

[2016-09-18 07:25] pbanaszkiewicz commented on #998
We weren't able to come up with a shorter description than "list of instructors by time period" (previously it was "Debrief" or similar, I believe). I'm closing this issue for now - if you have an idea how to improve this part of AMY, please reopen.

[2016-09-18 07:25] #998 closed

[2016-09-18 11:44] chrismedrela commented on #984
@narayanaditya95 , I don't understand, I think that the change I propose does solve the issue. @maneesha wrote in #881:

This is exactly what I propose.

[2016-09-18 12:11] narayanaditya95 commented on #984
My bad.

[2016-09-18 12:20] chrismedrela commented on #955
@pbanaszkiewicz, I'll deploy v1.9 with your help, ok?

[2016-09-18 12:21] pbanaszkiewicz commented on #955
Sure!

On 09/18/2016 02:20 PM, Christopher Medrela wrote:

[2016-09-18 13:10] chrismedrela commented on #997
@anenadic, when you say "institution", do you mean host?

I don't think we can filter instructors by country since we don't track that information. We only track the nearest airport.

[2016-09-18 14:07] chrismedrela commented on #1001
@gvwilson, you can accept a request and match it with person record (or create a new one) in detailed view. That is, now, you can match a request with an existing trainee account in two clicks: first click "i" icon and then click "accept & match to selected trainee account". You're automaticaly redirected back to list view. Is it quick enough?

After clicking "accept & match to selected trainee ac

[2016-09-18 15:09] chrismedrela commented on #1004
Ref #1004.

[2016-09-18 17:22] chrismedrela commented on #1001
After the call with @gvwilson, I agree with the proposed improvements.

[2016-09-18 17:29] chrismedrela opened #1007 "Small improvements to training request workflow"
In the training requests list view:

- [x] Display dates in "created at" column using "yyyy-mm-dd" format to make the column compact.
- [ ] ~~Let users filter by state using multichoice widget (three checkboxes instead of one drop-down).~~
- [x] Display only pending and accepted requests by default.
- [x] Display email in `submitter` column.
- [x] Display email in `submitter` and `matched trainee`

[2016-09-18 17:37] pbanaszkiewicz commented on #961
@maneesha Can you please expand your idea here? The export feature shows separate entries for `dc-instructor` badge and `swc-instructor` badge.

[2016-09-18 17:42] chrismedrela commented on #1001
What if we provide only a button like `match with Bob Smith <bob.smith@example.com> account` (instead of a pulldown) only if there is exactly one matching account and no shortcut otherwise? Is it enough?

Could we leave "state" column uneditable and automatically mark a request accepted when you match it with a training?

You propose to add "submit" button at the bottom, so you can change multiple

[2016-09-18 18:00] pbanaszkiewicz commented on #979
@gvwilson you need to specify what exactly you want to parametrize.

So far I have:

1. instructor's `badge` (or multiple badges - should they mean "show instructors with ALL these badges" or "with ANY of these badges"?) in `instructors_over_time`
2. event's `tag` in `workshops_over_time`
3. event's `tag` in `learners_over_time`
4. "participants in instructor training over time"? How do you want t

[2016-09-18 20:05] maneesha opened #1008 "Airport code >> server error in profile update form view"
When you click on the link with the three character airport code in the view to accept a profile update request, it takes you to a 500 Server error.

[2016-09-18 20:08] #792 closed

[2016-09-18 20:09] gvwilson commented on #1008
Are these airports that are in the database already?

[2016-09-18 20:24] #1008 closed

[2016-09-18 20:50] gvwilson commented on #1001
On 2016-09-18 1:42 PM, Christopher Medrela wrote:

A significant number of the matches this time were by name, but with
different email addresses, so I'd strongly prefer the pulldown.

Yes.

I'd prefer to be able to do many matches at once.  I realize formsets
are a pain, but all the back-end logic is there (I hope?)

Thanks,
Greg

[2016-09-18 21:01] gvwilson commented on #979
1. Definitely need "with this one badge".
2. It would be nice to have both "and" and "or", but I'm not going to ask you to implement a full Boolean expression syntax in the query.  Let's go with "or" unless @maneesha or @tracykteal or @anenadic wants "and" instead.
3. For events, let's go with "and" as well so I can get "all TTT events", "all online TTT events", etc.
4. For participants over time,

[2016-09-18 21:02] gvwilson opened #1010 "Graphs not appearing"
Go to https://amy.software-carpentry.org/workshops/reports/workshops_over_time/ - the graph of workshops over time has disappeared. Same for other views that used to show graphs.

[2016-09-19 09:13] anenadic commented on #997
Yes, by "institution" I meant "host". Country can be figured out by joining the instructors table with the airports, which has the country info. 'Instructors by country' would be a very useful feature I believe, not just for me.

[2016-09-19 09:51] anenadic commented on #979
I'd be happy with 'or' - thanks!

[2016-09-19 13:10] maneesha commented on #961
@pbanaszkiewicz  You're right - - it does show separate entries for `dc-instructor` badge and `swc-instructor` badges.  I didn't look closely enough to see the top level grouping is by badge, not person.  Something like this might be useful but not urgent or critical.

`{"name":"Barack Obama", "user":"obama_barack", "badges" : [{"name":"swc-instructor": "awarded":"2013-08-14"}, {"name":"dc-instruc

[2016-09-19 15:34] jduckles opened #1011 "Remove $1250 from partner form item"
Your call @maneesha, but shouldn't we remove the "$1250" from this line as our partnerships include coordinated workshops now?

https://github.com/swcarpentry/amy/blob/da20218f2497792962c96b42ecc21759cf928687/workshops/models.py#L1218

[2016-09-19 15:41] maneesha commented on #979
I'm good with 'or'

[2016-09-19 15:59] gvwilson commented on #979
"or" it is.

[2016-09-19 18:41] maneesha opened #1012 "500 error when adding new airport"
Title says it all

[2016-09-19 20:39] narayanaditya95 commented on #1012
Fixed by #1009

[2016-09-20 01:44] gvwilson commented on #1010
More: the Javascript console reports "TypeError: d3.time is undefined".

[2016-09-20 12:23] chrismedrela commented on #1001
different email addresses, so I'd strongly prefer the pulldown.

AMY searches for an existing account by matching email **or name**.

[2016-09-20 12:25] chrismedrela commented on #997
@anenadic, "Find Workshop Staff" let you search for instructors per country and it displays how often the instructors have taught. Does it solve your issue?

[2016-09-20 12:34] gvwilson commented on #1001
So what happens if the name matches but the email address doesn't?  Or
if there are several people with the same name (either distinct
individuals, or because we have two records for the same person and have
only just realized it)?  I strongly prefer a pulldown.

[2016-09-20 12:50] anenadic commented on #997
Hi, I have already tried that before and "Find Workshop Staff" for country "UK" only returns 6 instructors  - so something is possibly wrong there. Also, I would like a spreadsheet export or an API access that would return all results rather than paged results shown in the UI.

[2016-09-20 12:57] maneesha commented on #997
@anenadic  If you choose country == UK and check off DC and SWC badges then yes, you get 6 results.  This means only 6 people have both badges.

Choosing country == UK and only SWC badge returns about 75 results.

I do agree that export to CSV would be useful.

[2016-09-20 13:24] anenadic commented on #997
Oh, a misunderstanding on my part - I wrongly assumed it meant 'or'. Of course not. And it is great that affiliation is shown too (not sure it was being displayed last time I checked). Thank you. So if you want to close this one, we could open another issue about API access or spreadsheet export.

[2016-09-20 14:47] chrismedrela commented on #1001
If there is only one Person record with exactly the same name, AMY suggests this Person (I'm talking about the form in TrainingRequest detailed form where you can match the request with a Person). If there is more than one matching record, AMY doesn't guess and don't propose anything. Should I change the logic there?

[2016-09-20 15:00] gvwilson commented on #1001
Nope, please leave that logic as-is --- I would just like a pulldowns in
the "Matched Trainee" and "Matched Training" columns of
https://amy.software-carpentry.org/workshops/training_requests/ to make
it easier to match and assign lots of people.

[2016-09-20 19:36] #1004 closed

[2016-09-21 19:12] jduckles commented on #1011
@pbanaszkiewicz Can you please put this on the list for an upcoming milestone. Should be an easy fix.

[2016-09-22 19:08] maneesha opened #1015 "In bulk add person, interpret "role" column and use <select>."
In bulk add persons (https://amy.software-carpentry.org/workshops/persons/bulkadd/) we are given a csv template which is useful.

However, the names of roles as they display to the end user are not the same as the names of roles as stored in the database.  Can we either have instructions on what the roles need to be or have the csv importer translate this?

[2016-09-22 20:11] maneesha opened #1016 "Display SWC or DC tag next to workshop slug in "Current" list"
On the main page  -  it would be useful to see at a glance whether the workshops listed as "Current" were SWC or DC.

If you need room for this, the "Uninvoiced" column can be narrower.  The "ID" column in the "Unpublished" column can also be removed - this is unnecessary.

[2016-09-24 16:13] chrismedrela commented on #1016
Something like that? Do you want the labels to be on the left side or maybe somewhere else?
![image](https://cloud.githubusercontent.com/assets/1645996/18809672/63949ed6-8282-11e6-9552-0b80250b6474.png)

[2016-09-24 16:21] chrismedrela commented on #1015
@maneesha, here is the translation:

| name in db | verbose name |
| --- | --- |
| contributor | Contributed to lesson materials |
| organizer | Workshop organizer |
| learner |	Learner |
| host | Workshop host |
| instructor | Instructor |
| helper | Helper |

Where could I put the instructions you asked for?

[2016-09-24 20:02] chrismedrela commented on #981
Here is PR #1018. This PR solves only the second issue. I have problems with adding a button in "new training progress" page. @pbanaszkiewicz, do you have any idea how I can do that?

@gvwilson, questions:

1. When a person is eligible, you can click the `SWC` or `DC` label in `eligible` column to be moved to "issue a badge" form. Do you want the label to be clickable in the case when the person i

[2016-09-25 07:00] #1012 closed

[2016-09-25 07:02] pbanaszkiewicz commented on #984
@chrismedrela  What's the background for these changes?

[2016-09-25 07:37] #1011 closed

[2016-09-25 07:41] narayanaditya95 commented on #984
@pbanaszkiewicz Please refer to the thread on amy-dev email list titled `two questions about tracking instructor training`

[2016-09-25 07:44] pbanaszkiewicz commented on #1015
We should:

1. match any-case
2. provide a `<select>` to choose from for roles when editing a role in the table

[2016-09-25 16:10] gvwilson commented on #981
1. Yes, it should be clickable even if the person doesn't yet have the
official requirements - good thinking.

2. Yes for `event`, but I don't think we can automatically fill the
`awarded by` field - it could be the person currently logged in, or the
person who did the last part of their homework, or...

[2016-09-26 14:23] maneesha commented on #1015
@chrismedrela The instructions should go on the Bulk Import page.  I also like @pbanaszkiewicz idea to match case and select to edit.

[2016-09-26 22:32] gvwilson opened #1021 "Need a "comments" field on a training request"
We need a way to annotate requests for instructor training.

[2016-09-26 22:33] gvwilson commented on #1021
Duplicates #958.

[2016-09-26 22:33] #1021 closed

[2016-09-27 12:04] #984 closed

[2016-09-27 12:24] chrismedrela commented on #997
@anenadic, do you need both API access and spreadsheet export, or is the latter enough?

[2016-09-27 13:23] anenadic commented on #997
@chrismedrela Spreadsheet export is enough, but if you want to allow people to put parameters in (e.g. country=UK, badge=swc, startdate=2014-07-09, etc. for people and events) then there is more work on the UI side I suppose. Which is why I suggested the API approach, which, on the other hand, may be less user friendly for general public. Whatever approach is easier for you.

[2016-09-27 14:27] chrismedrela commented on #981
@gvwilson, I've fixed the second issue (not merged yet), but how important this one is?

[2016-09-27 14:50] maneesha commented on #1016
@chrismedrela - Yes, that's along the lines of what I was thinking of.
Could we have the labels and slug text aligned?  See sample:
![63949ed6-8282-11e6-9552-0b80250b6474](https://cloud.githubusercontent.com/assets/829690/18878860/30c1e084-84a0-11e6-8e4a-1969c857cb18.png)

[2016-09-27 20:10] gvwilson commented on #981
It'll simplify things a little, but it's not essential - move it into a separate issue?

[2016-09-28 08:06] chrismedrela opened #1024 "Add "issue badge" button in "new training progress" page"
Ref #981.

[2016-09-28 08:12] chrismedrela commented on #981
I've moved it to a separate issue #1024. I don't know how it can be implemented (without messing with crispy forms templates) and it doesn't provide much value, so I'll focus on other issues first.

[2016-09-28 08:40] chrismedrela commented on #1016
PR #1025

[2016-09-28 08:52] chrismedrela commented on #980
@gvwilson, what about combining "is SWC instructor" and "is DC instructor" filters into one choice filter with the following options:

- Unknown
- SWC and DC instructor
- *SWC or DC instructor*
- SWC instructor
- DC instructor
- *Eligible to be certified (SWC __or__ DC)*
- Not an instructor

*Italic choices* are combinations that you can't achieve having two separated fields.

[2016-09-28 09:55] chrismedrela commented on #980
PR #1026 (without merging "is SWC instructor" and "is DC instructor" fields).

[2016-09-28 10:01] gvwilson commented on #980
Looks good to me - only question is, what is "Unknown"?  Does it mean
"don't care"?  (If AMY doesn't know, who does?)

[2016-09-28 10:23] chrismedrela commented on #980
Do you mean the PR or the idea of merging "is SWC instructor" and "is DC instructor" filters?

Yes, it means "include every person regardless of their instructor status".

[2016-09-28 10:25] gvwilson commented on #980
OK, "Unknown" probably isn't the right word (it means "we don't know"
rather than "we don't care").

[2016-09-28 10:32] chrismedrela commented on #980
I agree, but on the other side, we use "unknown" in all places where there is BooleanFilter or ChoiceFilter and nobody has reported that it's confusing. If we want to change it, we should change it in all filters at once.

[2016-09-28 10:43] chrismedrela commented on #997
So, to sum up the discussion, there are two new functionalities to be implemented:

1. Export to .csv the table from "find workshop stuff".

2. In "workshops/learners/instructors over time" reports, let people add the following parameters:

        - `badge` (in the case of learners/instructors)
        - `country` (in all three reports)
        - `startdate`, `enddate` (in all three reports)

[2016-09-28 10:45] gvwilson commented on #980
OK, let's make it "Unknown" and I'll file a PR to come up with a better
word.

[2016-09-28 10:45] gvwilson opened #1027 "Use a better term than "Unknown" for unset filter options"
We currently use "Unknown" in filters to mean "we don't care" or "we are not filtering by this", but "Unknown" means "we don't know".  We should come up with a better word and stick to it. Low priority.

[2016-09-28 10:53] chrismedrela commented on #980
I've updated the PR so that the two filters are merged into the one that I proposed.

[2016-09-28 10:53] gvwilson commented on #980
Ready for review?

[2016-09-28 10:54] chrismedrela commented on #980
Yes.

[2016-09-28 11:04] anenadic commented on #997
@chrismedrela

Yes, that pretty much sums it up.

1. If you can put name and email in separate columns that would be great.
2. Can we have a .csv export here too please? Startdate/enddate for instructors/learners should include all of them if not specified. For workshops - I'd include the slug and workshop URL and anything else of use.

Many thanks!

[2016-09-28 11:57] chrismedrela commented on #976
@gvwilson, would it be enough if you can edit training progress in person detailed view (and cannot do this in edit person view)? The detailed view would look like that:
![image](https://cloud.githubusercontent.com/assets/1645996/18912576/5e2025ca-8583-11e6-9484-2ecf4a0ed7b6.png)

[2016-09-28 12:00] chrismedrela commented on #976
PR #1028

[2016-09-28 12:00] gvwilson commented on #976
Sure.

[2016-09-28 13:36] chrismedrela commented on #1007
@gvwilson, do you want me to enforce in validation rules that a pending request cannot be matched to a training and an accepted one must be matched to a training?

[2016-09-28 13:53] gvwilson commented on #1007
Pending cannot be matched to training.

Accepted doesn't necessarily have to be matched to training: the use
case is:

1. We have several training events coming up.

2. We score applications and accept those that are to be distributed
amongst the events.

3. We then assign them to training events.

In this case, "accepted" is being used to filter/select applications.

[2016-09-28 15:02] chrismedrela commented on #1007
@gvwilson, do you want any other choices (like "all")?
![image](https://cloud.githubusercontent.com/assets/1645996/18919005/ed59dce0-859c-11e6-803f-ee03b10367af.png)
I think that a drop-down is faster to use than three checkboxes. And definitively easier to implement. Is it fine?

[2016-09-28 15:06] gvwilson commented on #1007
Sure, and thanks.

[2016-09-28 15:29] chrismedrela commented on #1007
PR #1030

[2016-09-28 16:59] chrismedrela commented on #975
PR #1031

[2016-09-28 17:28] gvwilson commented on #927
@tracykteal ping

[2016-09-29 16:03] gvwilson opened #1032 "Enable filtering by multiple partnership levels on organizations."
We should be able to filter organizations according to their partnership level.  User should be able to select multiple partnership levels, which should be combined with 'or' (i.e., show me silver or bronze).  For now, don't worry about temporal nature of partnerships: show all organizations that have, or have ever had, a particular partnership level.

[2016-09-29 16:59] gvwilson opened #1035 "Display current partnership level in organization display."
Related to #1032, the "all organizations" page should have a column to show current membership status (if any).  Note "current": this page doesn't need to show memberships that are out of date.

[2016-09-30 12:19] tracykteal commented on #927
I'm reading through this and https://github.com/swcarpentry/amy/issues/865

What feedback do you need from me?

[2016-09-30 14:00] gvwilson commented on #927
Do you think we need separate fields for admin-generated notes and user-generated notes?

[2016-09-30 14:00] gvwilson commented on #865
@pbanaszkiewicz @chrismedrela have we tested login with Google ID? If so, and if it works, I think this one's done.

[2016-09-30 14:12] tracykteal commented on #927
Yes, it sounds like we do.

[2016-09-30 14:13] gvwilson commented on #927
OK - Chris/Piotr, can you please add?

[2016-10-02 13:55] #931 closed

[2016-10-02 13:55] #981 closed

[2016-10-02 14:03] pbanaszkiewicz opened #1036 "Disable event submission form"
@maneesha requested to disable the form so that people who know the link (Google?) can't submit before we actually go live with the form.

[2016-10-02 14:03] #1036 closed

[2016-10-02 14:04] #1010 closed

[2016-10-02 22:54] gvwilson commented on #978
Has this one been addressed? thx.

[2016-10-03 17:42] pbanaszkiewicz commented on #978
@gvwilson so instead of showing when a person is awarded an instructor badge and aggregating that data by date, we should show first time person is awarded an instructor badge and then aggregate by date. Correct?

[2016-10-03 18:01] gvwilson commented on #978
Yes please - and if the query specifies SWC, DC, or something else, we
only show/count those.

[2016-10-03 18:07] pbanaszkiewicz commented on #978
@gvwilson unfortunately I'm not sure how to solve this issue. Calling @chrismedrela @narayanaditya95 for help…

[2016-10-03 18:17] jduckles opened #1038 "Feed of basic statistics in tidy data format"
This is a medium-term enhancement request, but @tracykteal and I have tried at times to answer specific questions using the wealth of data available in AMY. Short of querying the normalized web of tables, this can be challenging.

It would be nice to create some DB views that are made available using [tidy data(PDF)](http://vita.had.co.nz/papers/tidy-data.pdf) best practices. I'm imagining this as

[2016-10-03 19:36] tracykteal commented on #1038
+1

[2016-10-06 13:02] narayanaditya95 commented on #944
@maneesha Ping.

[2016-10-06 13:44] narayanaditya95 commented on #964
@chrismedrela Can you pitch in?

[2016-10-06 15:37] maneesha commented on #944
This is from an older release... all looks good now.

[2016-10-06 15:37] #944 closed

[2016-10-07 14:18] maneesha opened #1040 "Remove invoicing link"
Please remove the invoicing button from the event page - this is not ready to go live.
The invoicing form (in case anyone has bookmarked it) should not be displayed. That page should read:

[2016-10-08 13:18] #1007 closed

[2016-10-08 13:47] #975 closed

[2016-10-08 14:10] narayanaditya95 opened #1041 "Move templates that are to be included within the includes folder"

[2016-10-08 14:12] chrismedrela opened #1042 "Move includable templates to a new directory"
Move the following templates from `templates/workshops` to `templates/includable`:
- workshops/templates/workshops/attendance_email_href.html
- workshops/templates/workshops/event_details_table.html
- workshops/templates/workshops/event_import_update_from_url.html
- workshops/templates/workshops/last_modified.html
- workshops/templates/workshops/merge_radio.html
- workshops/templates/workshops/tra

[2016-10-08 14:13] #976 closed

[2016-10-08 15:01] chrismedrela commented on #1041
Closing -- dup #1042

[2016-10-08 15:01] #1041 closed

[2016-10-08 15:02] chrismedrela commented on #1042
Or better `templates/includes` instead of `templates/includable`.

[2016-10-08 20:09] chrismedrela commented on #964
@narayanaditya95 Why is it an issue that we don't check for www subdomain in organization domain? Is it the risk of duplicating records for the same organization? If yes, is adding one single organization the only way how we can introduce duplicates (or do we have any bulk import organization functionality)?

[2016-10-08 21:15] chrismedrela commented on #1038
[code]
These plots are already available in AMY in "reports" menu (i.e. [here](https://amy.software-carpentry.org/workshops/reports/workshops_over_time/); the plots are not displayed due to a bug, but this issue will be fixed in the next release) and raw data is available [as REST endpoint](https://amy.software-carpentry.org/api/v1/reports/learners_over_time/), although both plots and raw data are

[2016-10-08 23:14] chrismedrela commented on #978
PR #1043

[2016-10-08 23:25] chrismedrela opened #1044 "Replace contains with icontains"
We use `contains` instead of `icontains` in many places. On SQLite, [both matches are case-insensitively](https://docs.djangoproject.com/el/1.10/ref/databases/#substring-matching-and-case-sensitivity), but this will result in bugs when we switch to i.e. PostgreSQL.

[2016-10-08 23:26] chrismedrela commented on #716
Before migrating we need to fix #1044.

[2016-10-08 23:56] chrismedrela commented on #865
@gvwilson [we don't have google login implemented](https://github.com/swcarpentry/amy/blob/develop/amy/settings.py#L218-L221), only GitHub and standard login+password way.

[2016-10-09 00:03] chrismedrela commented on #793
Sorry, but I don't understand what this issue is all about? Do you mean changing `InvoiceRequest.STATUS_CHOICES`?

[2016-10-09 00:05] chrismedrela commented on #996
Duplicate #1007, fixed in #1030.

[2016-10-09 00:05] #996 closed

[2016-10-09 00:19] chrismedrela commented on #980
@narayanaditya95 , could you review?

[2016-10-09 01:41] gvwilson commented on #865
How much work to enable Google login?

[2016-10-09 06:54] pbanaszkiewicz commented on #793
@chrismedrela this is about both `InvoiceRequest` (feedback to "paid" `Event.invoice_status`) and `Event.invoice_status`. Low priority for now.

[2016-10-09 07:05] pbanaszkiewicz commented on #1015
This wasn't completely fixed in #1023.

[2016-10-09 07:12] pbanaszkiewicz opened #1045 "Django Debug Toolbar should have SQL panel ON by default"
Turning the panel ON allows to spot bottlenecks right on - just by looking at the number of queries (>8? Investigate).

This panel is the most useful and most often used by me. The next one is template variables, which is ON by default already.

[2016-10-09 07:58] pbanaszkiewicz commented on #1040
@maneesha you want to disable the admin-only part of AMY that handles invoice requests, correct?

[2016-10-09 10:59] #968 closed

[2016-10-10 13:29] narayanaditya95 commented on #964
The problem is that due to two different unique constraints (each on the `fullname` and `domain` fields), I cannot check if a similar org exists, before saving a new one. If I filter based on the `domain` field, I can get into a uniqueness failure on the `fullname` field and vice versa.

Checking for www subdomain is one fix to the problem. The other fix is to convert the individual unique constra

[2016-10-10 13:46] maneesha commented on #1040
Correct.

[2016-10-11 15:29] #894 closed

[2016-10-11 15:55] chrismedrela opened #1047 "Optimize SQL queries on trainees list view"
On production data, we make ~200 queries in 600 ms on my local machine, which is way too much.

[2016-10-11 16:04] #1045 closed

[2016-10-11 16:33] chrismedrela commented on #865
IMO 8 hours.

[`python-social-auth` part seems to be easy](http://psa.matiasaguirre.net/docs/backends/google.html#google-oauth2), but we need to think out how we keep `UserSocialAuth` and `Person` in sync (we encountered similar issue with `UserSocialAuth` and `Person.github`). The easiest way is to modify `Person.check_if_usersocialauth_is_in_sync` and `Person.synchronize_usersocialauth`, so that

[2016-10-11 16:36] chrismedrela commented on #793
I'm still not sure what exactly changes are requested, so could I reassign this issue to you?

[2016-10-11 16:41] chrismedrela commented on #964
[code]

Does it solve the issue? If no, why?

[2016-10-11 17:29] gvwilson commented on #865
OK, let's make this high priority for the December release.

[2016-10-11 18:12] maneesha commented on #793
We want to change the labels for the options in invoice status.
Clarifying what @pbanaszkiewicz  noted in his opening comment above:

- Change `Invoiced` to `Invoice requested`
- Change `Not invoiced` to `Invoice not requested`

`Unknown` and all the `Not applicable` options can stay as they are.

Adding `Paid` is not a priority.

[2016-10-11 19:55] gvwilson opened #1049 "Enable login with Google ID"
See discussion in https://github.com/swcarpentry/amy/issues/865#issuecomment-252971152

[2016-10-11 21:32] narayanaditya95 commented on #964
Thank you. :)

[2016-10-11 23:02] chrismedrela commented on #964
Can we close it or is there anything else that need to solved?

[2016-10-11 23:14] narayanaditya95 commented on #964
There has to be a fix for the bulk import workflow.

[2016-10-12 14:39] chrismedrela opened #1050 "Add filter by group name in training applications list view"

[2016-10-13 12:20] gvwilson commented on #1038
@jduckles @tracykteal is it OK to open this up or should it be accessible only to AMY Users?

[2016-10-13 14:04] jduckles commented on #1038
Fine by me, I'd like it open so we can have JS that depends on it without API keys or anything like that. I think it is sufficiently aggregated that there are minimal identifiability risks.

[2016-10-13 14:06] jduckles commented on #1038
@chrismedrela I don't think we need to open the plots right now. I'll probably generate some new static plots that I use with presentations and try to find a way to have the website build hook into rebuilding those, so no worries about that for now.

[2016-10-13 15:44] #1016 closed

[2016-10-13 15:47] chrismedrela commented on #964
@narayanaditya95 , could the issue with bulk import workflow go to a new issue and we close this one, or could you update the title of this issue and provide short description of the issue with bulk import workflow?

[2016-10-13 15:49] chrismedrela commented on #793
@maneesha, thank you, that makes it clear.

[2016-10-13 16:51] pbanaszkiewicz commented on #865
Then this issue depends on #1049, therefore I'm moving it to v1.10.

I still believe we should make use of `UserSocialAuth` table, drop magic surrounding `Person.github`, and implement a proper "Manage your social auth links" page for people.

[2016-10-14 16:07] chrismedrela commented on #865
How do we let trainees log in for the first time when we don't have their GitHub/Google account associated and they don't have login+password pair?

[2016-10-15 11:19] pbanaszkiewicz commented on #865
I cannot think of any other solution than an invitation for registration system.

[2016-10-17 10:45] rgaiacs opened #1053 "Use warning instead of error for missing eventbrite"
I asked to validate one event and I got

![screenshot_2016-10-17_11-41-46](https://cloud.githubusercontent.com/assets/1506457/19434724/1a8d0392-945f-11e6-846f-aa32a805a8bb.png)

even if I have

[code]

Can we change the validate report to show a warning instead of a error?

[2016-10-18 17:22] #816 closed

[2016-10-19 09:46] lexnederbragt opened #1054 "'passed training' missing for eligibility"
I just came across a trainee that has passed SWC homework, Discussion and SWC Demo, but is not eligible to be certified due to not having passed 'Training' - even though there is a TTT workshop entry in the 'Training' field. Is this an intended possibility? I can give details on who it was in an email if needed.

[2016-10-19 10:29] gvwilson commented on #1054
Definitely sounds like a bug - please send details to @pbanaszkiewicz
and @chrismedrela.

[2016-10-19 11:16] lexnederbragt commented on #1054
Email sent.

[2016-10-19 12:14] gvwilson opened #1055 "Connect instructor training sessions to partnership agreements"
We need a way to say "this event satisfies or partially satisfies our obligations for that partnership agreement".  (Right now, I'm storing that as free text.)  A many-to-many between events and partnership agreements (_not_ partners) would do this.

[2016-10-22 12:24] chrismedrela commented on #1055
@gvwilson, do you mean `Membership`?

[2016-10-22 12:33] chrismedrela commented on #1054
Yes. One thing is whether somebody is matched with a training (that is, he is a learner at a TTT workshops) and a completely independent thing is whether somebody passed/failed the training. The workflow is:

1.  applicants are matched with a TTT training (so that there is an entry in the "training" column):
![image](https://cloud.githubusercontent.com/assets/1645996/19619308/602867ee-9864-11e6-9c

[2016-10-22 12:33] chrismedrela commented on #1054
Please reopen if you want to change the workflow.

[2016-10-22 13:07] #980 closed

[2016-10-22 13:56] chrismedrela commented on #1032
@gvwilson, when you say partnership, do you mean `Membership`?

Also, I don't think we track partnership levels (silver, bronze etc.) -- we only track variant (partner/affiliate/sponsor) and contribution type (financial/person-days/other).

[2016-10-22 14:09] chrismedrela commented on #1035
@gvwilson, what exactly should be displayed in the column? `Membership.variant` (partner/affiliate/other) and `Membership.contribution_type` (financial/person-days/other)?

[2016-10-22 14:13] chrismedrela commented on #1032
Ahh, ok, I've just had a look at #1034 and I see there are new variants (bronze, silver etc.).

[2016-10-23 17:09] chrismedrela commented on #964
@gvwilson, do we want to fix the bulk import issue in v1.9 or can we postpone it to v1.10?

[2016-10-23 18:22] chrismedrela commented on #782
PR #1060.

[2016-10-25 16:28] gvwilson opened #1063 "Allow "order by last modified" in trainees page"
Trainees page (https://amy.software-carpentry.org/workshops/trainees/) should allow "order by last modified" so that we can see records that have changed recently.

[2016-10-25 18:17] gvwilson commented on #964
Too late for v1.9 - I was hoping that would be deployed this weekend.

[2016-10-25 18:18] maneesha opened #1064 ""Cancelled" workshops should not show up in "Unpublished" column"
Title says it all.

[2016-10-25 18:21] maneesha commented on #898
Any progress on this?  I think just having the box be resizable would meet my needs.

[2016-10-25 18:21] gvwilson commented on #1035
Just `Membership.variant` will be enough - that tells us what our
training obligations are.

[2016-10-25 18:29] gvwilson commented on #1032
Yes, sorry, Membership, and I've added the new levels.

[2016-10-25 19:01] gvwilson commented on #1055
Yes, sorry.

[2016-10-25 23:09] #1050 closed

[2016-10-25 23:09] #1035 closed

[2016-10-25 23:10] #1032 closed

[2016-10-25 23:12] #793 closed

[2016-10-28 15:08] jduckles commented on #1055
The mechanics for this exist for tracking workshops. We should track the number of instructors we commit to in the agreement and the number trained. This way we can report on it to the partner organization when we have periodic meetings with them. The mechanics of this should already exist for how we're doing "imposed/completed/remaining" for two classes of workshops. Rather than workshops this wo

[2016-10-29 12:37] chrismedrela commented on #1055
@gvwilson does it solve this issue? If yes, please close this issue.

[2016-10-29 12:57] gvwilson commented on #1055
I don't think so - the many-to-many between a specific membership agreement (rather than a specific institution) and specific training events still isn't there.  We'll tackle this after we get v1.9 out of the way.

[2016-10-29 19:54] chrismedrela opened #1066 "Configure Travis so that it tests merged changes"
Right now, if somebody proposes merging `my-patch` branch, Travis runs tests on this branch. Instead, we should first merge the branch with `develop` and then run tests. If both branches have new migrations, running tests without merging doesn't detect conflicting migrations.

[2016-10-29 20:13] chrismedrela commented on #1055
@gvwilson, why storing this kind of information in `notes` is not enough?

[2016-10-29 20:30] #1040 closed

[2016-10-29 20:31] #978 closed

[2016-10-29 20:46] chrismedrela commented on #898
@maneesha, it's planned for v1.10 and we'll take care of that after releasing v1.9.

This can be easily solved by adding `size="20"` to the `<select>` widget. However, for some reason, this doesn't work:

[code]

[2016-10-29 20:59] gvwilson commented on #1055
Because then there's no easy way to find out what the status of our
obligations to partners is - right now, if I want to know that
2016-10-20-ttt-online fulfilled our commitment to Michigan State
University, I have to... well, I just have to know.

[2016-10-29 21:04] chrismedrela commented on #1063
Right now we don't have `Person.last_updated_at`, but this can be probably easily fixed by inheriting from `CreatedUpdatedMixin`.

[2016-10-29 21:07] gvwilson commented on #1063
:+1: for v1.10

[2016-10-29 21:22] chrismedrela commented on #1055
OK, so what about a simpler approach:
- adding `Membership.obligation_status` which can be 1) not fulfilled, 2) partially fulfilled or 3) fulfilled
- continuing to store more details in `notes`?

That lets you filter memberships (or even organizations) by our obligation status.

[2016-10-29 21:29] gvwilson commented on #1055
Let's discuss this after v1.9.

[2016-11-01 17:03] chrismedrela opened #1068 "Membership.contribution_type should not allow blank values"
Look at `models.py`:
[code]

That means that `contribution_type` can be blank. @gvwilson Is it intended?

[2016-11-01 17:05] gvwilson commented on #1068
It shouldn't be blank - "other" covers that case.

[2016-11-01 17:24] chrismedrela opened #1069 "Search form should use GET method"
Benefits:
- the browser won't ask you to confirm form resubmission when refreshing the search result page
- search result page is stateless -- the URL includes the term you search for, so that you can send the link to other people

[2016-11-01 19:36] #927 closed

[2016-11-01 19:36] #928 closed

[2016-11-01 20:10] #1068 closed

[2016-11-02 10:40] chrismedrela commented on #979
@gvwilson what report do you mean whey you say "participants over time"? We have only workshops/learners/instructors over time reports.

[2016-11-02 10:53] gvwilson commented on #979
Sorry for the imprecise language - I need to be able to ask for the number of people who took part in instructor training events vs. time. I think that means "give me learners in (workshops with the following tags)".

[2016-11-04 11:02] #964 closed

[2016-11-05 13:57] #979 closed

[2016-11-05 17:43] narayanaditya95 commented on #1066
Suggested a fix at #1073

[2016-11-06 20:30] narayanaditya95 commented on #1066
As @pbaneswicz pointed out at #1073, Travis does merge the develop branch into the branch contained in the PR.
However, our problem is somewhat different. Although a PR can be marked safe by Travis today (after merging from develop), a change to develop tomorrow that does not cause a merge conflict with the PR may lead to a migration clash or other test failures. I think the solution to this issue

[2016-11-08 13:06] chrismedrela commented on #1066
How can we do that?

[2016-11-08 17:46] #782 closed

[2016-11-08 17:54] pbanaszkiewicz commented on #955
We're going to deploy v1.9 shortly, so I'm closing this issue.

[2016-11-08 17:55] chrismedrela opened #1075 "Stop monkey patching models in `pydata/apps.py`"
I've raised this issue in #1073:

An enhancement for this issue is to get rid of monkey patching of templates, forms and views, but it's not that much important right now.

[2016-11-08 19:35] chrismedrela commented on #955
Let's close this one when I write `docs/deploy.md`.

[2016-11-08 19:38] maneesha opened #1076 "Allow null family name"
Sometimes people identify themselves by only one name.
It looks like this was historically allowed as we do have people without a family name in the database, but new records require a family name.

[2016-11-08 19:40] gvwilson commented on #1076
Apologies for the regression - @chrismedrela can you please add a test
for this and then wind us back?  @maneesha how is this showing up - are
we seeing error messages in AMY in production?

[2016-11-08 22:20] narayanaditya95 commented on #1066
At the PR page, use the following workflow:

1. Click of "Show all checks"
2. Click on "Details" to the right of the Travis test list option.
3. At the build page of Travis, click on "Restart build".

[2016-11-09 14:32] chrismedrela commented on #938
I'm :+1: for having only one `settings.py` file and overriding params via environment variables. This is also recommended by [The Twelve-Factor App](https://12factor.net/config).

[2016-11-09 14:32] #938 closed

[2016-11-09 14:56] chrismedrela commented on #1066
@narayanaditya95 thank you very much for instructions. I'm closing it, because we found the solution: we need to manually restart build before merging.

[2016-11-09 14:56] #1066 closed

[2016-11-09 19:39] narayanaditya95 commented on #1075
Django Oscar and many other Django frameworks employ a similar tactic to deal with customizations. See [django-oscar docs](https://django-oscar.readthedocs.io/en/latest/howto/index.html#customisation)

[2016-11-10 13:09] chrismedrela commented on #1075
I've realized that converting `Sponsorship.amount` to a ForeignKey won't work for standard deployment.

The way Django Oscar customizes models is (for me) quite tricky and I don't really understand it.

I propose to create `settings.ENABLE_PYDATA` flag and use `if ENABLE_PYDATA:` conditionals in similar way to compilation conditionals in C. Example of model:

[code]

Example of forms:
[code]

This

[2016-11-10 14:51] chrismedrela opened #1082 "Import old release notes"
Add them to `docs/releases` dictionary. Get old release notes from [Piotr's blog](http://piotr.banaszkiewicz.org/).

It'd be better to keep release notes along with source code, so that they won't get lost, and to have everything in one place. @pbanaszkiewicz what's your opinion?

[2016-11-10 15:28] narayanaditya95 commented on #1075
-1. @pbanaszkiewicz and I wanted a complete separation of code.

My suggestion would be to allow inherit the `Sponsorship` model in the `pydata/models.py` from 'workshops/models.py`.

[code]

We would then define its corresponding ModelForm and assign it to `SPONSORSHIP_FORM` variable in `settings.py`.

[code]

In `workshops/views.py`, we would utilize the `SPONSORSHIP_FORM` variable to fetch the

[2016-11-10 17:04] chrismedrela commented on #1075
And `SponsorshipBase` defines `amount` without `choices`, is that right? I don't think it'll work. You cannot override parent's field, [StackOverflow says](http://stackoverflow.com/questions/2344751/in-django-model-inheritance-does-it-allow-you-to-override-a-parent-models-a).

I'm a bit lost now. @pbanaszkiewicz @narayanaditya95 could you write a short summary what is your preferred solution to th

[2016-11-10 17:11] narayanaditya95 commented on #1075
We would then have to divide `Sponsorship` into an abstract `BaseSponsorship` model without the amount field. Both `workshops` app and `pydata` app would then inherit it and add their respective `amount` field.

[2016-11-10 19:21] chrismedrela commented on #1075
OK, so in the case of pydata deployment, we have two non-abstract models `workshops.Sponsorship` and `pydata.Sponsorship` that results in two tables. Only the latter is used. In the case of standard deployment, we'll have only one table, because `pydata` app is disabled. Do I understand correctly?

I think this solution is much better than monkey-patching and I'm :+1: (even if it results in an unn

[2016-11-10 19:35] chrismedrela opened #1083 "Revision webpages are messed up"
1. Go to https://amy.software-carpentry.org/workshops/person/9963/
2. Click links next to "Created on" and "Last modified on".
3. You can see that both revisions have nothing in common with the person.

[2016-11-10 19:48] chrismedrela commented on #1083
This is due to an assumption [here](https://github.com/swcarpentry/amy/blob/develop/workshops/views.py#L2166) that each revision consists of only one version. (Version is a change to one record. Revision is a bunch of versions.)

[2016-11-10 20:09] chrismedrela commented on #1076
Although `Person.family` never allowed blank values, this may happened when you bulk upload people. The codebase from 2015-10-02 contains this line:
[code]
This successfully works even if you provide `defaults={'personal': 'Bob', 'family': ''}`.

So what needs to be done:
- [ ] Make `Person.family` optional.
- [ ] Add regression test for adding single person without family name.
- [ ] Add regressi

[2016-11-10 20:17] chrismedrela opened #1084 "Add detailed view for TrainingProgress"

[2016-11-10 20:18] chrismedrela opened #1085 "Delete button doesn't work in edit views"
This is because delete views redirects to URL with appended `/delete`, i.e. `workshops/training_progress/1172/edit/delete` instead of `https://amy.software-carpentry.org/workshops/training_progress/1172/delete`.

A workaround is to delete objects from detailed view. This workaround doesn't work for TrainingProgresses, because they don't have detailed view (see #1084).

[2016-11-10 20:18] narayanaditya95 commented on #1075
Yes. We can avoid having a redundant table by creating a `swc-dc` app that would house models, forms and templates exclusive to AMY deployed for SWC/DC. However, this is a far-fetched thought and is not necessary as of now.

Yes.

[2016-11-10 20:24] chrismedrela commented on #1075
OK, this is something I can live with.

It seems that we reached consensus. :-) @pbanaszkiewicz any opinions on the proposed design?

[2016-11-11 10:00] pbanaszkiewicz opened #1086 "Port release notes from Piotr's blog to docs directory"
As above.

[2016-11-14 23:43] tracykteal opened #1087 "Add a field for workshop type"
As we have more offerings of types of workshops, even within SWC and DC, it would be very useful to be able to track workshop type. We need this to track how often we're teaching certain materials for reporting and for maintenance.

For Data Carpentry those would be things like Ecology-R, Ecology-Python, Genomics, Geospatial, etc.

SWC could have R, Python, MATLAB

Using this framework we could al

[2016-11-15 19:53] gvwilson opened #1088 "Email senders of training request form"
Thank you for your application for Software Carpentry/Data Carpentry instructor training.  Due to high demand, the waiting time for open instructor training events is currently 8-12 months as we try to clear our backlog.  If you are affiliated with one of our institutional partners (listed at http://software-carpentry.org/scf/partners), we will do our best to prioritize your application; if you or

[2016-11-18 20:52] pbanaszkiewicz commented on #1082
:+1: for keeping all release notes here.

[2016-11-18 20:52] pbanaszkiewicz commented on #1086
Duplicate of #1082.

[2016-11-18 20:52] #1086 closed

[2016-11-18 20:56] pbanaszkiewicz commented on #1087
Library Carpentry workshops should be tagged as `LC`, similarly to `SWC` and `DC`.

@maneesha @jduckles any thoughts about tracking "leading theme" of a workshop, as Tracy described?

[2016-11-19 04:26] tracykteal opened #1089 "East Midlands Airport has incorrect latitude"
In AMY, East Midlands Airport  has a latitude of 2.828194, but it should be 52.8294 (or something like that: at least 52, rather than 2)

[2016-11-19 04:28] tracykteal commented on #1089
This is not where East Midlands airport is

![eastmidlandsairport](https://cloud.githubusercontent.com/assets/889238/20453020/816ffb8c-adcd-11e6-8f4e-641fb7fa1bad.png)

[2016-11-19 04:58] tracykteal commented on #1089
Fixed in AMY

[2016-11-19 04:58] #1089 closed

[2016-11-22 15:24] maneesha commented on #1076
Sorry - meant to respond to this sooner.  Currently, the family name field is required both for Bulk Add Persons and for creating an individual person (https://amy.software-carpentry.org/workshops/persons/add/).

[2016-11-22 17:03] pbanaszkiewicz opened #1095 "Permissions system: "admin"-considered groups don't grant template-scope permissions"
In [`models.py:545`](https://github.com/swcarpentry/amy/blob/develop/workshops/models.py#L545) we have a `is_admin` function that determines if person should have admin privileges based on groups they're in. For example, any trainer is considered admin.

In the templates, however, we explicitly check for permissions, like `workshops.change_person` in [`workshops/templates/workshops/person.html`](h

[2016-11-23 11:06] gvwilson commented on #1084
Can you please provide more details about this one?

[2016-11-23 11:07] gvwilson commented on #1054
I think we need a way to say, "Give all of the learners in this workshop *except* the ones I've ticked a marker to say they've completed training."  I.e., the usual case is that all of the people registered for a training get a "completed training" progress marker, but we need to indicate that a handful don't (because they were no-shows or skipped out early or whatever).

[2016-11-23 11:09] gvwilson commented on #1054
I think we need a way to say, "Give all of the learners in this workshop *except* the ones I've ticked a marker to say they've completed training."  I.e., the usual case is that all of the people registered for a training get a "completed training" progress marker, but we need to indicate that a handful don't (because they were no-shows or skipped out early or whatever).

[2016-11-23 11:52] gvwilson commented on #1054
Never mind, I just figured out how to do it - thanks.

[2016-11-23 11:52] #1054 closed

[2016-11-24 23:23] narayanaditya95 commented on #1095
Just to be clear, we intend on allowing trainers to edit their individual profile only, right?

[2016-11-24 23:27] gvwilson commented on #1095
Yes.

[2016-11-25 09:20] narayanaditya95 opened #1096 "Incorrect title on Badge Detail page"
The title of the `badge_detail` page for the badge `maintainer` is `Airport Maintainer`, i.e. `Airport` is appended to the title of each badge.

Is this the expected functionality?

[2016-11-25 09:22] narayanaditya95 opened #1097 "Incorrect redirect on deleting an award from person detail page"
On the `person_detail` page, deleting an award from the _Awards_ tab takes you to the `badge_detail` page.

Should it be redirected back to the `person_detail` page?

[2016-11-25 09:23] narayanaditya95 commented on #1095
My exams concluded yesterday evening.
I am working on a refactor. I hope you like it.

[2016-11-25 10:35] narayanaditya95 opened #1098 "Add a template filter to allow sorting of FKs within templates"
@pbanaszkiewicz @chrismedrela
What do you think about incorporating https://www.djangosnippets.org/snippets/741/ into AMY?

[2016-11-25 10:42] narayanaditya95 commented on #1085
FWIW, I believe that the delete button should be displayed on the detail view and not the edit view. That is what I have observed most of the times.

[2016-11-25 10:55] gvwilson commented on #1096
Nope, that's a bug.

[2016-11-25 10:55] gvwilson commented on #1097
Yes please.

[2016-11-25 10:55] gvwilson commented on #1095
Thanks Aditya - hope the exams went well.

[2016-11-25 10:59] gvwilson commented on #1085
@pbanaszkiewicz ?

[2016-11-25 23:44] #1082 closed

[2016-11-26 00:24] chrismedrela commented on #961
@maneesha, https://amy.software-carpentry.org/api/v1/persons/ provides data you want in very similar format, except that `badges` is a list of badges' names without any other details like the date when the badge was awarded etc. Does it solve your issue?

[2016-11-26 02:06] chrismedrela commented on #1084
Now, we have only edit and delete views for TrainingProgress records. For consistency, we should add detailed view, so that TrainingProgress is first-class object.

[2016-11-26 02:35] chrismedrela commented on #1098
@narayanaditya95 where could we use it?

[2016-11-26 02:41] chrismedrela commented on #1097
But if you delete an award from `badge_detail`, you should be redirected back to `badge_detail`.

[2016-11-26 03:08] #1096 closed

[2016-11-26 03:14] narayanaditya95 commented on #1098
For eg: in the view `person_edit` we pass the context variables `awards` and `tasks` from the view to the template. We can move the entire logic to the templates and use `object.task_set|order_by:"..."` in the templates.

I find it to be much cleaner.

[2016-11-26 03:15] narayanaditya95 commented on #1097
@chrismedrela I will ensure that. Thanks!

[2016-11-26 03:34] narayanaditya95 opened #1101 "AMYDeleteView and RedirectSupportMixin achieve different redirection"
The `next` param to the `AMYDeleteView` is a POST param while to any view subclassing the `RedirectSupportMixin` mixin, the `next` param is a GET param. The two achieve the same thing, but differently.

I propose that we strip the `AMYDeleteView` of any redirect support and use `RedirectSupportMixin` along with `AMYDeleteView`.

[2016-11-28 14:57] maneesha opened #1103 "Re-order questions on workshop request form"
Make this question:

come immediately after this question:

[2016-11-28 19:24] pbanaszkiewicz commented on #1095
Congrats!

[2016-11-28 19:26] pbanaszkiewicz commented on #1085
I lean towards "Delete" button on the detail view (and in some cases on the list view).

[2016-11-28 19:26] pbanaszkiewicz commented on #1084
Ref #1085

[2016-11-28 19:27] pbanaszkiewicz commented on #1098
@narayanaditya95 can you provide a proof-of-concept? Thanks!

[2016-11-28 19:29] pbanaszkiewicz commented on #1101
Sounds good to me (y)

[2016-11-29 05:28] narayanaditya95 commented on #1098
@pbanaszkiewicz Okay, it seems like DTL has support for sorting relations. See [dictsort](https://docs.djangoproject.com/es/1.9/ref/templates/builtins/#dictsort).

So, we do not need to add a new template filter. I have updated the proof of concept.

[2016-11-30 01:30] maneesha opened #1107 "Validating GitHub user names"
If AMY is going to allow login with GitHub usernames then it needs to validate for this.  I believe that only alphanumeric and underscores are allowed but  I can't find documentation on this.

[2016-11-30 18:55] #1103 closed

[2016-11-30 22:00] gvwilson opened #1108 "Require everyone to agree to confidentiality"
Reviving old issue: we need a page that requires people to agree to the confidentiality agreement, and a database entry recording who has agreed to it.

[2016-11-30 22:57] #1024 closed

[2016-12-01 21:44] ErinBecker commented on #967
@pbanaszkiewicz Thanks Piotr!

[2016-12-02 19:26] pbanaszkiewicz commented on #1108
What people do you specifically have in mind?

[2016-12-02 20:10] maneesha commented on #1087
I think this is really important but I'd want to brainstorm with others how to do it.

For example, someone might teach DC Ecology-R but also touch on Python.    Someone might teach SWC Python and also SQL.  Ideally I want to track how often our stardard lessons are taught, but also what kind of deviation there is from that.

There's also the question of the overhead in actually recording this.  C

[2016-12-02 20:30] jduckles commented on #1087
I think we just need an enumeration of modules taught, not necessarily the "leading theme".

I submitted the mechanics for capturing the lessons being taught via yaml headers in `swcarpentry/bc` a long time ago. Back then it was rolled-back as "too complicated", and the primary goal was to have appropriate setup instructions on the page.

I think we have two motivations for it now and it might be

[2016-12-02 20:33] jduckles commented on #1087
Also see https://github.com/swcarpentry/workshop-template/pull/305 for a discussion of bringing back yaml logic for setup instructions.

[2016-12-03 12:36] gvwilson commented on #1108
Everyone who has access to other people's data - someone who can only
view/update their own profile doesn't need to, but anyone who can
view/modify someone else's information does.

[2016-12-05 23:47] tracykteal commented on #1087
In the Data Carpentry workshop template, we do have the 4 topics in the YAML header and they populate the schedule

https://github.com/datacarpentry/workshop-template/blob/gh-pages/index.html

I agree pulling the modules in from the workshop template makes a lot of sense.

I think we will also want to be able to note the overall type of workshop, e.g. Genomics Data Carpentry, Python Software Carpe

[2016-12-05 23:50] tracykteal commented on #1087
@pbanaszkiewicz what's easiest to implement? Adding a field for 'type of workshop' or pulling in more info from the workshop website?

[2016-12-06 13:05] maneesha commented on #1087
I think we could add it to the workshop request form but not make it a mandatory field.  Or have an option saying "Unsure; please contact me."  Lots of people don't know what they want when they make the request and I often talk them through their options.

[2016-12-07 01:49] maneesha opened #1109 "airport IATA code should be case insensitive"
title says it all

[2016-12-07 01:59] maneesha opened #1110 "cancelled workshops should not show up as not invoiced in dashboard"
Title says it all.
This probably relates to #1064

[2016-12-08 17:16] maneesha commented on #1088
Broader than this - I'd like an autoresponder to any form (instructor application, workshop request, etc.)

[2016-12-11 13:56] #961 closed

[2016-12-11 14:05] #1000 closed

[2016-12-11 14:06] #1015 closed

[2016-12-12 12:33] gperu opened #1112 "Comment box on discarding requests"
Event-requests should be normally accepted and thus recorded, even though not always a real workshop will follow.
However, there are cases when a request may be dicarded and this functionality is already given.
It would be opportune to complement this functionality with a comment box in which we can add a reason for discarding.

[2016-12-12 15:25] #1069 closed

[2016-12-12 17:28] #1098 closed

[2016-12-13 15:41] maneesha commented on #1112
No event request should be discarded unless it is spam or otherwise inappropriate.

All requests should be accepted. We want to maintain a history of everyone who has ever requested a workshop of us. If a workshop never comes to be, you can tag it as stalled.

[2016-12-13 20:04] #1097 closed

[2016-12-13 20:04] #1101 closed

[2016-12-18 12:45] pbanaszkiewicz opened #1116 "ReCaptcha not working - Google's fault?"
It's been reported that Captcha mechanism stopped working.

I checked and confirmed that it doesn't work with "NOCAPTCHA" setting (Google servers return 400 error), but switch back to old captcha solved that issue.

[2016-12-18 13:50] pbanaszkiewicz opened #1117 "Merging persons not working with training attendees"
Current mechanism for merging persons was not updated to work with training progress entries.

[2016-12-18 17:36] #1117 closed

[2016-12-18 20:13] #1095 closed

[2016-12-20 13:18] narayanaditya95 commented on #1109
@maneesha Can you point out where does the case of the IATA causes problems?

[2016-12-20 20:31] pbanaszkiewicz opened #1119 "Training progress edit view doesn't have a proper link to delete"
The issue is in the template.

[2016-12-20 20:33] narayanaditya95 commented on #1119
@pbanaszkiewicz Duplicate of #1085 ?

[2016-12-20 20:35] pbanaszkiewicz commented on #1119
I think so! Thanks for pointing this out, @narayanaditya95

[2016-12-20 20:35] #1119 closed

[2016-12-20 20:36] narayanaditya95 commented on #1085
@pbanaszkiewicz Do you propose we add a detail view for training progress objects?

[2016-12-20 20:37] narayanaditya95 commented on #656
@pbanaszkiewicz I hope you aren't working on this issue. I wish to start working.

[2016-12-20 20:38] pbanaszkiewicz commented on #656
@narayanaditya95 so far I only have 5 lines in my notes on how I would go about generating certificates if I started from scratch. Please go ahead :-)

[2016-12-20 20:44] pbanaszkiewicz commented on #1085
@narayanaditya95 yes if it's not too much work. If someone is lazy, fixing just the URL on the edit view would be fine too.

[2016-12-20 20:58] gvwilson commented on #656
Thanks Aditya - I'd be very grateful if you could.

[2016-12-20 21:02] narayanaditya95 commented on #1085
That seems to be the easiest way out. +1

[2016-12-20 22:30] maneesha commented on #1109
Look at this profile update request:
https://amy.software-carpentry.org/workshops/profile_update/480/

"dca" is not accepted - but DCA airport exisits.

[2016-12-21 22:01] nikhilweee commented on #656
@narayanaditya95
Please also go through #724.
Feel free to build upon [my work](https://github.com/nikhilweee/amy/tree/certificates-integration) if you please.

[2016-12-22 07:43] narayanaditya95 commented on #656
Sure. I will be reusing code snippets from #724.

[2016-12-26 12:43] chrismedrela commented on #1085
:+1: for having delete buttons on detail views and removing them from edit views.

[2016-12-26 13:46] chrismedrela opened #1122 "Merge `MockAwardCreate` and `AwardCreate` classes."
Also `MockAwardDelete` and `AwardDelete`.

To generate proper MRO, you need to put `RedirectSupportMixin` as the very first base class:

[code]

[2017-01-01 12:09] #786 closed

[2017-01-01 12:11] gvwilson commented on #859
@pbanaszkiewicz any progress?

[2017-01-02 18:09] pbanaszkiewicz commented on #859
Well @gvwilson it was you who wanted to tackle this issue :-)

[2017-01-02 18:59] gvwilson commented on #859
Yup, but my timeline has accelerate somewhat...

[2017-01-03 20:08] gvwilson opened #1124 "new rubric for open online training classes"
1.  The application form for open instructor training should be changed to look like what's shown below.
2.  We need to be able to add scores to training applications.

This is a big one...

[code]

[2017-01-03 20:09] gvwilson commented on #1124
@maneesha can you please decide when you want this in the development schedule, and what mechanics you want for manual scoring of applications?  In particular, do you want to maintain multiple scores from different evaluators (as we did in the last round of open training)?

[2017-01-07 16:07] pbanaszkiewicz commented on #1122
@chrismedrela have you tried this solution? Because I did try this for `AwardCreate` and `MockAwardCreate` and it simply doesn't work.

[2017-01-07 17:30] pbanaszkiewicz opened #1128 "EventQuerySet.unpublished_conditional makes annotating events sometimes wrong"
Any event with tag "cancelled" will *sort-of* appear twice in results for Django, therefore making annotation's result double, however finally there will be only *single* event in the query set.

More details:

* https://github.com/swcarpentry/amy/pull/1127#discussion_r95062085
* https://github.com/swcarpentry/amy/pull/1127/commits/0fe717ec78b6fb223065edf871dd60c6807fe8e0

[2017-01-07 17:34] pbanaszkiewicz opened #1129 "TrainingProgress: add detail view, move delete button from edit view"
According to @chrismedrela in https://github.com/swcarpentry/amy/pull/1120#pullrequestreview-14398859, we want to have a detail view for `TrainingProgress` and move the delete button from the edit view for that model to the detail view.

[2017-01-07 17:34] #1085 closed

[2017-01-07 18:20] pbanaszkiewicz commented on #786
I guess this was fixed in #1114.

[2017-01-12 17:28] #898 closed

[2017-01-12 19:32] chrismedrela commented on #1128
@pbanaszkiewicz could you provide an example when it gives wrong result (for example in the production data)?

[2017-01-12 21:01] pbanaszkiewicz commented on #1128
@chrismedrela this: https://amy.software-carpentry.org/workshops/event/2016-07-14-jackson/

You need to get production database and run [this annotation](https://github.com/swcarpentry/amy/pull/1127/files#diff-ff40cc33cf5228ac8b825f8d4f9ef9b8R187) and compare `num_instructors` with `event.task_set.instructors.count()`.

[2017-01-17 11:24] chrismedrela opened #1132 "Generating fake data"
@gvwilson needs fake data by the end of this week - see [discussion on amy-dev](http://lists.software-carpentry.org/pipermail/amy-dev/2017-January/000216.html).

We have `fake_database` command line tool to generate fake data. Unfortunately, it's out of date and it doesn't generate fake training requests, workshop requests etc.

In my opinion maintaining this tool requires more resources than manu

[2017-01-17 12:24] #1064 closed

[2017-01-17 12:24] #1110 closed

[2017-01-17 12:24] #1128 closed

[2017-01-17 14:57] chrismedrela commented on #1122
@pbanaszkiewicz No, I just compared MROs. You're right, we cannot merge these two classes.

[2017-01-17 14:57] #1122 closed

[2017-01-17 15:52] chrismedrela commented on #1124
To sum up, the required changes in the form are:

- [ ] After country pulldown, add a checkbox:

[code]

- [ ] After areas of expertise, add:
[code]

- [ ] Remove gender (@gvwilson could you confirm that removing gender is intended?)

- [ ] In "previous training in teaching", rename "A few days" to "A workshop".

- [ ] Rename "Previous training in teaching" to "Previous formal training as a teache

[2017-01-17 16:15] chrismedrela opened #1135 "Remove timeline from dashboard"
Is the timeline on the admin dashboard used by anybody?

[2017-01-17 17:45] chrismedrela commented on #859
There are two issues. First is that some accounts are inactive (`Person.is_active == False`). This can be solved by running the following code in production:

[code]
@pbanaszkiewicz can I run it?

@gvwilson The second issue is that there are still 97 people who cannot login, because they didn't share their GitHub username with us. What do we do with them? Send them an email asking for GitHub usern

[2017-01-17 20:36] maneesha commented on #1135
I am not using it.

[2017-01-17 20:40] maneesha opened #1136 "Problem merging persons with training progress"
Try merging https://amy.software-carpentry.org/workshops/person/12051/ and https://amy.software-carpentry.org/workshops/person/12839/

![image](https://cloud.githubusercontent.com/assets/829690/22038955/3cb3f0a2-dccb-11e6-869e-ebf84bc298a2.png)

[2017-01-18 13:59] chrismedrela commented on #1136
@maneesha Please use "combine" for "Training progresses". Let me know if this helped.

[2017-01-18 14:41] chrismedrela commented on #1112
@gperu So do I understand correctly that you want additional "notes" field added to workshop requests (not training request)? @maneesha do you need that field?

[2017-01-18 15:13] chrismedrela commented on #1108
@gvwilson is it enough if we just add BooleanField (to Person model) indicating whether they agreed and make the field editable in Person edit view?

[2017-01-18 15:19] gvwilson commented on #1108
It's @maneesha's call.

[2017-01-18 16:59] chrismedrela commented on #1107
I've manually corrected invalid GitHub usernames for the following people in production data:
345, 2851, 5268, 6615, 8283, 9332, 1083, 10940, 12553.

The following people have still their GitHub usernames invalid: 10345, 10483, 10493, 12206, 13099.

[2017-01-18 17:04] chrismedrela commented on #1107
Profile update no. 487 has invalid GitHub username.

The following training requests have invalid GitHub username: 98, 115, 122, 130, 184, 192, 225, 251, 258, 260, 287, 289, 308, 312, 319, 329, 331.

[2017-01-18 18:01] pbanaszkiewicz commented on #1132
I disagree:

1. with `fake_database` we can for example create events that are time-dependant - for example some that belong to "ongoing" category
2. with `fake_database` we can stay DB-agnostic
3. we don't pollute git repository with blob data that changes frequently; instead we can track what and how changed in the generated database.

[2017-01-18 18:24] pbanaszkiewicz commented on #859
@chrismedrela:

Not without @maneesha's review. You should also exclude people who have unusable password or no GitHub username, because they won't be able to log in anyway.

They can still request an update to their profiles from [an external form](https://amy.software-carpentry.org/forms/update_profile/).

[2017-01-18 18:25] pbanaszkiewicz commented on #1135
:+1: for removing the timeline and TODOs if no-one uses them.

[2017-01-18 18:28] pbanaszkiewicz commented on #1136
@maneesha @chrismedrela I'm almost sure that this was fixed in v1.10 - it works on my development server and production database.

[2017-01-18 18:33] pbanaszkiewicz commented on #1135
@chrismedrela actually I just found out that Giacomo uses TODOs from time to time. Please check with him if he needs the timeline.

[2017-01-19 14:22] maneesha commented on #1112
I don't think we need an additional "notes" field.  As noted above, every workshop request should be accepted unless it is spam or otherwise inapproriate.  We want to maintain a record of every request that comes our way.   If the workshop does not end up actually happening, we can mark it as follows (copied directly from AMY):

.

[2017-01-19 14:39] maneesha commented on #1136
As of now, I still get this error.
"Training progress" is not an option in all the fields you can merge.

[2017-01-21 11:59] chrismedrela commented on #1112
I'm closing it. Each accepted workshops request is associated with an Event record where you have "notes" field.

[2017-01-21 11:59] #1112 closed

[2017-01-21 12:04] #934 closed

[2017-01-21 13:17] chrismedrela opened #1139 "GitHub username fields: verify that the user exists"
Use PyGitHub's `get_user` method to verify is the user exists. Extension to issue #1107 (suggested in PR #1138).

[2017-01-21 13:27] chrismedrela opened #1140 ""Logging in with GitHub allowed" is displayed for invalid GitHub usernames"
In Person detailed view.

[2017-01-21 13:41] pbanaszkiewicz commented on #1136
@maneesha I'm pretty sure this will be fixed when we release v1.10.

[2017-01-21 13:53] chrismedrela commented on #1107
I've manually corrected invalid GitHub usernames for the following training requests: 122, 130, 192, 225, 251, 258, 260, 287, 289, 319, 329, 331.

I propose that we fix the remaining:

- 5 Person entries (10345, 10483, 10493, 12206, 13099) and
- 5 TrainingRequests entries (98, 115, 184, 308, 312)

with invalid GitHub username by immediately removing their GitHub username and emailing these people

[2017-01-21 13:56] chrismedrela opened #1141 "GitHub username containing spaces results in Internal Server Error on person detailed view"
Check it out https://amy.software-carpentry.org/workshops/person/10483/

We get an exception when we ask GitHub API for user ID and we pass invalid GitHub username. This doesn't result in the exception for other invalid usernames. We ask GitHub API to check if SocialAuthTable is in sync and if the person can login using their GitHub account.

[2017-01-21 14:02] narayanaditya95 commented on #1107
@chrismedrela
I am not sure if you are currently making use of PyGitHub, but its [search_user_by_email](http://pygithub.readthedocs.io/en/latest/github.html#github.MainClass.Github.legacy_search_user_by_email) can be quite helpful.

[2017-01-21 14:11] chrismedrela commented on #1141
This error happens if the invalid username contains a space.

[2017-01-21 14:24] chrismedrela commented on #1136
@maneesha, yes that was fixed in #1118. I'm closing it as it's a duplicate of #1117.

[2017-01-21 14:24] #1136 closed

[2017-01-21 14:32] chrismedrela commented on #1132
Valid point.

If we store dumped .json (using dumpdata/loaddata commands) instead of binary .sqlite3, we can stay db-agnostic.

My point was that we update the database only when doing a release, in order to avoid frequent changes and merge conflicts.

After rethinking, I've changed my mind and I think it's a bit easier to generate _a lot of_ fake entries using `fake_database`, which would be usef

[2017-01-21 14:33] #1132 closed

[2017-01-21 14:34] chrismedrela opened #1142 "Update `fake_database` tool"
@gvwilson needs fake data by the end of this week - see [discussion on amy-dev](http://lists.software-carpentry.org/pipermail/amy-dev/2017-January/000216.html).

We have `fake_database` command line tool to generate fake data. Unfortunately, it's out of date and it doesn't generate fake training requests, workshop requests etc.

[2017-01-21 21:13] chrismedrela commented on #859
If somebody has an inactive account, they have no usable password (I checked that). So all we need to do is to exclude people without GitHub username.

So we need to run the following code on production:

[code]

@maneesha could you review?

[2017-01-21 21:34] chrismedrela commented on #1135
@gperu do you use timeline?

[2017-01-22 08:38] #958 closed

[2017-01-22 15:03] #1109 closed

[2017-02-06 00:33] wking commented on #1087
@jduckles [wrote][1]:

Besides YAML headers, I've also tried to get this into something machine-readable with wking/swc-setup-installation-test#9.  But that's still floating, because I haven't been able to convince lesson maintainers (or third parties) to write the per-lesson `requirements.json`.

[1]: https://github.com/swcarpentry/amy/issues/1087#issuecomment-264555153

[2017-02-09 11:31] rgaiacs opened #1148 "Make easy to match AMY and SurveyMonkey data"
At the moment is **very** difficult to match AMY and SurveyMonkey data to extract information **necessary** when pitching grants.

# User case

If we want for partners to renew their partnership we should help them to pitch grants where we are included and for that we need to provide some data about the workshops they organised such as

- number of workshops,
- number of attendees,
- topics taught

[2017-02-13 17:03] chrismedrela opened #1149 "Filtering trainees who are at the end of their time"

[2017-02-20 21:05] maneesha opened #1150 ""Languages" should allow multi-select"
Currently it gives you a drop down of human languages to choose from but you can only select one.

[2017-02-24 14:32] gperu opened #1151 "Filter workshops by Country"
Allowing filtering of workshop by Country would be extreemley useful.

[2017-03-10 14:42] maneesha commented on #1150
My mistake - I see this lets you do more than one. Closing.

[2017-03-10 14:42] #1150 closed

[2017-03-15 11:56] chrismedrela opened #1154 "Auto complete fields ignore invalid values without warning"
When you enter an invalid value into the autocomplete field, so that the field is red, and submit the form, invalid value is ignored and NULL is saved, but no warning is displayed. In such case, as an user, I'd think the invalid username was saved. I think we should check if the value is correct (on frontend) and prevent sending the form if it's not. Ref #1143.

[2017-03-15 13:20] chrismedrela commented on #1135
On Jan 22, @pbanaszkiewicz mailed @gperu and added me to cc:

On Jan 23, @gperu responded:

[2017-03-15 13:25] #1135 closed

[2017-03-15 21:52] #1151 closed

[2017-03-16 10:05] chrismedrela opened #1155 "Use AMY_ prefix for all environment variables"
There are some env vars that don't have the prefix:
- `SOCIAL_AUTH_GITHUB_KEY`
- `SOCIAL_AUTH_GITHUB_SECRET`
- `GITHUB_API_TOKEN`

[2017-03-16 11:46] chrismedrela commented on #1116
@pbanaszkiewicz I cannot reproduce it, even on production. I've changed `NOCAPTCHA` setting back to True on production and it looks like training request form works. Could you confirm that it works again as expected?